Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.7
  require_serial: true

detach and move to cpu before computing score
  tmol/tests/score/elec/test_baseline.py
Due: black

restrict bad version of attrs
  env.yml
Due: none

remove usage of deprecated numpy type aliases
  tmol/io/pdb_parsing.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/score/lk_ball/test_numba_lk_ball.py
Due: black

move attrs requirement back to requirements.txt
  env.yml
  requirements.in
Due: none

include rsync in docker image and copy reqs files into tmol subdir
  Dockerfile
Due: none

unpin sparse and set SPARSE_AUTO_DENSIFY in image
  Dockerfile
  requirements.in
Due: none

add frozen env and use it in Docker image
  Dockerfile
  env.dev.export.yml
Due: none

add note about sparse dep
  requirements.in
Due: none

Initial commit for cartbonded rework just to get the code in. A lot of this will be remove later.
  tmol/chemical/restypes.py
  tmol/database/scoring/__init__.py
  tmol/database/scoring/cartbonded.py
  tmol/pose/packed_block_types.py
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Various fixes for omega. (#255)
  tmol/score/common/uaid_util.hh
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

Update parameter lookup following pandas version change
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/identification.py
  tmol/score/hbond/potentials/dispatch.impl.hh
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: clang-format, black

Deleting old environment setup
  Dockerfile
  environments/env-dev.yml
  environments/env.yml
  environments/test/Dockerfile
Due: none

Move Joseph's environment setup files to environment/ and environment/test/
  environments/env-dev.yml
  environments/env.yml
  environments/requirements-dev.in
  environments/requirements.in
  environments/test/Dockerfile
Due: none

Make symlinks to environment files inside environments/test directory
  environments/test/Dockerfile
  environments/test/env-dev.yml
  environments/test/requirements-dev.in
  environments/test/requirements.in
Due: none

Another shot at laying out the testing server's Dockerfile
  environments/devel/Dockerfile
  environments/devel/env-dev.yml
  environments/devel/requirements-dev.in
  environments/devel/requirements.in
Due: none

Try again
  environments/test/Dockerfile
Due: none

Try again 2
  environments/test/Dockerfile
Due: none

Try again 3
  environments/test/Dockerfile
Due: none

Take 4; I don't understand why I need to sudo my docker commands
  environments/test/Dockerfile
Due: none

Take 5
  environments/test/Dockerfile
Due: none

Testing
  environments/test/Dockerfile
Due: none

Test
  environments/test/Dockerfile
Due: none

Revert "Test"
  environments/test/Dockerfile
Due: none

Revert "Testing"
  environments/test/Dockerfile
Due: none

I think this fixes cuda-11.8 on fela
  docker-compose.yml
Due: none

Remove new user from docker
  environments/test/Dockerfile
Due: none

Move the Enum class, AutoNumber, to its own file for reuse
  tmol/score/score_types.py
  tmol/utility/auto_number.py
Due: black

first pass implementation of his-taut resolution logic; testing incomplete
  tmol/io/basic_resolution.py
  tmol/io/canonical_ordering.py
  tmol/io/details/disulfide_search.py
  tmol/io/details/his_taut_resolution.py
  tmol/tests/io/details/test_his_taut_resolution.py
Due: black

Add more tests for his-tautomerization resolution
  tmol/tests/io/details/test_his_taut_resolution.py
Due: black

Add unit test for disulfide search
  tmol/io/details/disulfide_search.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_his_taut_resolution.py
Due: black

Saving progress
  tmol/io/basic_resolution.py
  tmol/io/details/canonical_packed_block_types.py
  tmol/io/details/disulfide_search.py
  tmol/io/details/his_taut_resolution.py
  tmol/io/details/note_missing_atoms.py
Due: black

Updaing interactions with "coverage" module after variable rename
  tmol/tests/torch.py
Due: black

Linting
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/types/validators.py
Due: black

Adding pre-commit back to env(-dev).yml
  environments/env-dev.yml
  environments/env.yml
Due: none

Three small changes - Add a few packages - update dev_setup to use mamba and concattenate the req and req_dev files - update .pre-commit-config to specify python3.9
  .pre-commit-config.yaml
  dev_setup
  environments/devel/Dockerfile
  environments/env.yml
Due: none

ugg, adding codecov to env-dev.yml
  environments/env-dev.yml
Due: none

Linting overlooked file
  .ycm_extra_conf.py
Due: black

Update version of clang-format and re-lint
  environments/env-dev.yml
  environments/env.yml
  tmol/kinematics/compiled/kernel_segscan.cuh
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/score/cartbonded/potentials/potentials.hh
  tmol/score/common/geom.hh
  tmol/score/common/simple_dispatch.cuda.impl.cuh
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dispatch.impl.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/tests/utility/tensor/tensor_struct.cpp
Due: clang-format

Add clang-format to dependency list (not clang-dev)
  environments/env-dev.yml
  environments/env.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

