Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

lots of progress
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Fix env build issue (#307)
  .buildkite/bin/setup
Due: none

improve constraint testing coverage
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_block_scoring.yaml
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Constraints (#305)
  tmol/pose/constraint_set.py
  tmol/pose/pose_stack.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/score/constraint/potentials/compiled.ops.cpp
  tmol/score/constraint/potentials/compiled.py
  tmol/score/constraint/potentials/constraint_score.cpu.cpp
  tmol/score/constraint/potentials/constraint_score.cuda.cu
  tmol/score/constraint/potentials/constraint_score.hh
  tmol/score/constraint/potentials/constraint_score.impl.hh
  tmol/score/score_types.py
  tmol/score/terms/constraint_creator.py
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_constraint_distance_range_score.yaml
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/constraint/__init__.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: clang-format, black

Add "minimize all phi_c and all jump DOFs" version of kinematics minimization + smoke test
  tmol/kinematics/script_modules.py
  tmol/optimization/sfxn_modules.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Add comment re: TMOL_TORCH_EXTENSIONS_VERBOSE
  tmol/utility/cpp_extension.py
Due: black

First attempt at adding torsion-location data to bt-scan-path annotations
  tmol/chemical/restypes.py
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
Due: black

Updating pinned-packages requirements file for linux-cuda install
  environments/linux-cuda/requirements-dev-linux-cuda.txt
Due: none

Kleinhenz/nvtx (#308)
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  requirements-dev.in
  tmol/tests/benchmark.py
  tmol/utility/cpp_extension.py
  tmol/utility/nvtx.hh
Due: clang-format, black

First pass implementation of movemap --> "minimizer map" conversion
  tmol/chemical/restypes.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/params.hh
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/score/common/uaid_util.hh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Add tests for jump-index correctness to check_fold_forest
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/params.hh
  tmol/score/common/uaid_util.hh
  tmol/tests/kinematics/test_check_fold_forest.py
Due: clang-format, black

Continue to sketch the data that goes in to minimizer map construction
  tmol/chemical/restypes.py
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/pose/packed_block_types.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/conftest.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/pose/__init__.py
Due: clang-format, black

Adding MoveMap and MinimizerMap classes
  tmol/kinematics/move_map.py
  tmol/tests/kinematics/test_move_map.py
Due: black

Add smoke test for MoveMap
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/datatypes.py
  tmol/kinematics/move_map.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/conftest.py
  tmol/tests/kinematics/__init__.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/kinematics/test_move_map.py
Due: clang-format, black

Get smoke test working
  tmol/kinematics/compiled/common_dispatch.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/datatypes.py
  tmol/kinematics/move_map.py
  tmol/tests/kinematics/test_gpu_operations.py
Due: clang-format, black

Add lots of setters and tests to MoveMap
  tmol/kinematics/datatypes.py
  tmol/kinematics/move_map.py
  tmol/tests/kinematics/test_move_map.py
Due: black

Updating readme to match wiki frontpage.
  README.md
Due: none

Add smoke test to MinimizerMap construction
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/move_map.py
  tmol/tests/kinematics/test_move_map.py
Due: clang-format, black

Sketch of kin_min operations; add jagged MoveMap tests
  tmol/__init__.py
  tmol/kinematics/move_map.py
  tmol/kinematics/scan_ordering.py
  tmol/kinematics/script_modules.py
  tmol/optimization/kin_min.py
  tmol/optimization/sfxn_modules.py
  tmol/tests/kinematics/test_move_map.py
Due: black

Fix a lot of bugs relating to where DOFs live in the kinforest.
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/datatypes.py
  tmol/kinematics/move_map.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_move_map.py
Due: clang-format, black

Fix unit test for running kinematic minimization on an input PoseStack
  tmol/__init__.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/fold_forest.py
  tmol/kinematics/move_map.py
  tmol/kinematics/script_modules.py
  tmol/optimization/kin_min.py
  tmol/optimization/sfxn_modules.py
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/hbond/params.py
  tmol/tests/kinematics/__init__.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/kinematics/test_move_map.py
Due: clang-format, black

Add forgotten test file
  tmol/tests/optimization/test_kin_min.py
Due: black

Add virtual residue and a test to ensure they do not change the score
  tmol/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/default/scoring/elec.yaml
  tmol/database/default/scoring/ljlk.yaml
  tmol/io/details/select_from_canonical.py
  tmol/pose/pose_stack_builder.py
  tmol/score/elec/potentials/potentials.hh
  tmol/tests/chemical/test_patch.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Add test to make sure same-chain-non-polymeric residues are handled properly
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Clean up print/printf debugging statements / unused code
  pytest.ini
  tmol/__init__.py
  tmol/io/details/select_from_canonical.py
  tmol/kinematics/builder.py
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
Due: clang-format, black

Fix error with CUDA lambda capture of function-input-argument of int64_t
  tmol/__init__.py
  tmol/io/details/select_from_canonical.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/datatypes.py
  tmol/kinematics/move_map.py
  tmol/kinematics/scan_ordering.py
Due: clang-format, black

Deleting large swathes of deprecated code
  tmol/kinematics/dof_modules.py
  tmol/kinematics/fold_forest.py
  tmol/kinematics/operations.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/kinematics/test_dof_modules.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/kinematics/test_script_modules.py
Due: black

Rename KinematicBuilder to emphasize its nearly-deprecated state
  tmol/kinematics/builder.py
  tmol/kinematics/datatypes.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/pose/pose_kinematics.py
  tmol/system/kinematics.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/kinematics/test_scan_ordering.py
Due: black

Move _KinematicsBuilder to new location
  tmol/kinematics/old/builder.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/pose/pose_kinematics.py
  tmol/system/kinematics.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_scan_ordering.py
Due: black

Further refactoring work
  tmol/__init__.py
  tmol/pack/packer_task.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pose/pose_stack_builder.py
  tmol/system/io.py
  tmol/system/kinematic_module_support.py
  tmol/system/packed.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_chain_deduction.py
Due: black

Beginning of very large refactor
  tmol/chemical/restypes.py
  tmol/database/default/scoring/cartbonded.yaml
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_stack_builder.py
  tmol/score/atom_type_dependent_term.py
  tmol/system/kinematics.py
  tmol/tests/chemical/__init__.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_metadata.py
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/pose/__init__.py
  tmol/tests/pose/test_packed_block_types.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/score/bonded_atom/test_bonded_atom.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/test_atom_type_dependent_term.py
  tmol/tests/score/test_bond_dependent_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Fix RRT and PBT annotation practices in CartBondedEnergyTerm
  tmol/database/default/scoring/cartbonded.yaml
  tmol/io/canonical_ordering.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/packed_block_types.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/test_energy_term.py
Due: black

Fix a handful of minor unit test errors
  tmol/tests/score/bonded_atom/test_bonded_atom.py
  tmol/tests/score/common/dispatch/test_dispatch.py
  tmol/tests/score/test_atom_type_dependent_term.py
  tmol/tests/score/test_score_function.py
Due: black

Require that users make root-jump connections explicit
  tmol/io/canonical_ordering.py
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/params.hh
  tmol/kinematics/fold_forest.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/kinematics/__init__.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/system/test_kinematics.py
Due: clang-format, black

Steadily fixing unit tests / c++ bugs
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/support/scoring/rewrite_rama_binary.py
  tmol/tests/kinematics/__init__.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

KinTree from stencil seems to be working using the new logic :crossed-fingers:
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Clean up kintree printf statements
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/params.hh
  tmol/kinematics/fold_forest.py
Due: clang-format, black

Update validate_fold_forest logic and fix script_modules unit tests
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/script_modules.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/kinematics/test_script_modules.py
Due: black

Clean up some debugging statements
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Checking in progress (minus all debugging info/code attmepts)
  tmol/database/__init__.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/chemical/extension/chemical copy.yaml
  tmol/database/default/chemical/extension/chemical.yaml
  tmol/io/details/select_from_canonical.py
  tmol/io/pdb_parsing.py
  tmol/score/__init__.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/9bkr.pdb
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

