Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

encode weights as yaml, add soft weights, add soft ref weights
  tmol/database/default/scoring/ref.yaml
  tmol/database/score_functions/beta2016.yaml
  tmol/database/score_functions/beta_soft.yaml
  tmol/database/scoring/ref.py
  tmol/score/__init__.py
  tmol/score/ref/ref_energy_term.py
  tmol/score/score_function.py
Due: black

test(ligand): trim to params-equivalence + dG-to-golden, drop xfails
  .gitignore
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_mol3d_mmff.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
Due: black

chore(ligand): restore openbabel extra, add type hints/docstrings, CIF->ddG e2e test
  pyproject.toml
  tmol/ligand/atom_typing.py
  tmol/ligand/chi_topology.py
  tmol/ligand/cif_normalization.py
  tmol/ligand/detect.py
  tmol/ligand/equivalence.py
  tmol/ligand/fixture_integrity.py
  tmol/ligand/graph_match.py
  tmol/ligand/mol2_names.py
  tmol/ligand/mol3d.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/params_io.py
  tmol/ligand/params_reference.py
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/build_pli_ligand_cifs.py
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_bond_order_assignment.py
  tmol/tests/ligand/test_chemistry_tables.py
  tmol/tests/ligand/test_chi_topology.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_fixture_integrity.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_mol2_atom_names.py
  tmol/tests/ligand/test_mol2_params_export.py
  tmol/tests/ligand/test_mol3d_mmff.py
  tmol/tests/ligand/test_openbabel_compat.py
  tmol/tests/ligand/test_params_reference.py
  tmol/tests/ligand/test_parity_manifest.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
  tmol/tests/ligand/test_serialization_consistency.py
  tmol/tests/ligand/test_smiles_semantic.py
Due: black

test: harden benchmark machine-info hook against CUDA driver errors
  tmol/tests/conftest.py
Due: black

style: blank line after module docstring in ligand_prep scripts (black 26.3.1)
  scripts/ligand_prep/smiles_to_params.py
  scripts/ligand_prep/validate_dud80.py
Due: black

ci: drop container CUDA forward-compat libcuda so cuda tests run
  .github/workflows/ci.yml
Due: none

build: bump dev black pin to 26.3.1 to match pre-commit/CI lint
  pyproject.toml
Due: none

update pli scoring
  tmol/tests/ligand/test_pli_scoring.py
Due: black

removing sync call
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
Due: clang-format

Adding option for soft repulsive
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/ljlk.py
  tmol/score/energy_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/params.py
  tmol/score/score_function.py
Due: black

update soft score test
  tmol/tests/score/test_score_function.py
Due: black

update colab builds
  .github/workflows/_build_wheel.yml
  pyproject.toml
Due: none

update mgr headers and invocations for genbonded
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
Due: clang-format

update cmake
  CMakeLists.txt
Due: none

Release 0.1.34
  pyproject.toml
Due: none

ci: scope sm_75 to a dedicated Colab wheel instead of all builds
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
Due: none

docs: document the +cu128torch2.8 Colab/T4 wheel
  DEVELOPMENT.md
  README.md
Due: none

alternative encoding of soft rep ref weights
  tmol/database/default/scoring/ref.yaml
  tmol/database/score_functions/beta_soft.yaml
  tmol/database/scoring/ref.py
  tmol/score/ref/ref_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

alternative encoding of soft rep ref weights (#387)
  tmol/database/default/scoring/ref.yaml
  tmol/database/score_functions/beta_soft.yaml
  tmol/database/scoring/ref.py
  tmol/score/ref/ref_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

fixing device and baselines
  tmol/tests/score/test_score_function.py
Due: black

test: drop old soft-rep test in favor of golden test from #387
  tmol/tests/score/test_score_function.py
Due: black

test: re-baseline soft golden for ligand_clean scoring
  tmol/tests/score/test_score_function.py
Due: black

update ligand tests
  .flake8
  .pre-commit-config.yaml
  DEVELOPMENT.md
  scripts/ligand_prep/smiles_to_params.py
  scripts/ligand_prep/validate_dud80.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/bond_order_assignment.py
  tmol/ligand/cif_normalization.py
  tmol/ligand/detect.py
  tmol/ligand/examples/workflow_from_mol2.py
  tmol/ligand/external/__init__.py
  tmol/ligand/external/atomworks_rdkit.py
  tmol/ligand/external/chembl_transformations.smirks
  tmol/ligand/external/xyz2mol_tm/LICENSE
  tmol/ligand/external/xyz2mol_tm/__init__.py
  tmol/ligand/external/xyz2mol_tm/xyz2mol_local.py
  tmol/ligand/external/xyz2mol_tm/xyz2mol_tmc.py
  tmol/ligand/mol3d.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/ligand/registry.py
  tmol/ligand/structure_to_smiles.py
  tmol/tests/data/ligand_cif_fixtures/README.md
  tmol/tests/data/ligand_cif_fixtures/sah.bonds_absent.cif
  tmol/tests/data/ligand_cif_fixtures/sah.bonds_present.cif
  tmol/tests/data/ligand_cif_fixtures/vww.bonds_absent.cif
  tmol/tests/data/ligand_cif_fixtures/vww.bonds_present.cif
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/test_bond_order_assignment.py
  tmol/tests/ligand/test_chi_topology.py
  tmol/tests/ligand/test_cif_to_dg.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_mol2_atom_names.py
  tmol/tests/ligand/test_mol2_params_export.py
  tmol/tests/ligand/test_mol3d_mmff.py
  tmol/tests/ligand/test_openbabel_compat.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
Due: black

update ligand tests
  tmol/score/ref/ref_energy_term.py
  tmol/tests/ligand/test_cif_to_dg.py
  tmol/tests/score/test_score_function.py
Due: black

update ci
  .github/ci/restore_source_timestamps.sh
  .github/ci/run_gpu_tests.sh
  .github/ci/setup_ci_venv.sh
  .github/ci/srun_cpu.sh
  .github/ci/srun_gpu_retry.sh
  .github/workflows/ci.yml
  tmol/tests/ligand/test_protein_ligand_ddg.py
Due: black

update ci
  .github/ci/run_benchmarks.sh
  .github/workflows/ci.yml
Due: none

update ci
  .github/ci/build_package.sh
  .github/ci/gpu_env.sh
  .github/ci/restore_source_timestamps.sh
  .github/ci/run_benchmarks.sh
  .github/ci/run_ci_gpu_work.sh
  .github/ci/run_gpu_tests.sh
  .github/ci/srun_cpu.sh
  .github/workflows/ci.yml
  scripts/ligand_prep/README.md
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/detect.py
  tmol/ligand/external/__init__.py
  tmol/ligand/params_io.py
  tmol/ligand/preparation.py
Due: black

update test data
  .github/ci/run_ci_gpu_work.sh
  .github/ci/run_cpu_tests.sh
  .github/workflows/ci.yml
  .gitignore
  tmol/tests/data/protein_ligand_test/ace.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/ache.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/ada.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/ampc.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/ar.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/cdk2.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/cox1.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/cox2.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/egfr.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/er_agonist.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/er_antagonist.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/fgfr1.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/fxa.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/gr.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/hivrt.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/hmga.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/hsp90.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/mr.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/na.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/p38.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/parp.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/pde5.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/pdgfrb.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/pr.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/rxr.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/src.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/tk.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/trypsin.tmol.nomin.cif
  tmol/tests/data/protein_ligand_test/vegfr2.tmol.nomin.cif
Due: none

Bump version to 0.1.35 for release.
  pyproject.toml
Due: none

Fix prebuilt wheel autodetection for pip/uv installs.
  .github/workflows/publish.yml
  scripts/repair_linux_wheel.sh
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Add wheel smoke CI on easy-wheel-install branch.
  .github/workflows/wheel-smoke.yml
Due: none

renaming 'weights' file to 'sfxn'. adding versioning to this file as well.
  tmol/database/score_functions/beta2016.sfxn
  tmol/database/score_functions/beta_soft.sfxn
  tmol/score/__init__.py
  tmol/score/score_function.py
  tmol/tests/score/test_score_function.py
Due: black

fixing bug with cuda detection for test running.
  tmol/tests/torch.py
Due: black

Refactor PackerPalette and PackerTask to SOA (rather than AOS) architecture for speed
  tmol/pack/packer_task.py
  tmol/tests/pack/test_packer_task.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

