Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.7
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Fixing bug in simultaneous don1/acc2 && don2/acc1 logic
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: clang-format, black

Fixing missing EIGEN_DEVICE_FUNC decl in bonded_atom.hh
  tmol/score/bonded_atom.hh
  tmol/score/hbond/potentials/dispatch.impl.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/tests/score/bonded_atom/test.cpp
  tmol/tests/score/bonded_atom/test.cu
  tmol/tests/score/bonded_atom/test.hh
  tmol/tests/score/bonded_atom/test.impl.hh
  tmol/tests/score/bonded_atom/test.pybind.cpp
  tmol/tests/score/bonded_atom/test_bonded_atom.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: clang-format, black

Flesh out bonded_atom test
  tmol/tests/score/bonded_atom/test.impl.hh
  tmol/tests/score/bonded_atom/test_bonded_atom.py
Due: clang-format, black

Remaining imprecision in the hbond gradcheck conclusively shown to be the result of numerical imprecision
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/params.py
  tmol/score/hbond/potentials/dispatch.impl.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/hbond/test_script_module.py
Due: clang-format, black

Add hbond perf tests; no appreciable change when adding HB to LJL/LK+Elec
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Linting
  tmol/chemical/all_bonds.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/score/bonded_atom/test_bonded_atom.py
  tmol/tests/score/common/test_stack_condense.py
  tmol/tests/score/modules/test_old_bonded_atom.py
Due: black

Fix broken unit test
  tmol/tests/chemical/test_residue.py
Due: black

Removing write-off-the-end-of-an-array line in all_bonds.py
  tmol/chemical/all_bonds.py
Due: black

Documentation for all_bonds.py
  tmol/chemical/all_bonds.py
Due: black

Clean up redundant data members for PBT created by BondDependentTerm
  tmol/score/bond_dependent_term.py
  tmol/score/elec/elec_energy_term.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_script_module.py
  tmol/tests/score/test_bond_dependent_term.py
Due: black

linting
  tmol/chemical/all_bonds.py
  tmol/score/bond_dependent_term.py
  tmol/tests/score/test_bond_dependent_term.py
Due: black

Cleaning up a few things
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/hbond_energy_term.py
Due: black

Remove debugging short-circuit code in bonded-atom traversal
  tmol/score/bonded_atom.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/stack_condense.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/tests/score/hbond/test_script_module.py
Due: clang-format, black

Linting
  tmol/score/common/stack_condense.py
Due: black

Small sketch
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/score_types.py
  tmol/score/terms/lk_ball_creator.py
Due: clang-format, black

First pass implementation of res-centric pose scoring
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cpu.cpp
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cuda.cu
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Merge the list of polar and occluder indices in shared mem / arg lists
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/params.hh
Due: clang-format, black

Compiling version of LKBallPoseScore
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cpu.cpp
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cuda.cu
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/params.hh
Due: clang-format

Fix lkball's compiled.ops and includes in lk_ball.hh
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

First pass implementation of residue-centric water generation for lk-ball
  tmol/score/hbond/identification.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/lk_ball/potentials/gen_pose_waters.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/water.hh
Due: clang-format, black

Ok, copiling version of water building and score calculation
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/constants.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.cpu.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.cuda.cu
  tmol/score/lk_ball/potentials/gen_pose_waters.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
Due: clang-format

Add needed data members to HBondBlockTypeParams
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/lk_ball_whole_pose_module.py
  tmol/score/lk_ball/params.py
  tmol/score/lk_ball/script_modules.py
  tmol/score/terms/lk_ball_creator.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
Due: black

Annotate block types and packed block types in LKBallEnergyTerm
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/params.py
Due: black

Yay! LKBall is working!
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/lk_ball_whole_pose_module.py
  tmol/score/lk_ball/potentials/gen_pose_waters.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/tests/score/lk_ball/test_baseline.py
Due: clang-format, black

Fix bugs in lk-ball derivative indexing; add nondet_tol arg to gradcheck wrapper
  tmol/score/lk_ball/lk_ball_whole_pose_module.py
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/score/terms/lk_ball_creator.py
  tmol/tests/autograd.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Two things: code cleanup and also performance debugging that breaks scoring
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Restoring correct calculation of energies
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

First stab at an lk-ball that parallelizes across wat/occ and wat/wat intxns
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Adding second copy of lk-ball term for development speed purposes
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/lk_ball/lk_ball_energy_term2.py
  tmol/score/lk_ball/lk_ball_whole_pose_module2.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.cpu.cpp
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.cuda.cu
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.impl.hh
  tmol/score/score_types.py
Due: clang-format, black

load-balanced water/occluder + water/water intx now compiles on CPU
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Forward progress debugging load-balanced wat intxns
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/lk_ball/lk_ball_energy_term2.py
  tmol/score/lk_ball/lk_ball_whole_pose_module2.py
  tmol/score/lk_ball/params.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.impl.hh
  tmol/tests/torch.py
Due: clang-format, black

Seemingly working version of load-balanced lk-ball for inter-res forward eval
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.impl.hh
Due: clang-format

Seemingly working version of load-balanced inter-residue forward pass
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/lk_ball/lk_ball_energy_term2.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score2.impl.hh
  tmol/tests/score/test_score_function_benchmarks.py
  tmol/tests/torch.py
Due: clang-format, black

Trying to speed up the load-balancing steps. Not succeeding.
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/score/test_score_function_benchmarks.py
  tmol/tests/torch.py
Due: clang-format, black

Adding tests for the lk-ball energy term, late.
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
Due: black

Clean up, add comments
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
Due: clang-format, black

Further cleanup
  tmol/score/hbond/identification.hh
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Fixing a handful of small things
  tmol/score/hbond/identification.pybind.cc
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/score/lk_ball/test_baseline.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
Due: clang-format, black

Add one-time annotation test; Remove debugging code
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/lk_ball_whole_pose_module.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
Due: clang-format, black
