Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Add a working ground-truth kin-forest that will be the target we try to build programmatically
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Fixed parent definition for residue 2 to go along w/ N-conn input
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Move some code out of the unit test file into tmol/kinematics
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Fix unit tests following code shuffle
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Move scan_types to its own, CUDA-independent declaration
  tmol/extern/moderngpu/cta_scan.hxx
  tmol/extern/moderngpu/cta_segscan.hxx
  tmol/extern/moderngpu/kernel_scan.hxx
  tmol/extern/moderngpu/scan_types.hxx
Due: none

Add C++ implementation of fix-jump-nodes
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/common_dispatch.hh
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/score/common/accumulate.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/kinematics/test_script_modules.py
Due: clang-format, black

Adding constraint_set class, turning off update_baselines.
  tmol/pose/constraint_set.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Okay, small section of working C++ code for a few tensor dereferencing steps
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/common_dispatch.hh
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Add parent-atom lookup logic
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Construct parent-atom tensor + child-span lists.
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Construct id, frame_x, frame_y, and frame_z tensors w/ C++
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

comments
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Add draft of nearly-complete algorithm for kinforest nodes/scans/gens from restype stencils
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Save incremental progress; code now compiles but crashes
  tmol/chemical/restypes.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/scan_ordering.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Add correct generational path decomposition algorithm for fold forest
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Add a kinforest-edge delay calculation test w/ multiple poses in a PoseStack
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Add topological sort of FF edges
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Uncommenting some code and reformatting
  tmol/kinematics/compiled/compiled.impl.hh
Due: clang-format

Add code to record input- and 1st-output connection for each block in the PoseStack
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/pose/packed_block_types.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Add very nearly (but not!) working alg for nodes tensor creaion
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Fix bug where wrong variable is being used in offset calculation
  tmol/kinematics/compiled/compiled.impl.hh
Due: clang-format

Write the correct indices for the parent atoms of jumps
  tmol/kinematics/compiled/compiled.impl.hh
Due: clang-format

Rename the paths within blocks "scan path segments" and paths within the fold tree spanning multiple blocks or perhaps multiple edges as "scan paths."
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Okay, compute scans and gens tensors.
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Fix logic about scan-path-continuation
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Remove debugging statements
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

removing extraneous includes
  tmol/pose/constraint_set.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Add code for constructing reverse paths up the FoldForest for derivative calculations
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Begin code rearrangement
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/datatypes.py
  tmol/kinematics/dof_modules.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Moving kinforest data construction out of unit tests
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Add smoke test for PoseStackKinematicsOp with forward + backward traversal
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/scan_ordering.py
  tmol/kinematics/script_modules.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/kinematics/test_script_modules.py
Due: clang-format, black

Fix bug in handling "inter-block" status for kinematic leaf residues
  tmol/kinematics/scan_ordering.py
Due: black

Fix bug in the idea of certain scan-path segments being "inter residue"
  tmol/kinematics/scan_ordering.py
Due: black

Remove separate tensor for "is_sps_inter_res" as it is unnecessary
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Fix CUDA compilation of kinematics code
  pytest.ini
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/kernel_segscan.cuh
  tmol/kinematics/scan_ordering.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
Due: clang-format, black

Fix bug in launching kernel with no work to do
  tmol/kinematics/builder.py
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/scan_ordering.py
Due: clang-format, black

Saving debugging progress
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/tests/kinematics/test_script_modules.py
Due: clang-format, black

Fix bug in identifying the first block in a backwards scan path
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/tests/kinematics/test_script_modules.py
Due: clang-format, black

Comment out debugging code
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_script_modules.py
Due: clang-format, black

Remove remaining debug statements in kinematics; Kinematics script module tests working
  tmol/kinematics/check_fold_forest.py
  tmol/tests/kinematics/test_script_modules.py
Due: black
