Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

test
  .github/workflows/ci.yml
Due: none

adding codecov
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Remove torchscript tests (also JITted)
  tmol/tests/utility/torchscript/__init__.py
  tmol/tests/utility/torchscript/custom_op.cpp
  tmol/tests/utility/torchscript/custom_op.py
  tmol/tests/utility/torchscript/test_custom_op.py
Due: clang-format, black

Working optH sampler
  tmol/pack/packer_task.py
  tmol/pack/rotamer/fallback_sampler.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/relax/fast_relax.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Fix CMake
  CMakeLists.txt
Due: none

test codecov
  .github/workflows/ci.yml
Due: none

removing codecov for now
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Git CI improvements (#362)
  .github/workflows/ci.yml
Due: none

codecov back in
  .github/workflows/ci.yml
Due: none

fix get_all_residue_positions
  tmol/io/pose_stack_from_biotite.py
Due: black

Fix optH for HIS tautamer flips. Turn optH on by default for building missing sidechains (with option to disable)
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/pack/rotamer/opth_sampler.py
Due: black

Add new test (biotite load w/o optH) and fix bug with poses with mixed block-level tasks
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

Save test work to move to laptop
  tmol/tests/pack/test_load_ig.py
Due: black

Progress in getting the sharp edges on bump check sanded down
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/pack_rotamers.py
  tmol/tests/pack/test_load_ig.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Fix circular dependencies issues; update build_rotamers unit test
  tmol/pack/pack_rotamers.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/rotamer_set.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/pack/simulated_annealing.py
  tmol/score/constraint/utility.py
  tmol/score/energy_term.py
  tmol/tests/pack/rotamer/gold_repack_1ubq_rotamers.pdb
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Fix import
  tmol/pack/pack_rotamers.py
Due: black

In our 1ubq.pdb, swap location of 1HD2/2HD2 in ASN & 1HE2/2HE2 in GLN
  tmol/tests/data/pdb/1ubq.pdb
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Restore biotite to 1.2.0 for Python3.10 compatibility
  pyproject.toml
  tmol/io/pose_stack_from_biotite.py
Due: black

Optionally allow a different dtype for kinematics in kin_min (to allow double kin and float scoring)
  tmol/optimization/minimizers.py
  tmol/optimization/sfxn_modules.py
Due: black

Precompile lbfgs update step
  CMakeLists.txt
  tmol/optimization/lbfgs_armijo.py
  tmol/score/hbond/params.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/potentials.hh
Due: clang-format, black

Missed cpp files
  tmol/optimization/compiled/__init__.py
  tmol/optimization/compiled/compiled.py
  tmol/optimization/compiled/lbfgs.cpu.cpp
  tmol/optimization/compiled/lbfgs.cuda.cu
  tmol/optimization/compiled/lbfgs.hh
  tmol/optimization/compiled/lbfgs.ops.cpp
Due: clang-format, black

Fix some int/int64_t issues w/ bump check; make bump_check optional, default off
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/pack_rotamers.py
  tmol/pack/packer_task.py
  tmol/relax/fast_relax.py
  tmol/score/score_function.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

Updates for test failures: 1) make hbond polynomials match input coord dtype; 2) adjust reference values and tolerances now that hbond polys are float
  tmol/score/hbond/hbond_energy_term.py
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: black

Missed one small unit test ref value change
  tmol/tests/score/test_score_function.py
Due: black

A few more small speedups. Fix error where lbfgs was computing scorefunction twice for final point in most line searches.
  tmol/optimization/lbfgs_armijo.py
  tmol/optimization/sfxn_modules.py
  tmol/score/common/scoring_module.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/score_function.py
Due: black

Fix get_all_residue_positions
  tmol/io/pose_stack_from_biotite.py
Due: black

Move compiled imports inside of function bodies
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/kinematics/operations.py
  tmol/optimization/lbfgs_armijo.py
  tmol/pack/pack_rotamers.py
  tmol/pack/simulated_annealing.py
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/elec/elec_energy_term.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
Due: black

flake
  tmol/chemical/patched_chemdb.py
  tmol/kinematics/script_modules.py
  tmol/optimization/lbfgs_armijo.py
  tmol/optimization/minimizers.py
  tmol/pack/pack_rotamers.py
  tmol/relax/fast_relax.py
  tmol/tests/pack/test_load_ig.py
  tmol/utility/cpp_extension.py
Due: black

feat: atomworks encoding
  tmol/io/pose_stack_from_atomworks.py
  tmol/tests/io/test_pose_stack_from_atomworks.py
Due: black

change atomworks encoding tests to golden value test
  tmol/tests/data/atomworks/generate_fixture.py
  tmol/tests/data/atomworks/ubq_atomworks.pt
  tmol/tests/io/test_pose_stack_from_atomworks.py
Due: black

Atomworks encoding (#368)
  tmol/io/pose_stack_from_atomworks.py
  tmol/tests/data/atomworks/generate_fixture.py
  tmol/tests/data/atomworks/ubq_atomworks.pt
  tmol/tests/io/test_pose_stack_from_atomworks.py
Due: black

Remove unnecessary pdb writes in test. Move necessary pdb writes to temp_path
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

flake
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Remove profiling tests that do not assert anything (and clutter directory with output files)
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

refactored ligand logic
  pyproject.toml
  tmol/__init__.py
  tmol/chemical/restypes.py
  tmol/database/__init__.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/hbond.yaml
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/cartbonded.py
  tmol/database/scoring/elec.py
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/chemistry_tables.py
  tmol/ligand/detect.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/graph_match.py
  tmol/ligand/mol3d.py
  tmol/ligand/params_io.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
  tmol/ligand/site_substructures.smarts
  tmol/ligand/smiles.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/cif/155c__1__1.A__1.B.cif
  tmol/tests/data/cif/184l__1__1.A__1.E.cif
  tmol/tests/data/cif/1a25__1__1.B__1.I.cif
  tmol/tests/data/ligand_ground_truth/designs.prot.smi
  tmol/tests/data/ligand_ground_truth/designs.smi
  tmol/tests/data/ligand_ground_truth/ref1.mol2
  tmol/tests/data/ligand_ground_truth/ref1.params
  tmol/tests/data/ligand_ground_truth/ref2.mol2
  tmol/tests/data/ligand_ground_truth/ref2.params
  tmol/tests/ligand/__init__.py
  tmol/tests/ligand/test_chemistry_tables.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

format
  dev/bin/nvprof2json.py
  tmol/__init__.py
  tmol/ligand/dimorphite_dl.py
  tmol/support/scoring/hbond_param_import.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

biotite dep
  pyproject.toml
Due: none
