Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

fixing bug in baseline generation code where it was incorrectly sorting stored yaml values.
  tmol/tests/score/common/test_energy_term.py
Due: black

lk_ball whole pose gradcheck working.
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Working version of cartbonded term in RPE context
  tmol/database/default/scoring/cartbonded.yaml
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Reworking CartBonded sparse outputs so that the i+1-to-i interaction still writes itself to the sparse entry for the i-to-i+1 interaction.
  tmol/pack/compiled/compiled.impl.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

GPU version of cart-bonded evaluation now working (free standing and in the packer)
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/connection.hh
Due: clang-format

Tiny bit of debugging code
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Fix issues with LKBall / HBond in iterating across bonds to neighboring blocks
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/score/bonded_atom.hh
  tmol/score/hbond/identification.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/score/score_types.py
  tmol/tests/pack/__init__.py
Due: clang-format, black

Enable LKBall in the pack-rotamers unit test
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Adding fledgling fast_relax protocol
  tmol/relax/fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Cleaning up lk_ball
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
Due: clang-format, black

Add some high-level timing code to fast relax
  tmol/optimization/kin_min.py
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/pack_rotamers.py
  tmol/relax/fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

Re-tool the cart-bonded energy evaluation
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

re-enable score term component performance benchmarks
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Rework Elec term to alternate between Pose and Rotamer scoring
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/scoring_module.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.py
  tmol/score/elec/potentials/elec_pose_score.cpu.cpp
  tmol/score/elec/potentials/elec_pose_score.cuda.cu
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/energy_term.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/ref/ref_energy_term.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

More work on the split dispatch model for ElecEnergy; deriv check is failing weirdly!
  tmol/score/common/scoring_module.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
Due: clang-format, black

Okay, got derivatives working for ElecEnergy; latency in submitting kernels is reduced by a huge margin
  tmol/score/common/scoring_module.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Temporarily disable profiling hooks
  tmol/score/common/scoring_module.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Update lbfgs for efficiency
  tmol/optimization/lbfgs_armijo.py
Due: black

Get LJLK working with split dispatch; reorder terms in energy function for efficiency
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/ljlk_pose_score.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/score_types.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Split HBondEnergy scoring between pose- and rotamer dispatch
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/hbond/potentials/hbond_pose_score.cpu.cpp
  tmol/score/hbond/potentials/hbond_pose_score.cuda.cu
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/score_types.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/relax/test_fast_relax.py
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Remove final for loop in lbfgs by writing directly to 2d tensor
  tmol/optimization/lbfgs_armijo.py
Due: black

Update LKBall with the split pose/rotamer scoring scheme
  tmol/score/common/scoring_module.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/lk_ball_whole_pose_module.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cpu.cpp
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cuda.cu
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/conftest.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

Convert LKBall to using macros in its tile-evaluate-block-pair calls.
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Convert CartBonded to split pose/rotamer dispatch
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.cpu.cpp
  tmol/score/cartbonded/potentials/cartbonded_pose_score.cuda.cu
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: clang-format, black

Move DunbrackEnergyTerm to split whole-pose / rotamer scoring
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/dunbrack/potentials/dunbrack_pose_score.cpu.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.cuda.cu
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format, black

Fix bug in Dunbrack scoring
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format

Update DunbrackEnergyTerm to use the new split-scoring code
  tmol/score/dunbrack/dunbrack_energy_term.py
Due: black

Update Disulfide to use split pose/rotamer scoring dispatch
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/disulfide/potentials/disulfide_pose_score.cpu.cpp
  tmol/score/disulfide/potentials/disulfide_pose_score.cuda.cu
  tmol/score/disulfide/potentials/disulfide_pose_score.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/potentials.hh
Due: clang-format, black

Fix missing import in disulfide energy term
  tmol/score/common/scoring_module.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Finish the split pose/rotamer dispatch w/ the BackboneTorsionEnergy term
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.cpu.cpp
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.cuda.cu
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/common/scoring_module.py
  tmol/score/score_types.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

*very* rough first draft of rotamerized constraints
  tmol/pose/constraint_set.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Hacking together a "fused" scoring module that avoids leaving C++ / repeatedly allocating a bunch of tensors
  tmol/score/compiled/compiled.ops.cpp
  tmol/score/compiled/compiled.py
  tmol/score/energy_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/ljlk_fusion_module.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_fusion_module.cuda.cu
  tmol/score/ljlk/potentials/ljlk_fusion_module.hh
  tmol/score/ljlk/potentials/ljlk_fusion_module.impl.hh
  tmol/score/score_function.py
  tmol/tests/relax/test_fast_relax.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Forward progress
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/pose_score_fusion_module.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/ljlk_fusion_module.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_scoring_macros.hh
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: clang-format, black

Adding forgotten file for calculating the upper-triangle indices, i & j for given a linear indexed 0 <= ind < (N-1) * N / 2 for an NxN matrix
  tmol/score/common/upper_triangle_indices.hh
Due: clang-format

Add final piece of FastRelax functionality: accept_best
  tmol/pose/pose_stack.py
  tmol/relax/fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Saving some rather ugly, but very useful code for debugging the sfxn @ inaccurate G! confs
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/optimization/kin_min.py
  tmol/optimization/lbfgs_armijo.py
  tmol/optimization/sfxn_modules.py
  tmol/pack/pack_rotamers.py
  tmol/relax/fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

Forward progress!
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/compiled/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_fusion_module.hh
  tmol/score/ljlk/potentials/ljlk_fusion_module.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_scoring_macros.hh
Due: clang-format

Compiles! (and segfaults!)
  tmol/score/common/device_operations.cuda.impl.cuh
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

