Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

change build system
  .github/workflows/_build_wheel.yml
  DEVELOPMENT.md
Due: none

rleax llvmlite version
  pyproject.toml
Due: none

remove overlay fully
  .github/workflows/ci.yml
Due: none

added arm build wheels
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
  README.md
Due: none

change fela resources
  .buildkite/bin/setup
  .github/workflows/ci.yml
  DEVELOPMENT.md
Due: none

change gpu used on fela and how wheels are moved
  .buildkite/bin/setup
  .github/workflows/_build_wheel.yml
  .github/workflows/ci.yml
Due: none

relax numba version
  pyproject.toml
Due: none

create persisten overlay for ci workflows
  .github/workflows/ci.yml
Due: none

remove buildkite and setup fela with older container
  .buildkite/bin/benchmark
  .buildkite/bin/cleanup
  .buildkite/bin/fetch_buildkite_benchmark
  .buildkite/bin/linting
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
  .buildkite/hooks/command
  .buildkite/hooks/post-checkout
  .buildkite/pipeline.yml
  .github/workflows/_build_wheel.yml
  .github/workflows/ci.yml
  DEVELOPMENT.md
  pyproject.toml
Due: none

nmewer vdrsion for packaging
  .github/workflows/_build_wheel.yml
Due: none

adjust packaging version
  .github/workflows/ci.yml
Due: none

Removing comments, unused code, extraneous includes
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/params.pybind.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

added sphere overlap cuh files back
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/ljlk/potentials/sphere_overlap.cuda.cuh
Due: clang-format

add new params binder header
  tmol/score/lk_ball/potentials/params.pybind.hh
Due: clang-format

added ljlk pybind header
  tmol/score/ljlk/potentials/params.pybind.hh
Due: clang-format

added sphere overlap cuh files back
  .github/workflows/ci.yml
  tmol/io/details/compiled/compiled.py
  tmol/kinematics/compiled/compiled_ops.py
  tmol/pack/compiled/compiled.py
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pose/compiled/apsp_ops.py
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/cartbonded/potentials/compiled.py
  tmol/score/constraint/potentials/compiled.py
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/elec/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.py
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/potentials/compiled.py
  tmol/tests/score/common/geom/geom.py
  tmol/tests/score/common/polynomial/polynomial.py
  tmol/tests/score/hbond/potentials/compiled.py
Due: clang-format, black

relax packages for older apptainer
  pyproject.toml
Due: none

fixed last tests
  .github/workflows/ci.yml
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/hbond/potentials/test_potentials.py
Due: black

force correct python being used
  .github/workflows/ci.yml
Due: none

remove conda output from benchmark and fix tests
  .github/workflows/ci.yml
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/tests/conftest.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/hbond/potentials/compiled.py
  tmol/tests/score/hbond/potentials/test_potentials.py
  tmol/tests/score/lk_ball/potentials/compiled.py
  tmol/tests/utility/torchscript/custom_op.py
Due: clang-format, black

added sphere overlap cuh files back
  .github/workflows/ci.yml
  tmol/tests/score/hbond/potentials/compiled.py
  tmol/tests/score/ljlk/potentials/compiled.py
  tmol/tests/score/lk_ball/potentials/compiled.py
Due: black

update things for python 3.10 on fela
  .github/workflows/ci.yml
Due: none

export cuda arch list for jit
  .github/workflows/ci.yml
  tmol/tests/score/common/geom/geom.cu
Due: clang-format

fix numpy incompatibilities
  .github/workflows/ci.yml
Due: none

fix python path resolving
  .github/workflows/ci.yml
Due: none

do not freeze packages not in container
  .github/workflows/ci.yml
Due: none

updated license format
  .github/workflows/ci.yml
Due: none

update ruff rules
  pyproject.toml
Due: none

bump test version to 0.1.2
  pyproject.toml
Due: none

ci: trigger publish on push to jit_and_precompiled
  .github/workflows/publish.yml
Due: none

change atomworks encoding tests to golden value test
  tmol/tests/data/atomworks/generate_fixture.py
  tmol/tests/data/atomworks/ubq_atomworks.pt
  tmol/tests/io/test_pose_stack_from_atomworks.py
Due: black

remove stackoverflow comment
  tmol/io/details/compiled/compiled.ops.cpp
Due: clang-format

remove sphere_overlap.cuda.cuh and revert test_energy_term rebase artifact
  tmol/score/ljlk/potentials/sphere_overlap.cuda.cuh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

remove sphere overlap tests
  tmol/tests/score/ljlk/potentials/sphere_overlap.cu
Due: clang-format

fixed test imports
  .github/workflows/ci.yml
  pyproject.toml
  setup.py
  tmol/tests/score/common/test_energy_term.py
Due: black

fixed pandas version
  .github/workflows/ci.yml
Due: none

set numpy as already installed
  .github/workflows/ci.yml
Due: none
