Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.7
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

One final env update.
  environments/env-dev.yml
  environments/env.yml
Due: none

Fixing tests/kinematics/test_operations.py unit tests
  tmol/tests/kinematics/test_operations.py
Due: black

Typo in env.yml
  environments/env-dev.yml
  environments/env.yml
Due: none

Update single-residue kin-forest construction
  tmol/chemical/restypes.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/score/rama/params.py
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/score/rama/script_modules.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/common/warp_segreduce.cuda.cu
  tmol/tests/score/common/warp_stride_reduce.cuda.cu
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Fixing optimization unit tests
  tmol/optimization/modules.py
  tmol/system/kinematics.py
  tmol/tests/optimization/test_modules.py
Due: black

Progress in updating lj/lk in packing context to 3-dim coord vector
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Get RPE LJLK C++/CUDA compiling again
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
Due: clang-format, black

Fixed RPE eval for LJLK
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Continuing to push for updated simA code following coord tensor dimensionality change
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.cuda.cu
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
Due: clang-format, black

Updating sim annealing code following coordinate condensation change
  tmol/pack/sim_anneal/accept_final.py
  tmol/pack/sim_anneal/annealer.py
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.cuda.cu
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/score/common/stack_condense.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/utility/tensor/common_operations.py
Due: clang-format, black

Adding __init__.py files to two unit test directories for disambiguation
  tmol/tests/utility/ndarray/__init__.py
  tmol/tests/utility/tensor/__init__.py
Due: black

Running black version 18.6b4 on branch
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pack/sim_anneal/annealer.py
  tmol/pose/pose_kinematics.py
  tmol/score/cartbonded/params.py
  tmol/score/elec/script_modules.py
  tmol/system/kinematics.py
  tmol/tests/kinematics/test_dof_modules.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/pack/rotamer/test_bfs_sidechain.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/utility/tensor/common_operations.py
Due: black

linting
  tmol/chemical/__init__.py
  tmol/chemical/restypes.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/tests/types/test_functional.py
  tmol/types/validators.py
Due: black

Re-enabling the benchmkark for RPE evaluation for LJ/LK
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/conftest.py
  tmol/tests/pack/rotamer/test_bfs_sidechain.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/score/common/test_warp_segreduce.py
  tmol/tests/score/dunbrack/test_dun_param_resolver.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/test_score_function.py
  tmol/tests/score/test_score_function_benchmarks.py
  tmol/tests/score/test_scoreterm_benchmarks.py
Due: black

Remove use of cuda streams in LJ/LK RPE calculation for now
  tmol/score/atom_type_dependent_term.py
  tmol/score/bond_dependent_term.py
  tmol/score/common/stack_condense.py
  tmol/score/dunbrack/params.py
  tmol/score/energy_term.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/score_function.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/kinematics/test_scan_ordering.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/terms/test_score_term_factory.py
  tmol/tests/utility/ndarray/__init__.py
  tmol/tests/utility/tensor/__init__.py
Due: clang-format, black

Adding type validation to PoseStack methods; linting
  tmol/kinematics/builder.py
  tmol/kinematics/datatypes.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_kinematics.py
  tmol/pose/pose_stack.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/terms/__init__.py
  tmol/score/terms/score_term_factory.py
  tmol/score/terms/term_creator.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/types/validators.py
  tmol/utility/cpp_extension.py
  tmol/utility/ndarray/common_operations.py
Due: black

Final linting fixes
  tmol/pack/rotamer/bfs_sidechain.py
  tmol/score/modules/elec.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Run clang format on our .cpp files in addition to .h, .hh, .cu, .cuh
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.ops.cpp
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/numeric/bspline_compiled/bspline.pybind.cpp
  tmol/pack/rotamer/dunbrack/compiled.cpu.cpp
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.cpu.cpp
  tmol/score/dunbrack/potentials/compiled.cpu.cpp
  tmol/score/dunbrack/potentials/compiled.pybind.cpp
  tmol/score/elec/potentials/compiled.cpu.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/lj.compiled.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cpu.cpp
  tmol/score/ljlk/potentials/lk_isotropic.compiled.cpu.cpp
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cpu.cpp
  tmol/score/lk_ball/potentials/compiled.cpu.cpp
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.cpu.cpp
  tmol/score/omega/potentials/compiled.cpu.cpp
  tmol/score/rama/potentials/compiled.cpu.cpp
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/tests/pack/rotamer/dunbrack/compiled.pybind.cpp
  tmol/tests/pack/rotamer/dunbrack/test.cpp
  tmol/tests/score/common/dispatch/test.cpp
  tmol/tests/score/common/dispatch/test.pybind.cpp
  tmol/tests/score/common/warp_segreduce.cpp
  tmol/tests/score/common/warp_stride_reduce.cpp
  tmol/tests/score/hbond/potentials/compiled.pybind.cpp
  tmol/tests/utility/cpp_extension/hybrid.cpp
  tmol/tests/utility/cpp_extension/hybrid.pybind.cpp
  tmol/tests/utility/cpp_extension/pure.cpp
  tmol/tests/utility/tensor/tensor_accessor.cpp
  tmol/tests/utility/tensor/tensor_collection.cpp
  tmol/tests/utility/torchscript/custom_op.cpp
Due: clang-format

Enable formatting of .cpp files by clang-format in pre-commit hooks
  .pre-commit-config.yaml
Due: none

Running clang-format on all .cpp files
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/numeric/bspline_compiled/bspline.pybind.cpp
  tmol/score/cartbonded/potentials/compiled.cpu.cpp
  tmol/score/dunbrack/potentials/compiled.cpu.cpp
  tmol/score/elec/potentials/compiled.cpu.cpp
  tmol/score/ljlk/potentials/lj.compiled.cpu.cpp
  tmol/score/ljlk/potentials/lk_isotropic.compiled.cpu.cpp
  tmol/score/lk_ball/potentials/compiled.cpu.cpp
  tmol/score/omega/potentials/compiled.cpu.cpp
  tmol/score/rama/potentials/compiled.cpu.cpp
  tmol/tests/score/hbond/potentials/compiled.pybind.cpp
  tmol/tests/utility/cpp_extension/hybrid.cpp
  tmol/tests/utility/cpp_extension/hybrid.pybind.cpp
  tmol/tests/utility/cpp_extension/pure.cpp
  tmol/tests/utility/tensor/tensor_accessor.cpp
  tmol/tests/utility/tensor/tensor_collection.cpp
  tmol/tests/utility/torchscript/custom_op.cpp
Due: none

Incorporating Frank's suggested cleanups
  tmol/kinematics/builder.py
  tmol/kinematics/compiled/kernel_segscan.cuh
  tmol/kinematics/datatypes.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampling.hh
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/sim_anneal/annealer.py
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/score/dunbrack/potentials/compiled.hh
  tmol/score/dunbrack/potentials/compiled.pybind.cpp
Due: clang-format, black

Apply clang-format to .cpp files (#244)
  .pre-commit-config.yaml
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/numeric/bspline_compiled/bspline.pybind.cpp
  tmol/score/cartbonded/potentials/compiled.cpu.cpp
  tmol/score/dunbrack/potentials/compiled.cpu.cpp
  tmol/score/elec/potentials/compiled.cpu.cpp
  tmol/score/ljlk/potentials/lj.compiled.cpu.cpp
  tmol/score/ljlk/potentials/lk_isotropic.compiled.cpu.cpp
  tmol/score/lk_ball/potentials/compiled.cpu.cpp
  tmol/score/omega/potentials/compiled.cpu.cpp
  tmol/score/rama/potentials/compiled.cpu.cpp
  tmol/tests/score/hbond/potentials/compiled.pybind.cpp
  tmol/tests/utility/cpp_extension/hybrid.cpp
  tmol/tests/utility/cpp_extension/hybrid.pybind.cpp
  tmol/tests/utility/cpp_extension/pure.cpp
  tmol/tests/utility/tensor/tensor_accessor.cpp
  tmol/tests/utility/tensor/tensor_collection.cpp
  tmol/tests/utility/torchscript/custom_op.cpp
Due: none

Adding tests for jump construction logic, List type-hint validation
  tmol/kinematics/builder.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/types/test_functional.py
  tmol/types/validators.py
Due: black

Adding one more fix_jump_nodes unit test
  tmol/tests/kinematics/test_builder.py
Due: black

Add unit test for building ideal coords from RefinedResidueTypes
  tmol/tests/chemical/test_residue.py
Due: black

Re-enable LJLK inter-module registration w/ sim annealer
  tmol/score/ljlk/ljlk_energy_term.py
Due: black

Removing old version of LJLKEnergy
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/ljlk_energy_term.py
Due: black

Removing accidentally-reanimated zombie code: DunbrackTorchOp
  tmol/score/dunbrack/torch_op.py
Due: black

update comment in stack_condense
  tmol/score/common/stack_condense.py
Due: black

Linting
  tmol/score/ljlk/ljlk_energy_term.py
Due: black

Add some preliminary code for minimizing a PoseStack with a ScoreFunction
  tmol/score/score_function.py
  tmol/system/kinematics.py
  tmol/tests/optimization/test_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Update documentation for a handful of classes
  tmol/kinematics/datatypes.py
  tmol/kinematics/metadata.py
Due: black

Moving pose stack construction logic to separate PoseStackBuilder class
  tmol/pack/rotamer/build_rotamers.py
  tmol/pose/pose_stack.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/pose/__init__.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/test_score_function.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Forward progress in constructing a pose stack from a sequence
  tmol/pose/pose_stack_builder.py
  tmol/tests/conftest.py
  tmol/tests/pose/__init__.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Forward progress generating inter-block bond-sep for polymers
  tmol/pose/pose_stack_builder.py
Due: black

Fully-working version of the inter-block bond-separation calculation code
  tmol/pose/pose_stack_builder.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

Remove PoseStack's "residues" data memembers: slow to construct, not necessary
  tmol/kinematics/fold_forest.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pose/pose_stack.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Found performance bug (@validate_args List[List[str]]) in PoseStack ctor
  tmol/pose/pose_stack_builder.py
  tmol/tests/conftest.py
  tmol/tests/pose/__init__.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/score/test_bond_dependent_term.py
  tmol/tests/torch.py
Due: black
