Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.7
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

mask improvement and mask test
  tmol/optimization/modules.py
  tmol/tests/optimization/test_modules.py
Due: black

remove unused import from test_dof_modules.py
  tmol/tests/kinematics/test_dof_modules.py
Due: black

use specific default score weights
  tmol/system/score_support.py
Due: black

Revert "remove unused import from test_dof_modules.py"
  tmol/tests/kinematics/test_dof_modules.py
Due: black

masking for cartesian energy network
  tmol/optimization/modules.py
  tmol/tests/optimization/test_modules.py
Due: black

change lr of LBFGS_Armijo back to 0.1 in test_modules.py
  tmol/tests/optimization/test_modules.py
Due: black

update cartbonded/test_bench.py
  tmol/tests/score/cartbonded/test_bench.py
Due: black

Forward progress
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/params.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/score_graph.py
  tmol/score/modules/ljlk.py
  tmol/system/pose.py
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/score/ljlk/test_script_modules.py
  tmol/tests/system/test_kinematics.py
Due: clang-format, black

Adding forgotten file!
  tmol/pack/sim_anneal/compiled/simulated_annealing.hh
Due: clang-format

micro linting fixes
  tmol/optimization/modules.py
  tmol/score/bonded_atom.py
  tmol/score/chemical_database.py
  tmol/score/modules/bonded_atom.py
  tmol/score/modules/constraint.py
  tmol/score/modules/omega.py
  tmol/score/modules/rama.py
  tmol/system/score_support.py
  tmol/tests/optimization/test_modules.py
  tmol/tests/score/ljlk/test_baseline.py
  tmol/tests/score/test_coordinates.py
  tmol/tests/score/test_dof_space.py
  tmol/tests/score/test_scoreterm_benchmarks.py
  tmol/tests/score/test_total_gradcheck.py
Due: black

corrections to micro linting
  tmol/tests/score/lk_ball/test_baseline.py
  tmol/tests/score/test_dof_space.py
  tmol/tests/score/test_scoreterm_benchmarks.py
Due: black

remove unused variable
  tmol/tests/score/test_dof_space.py
Due: black

Adding forgotten file
  tmol/utility/gpu_error_check.hh
Due: clang-format

Working version of merge master w/ aleaverfay/otf_rpe_end_to_end1
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/pack/rotamer/single_residue_kintree.py
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/score/modules/dunbrack.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/hbond/test_identification.py
  tmol/tests/score/test_bonded_atom.py
Due: clang-format, black

add directive to ignore actually-used import
  tmol/tests/kinematics/test_dof_modules.py
Due: black

shift noqa statement
  tmol/tests/kinematics/test_dof_modules.py
Due: black

First attempt at score-term factory
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/score_function.py
  tmol/score/score_types.py
  tmol/score/terms/__init__.py
  tmol/score/terms/ljlk_creator.py
  tmol/score/terms/score_term_factory.py
  tmol/score/terms/term_creator.py
  tmol/tests/score/terms/test_score_term_factory.py
Due: black

fix torch device in cartbonded/test_bench and ScoreSystem.intra_total
  tmol/score/modules/bases.py
  tmol/tests/score/cartbonded/test_bench.py
Due: black

use default torch device for minimization
  tmol/optimization/modules.py
  tmol/tests/optimization/test_modules.py
Due: black

use designated device in test_scoreterm_benchmarks.py
  tmol/tests/score/test_scoreterm_benchmarks.py
Due: black

Rename camel case files
  tmol/kinematics/compiled/compiled_ops.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/bond_dependent_term.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/lk_ball/LKBallEnergy.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/tests/score/test_atom_type_dependent_term.py
  tmol/tests/score/test_bond_dependent_term.py
Due: black

Add new compiler flags needed to compile on 20.04
  tmol/utility/cpp_extension.py
Due: black

fix rest of the torch module invocation after upgrading to 1.6
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/sim_anneal/annealer.py
  tmol/pack/sim_anneal/compiled/compiled.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
Due: black

Reimagine the energy term mixin `__init__` calls to take two parameters
  tmol/score/atom_type_dependent_term.py
  tmol/score/bond_dependent_term.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/terms/ljlk_creator.py
  tmol/score/terms/score_term_factory.py
  tmol/score/terms/term_creator.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/score/terms/test_score_term_factory.py
  tmol/tests/score/test_atom_type_dependent_term.py
  tmol/tests/score/test_bond_dependent_term.py
Due: black

Move files to better namespaces/directories
  tmol/chemical/restypes.py
  tmol/pose/pose.py
  tmol/score/EnergyTerm.py
  tmol/tests/chemical/__init__.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/conftest.py
  tmol/tests/pose/test_pose.py
Due: black

rename camel-case test file
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Move PackedBlockTypes to its own file
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/pack/rotamer/single_residue_kintree.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pose/pose_stack.py
  tmol/score/EnergyTerm.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/bond_dependent_term.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/pose/test_pose.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/test_atom_type_dependent_term.py
  tmol/tests/score/test_bond_dependent_term.py
Due: black

fix camel-case file name
  tmol/score/atom_type_dependent_term.py
  tmol/score/bond_dependent_term.py
  tmol/score/energy_term.py
Due: black

Remove Pose and replace Poses with PoseStack
  tmol/chemical/restypes.py
  tmol/pose/pose_stack.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/pose/test_pose.py
  tmol/tests/torch.py
Due: black

Rename test_pose.py to test_pose_stack.py
  tmol/tests/pose/test_pose_stack.py
Due: black

Resolve all previous uses of Pose and Poses
  tmol/pack/packer_task.py
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pose/pose_stack.py
  tmol/score/bond_dependent_term.py
  tmol/score/energy_term.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/test_bond_dependent_term.py
Due: clang-format, black

Adding forgotten file
  tmol/pose/packed_block_types.py
Due: black

Adding forgotten test file
  tmol/tests/pose/test_packed_block_tyeps.py
Due: black

First pass attempt at residue-centric pose-stack scoring
  tmol/score/common/accumulate.hh
  tmol/score/energy_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/ljlk_pose_score.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/score_function.py
  tmol/score/terms/score_term_factory.py
  tmol/score/terms/term_creator.py
Due: clang-format, black

Add compiling version of res-centric pose-stack scoring
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Add smoke test for LJLKWholePoseScoringModule
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black
