Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Skip backbone torsion derivatives for energy evaluation
  tmol/numeric/bspline_compiled/bspline.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/potentials.hh
Due: clang-format

Elide padding for dense minimizer segments
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_segments.py
Due: black

Precompute pose reference energies
  tmol/score/ref/_ref_energy_term.py
Due: black

Fuse LK-ball weighted derivatives
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Reuse LK-ball bridge exponentials
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Avoid redundant Cartesian coordinate scatters
  tmol/optimization/_sfxn_modules.py
Due: black

Avoid redundant LK-ball cutoff derivatives
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Reuse antisymmetric electrostatic derivatives
  tmol/score/elec/potentials/elec.hh
Due: clang-format

Precompute the electrostatic cutoff offset
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/params.hh
  tmol/score/elec/potentials/potentials.hh
Due: clang-format, black

Precompute electrostatic smoothing constants
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/params.hh
  tmol/score/elec/potentials/potentials.hh
Due: clang-format, black

Reuse LK solvation values in derivatives
  tmol/score/ljlk/potentials/lk_isotropic.hh
Due: clang-format

Factor the Lennard-Jones distance derivative
  tmol/score/ljlk/potentials/lj.hh
Due: clang-format

Precompute LK atom type invariants
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format, black

Combine LK-ball derivative normalization
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Hoist LK-ball derivative factors
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Reuse inverse LK distances
  tmol/score/ljlk/potentials/lk_isotropic.hh
Due: clang-format

Precompute Lennard-Jones well-depth roots
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
Due: clang-format, black

Reuse the Lennard-Jones reciprocal distance
  tmol/score/ljlk/potentials/lj.hh
Due: clang-format

Skip LJ parameters beyond the cutoff
  tmol/score/ljlk/potentials/lj.hh
Due: clang-format

Precompute LK-ball atom type invariants
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/params.hh
  tmol/score/lk_ball/potentials/params.pybind.hh
Due: clang-format, black

Stop LK-ball loops at water padding
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Skip padded LK-ball water gradients
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Return early from cutoff LJ energies
  tmol/score/ljlk/potentials/lj.hh
Due: clang-format

Return early from cutoff LK energies
  tmol/score/ljlk/potentials/lk_isotropic.hh
Due: clang-format

Fuse LJ and LK heavy-pair scoring
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/params.hh
Due: clang-format, black

Reuse fused LJLK coordinate derivatives
  tmol/score/ljlk/potentials/ljlk.hh
Due: clang-format

Reuse antisymmetric LK-ball derivatives
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Skip square roots beyond the LJLK cutoff
  tmol/score/ljlk/potentials/ljlk.hh
Due: clang-format

Skip logarithms in clamped LK-ball ramps
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Reject impossible LK-ball bridges before water scoring
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Optimize CUDA kernels in local JIT builds
  tmol/utility/_cpp_extension.py
Due: black

Validate LJLK block types before lookup
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Activate all-coordinate minimization fast path
  tmol/optimization/_sfxn_modules.py
  tmol/tests/optimization/test_pose_stack_minimization.py
Due: black

Remove stale LJLK kernel accumulators
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Accelerate CUDA scoring, minimization, and FastRelax (#425)
  tmol/numeric/bspline_compiled/bspline.hh
  tmol/optimization/_lbfgs_armijo.py
  tmol/optimization/_sfxn_modules.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/potentials.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/potentials.hh
  tmol/score/common/launch_box_macros.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/elec/potentials/params.hh
  tmol/score/elec/potentials/potentials.hh
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/params.hh
  tmol/score/lk_ball/potentials/params.pybind.hh
  tmol/score/ref/_ref_energy_term.py
  tmol/tests/optimization/test_lbfgs_segments.py
  tmol/tests/optimization/test_pose_stack_minimization.py
  tmol/utility/_cpp_extension.py
Due: clang-format, black

feat(pack): support batched residue restrictions
  tmol/pack/_packer_task.py
  tmol/tests/pack/test_packer_task.py
Due: black

fix(pack): anchor nucleotide mutation rotamers to sugar
  tmol/pack/rotamer/_mainchain_fingerprint.py
  tmol/tests/pack/rotamer/test_na_chi_sampler.py
Due: black

fix(ligand): preserve heavy-atom source mapping
  tmol/ligand/_openbabel_compat.py
  tmol/ligand/_structure_to_smiles.py
  tmol/tests/ligand/test_cif_to_dg.py
Due: black

perf: avoid unconditional CUDA synchronization
  tmol/optimization/_minimizers.py
  tmol/pack/rotamer/_fallback_sampler.py
  tmol/pack/rotamer/_include_current_sampler.py
  tmol/pack/rotamer/_opth_sampler.py
Due: black

perf: reduce repeated scoring and relaxation overhead
  tmol/database/scoring/_dunbrack_libraries.py
  tmol/database/scoring/_omega_bbdep.py
  tmol/database/scoring/_rama.py
  tmol/io/_pose_stack_construction.py
  tmol/io/details/_his_taut_resolution.py
  tmol/optimization/_lbfgs_armijo.py
  tmol/score/_energy_term.py
  tmol/score/_score_function.py
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/__init__.py
  tmol/score/common/_scoring_module.py
  tmol/score/common/whole_pose_scoring.hh
  tmol/score/constraint/_constraint_energy_term.py
  tmol/score/disulfide/_disulfide_energy_term.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/na_torsion/_na_torsion_energy_term.py
  tmol/tests/database/test_param_db.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black
