Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Bound packing interaction graph memory
  tmol/pack/_datatypes.py
  tmol/pack/_pack_rotamers.py
  tmol/pack/_simulated_annealing.py
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/simulated_annealing.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/tests/pack/test_annealer_assignment_cache.py
  tmol/tests/pack/test_load_ig.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

fix: Bound streaming chunk topology memory
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/__init__.py
  tmol/pack/compiled/_compiled.py
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/streaming_interaction_graph.hh
  tmol/pack/compiled/streaming_interaction_graph.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/tests/pack/test_streaming_interaction_graph.py
Due: clang-format, black

Bound rotamer score weighting memory
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

fix: Page hydrogen-bond rotamer scoring
  tmol/score/_energy_term.py
  tmol/score/_score_function.py
  tmol/score/common/_scoring_module.py
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/__init__.py
  tmol/score/hbond/potentials/_compiled.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: clang-format, black

fix: Bound packing score and quench scratch windows
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/_score_function.py
Due: clang-format, black

fix: Bound large packing graph construction
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/__init__.py
  tmol/pack/compiled/_compiled.py
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/streaming_interaction_graph.hh
  tmol/pack/compiled/streaming_interaction_graph.impl.hh
  tmol/score/_score_function.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/ljlk/potentials/__init__.py
  tmol/score/ljlk/potentials/_compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_streaming_interaction_graph.py
Due: clang-format, black

fix: Page shared packing score dispatches
  tmol/tests/pack/test_pack_rotamers.py
Due: black

fix: Page canonical packing dispatch windows
  tmol/score/_score_function.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

test: Key the builder cache assertion to the batch size it was given
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
Due: black

fix: Release FastRelax minimizer state between packing stages
  tmol/optimization/_minimizers.py
  tmol/relax/_fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

fix: Share immutable bond topology across FastRelax pose snapshots
  tmol/pose/_pose_stack.py
  tmol/relax/_fast_relax.py
  tmol/tests/pose/test_pose_stack.py
Due: black

fix: Skip rotamer scoring during shared-dispatch topology passes
  tmol/score/_score_function.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

fix: Detach streamed packing graph construction and assignments
  tmol/pack/_pack_rotamers.py
Due: black

style: Satisfy clang-format on the H-bond and LJ/LK paging headers
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format

style: Satisfy clang-format on the paging changes
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/hbond/potentials/compiled.ops.cpp
Due: clang-format

test: Name the cuda-only streaming tests so a lane selects them
  tmol/tests/pack/test_streaming_interaction_graph.py
Due: black

fix: Share the 64-bit bond separation too when cloning topology
  tmol/pose/_pose_stack.py
Due: black

perf: Let a caller keep the rendered scorer between relax stages
  tmol/relax/_fast_relax.py
Due: black

docs: Describe the tensor-only pose construction path
  docs/api/io.rst
  docs/user_guide/integrations.md
Due: none

feat: Build poses from Atom37 tensors on one path
  tmol/io/__init__.py
  tmol/io/_pose_stack_from_atom37.py
  tmol/io/_pose_stack_from_atomworks.py
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

test: Check the terminus exclusion per residue type, as production does
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

fix: Refuse an Atom37 residue type the slot map cannot route
  tmol/io/_pose_stack_from_atom37.py
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

test: Hold routed and rebuilt atoms to their own standards
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

fix: Exclude terminus-only atoms per residue type, not across all of them
  tmol/io/_pose_stack_from_atom37.py
Due: black

fix: Stop the atom37 slot map unrouting every backbone carbonyl
  tmol/io/_pose_stack_from_atom37.py
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

test: Allow rebuilt terminus atoms their last-bit disagreement
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

fix: Hand the guard test the ordering it builds, not an undefined name
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

Expand scope of phosphate group corrections in ligand parameterization code.
  tmol/ligand/_detect.py
Due: black

fix: Make a declared charge and an inferred one reach the same molecule
  tmol/ligand/_detect.py
Due: black

fix: Keep the three-argument _infer_oxyacid_bonds call working
  tmol/ligand/_detect.py
Due: black

docs: Show every chemistry class the one entry point covers
  docs/user_guide/ligands.md
Due: none

fix: Localize oxyacids without overfilling neighbours or inventing charge
  tmol/ligand/_detect.py
Due: black

fix: Keep declared charges through oxyacid localization
  tmol/ligand/_detect.py
Due: black

fix: Read a declared charge as a placement, not as an addition
  tmol/ligand/_detect.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: black

fix: Stop refusing the double bond to a neighbour that holds a hydrogen
  tmol/ligand/_detect.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: black

Define explicit chemistry references and scoped parameter database contracts (#509)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CMakeLists.txt
  tmol/chemical/__init__.py
  tmol/chemical/_ideal_coords.py
  tmol/chemical/_restypes.py
  tmol/database/__init__.py
  tmol/database/_patched_chemdb.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/_cartbonded.py
  tmol/database/scoring/_content_hash.py
  tmol/database/scoring/_dunbrack_libraries.py
  tmol/database/scoring/_elec.py
  tmol/database/scoring/_genbonded.py
  tmol/database/scoring/_omega_bbdep.py
  tmol/database/scoring/_rama.py
  tmol/database/scoring/_ref.py
  tmol/io/_pose_stack_from_sequence.py
  tmol/numeric/_bspline.py
  tmol/numeric/bspline_compiled/bspline.hh
  tmol/pack/rotamer/_fixed_aa_chi_sampler.py
  tmol/pack/rotamer/dunbrack/_dunbrack_chi_sampler.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pose/_sequence.py
  tmol/score/dunbrack/_dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/elec/potentials/.DS_Store
  tmol/tests/database/scoring/test_content_hash.py
  tmol/tests/numeric/bspline.cuda.cu
  tmol/tests/numeric/test_bspline_layout.py
  tmol/tests/pose/test_util.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/tests/utility/test_weak_identity_cache.py
  tmol/utility/weak_identity_cache.py
Due: clang-format, black

Correct phosphate and oxyacid localization for ligands read from mol2
  docs/user_guide/ligands.md
  tmol/ligand/_detect.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: black

docs: Give the install command the link that makes it work
  README.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

