Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

change py version
  .github/workflows/ci.yml
Due: none

Update test server ci (#381)
  .github/workflows/ci.yml
Due: none

Removing 2 more instances of bias in conditioning embedders. Change origin noising to rollout.
  CMakeLists.txt
  tmol/optimization/compiled/__init__.py
  tmol/optimization/compiled/compiled.py
  tmol/optimization/compiled/lbfgs.cpu.cpp
  tmol/optimization/compiled/lbfgs.cuda.cu
  tmol/optimization/compiled/lbfgs.hh
  tmol/optimization/compiled/lbfgs.ops.cpp
  tmol/optimization/lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_two_loop.py
Due: clang-format, black

Fix numpy's "assignment destination is read-only" error in io unit tests
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

update test_pli
  tmol/tests/ligand/test_pli_scoring.py
Due: black

Add code to split out a single Pose from a PoseStack + PDBInfo + ConstraintSet object (#379)
  tmol/pose/constraint_set.py
  tmol/pose/pdb_info.py
  tmol/pose/pose_stack.py
  tmol/pose/pose_stack_builder.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/tests/pose/test_constraint_set.py
  tmol/tests/pose/test_pdb_info.py
  tmol/tests/pose/test_pose_stack.py
Due: black

update dependencies to be more lenient upwards
  pyproject.toml
Due: none

feat: add OpenBabel fallback and PDB/SMILES ligand entry points
  tmol/ligand/__init__.py
  tmol/ligand/cif_normalization.py
  tmol/ligand/detect.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/ligand/test_openbabel_compat.py
Due: black

docs: add mol2 -> PoseStack ligand workflow example
  tmol/ligand/examples/workflow_from_mol2.py
Due: black

ligand: robust CIF/mol2 -> params with OpenBabel MMFF94 charges
  pyproject.toml
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/atom_typing.py
  tmol/ligand/cif_normalization.py
  tmol/ligand/coord_name_registry.py
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/data/protein_ligand_test/cif_inputs/ampc.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cox2.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/fxa.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pde5.ligand.cif
  tmol/tests/ligand/build_pli_ligand_cifs.py
  tmol/tests/ligand/test_cif_trust_vs_recompute.py
  tmol/tests/ligand/test_mol2_atom_names.py
  tmol/tests/ligand/test_mol3d_mmff.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
Due: black

chore: ignore local-only files (.humanize/, CLAUDE.md)
  .gitignore
Due: none

feat(ligand): emit CHI/PROTON_CHI topology into RawResidueType
  tmol/ligand/atom_typing.py
  tmol/ligand/chi_topology.py
  tmol/ligand/preparation.py
  tmol/ligand/residue_builder.py
Due: black

Update scorefunction references to reflect lj changes to HS and Npro
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/test_score_function.py
Due: black

fix(ligand): skip apolar-H (hapol) chi torsions in chi_topology
  tmol/ligand/chi_topology.py
Due: black

test(ligand): assert CHI/PROTON_CHI parity in TestGroundTruthRegression
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

feat(ligand): params_io CHI/PROTON_CHI round-trip + classifier unit tests
  tmol/ligand/params_io.py
  tmol/tests/ligand/test_chi_topology.py
Due: black

test(ligand): verify refine torsion_to_uaids + OptHSampler activation
  tmol/tests/ligand/test_chi_topology.py
Due: black

docs(ligand): refresh chi_topology docstring to verified state
  tmol/ligand/chi_topology.py
Due: black

test(ligand): conjugation + biaryl negative/positive matrix (task11 follow-up)
  tmol/tests/ligand/test_chi_topology.py
Due: black

test(ligand): close Round-1 review gaps (AC-3/4/6/8 verification)
  tmol/tests/ligand/test_chi_topology.py
Due: black

feat(ligand): RosettaVS parity fixes for num_H_confs + sp2 proton-chi
  tmol/ligand/chi_topology.py
  tmol/tests/ligand/test_chi_topology.py
Due: black

fix(ligand): gate proton chi_samples behind sample_proton_chi (default off)
  tmol/ligand/preparation.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_chi_topology.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

feat(ligand): thread sample_proton_chi through all prep entry points
  tmol/ligand/preparation.py
  tmol/tests/ligand/test_chi_topology.py
Due: black

feat(ligand): assign bond orders from a SMILES template
  tmol/ligand/__init__.py
  tmol/ligand/bond_order_assignment.py
  tmol/tests/ligand/test_bond_order_assignment.py
Due: black

test(ligand): forwarding tests for sample_proton_chi on non-SMILES prep paths
  tmol/tests/ligand/test_chi_topology.py
Due: black

Adding sanity checks to prevent crashing and incorrect scoring caused by trying to load coordinates from nonexistent atoms in lk_ball.
  tmol/ligand/registry.py
  tmol/ligand/sanity_checks.py
  tmol/score/lk_ball/potentials/water.hh
Due: clang-format, black

Fix remaining tests. Fix a real bug in scores returned by packer (on cuda it returned last score while on CPU it returned best). xfail failing ligand tests.
  tmol/database/default/scoring/hbond.yaml
  tmol/pack/compiled/compiled.cuda.cu
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1R21.pdb
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_mol3d_mmff.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
Due: clang-format, black

feat(io): thread sample_proton_chi through pose_stack_from_biotite
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/ligand/test_chi_topology.py
Due: black

test(io): behavior regression for sample_proton_chi pose-build gate
  tmol/ligand/chi_topology.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

build: build compiled_inverse_kin for CPU-only wheels
  CMakeLists.txt
Due: none

style: fix flake8 lint + apply black 26.3.1 to ligand subsystem
  tmol/ligand/bond_order_assignment.py
  tmol/ligand/chi_topology.py
  tmol/ligand/detect.py
  tmol/ligand/examples/workflow_from_mol2.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/params_io.py
  tmol/tests/ligand/test_bond_order_assignment.py
  tmol/tests/ligand/test_chi_topology.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_openbabel_compat.py
Due: black

update ligand tests
  .github/workflows/ci.yml
  tmol/ligand/atom_typing.py
  tmol/tests/conftest.py
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
  tmol/tests/torch.py
Due: black

update openbabel mount
  .github/workflows/ci.yml
  containers/apptainer/tmol-dev.def
Due: none

making explicit copies of numpy arrays to deal with readonly error
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Update lkball and hbond code to properly treat sp3 acceptors with no bonded atoms. Fix tests broken on new pandas. Remove some dead hbond code
  tmol/ligand/registry.py
  tmol/ligand/sanity_checks.py
  tmol/score/hbond/identification.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/tests/io/details/test_select_from_canonical.py
Due: clang-format, black

Fix final failing test (pack bench were comparing curr to best, should have been best vs best)
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

fixing packing segscan for multiple poses
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Add sha1 hash to cartbonded parameter set so that cached params in BlockTypes and PBTs don't conflict
  tmol/database/scoring/cartbonded.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Remove debugging statement
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black
