Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

build: restore the branch and repin for the review fixes
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
  tmol/io/_pose_stack_from_sequence.py
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_conjugation_patches.py
  tmol/ligand/_dimorphite_dl.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_input_repair.py
  tmol/ligand/_polymer_builder.py
  tmol/ligand/_rdkit_mol.py
  tmol/ligand/_residue_builder.py
  tmol/tests/data/protein_ligand_test/cif_inputs/ace.ligand.cif
  tmol/tests/ligand/test_dimorphite_vendor.py
Due: black

style: name the benchmark group with a string, as the others do
  tmol/tests/pack/test_pack_benchmarks.py
Due: black

perf: write inter-block bond separations straight to their layout
  CMakeLists.txt
  tmol/pose/_pose_stack_builder.py
  tmol/pose/compiled/__init__.py
  tmol/pose/compiled/_apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/compiled/bondsep.cpu.cpp
  tmol/pose/compiled/bondsep.cuda.cu
  tmol/pose/compiled/bondsep.hh
  tmol/tests/pose/compiled/test_block_bondsep.py
Due: clang-format, black

test: give each pose its own connection offsets
  tmol/tests/pose/compiled/test_block_bondsep.py
Due: black

build: repin atomworks to the current stack
  pyproject.toml
Due: none

build: repin atomworks past the load_pdb signature change
  pyproject.toml
Due: none

fix: reject a backward pre-hook before capture too
  tmol/score/common/_cuda_graph.py
  tmol/tests/score/common/test_cuda_graph.py
Due: black

build: pin atomworks to a commit that is on a branch
  pyproject.toml
Due: none

Revert "build: pin atomworks to a commit that is on a branch"
  pyproject.toml
Due: none

Few minor fixes for tests
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_polymer_profile.py
  tmol/tests/data/covalent_fixtures/README.md
  tmol/tests/data/covalent_fixtures/lactam_cyclic_7ag5.cif
  tmol/tests/data/ncaa_fixtures/README.md
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/score/cartbonded/test_noncanonical_junction_reference.py
  tmol/tests/test_fixture_manifests.py
Due: black

Small fix to path capping logic that tripped on noncanonicals
  tmol/chemical/_restypes.py
Due: black

perf: gather a pose's metal donors once, not once per metal
  tmol/io/details/_metal_detection.py
Due: black

perf: fit every donor-to-vertex map in one batched solve
  tmol/io/details/_metal_geometry.py
Due: black

build: repin atomworks to the consolidated stack
  pyproject.toml
Due: none

fix: place cluster virtuals with a rotation, and stop charging metal-free reads
  tmol/io/_pose_stack_deconstruction.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/details/_metal_detection.py
  tmol/io/details/_metal_geometry.py
Due: black

perf: work out a block type's bonds once, not once per block
  tmol/io/_pose_stack_from_biotite.py
Due: black

fix: do not key the metal-table cache on id()
  tmol/io/details/_metal_detection.py
Due: black

fix: say which question the declared read is answering
  tmol/io/_atomworks_reader.py
Due: black

build: repin atomworks for the bond-order option
  pyproject.toml
Due: none

fix: let the metal oracle answer for bridging donors and empty sites
  tmol/tests/score/metal/metal_oracle.py
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

fix: import the atomworks loader by its public name, and correct two docs
  docs/quickstart.md
  pyproject.toml
  tmol/io/_atomworks_reader.py
  tmol/ligand/_residue_builder.py
Due: black

docs: say that hydrogen optimization is off by default
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/user_guide/optimization.md
Due: none

fix: honour ramp_constraints against a schedule that states cst_frac
  tmol/relax/_fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

test: name the residues and atoms a metal residual sits on
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

fix: read a zero gradient where a metal site carries no restraint
  tmol/tests/score/metal/metal_oracle.py
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

test: ask the ideal geometry for what it can actually reach
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

fix: let a mirror-named cluster keep its reflection
  tmol/io/details/_metal_detection.py
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

Fix tol for metal geometry calcs
  tmol/io/details/_metal_geometry.py
Due: black

fix: let a bridged donor sit on a metal, not between two
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

fix: give the score comparison a floor at zero
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

fix: repair author numbering AtomWorks will not read
  pyproject.toml
  tmol/io/_atomworks_reader.py
Due: black

A fix for single atoms coordinating two metals: constrain (via metal_coordination) the angle between the coordinated metals.
  tmol/database/default/scoring/metal_coordination.yaml
  tmol/database/scoring/_metal_coordination.py
  tmol/score/metal/_metal_coordination_term.py
  tmol/score/metal/potentials/compiled.ops.cpp
  tmol/score/metal/potentials/metal_coordination_pose_score.hh
  tmol/score/metal/potentials/metal_coordination_pose_score.impl.hh
  tmol/score/metal/potentials/params.hh
  tmol/score/metal/potentials/potentials.hh
  tmol/tests/score/metal/metal_oracle.py
  tmol/tests/score/metal/test_metal_coordination.py
Due: clang-format, black

fix: keep the author-numbering repair inside what it can answer for
  tmol/io/_atomworks_reader.py
Due: black

fix: leave a carboxylic acid its proton
  tmol/ligand/_input_repair.py
  tmol/tests/ligand/test_input_repair.py
Due: black

fix: decide a tied geometry fit by geometry, not by rounding
  tmol/io/details/_metal_geometry.py
Due: black

fix: tell an acid from a diol by its carbonyl, not by its hydrogens
  tmol/ligand/_input_repair.py
  tmol/tests/ligand/test_input_repair.py
Due: black

Revert the carboxylate guard; keep which oxygen it charges
  tmol/ligand/_input_repair.py
  tmol/tests/ligand/test_input_repair.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

