Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

fix rosetta atom typing
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/atom_typing.py
  tmol/ligand/mol3d.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

fix graph isomorphism for atom renaming
  tmol/ligand/__init__.py
  tmol/ligand/residue_builder.py
Due: black

add graph match
  pyproject.toml
  tmol/ligand/graph_match.py
Due: black

add better test tracking in ci
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  tmol/__init__.py
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/conftest.py
  tmol/tests/score/ljlk/potentials/compiled.py
Due: black

fix OXT issue and resideu gaps
  tmol/io/pose_stack_from_biotite.py
Due: black

fix NMR stack issues
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/__init__.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

bump to 0.1.21
  pyproject.toml
  tmol/io/pose_stack_from_biotite.py
Due: black

add ci changes and atp test
  .github/workflows/ci.yml
  tmol/kinematics/compiled/compiled_inverse_kin.py
  tmol/numeric/bspline_compiled/compiled.py
  tmol/score/common/cubic_hermite_polynomial.py
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/tests/ligand/test_ligand_pipeline.py
Due: clang-format, black

update container builds
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
Due: none

Updated the example ligands
  scripts/ligand_prep/designs.prot.mmff94.mol2
  scripts/ligand_prep/designs.prot.smi
  scripts/ligand_prep/designs.smi
  scripts/ligand_prep/params/ref1.params
  scripts/ligand_prep/params/ref2.params
Due: none

update param db extensions
  pyproject.toml
  tmol/database/__init__.py
  tmol/database/scoring/__init__.py
  tmol/database/scoring/cartbonded.py
  tmol/database/scoring/elec.py
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/__init__.py
  tmol/ligand/mol3d.py
  tmol/ligand/registry.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

update hbond params etc
  tmol/database/default/scoring/hbond.yaml
  tmol/database/default/scoring/ljlk.yaml
  tmol/ligand/atom_typing.py
  tmol/ligand/params_io.py
Due: black

update openbabel compatibility export
  tmol/ligand/mol3d.py
Due: black

make hook usage consistent across chemical and scoring data
  tmol/database/__init__.py
  tmol/ligand/registry.py
Due: black

remove hashing of unfrozen db
  tmol/score/__init__.py
Due: black

fix for atp issue
  tmol/ligand/__init__.py
  tmol/ligand/mol3d.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/conformer_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/tests/pack/rotamer/test_include_current_sampler.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
Due: black

fix test selection
  tmol/tests/data/__init__.py
Due: black

bump to 0.1.21
  pyproject.toml
Due: none

address PR comments and add proper docstrings and type hints in the codebase
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  tmol/chemical/restypes.py
  tmol/database/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_biotite.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/ligand/__init__.py
  tmol/ligand/registry.py
  tmol/relax/fast_relax.py
  tmol/score/__init__.py
  tmol/tests/database/__init__.py
  tmol/tests/database/test_param_db.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

fix tests and make better docstrings
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/hbond.yaml
  tmol/database/default/scoring/ljlk.yaml
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/__init__.py
  tmol/ligand/mol3d.py
  tmol/ligand/registry.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

doublecheck in detail param dbs
  .github/workflows/ci.yml
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/ljlk.yaml
Due: none

fix benchmark ci
  .github/workflows/ci.yml
  pyproject.toml
Due: none

add new ci pipeline
  .github/workflows/ci.yml
  tmol/tests/score/common/uaid_util.py
Due: black

fix up ci
  .github/workflows/ci.yml
Due: none

fix build
  pyproject.toml
Due: none

speed up relax tests
  .github/workflows/ci.yml
  tmol/relax/fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Initial commit of genbonded code. Adds genbonded scorefunction and framework. Adds bondtypes to chemical database. Wraps a few things in jit wrappers.
  CMakeLists.txt
  tmol/chemical/patched_chemdb.py
  tmol/chemical/restypes.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/genbonded.py
  tmol/ligand/params_io.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
  tmol/score/__init__.py
  tmol/score/common/hash_util.py
  tmol/score/common/scoring_module.py
  tmol/score/genbonded/__init__.py
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/score/genbonded/potentials/__init__.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/compiled.py
  tmol/score/genbonded/potentials/genbonded_pose_score.cpu.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.cuda.cu
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/genbonded/potentials/params.hh
  tmol/score/genbonded/potentials/potentials.hh
  tmol/score/score_types.py
  tmol/score/terms/genbonded_creator.py
  tmol/tests/score/common/uaid_util.py
  tmol/tests/score/genbonded/__init__.py
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
Due: clang-format, black

Initial commit of genbonded code. Adds genbonded scorefunction and framework. Adds bondtypes to chemical database. Wraps a few things in jit wrappers. (#344)
  CMakeLists.txt
  tmol/chemical/patched_chemdb.py
  tmol/chemical/restypes.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/genbonded.py
  tmol/ligand/params_io.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
  tmol/score/__init__.py
  tmol/score/common/hash_util.py
  tmol/score/common/scoring_module.py
  tmol/score/genbonded/__init__.py
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/score/genbonded/potentials/__init__.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/compiled.py
  tmol/score/genbonded/potentials/genbonded_pose_score.cpu.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.cuda.cu
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/genbonded/potentials/params.hh
  tmol/score/genbonded/potentials/potentials.hh
  tmol/score/score_types.py
  tmol/score/terms/genbonded_creator.py
  tmol/tests/score/genbonded/__init__.py
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
Due: clang-format, black

fix ligand issues
  tmol/ligand/atom_typing.py
  tmol/ligand/detect.py
  tmol/ligand/params_io.py
  tmol/ligand/registry.py
  tmol/ligand/smiles.py
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/data/__init__.py
  tmol/tests/data/cif/184l__1__1.A__1.E.cif
  tmol/tests/data/ligand_ground_truth/designs.prot.smi
  tmol/tests/data/ligand_ground_truth/designs.smi
  tmol/tests/data/ligand_ground_truth/ref1.params
  tmol/tests/data/ligand_ground_truth/ref2.params
  tmol/tests/database/test_param_db.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
Due: black

add missing files
  pyproject.toml
  tmol/database/default/scoring/genbonded.yaml
  tmol/ligand/chemistry_tables.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/site_substructures.smarts
  tmol/tests/database/test_rosetta_ground_truth_sync.py
  tmol/tests/ligand/test_chemistry_tables.py
  tmol/tests/quality/test_api_quality_gates.py
  tmol/tests/quality/test_jit_wrapper_coverage.py
Due: black

remove subprocess call
  tmol/ligand/smiles.py
Due: black

avoid smiles path for mols
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/mol3d.py
  tmol/ligand/smiles.py
  tmol/optimization/lbfgs_armijo.py
  tmol/score/common/scoring_module.py
  tmol/tests/database/test_rosetta_ground_truth_sync.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

patch for dunbrack escaping for ligand
  tmol/pack/build_missing_sidechains.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

add defensive invariant with empty tensor for dunbrack
  tmol/pack/build_missing_sidechains.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
Due: black

add bond norm fix
  tmol/database/__init__.py
  tmol/database/chemical/__init__.py
  tmol/pack/build_missing_sidechains.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Add in rotamer scoring for gen_bonded
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
Due: clang-format, black

Fix JIT compilation
  tmol/kinematics/compiled/compiled_inverse_kin.py
  tmol/numeric/bspline_compiled/compiled.py
  tmol/tests/kinematics/segscan/test_segscan.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/common/uaid_util.py
Due: black

kinforest defensive fix
  tmol/pack/rotamer/single_residue_kinforest.py
Due: black

Updates for kintree code: a) completely remove depricated code; b) update reasonable_fold_forest so it uses the residue connections (rather than chain id) to figure out where jumps should go.
  tmol/kinematics/fold_forest.py
  tmol/kinematics/old/builder.py
  tmol/kinematics/scan_ordering.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_fold_forest.py
  tmol/tests/kinematics/test_scan_ordering.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/relax/test_fast_relax.py
  tmol/tests/score/bonded_atom/test_bonded_atom.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

