Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

update dslf tolerance a bit
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Enable ligand proton chi sampling by default (#396)
  tmol/chemical/ideal_coords.py
  tmol/database/chemical/__init__.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/generated_geometry.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/preparation.py
  tmol/ligand/residue_builder.py
  tmol/ligand/site_substructures.smarts
  tmol/ligand/structure_to_smiles.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/score/common/gen_coord.hh
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/ligand/test_cif_to_dg.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

Add stable PyTorch 2.13 and manylinux wheel support (#398)
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  CMakeLists.txt
  DEVELOPMENT.md
  README.md
  pyproject.toml
  scripts/repair_linux_wheel.sh
  scripts/validate_release_manifest.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Add to() method to PoseStack for coordinate dtype conversion; add dtype-conversion code to fast_relax
  tmol/__init__.py
  tmol/io/pose_stack_from_biotite.py
  tmol/pose/pose_stack.py
  tmol/relax/fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Fix warning after numpy.array --> torch.tensor conversion
  tmol/pack/rotamer/build_rotamers.py
Due: black

update fragment scoring
  .gitignore
  tmol/database/chemical/__init__.py
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/__init__.py
  tmol/ligand/fragmentation.py
  tmol/ligand/preparation.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/score_utils.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: clang-format, black

make code cleaner
  tmol/ligand/fragmentation.py
  tmol/ligand/preparation.py
  tmol/score/score_utils.py
Due: black

Small updates
  notebooks/tmol_how_to_guide.ipynb
Due: none

fix: harden fragmented ligand scoring
  tmol/ligand/README.md
  tmol/ligand/fragmentation.py
  tmol/ligand/preparation.py
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/score_utils.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: clang-format, black

Add coordinate constraint support (#312)
  tmol/__init__.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/utility.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/kin_minimized_1ubq.pdb
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Add another test for kin module
  tmol/tests/kinematics/test_script_modules.py
Due: black

More-involved-than-it-should-be fix for lk_ball and CYS SH.
  tmol/database/default/chemical/chemical.yaml
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/params.py
Due: black

bugfix for kintree stencil creation (#319)
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_script_modules.py
Due: black

Disable bump_check in fast_relax until we prove to ourselves that it doesn't make relax worse
  tmol/pack/compiled/compiled.impl.hh
  tmol/relax/fast_relax.py
Due: clang-format, black

Small progress
  notebooks/tmol_how_to_guide.ipynb
Due: none

Forward progress!
  notebooks/tmol_how_to_guide.ipynb
Due: none

Fix bugs in ScoreFunction relating to turning on and off terms
  notebooks/tmol_how_to_guide.ipynb
  tmol/score/score_function.py
Due: black

Forward progress!
  notebooks/tmol_how_to_guide.ipynb
  tmol/__init__.py
  tmol/score/constraint/utility.py
Due: black

Aleaverfay/bump check (#363)
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/impose_rotamers.py
  tmol/pack/pack_rotamers.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/rotamer_set.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/relax/fast_relax.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/constraint/utility.py
  tmol/score/energy_term.py
  tmol/tests/data/pdb/1ubq.pdb
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_block_scoring.yaml
  tmol/tests/pack/rotamer/gold_repack_1ubq_rotamers.pdb
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/test_load_ig.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

Refactor ligand conformer generation code.
  tmol/ligand/conformer_generation.py
  tmol/ligand/detect.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/preparation.py
  tmol/tests/ligand/test_ligand_entry_paths.py
Due: black

Forward progress
  notebooks/tmol_how_to_guide.ipynb
  tmol/__init__.py
  tmol/relax/fast_relax.py
Due: black

replace hand-rolled graph matcher with network-x
  tmol/ligand/graph_match.py
Due: black

Add a very small nondeterminism tol to kin test
  tmol/tests/kinematics/test_script_modules.py
Due: black

Dead code removal. move test-only code to tmol.test
  scripts/ligand_prep/README.md
  scripts/ligand_prep/build_ligand_test_ground_truth.sh
  scripts/ligand_prep/designs.prot.mmff94.mol2
  scripts/ligand_prep/designs.prot.smi
  scripts/ligand_prep/designs.smi
  scripts/ligand_prep/legacy/README.md
  scripts/ligand_prep/legacy/prepare_smiles.sh
  scripts/ligand_prep/legacy/run_obabel.sh
  scripts/ligand_prep/legacy/run_params.sh
  scripts/ligand_prep/params/ref1.params
  scripts/ligand_prep/params/ref2.params
  scripts/ligand_prep/validate_dud80.py
  tmol/ligand/atom_typing.py
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/equivalence.py
  tmol/tests/ligand/fixture_integrity.py
  tmol/tests/ligand/params_reference.py
  tmol/tests/ligand/parity_manifest.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_fixture_integrity.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
  tmol/tests/ligand/test_params_reference.py
  tmol/tests/ligand/test_parity_manifest.py
  tmol/tests/ligand/test_serialization_consistency.py
  tmol/tests/ligand/test_smiles_semantic.py
Due: black

Update README to reflect refactor
  tmol/ligand/README.md
Due: none

feat: restore fragmented ligands on export
  tmol/io/pose_stack_from_biotite.py
  tmol/io/write_pose_stack_pdb.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/fragmentation.py
  tmol/ligand/preparation.py
  tmol/pack/impose_rotamers.py
  tmol/pose/pose_stack.py
  tmol/score/score_utils.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: black

Add one more build: python 3.12, pytorch 2.12, cuda 13.0
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Azide fix. Collinear atom fix.
  tmol/kinematics/compiled/common.hh
  tmol/ligand/rdkit_mol.py
Due: clang-format, black

Fix validation list to include new build
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Remove ligand graph search from cif->params pipeline. instead, carry atom mapping through cif->smiles->cif path
  tmol/ligand/conformer_generation.py
  tmol/ligand/detect.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/ligand/structure_to_smiles.py
Due: black

Update ligand README
  tmol/ligand/README.md
  tmol/ligand/preparation.py
Due: black

Fix pipeline for structures without formal charges
  tmol/ligand/rdkit_mol.py
Due: black

Oof. One more place I have to say "this is a wheel I meant to make".
  .github/workflows/publish.yml
  pyproject.toml
Due: none

One more smiles correction
  tmol/ligand/rdkit_mol.py
Due: black

Small fixes for non-H containing inputs
  tmol/ligand/rdkit_mol.py
  tmol/ligand/structure_to_smiles.py
Due: black

Fix for N-O groups with deprotonated inputs
  tmol/ligand/rdkit_mol.py
Due: black

Fix broken tests by: a) update paths; b) additional 'best practices' correction
  tmol/ligand/README.md
  tmol/ligand/rdkit_mol.py
  tmol/ligand/structure_to_smiles.py
  tmol/tests/data/__init__.py
  tmol/tests/ligand/build_pli_ligand_cifs.py
  tmol/tests/ligand/parity_manifest.py
  tmol/tests/ligand/test_cif_to_dg.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_fixture_integrity.py
  tmol/tests/ligand/test_ligand_entry_paths.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
  tmol/tests/ligand/test_params_reference.py
  tmol/tests/ligand/test_parity_manifest.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

