Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

feat: modernize tmol build setup
  .pre-commit-config.yaml
  Dockerfile
  README.md
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
  dev_setup
  docker-compose.yml
  environments/linux-cuda/build_requirements.sh
  environments/linux-cuda/env.yml
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  environments/linux-cuda/requirements-linux-cuda.txt
  environments/macos-cpu/env.yml
  environments/macos-cpu/requirements-dev-macos-cpu.txt
  environments/macos-cpu/requirements-macos-cpu.txt
  pyproject.toml
  pytest.ini
  requirements-dev.in
  requirements.in
Due: none

update buildkite to work with new dependency setup
  .buildkite/bin/benchmark
  .buildkite/bin/cleanup
  .buildkite/bin/linting
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
  .buildkite/pipeline.yml
Due: none

remove obsolute root scripts
  .codecov.yml
  .dockerignore
  .docs.watchmedo.yml
  .envrc
  .lvimrc
  .post-checkout
  .ycm_extra_conf.py
Due: black

fix: use relative source paths in setup.py (setuptools requirement)
  setup.py
Due: black

fix: update license terms and set correct container images
  .github/workflows/build_wheel.yml
  pyproject.toml
Due: none

add github actions for wheel build
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

ci: trigger wheel build on push to precompiled_extensions branch
  .github/workflows/build_wheel.yml
  MANIFEST.in
  setup.py
  tmol/_cpp_lib.py
  tmol/tests/pack/rotamer/dunbrack/test_cpu.cpp
  tmol/tests/pack/rotamer/dunbrack/test_cuda.cu
  tmol/tests/score/bonded_atom/test_cpu.cpp
  tmol/tests/score/bonded_atom/test_cuda.cu
  tmol/tests/score/common/dispatch/test_cpu.cpp
  tmol/tests/score/common/dispatch/test_cuda.cu
  tmol/tests/utility/datastructures/__init__.py
Due: clang-format, black

refactor: split CI build from publish, fix local_scheme for PyPI
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

fix: update outdated workflows
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

fix ruff
  .github/workflows/_build_wheel.yml
  MANIFEST.in
  setup.py
Due: black

fix: sdist to TestPyPI, wheels to GitHub Release (PyPI rejects + in filenames)
  .github/workflows/publish.yml
Due: none

feat: proper upload of prebuilt binaries and documentation
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
  README.md
Due: none

fix: switch to guess-next-dev version scheme (no-guess-dev breaks on bumps)
  pyproject.toml
Due: none

ci: add push trigger to publish workflow for testing
  .github/workflows/publish.yml
Due: none

release: v0.1.1
  pyproject.toml
Due: none

added JIT and precompiled path functionality
  .github/workflows/_build_wheel.yml
  README.md
  pyproject.toml
  tmol/__init__.py
  tmol/_cuda_env.py
  tmol/_load_ext.py
  tmol/io/details/compiled/compiled.py
  tmol/kinematics/compiled/compiled_ops.py
  tmol/pack/compiled/compiled.py
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pose/compiled/apsp_ops.py
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/cartbonded/potentials/compiled.py
  tmol/score/constraint/potentials/compiled.py
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/elec/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.py
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/lk_ball/potentials/compiled.py
  tmol/utility/cpp_extension.py
Due: black

refactor: hardcode version, remove setuptools-scm (flash-attention pattern)
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
  setup.py
Due: black

fix: compute version from git describe, bypass setuptools-scm guessing
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
Due: none

update buildite pipelines
  .buildkite/bin/setup
  .buildkite/pipeline.yml
Due: none

updated buildkite to have torch as build dependency
  pyproject.toml
Due: none

new torch setup for buildkite
  .buildkite/bin/setup
Due: none

switch buildkite pipelien to use docker images instead of host-based runtime
  .buildkite/pipeline.yml
Due: none

update README for new build options
  README.md
Due: none

update launch settings
  .github/workflows/_build_wheel.yml
  README.md
  setup.py
  tmol/utility/cpp_extension.py
Due: black

adjust buildkite pipelien:
  .buildkite/pipeline.yml
Due: none

ci: fix Buildkite pipeline ordering + trigger on jit_and_precompiled branch
  .buildkite/pipeline.yml
  .github/workflows/build_wheel.yml
Due: none

added buildkite setup
  .buildkite/hooks/command
  .buildkite/pipeline.yml
  .github/workflows/ci.yml
Due: none

remove local installs from constraints
  .buildkite/hooks/command
  .github/workflows/ci.yml
Due: none

freeze package versions
  .buildkite/hooks/command
  .github/workflows/ci.yml
Due: none

update build:
  .buildkite/hooks/command
  .github/workflows/ci.yml
Due: none

update ci workflow
  .buildkite/hooks/command
  .github/workflows/_build_wheel.yml
  .github/workflows/ci.yml
Due: none

ci: fix Buildkite setup — set CUDA arch early, skip build during pip install
  .buildkite/bin/setup
Due: none

bumped pyarrow
  pyproject.toml
Due: none

bump ps utils
  pyproject.toml
Due: none

fix local installs
  .buildkite/hooks/command
  .github/workflows/ci.yml
Due: none

add build updates and README restructure
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
  README.md
  pyproject.toml
Due: none

add builds
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

adjust build process to save memory
  .buildkite/hooks/command
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

remove unused fixtures
  tmol/tests/kinematics/segscan/test_segscan.py
  tmol/tests/score/common/geom/test_cuda.py
Due: black
