Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Reuse fused rotamer dispatch in backward
  tmol/score/_score_function.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Reuse fused rotamer dispatch in backward (#484)
  tmol/score/_score_function.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Skip discarded fused rotamer scores in backward
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format

Skip discarded fused rotamer scores in backward (#485)
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format

Avoid CPU LKBall shared-memory staging copies
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Avoid CPU LKBall shared-memory staging copies (#486)
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Simplify clamped LKBall ramp evaluation
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Simplify clamped LKBall ramp evaluation (#487)
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Reuse electrostatic dielectric exponentials
  tmol/score/elec/potentials/potentials.hh
Due: clang-format

Reuse electrostatic dielectric exponentials (#488)
  tmol/score/elec/potentials/potentials.hh
Due: clang-format

Reuse LKBall host type parameters
  tmol/score/lk_ball/_lk_ball_energy_term.py
Due: black

Reuse LKBall host type parameters (#489)
  tmol/score/lk_ball/_lk_ball_energy_term.py
Due: black

Keep atom-type annotation parameters on CPU
  tmol/score/_atom_type_dependent_term.py
Due: black

Keep atom-type annotation parameters on CPU (#490)
  tmol/score/_atom_type_dependent_term.py
Due: black

Cache hydrogen-bond atom-type mappings
  tmol/score/hbond/_hbond_dependent_term.py
Due: black

Cache hydrogen-bond atom-type mappings (#491)
  tmol/score/hbond/_hbond_dependent_term.py
Due: black

Cache backbone torsion table mappings
  tmol/score/backbone_torsion/_bb_torsion_energy_term.py
Due: black

Cache backbone torsion table mappings (#492)
  tmol/score/backbone_torsion/_bb_torsion_energy_term.py
Due: black

Pack Dunbrack splines before device transfer
  tmol/score/dunbrack/_params.py
Due: black

Pack Dunbrack splines before device transfer (#493)
  tmol/score/dunbrack/_params.py
Due: black

Cache Dunbrack block annotation maps
  tmol/score/dunbrack/_dunbrack_energy_term.py
Due: black

Cache Dunbrack block annotation maps (#494)
  tmol/score/dunbrack/_dunbrack_energy_term.py
Due: black

Cache atom-type parameter resolvers
  tmol/score/_chemical_database.py
  tmol/tests/score/test_atom_type_dependent_term.py
Due: black

Fill hydrogen-bond parameter tables directly
  tmol/score/hbond/_params.py
Due: black

Simplify hydrogen-bond type indexing
  tmol/score/hbond/_params.py
Due: black

Build ragged tensor metadata in bulk
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Avoid temporary spline wrappers during packing
  tmol/numeric/_bspline.py
  tmol/score/dunbrack/_params.py
Due: black

Accelerate score parameter setup (#495)
  tmol/numeric/_bspline.py
  tmol/score/_chemical_database.py
  tmol/score/dunbrack/_params.py
  tmol/score/hbond/_params.py
  tmol/tests/score/test_atom_type_dependent_term.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Deduplicate CartBonded parameter tables
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Deduplicate CartBonded parameter tables (#496)
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Use direct atom-type indices during setup
  tmol/score/_atom_type_dependent_term.py
  tmol/score/hbond/_hbond_dependent_term.py
Due: black

Use direct atom-type indices during setup (#497)
  tmol/score/_atom_type_dependent_term.py
  tmol/score/hbond/_hbond_dependent_term.py
Due: black

Pack LKBall host parameters once
  tmol/score/lk_ball/_lk_ball_energy_term.py
Due: black

Pack LKBall host parameters once (#498)
  tmol/score/lk_ball/_lk_ball_energy_term.py
Due: black

Batch B-spline coefficient setup
  tmol/numeric/_bspline.py
  tmol/numeric/bspline_compiled/__init__.py
  tmol/numeric/bspline_compiled/_compiled.py
  tmol/numeric/bspline_compiled/bspline.pybind.cpp
  tmol/score/dunbrack/_params.py
  tmol/tests/numeric/test_bspline.py
Due: clang-format, black

Batch B-spline coefficient setup (#499)
  tmol/numeric/_bspline.py
  tmol/numeric/bspline_compiled/__init__.py
  tmol/numeric/bspline_compiled/_compiled.py
  tmol/numeric/bspline_compiled/bspline.pybind.cpp
  tmol/score/dunbrack/_params.py
  tmol/tests/numeric/test_bspline.py
Due: clang-format, black

Reuse GenBonded parameter lookups
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
Due: black

Reuse GenBonded parameter lookups (#500)
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
Due: black

Avoid unused math errno checks in native kernels
  CMakeLists.txt
  tmol/tests/utility/test_cpp_extension.py
  tmol/utility/_cpp_extension.py
Due: black

Avoid unused math errno checks in native kernels (#501)
  CMakeLists.txt
  tmol/tests/utility/test_cpp_extension.py
  tmol/utility/_cpp_extension.py
Due: black
