Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Ugh. Re-enable debugging code
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
Due: clang-format

Fix bug in determining which SPSs are roots of BW scan paths
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Fix bug in pointing jump_ff_edge_rooted_at_scan_path_seg_bw TView at jump_ff_edge_rooted_at_scan_path_seg
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/utility/tensor/TensorAccessor.h
Due: clang-format, black

Flesh out edge-delay calculation unit tests.
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Add another topology for fold-tree unit tests: multiple jumps leaving a single block
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Turn duplicated test harness code into fixtures
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: black

Fix device for several unit tests
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Remove debugging statements
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Add some more unit tests
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
Due: clang-format, black

Adding private hint to constraint set
  tmol/pose/pose_stack.py
  tmol/score/constraint/constraint_energy_term.py
Due: black

linting
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

use header only nvtx3
  tmol/utility/nvtx.hh
Due: clang-format

flyby fix issue with latest pytest-benchmark
  requirements-dev.in
  tmol/tests/benchmark.py
Due: black

flyby enable verbose output for compilation via env variable
  tmol/utility/cpp_extension.py
Due: black

Fix env build issue
  .buildkite/bin/setup
Due: none

take 2
  .buildkite/bin/setup
Due: none

take 3
  .buildkite/bin/setup
Due: none

Fix benchmarking bug
  .buildkite/bin/benchmark
Due: none

Fix env build issue (#307)
  .buildkite/bin/benchmark
  .buildkite/bin/setup
Due: none

fixing bug in tests for the constraint energy term.
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Testing buildkite benchmarking
  .buildkite/bin/benchmark
Due: none

further buildkite experimentation
  .buildkite/bin/benchmark
Due: none

more buildkite
  .buildkite/bin/benchmark
Due: none

constraint basics working.
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Use lambdas instead.
  tmol/score/constraint/constraint_whole_pose_module.py
Due: black

Initial commit for constraints
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/score/score_types.py
  tmol/score/terms/constraint_creator.py
  tmol/tests/score/constraint/__init__.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Adding constraint_set class, turning off update_baselines.
  tmol/pose/constraint_set.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

comments
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

remove unused var
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

almost done
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

removing extraneous includes
  tmol/pose/constraint_set.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

adding more test coverage
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

progress
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black
