Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Let the packer rebuild missing NCAA sidechains when a library is defined
  tmol/io/_pose_stack_construction.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/details/_build_missing_context.py
  tmol/io/details/_build_missing_leaf_atoms.py
  tmol/ligand/_conformer_generation.py
  tmol/ligand/_rdkit_mol.py
Due: black

Some fixes for NA-coordinated metals with term patches (duplicating what was done for peptides).
  tmol/database/_patched_chemdb.py
  tmol/ligand/_polymer_profile.py
Due: black

Fix test failures (assertion based on superposition and TTD prcessing)
  tmol/io/details/_build_missing_nonpolymer_atoms.py
  tmol/ligand/_polymer_profile.py
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

fix: stop passing load_pdb an argument it never read
  tmol/io/_atomworks_reader.py
Due: black

Update golder for NCAA test
  tmol/tests/data/noncanonical_scores.yaml
Due: none

test: check that tmol keeps the hydrogens AtomWorks placed
  tmol/tests/io/test_atomworks_hydrogen_parity.py
Due: black

perf: stop carrying the bond-separation table twice
  tmol/io/_pose_stack_construction.py
  tmol/ligand/_fragmentation.py
  tmol/pack/_impose_rotamers.py
  tmol/pack/_pack_rotamers.py
  tmol/pose/_pose_stack.py
  tmol/pose/_pose_stack_builder.py
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

ci: give the x86_64 lane the worker count the suite fits in
  .github/workflows/ci.yml
Due: none

fix: widen the fused ljlk-elec tile to the connections a block can have
  tmol/io/_atomworks_reader.py
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format, black

perf: pack a pose only as wide as the chemistry it holds
  tmol/chemical/_restypes.py
  tmol/io/_canonical_ordering.py
  tmol/io/_pose_stack_from_biotite.py
Due: black

fix: let AtomWorks decide an unstated bond order where it decides the rest
  tmol/io/_atomworks_reader.py
Due: black

Revert "fix: let AtomWorks decide an unstated bond order where it decides the rest"
  tmol/io/_atomworks_reader.py
Due: black

fix: read a PDB's bonds as AtomWorks now reports them
  tmol/io/_atomworks_reader.py
Due: black

chore: pin AtomWorks to the merged #410, #411 and #416 heads
  pyproject.toml
Due: none

fix: honour ramp_constraints against a schedule that states cst_frac
  tmol/relax/_fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

docs: point the install at the release wheels and state the no_optH default
  README.md
  docs/quickstart.md
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/user_guide/optimization.md
Due: none

chore: move the relax fix and the doc corrections to their own PRs
  README.md
  docs/quickstart.md
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/user_guide/optimization.md
  tmol/relax/_fast_relax.py
  tmol/tests/optimization/test_lbfgs_compact_semantics.py
  tmol/tests/relax/test_fast_relax.py
Due: black

refactor: protonate with the rule inventory AtomWorks ships
  tmol/ligand/_dimorphite_dl.py
  tmol/ligand/site_substructures.smarts
  tmol/tests/ligand/test_dimorphite_vendor.py
Due: black

chore: trim the review nits in core
  tmol/io/_cif.py
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_conjugation_patches.py
  tmol/ligand/_input_repair.py
  tmol/ligand/_rdkit_mol.py
  tmol/tests/io/test_atomworks_hydrogen_parity.py
  tmol/tests/score/common/test_cuda_graph.py
Due: black

refactor: protonate with the rule inventory AtomWorks ships
  tmol/ligand/_dimorphite_dl.py
  tmol/ligand/site_substructures.smarts
  tmol/tests/io/test_atomworks_reader.py
  tmol/tests/ligand/test_dimorphite_vendor.py
Due: black

fix: refuse a residue type with more connections than the kernels hold
  tmol/pose/_packed_block_types.py
  tmol/tests/pose/test_packed_block_types.py
Due: black

chore: drop two parameters metal coordination reading never used
  tmol/io/_pose_stack_from_biotite.py
Due: black

docs: point the install at the release wheels
  README.md
  docs/quickstart.md
Due: none

chore: pin AtomWorks with the ring hydrogen read by position
  pyproject.toml
Due: none

fix: optimize hydrogens by default when building a pose from a structure
  docs/api/io.rst
  tmol/io/_pose_stack_from_biotite.py
Due: black

Record residue polymer identity in biotite_from_pose_stack export
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: black

Test that inconsistent block types are rejected in the polymer-identity export
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

chore: import protonation from atomworks.experimental and pin the stack that moves it
  pyproject.toml
  tmol/io/_pose_stack_from_sequence.py
  tmol/ligand/_dimorphite_dl.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_polymer_builder.py
  tmol/ligand/_residue_builder.py
  tmol/tests/io/test_atomworks_hydrogen_parity.py
Due: black

feat: take hydrogens and protonation states from AtomWorks and run optH only at the end
  pyproject.toml
  tmol/database/chemical/__init__.py
  tmol/io/_canonical_form.py
  tmol/io/_metal_coordination.py
  tmol/io/_pose_stack_construction.py
  tmol/io/_pose_stack_deconstruction.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/_protonation.py
  tmol/io/details/_build_missing_leaf_atoms.py
  tmol/io/details/_metal_detection.py
  tmol/io/details/_protonation_variants.py
  tmol/ligand/_detect.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_preparation.py
  tmol/ligand/_residue_builder.py
  tmol/pack/_impose_rotamers.py
  tmol/pack/_pack_rotamers.py
  tmol/pose/_pdb_info.py
  tmol/pose/_pose_stack_builder.py
  tmol/tests/data/noncanonical_scores.yaml
  tmol/tests/io/test_atomworks_reader.py
  tmol/tests/io/test_metal_detection.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/ligand/test_atomworks_modified_components.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_noncanonical_fixture_contracts.py
  tmol/tests/score/test_mirror_image_scoring.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

