Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.7
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Validate scores computed by res-centric scoring code against score-graph code
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/ljlk/test_score_graph.py
Due: black

Add end-to-end WholePoseScoringModule unit test
  tmol/score/atom_type_dependent_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/score_function.py
  tmol/score/terms/__init__.py
  tmol/score/terms/ljlk_creator.py
  tmol/score/terms/term_creator.py
Due: black

Add forgotten score-function unit test; add perf benchmark for it, too
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/score_function.py
  tmol/tests/score/test_score_function.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Add sphere overlap check to lj/lk calculation
  tmol/score/bond_dependent_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/score/test_score_function.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Disable derivative summation (not comuptation) for a 34x speedup. hmm.
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Add a second test to make sure when the warp is incomplete that the warp_segreduce algorithm still works
  tmol/tests/score/common/test_warp_segreduce.py
  tmol/tests/score/common/warp_segreduce.cpp
  tmol/tests/score/common/warp_segreduce.cuda.cu
  tmol/tests/score/common/warp_segreduce.hh
Due: clang-format, black

Add method for performing a reduction with a certain stride
  tmol/score/common/warp_stride_reduce.hh
  tmol/tests/score/common/test_warp_stride_reduce.py
  tmol/tests/score/common/warp_stride_reduce.cpp
  tmol/tests/score/common/warp_stride_reduce.cuda.cu
  tmol/tests/score/common/warp_stride_reduce.hh
Due: clang-format, black

Add partial template specialization for warp-segreduce and warp-stride-reduce
  tmol/score/common/warp_segreduce.hh
  tmol/score/common/warp_stride_reduce.hh
  tmol/tests/score/common/test_warp_segreduce.py
  tmol/tests/score/common/test_warp_stride_reduce.py
  tmol/tests/score/common/warp_segreduce.cpp
  tmol/tests/score/common/warp_segreduce.cuda.cu
  tmol/tests/score/common/warp_segreduce.hh
  tmol/tests/score/common/warp_stride_reduce.cpp
  tmol/tests/score/common/warp_stride_reduce.cuda.cu
  tmol/tests/score/common/warp_stride_reduce.hh
Due: clang-format, black

Enabling lj-inter-residue derivative accumulation with warp reduction
  tmol/score/common/accumulate.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/score/test_scoreterm_benchmarks.py
Due: clang-format, black

Add derivative accumulation for intra-residue lj/lk evaluation
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Add a deriv-check unit test for lj/lk pose scoring
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

ok -- do a stupid thing:
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Write atomic derivatives directly to global memory
  tmol/score/common/warp_segreduce.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/torch.py
Due: clang-format, black

AAAAAAA can't figure out why WarpSegReduceShfl is so slow!
  tmol/score/common/warp_segreduce.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Fix error in the 4x4 identity matrix used in HT-based kinematics
  tmol/kinematics/compiled/compiled.cuda.cu
Due: clang-format

Add version of WarpSegReduce with intrinsics, explicit loop unrolling
  tmol/score/common/warp_segreduce.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/score/common/warp_segreduce.cuda.cu
Due: clang-format

Add benchmark for WarpSegReduceShfl
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/score/common/test_warp_segreduce.py
  tmol/tests/score/common/warp_segreduce.cpp
  tmol/tests/score/common/warp_segreduce.cuda.cu
  tmol/tests/score/common/warp_segreduce.hh
Due: clang-format, black

Restore direct atomicAdd to global memory
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Rework PoseStack to hold coords as a 3d tensor w/ block offsets
  tmol/pose/pose_stack.py
  tmol/tests/pose/test_pose_stack.py
  tmol/utility/tensor/common_operations.py
Due: black

Rework ljlk pose scoring to handle 3D tensor
  tmol/pose/pose_stack.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/pose/test_pose_stack.py
Due: clang-format, black

Fix error in the 4x4 identity matrix used in HT-based kinematics (#239)
  tmol/kinematics/compiled/compiled.cuda.cu
Due: clang-format

Rotamer building with updated coordinate layout now working
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pose/pose_stack.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

add meta.yaml
  tmol/meta.yaml
Due: none

put all requirements in meta.yaml
  tmol/meta.yaml
Due: none

fix blas dependency line
  tmol/meta.yaml
Due: none

fix libstdcxx-ng line
  tmol/meta.yaml
Due: none

Fix bounding sphere calculations
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pose/pose_stack.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
Due: black

Refactoring PoseStack
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pose/pose_stack.py
  tmol/tests/conftest.py
  tmol/tests/pose/__init__.py
  tmol/tests/pose/test_pose_stack.py
Due: black

test meta.yaml
  tmol/meta.yaml
Due: none

Add unit tests for refactored PoseStack properties / methods
  tmol/pose/pose_stack.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/torch.py
Due: black

Add ordered torsion data to PackedBlockTypes
  tmol/chemical/restypes.py
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pose/packed_block_types.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/pose/test_packed_block_tyeps.py
  tmol/utility/tensor/common_operations.py
Due: black

Add redundant int64 data to PoseStack; add code for finding torsion-defining bonds
  tmol/pose/packed_block_types.py
  tmol/pose/pose_stack.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Prune out missing connections from the set of torsion bonds
  tmol/chemical/restypes.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Expand named-torsion resolution tests to cover multiple poses
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Add bond indices to PackedBlockTypes
  tmol/pose/packed_block_types.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/common_operations.py
Due: black

Add forgotten file
  tmol/pose/pose_kinematics.py
Due: black

Retrieve the atom indices for all bonds in a PoseStack
  tmol/chemical/restypes.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_kinematics.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Beginning to flesh out a collection of FoldTrees: a FoldForest
  tmol/chemical/restypes.py
  tmol/kinematics/builder.py
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/datatypes.py
  tmol/kinematics/fold_forest.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_kinematics.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Save progress with FoldForest validation
  tmol/kinematics/check_fold_forest.py
  tmol/tests/kinematics/test_check_fold_forest.py
Due: black

Retrieve only the inter-block bonds present in the fold forest
  tmol/kinematics/check_fold_forest.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_kinematics.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black
