Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Fix an arg error in the ref annotate test. (#278)
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Create the atom index mapping to/from canonical/pose-stack ordering
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Add unit test for new atom-index mapping code
  tmol/io/pose_stack_construction.py
  tmol/tests/io/test_pose_stack_construction.py
Due: black

Fix unreal_blocks device bug
  tmol/io/chain_deduction.py
Due: black

Fix bug in Dijkstra APSP with edge-list reset from previous iteration
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: clang-format, black

Linting
  tmol/tests/io/test_pose_stack_construction_benchmark.py
Due: black

Fix torch/numpy confusion
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

Convert split lj/lk to use macros instead of local captured lambdas
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Add comments to ljlk macros. Only compute gradients in forward when requested.
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Wrap the call to C++ apsp_op w/ a check to enforce the threshold in CUDA
  .buildkite/bin/testing_no_jit
  tmol/pose/compiled/apsp_ops.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
Due: black

Rename testing_no_jit to testing_debug_no_jit
  .buildkite/bin/testing_debug_no_jit
Due: none

Update pipeline.yml following renaming
  .buildkite/pipeline.yml
Due: none

Remove debugging statement
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
Due: black

Aleaverfay/create atom index mapping b/w PoseStack and CanonicalForm (#279)
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_pose_stack_construction.py
Due: black

Aleaverfay/fast cpu apsp (#274)
  .buildkite/bin/testing_debug_no_jit
  .buildkite/pipeline.yml
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/pose/compiled/apsp.cuda.cu
  tmol/pose/compiled/apsp.hh
  tmol/pose/compiled/apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/utility/datastructures/in_place_heap.cpp
  tmol/tests/utility/datastructures/test_in_place_heap.py
  tmol/utility/cpp_extension.py
  tmol/utility/datastructures/in_place_heap.h
Due: clang-format, black

Saving progress
  tmol/io/canonical_ordering.py
Due: black

Pausing effort on this branch
  tmol/__init__.py
  tmol/chemical/patched_chemdb.py
  tmol/chemical/restypes.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/io/canonical_ordering.py
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/system/io.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/io/test_canonical_form.py
Due: black

Save progress
  tmol/io/canonical_ordering.py
  tmol/io/details/select_from_canonical.py
Due: black

Saving progress
  tmol/io/details/left_justify_canonical_form.py
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
Due: black

Progress
  tmol/chemical/patched_chemdb.py
  tmol/database/default/chemical/chemical.yaml
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/tests/io/test_canonical_form.py
Due: black

Saving progress
  tmol/chemical/patched_chemdb.py
  tmol/io/canonical_ordering.py
  tmol/tests/io/test_canonical_form.py
Due: black

update a few comments
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Updates to support numpy 1.24 and newer
  environments/env-dev.yml
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/pose_stack_builder.py
  tmol/score/modules/dunbrack.py
  tmol/tests/data/__init__.py
Due: black

Update numba for numpy 1.24
  environments/env-dev.yml
Due: none

Update llvmlite for numpy 1.24
  environments/env-dev.yml
Due: none

Updates to support numpy 1.24 and newer (#280)
  environments/env-dev.yml
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/pose_stack_builder.py
  tmol/score/modules/dunbrack.py
  tmol/tests/data/__init__.py
Due: black

Semi-working prototype of CanonicalOrdering in I/O
  tmol/chemical/patched_chemdb.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/io/canonical_ordering.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/compiled/resolve_his_taut.hh
  tmol/io/details/compiled/resolve_his_taut.impl.hh
  tmol/io/details/disulfide_search.py
  tmol/io/details/his_taut_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_canonical_form.py
Due: clang-format, black

Remove rama and omega
  tmol/score/modules/omega.py
  tmol/score/modules/rama.py
  tmol/score/omega/__init__.py
  tmol/score/omega/potentials/__init__.py
  tmol/score/omega/potentials/compiled.cpu.cpp
  tmol/score/omega/potentials/compiled.cuda.cu
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/compiled.py
  tmol/score/omega/potentials/dispatch.hh
  tmol/score/omega/potentials/dispatch.impl.hh
  tmol/score/omega/potentials/params.hh
  tmol/score/omega/potentials/potentials.hh
  tmol/score/omega/script_modules.py
  tmol/score/rama/__init__.py
  tmol/score/rama/params.py
  tmol/score/rama/potentials/__init__.py
  tmol/score/rama/potentials/compiled.cpu.cpp
  tmol/score/rama/potentials/compiled.cuda.cu
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/score/rama/potentials/compiled.py
  tmol/score/rama/potentials/dispatch.hh
  tmol/score/rama/potentials/dispatch.impl.hh
  tmol/score/rama/potentials/params.hh
  tmol/score/rama/potentials/potentials.hh
  tmol/score/rama/script_modules.py
  tmol/tests/score/omega/__init__.py
  tmol/tests/score/omega/test_script_modules.py
Due: clang-format, black

Remove dun
  tmol/score/dunbrack/params.py
  tmol/score/dunbrack/potentials/compiled.cpu.cpp
  tmol/score/dunbrack/potentials/compiled.cuda.cu
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/dunbrack/potentials/dispatch.hh
  tmol/score/dunbrack/potentials/dispatch.impl.hh
  tmol/score/dunbrack/script_modules.py
  tmol/score/modules/constraint.py
  tmol/score/modules/dunbrack.py
  tmol/tests/score/dunbrack/test_dun_param_resolver.py
Due: clang-format, black

Remove old elec code
  tmol/score/elec/params.py
  tmol/score/elec/potentials/compiled.cpu.cpp
  tmol/score/elec/potentials/compiled.cuda.cu
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.py
  tmol/score/elec/potentials/dispatch.hh
  tmol/score/elec/potentials/dispatch.impl.hh
  tmol/score/elec/script_modules.py
  tmol/score/modules/elec.py
  tmol/tests/score/elec/test_params.py
  tmol/tests/score/elec/test_script_modules.py
Due: clang-format, black

Remove old hbond code
  tmol/score/hbond/identification.py
  tmol/score/hbond/identification.pybind.cc
  tmol/score/hbond/potentials/compiled.cpu.cpp
  tmol/score/hbond/potentials/compiled.cuda.cu
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.pybind.cpp
  tmol/score/hbond/potentials/dispatch.hh
  tmol/score/hbond/potentials/dispatch.impl.hh
  tmol/score/hbond/script_modules.py
  tmol/score/modules/hbond.py
  tmol/tests/score/hbond/test_identification.py
  tmol/tests/score/hbond/test_script_module.py
Due: clang-format, black

Remove remaining modules from the previous score system.
  tmol/score/modules/__init__.py
  tmol/score/modules/bases.py
  tmol/score/modules/bonded_atom.py
  tmol/score/modules/chemical_database.py
  tmol/score/modules/coords.py
  tmol/score/modules/database.py
  tmol/score/modules/device.py
  tmol/score/modules/stacked_system.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/test_dof_space.py
Due: black

linting
  tmol/score/dunbrack/params.py
  tmol/score/elec/params.py
  tmol/score/ljlk/params.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
Due: black

Progress
  tmol/chemical/patched_chemdb.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/io/canonical_ordering.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_his_taut_resolution.py
  tmol/tests/io/test_canonical_form.py
Due: black

Progress
  tmol/database/default/chemical/chemical.yaml
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/compiled/gen_pose_leaf_atoms.hh
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/io/details/compiled/leaf_atoms.hh
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
Due: clang-format, black

Aleaverfay/pose stack to canonical form (#275)
  tmol/io/chain_deduction.py
  tmol/io/pose_stack_deconstruction.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

Very close!
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/canonical_packed_block_types.py
  tmol/io/pose_stack_construction.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/test_pose_stack_construction.py
Due: black

Saving progress
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/default/scoring/elec.yaml
  tmol/score/elec/params.py
  tmol/tests/io/details/test_canonical_packed_block_types.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

