Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Add unit tests for some ScoreFunction methods
  tmol/score/__init__.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Linting
  tmol/tests/score/test_score_function.py
Due: black

Aleaverfay/small fixes (#311)
  tmol/io/details/his_taut_resolution.py
  tmol/score/__init__.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/score_function.py
  tmol/tests/score/test_score_function.py
  tmol/utility/nvtx.hh
Due: clang-format, black

C++/CUDA modules now can dynamically detect and use a pre-built library.
  tmol/database/scoring/omega_bbdep.py
  tmol/database/scoring/rama.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/compiled.py
  tmol/kinematics/compiled/compiled_inverse_kin.py
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/numeric/bspline_compiled/compiled.py
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.py
  tmol/pose/compiled/apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.py
  tmol/score/constraint/potentials/compiled.ops.cpp
  tmol/score/constraint/potentials/compiled.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/utility/cpp_extension.py
Due: clang-format, black

fixing linting
  tmol/database/scoring/__init__.py
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
  tmol/support/scoring/rewrite_rama_binary.py
  tmol/tests/database/scoring/test_dunbrack.py
  tmol/tests/support/test_database_converters.py
Due: black

Updating locked package versions
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  environments/linux-cuda/requirements-linux-cuda.txt
Due: none

reverting clang-format/black versions
  environments/linux-cuda/requirements-dev-linux-cuda.txt
Due: none

putting zarr back in since i originally did this in the zarless branch
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  environments/linux-cuda/requirements-linux-cuda.txt
Due: none

Updating to torch 2.6
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  environments/linux-cuda/requirements-linux-cuda.txt
  requirements.in
  tmol/database/scoring/dunbrack_libraries.py
  tmol/database/scoring/omega_bbdep.py
  tmol/database/scoring/rama.py
  tmol/tests/database/scoring/test_dunbrack.py
Due: black

Removing forced weights_only
  tmol/database/scoring/dunbrack_libraries.py
  tmol/database/scoring/omega_bbdep.py
  tmol/database/scoring/rama.py
  tmol/tests/database/scoring/test_dunbrack.py
Due: black

Fixing unsafe globals for torch loading
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/default/scoring/rama.zip
  tmol/database/scoring/omega_bbdep.py
  tmol/database/scoring/rama.py
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
  tmol/support/scoring/rewrite_rama_binary.py
  tmol/tests/database/scoring/test_dunbrack.py
Due: black

removing extraneous include
  tmol/tests/database/scoring/test_dunbrack.py
Due: black

C++/CUDA modules now can dynamically detect and use a pre-built library.
  tmol/database/scoring/omega_bbdep.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/compiled.py
  tmol/kinematics/compiled/__init__.py
  tmol/kinematics/compiled/compiled_inverse_kin.py
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/compiled/compiled_ops.py
  tmol/numeric/bspline_compiled/compiled.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.py
  tmol/pose/compiled/apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.py
  tmol/score/constraint/potentials/compiled.ops.cpp
  tmol/score/constraint/potentials/compiled.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/utility/cpp_extension.py
Due: clang-format, black

linting
  tmol/utility/cpp_extension.py
Due: black

Removing old inverse kin code.
  tmol/kinematics/compiled/compiled_inverse_kin.cpp
  tmol/kinematics/compiled/compiled_inverse_kin.py
  tmol/tests/utility/cpp_extension/test_cpp_extension.py
  tmol/utility/cpp_extension.py
Due: clang-format, black

Add citation to manuscript-in-preparation publication
  README.md
Due: none

Add citation to manuscript-in-preparation publication (#317)
  README.md
Due: none

copying some pack code
  tmol/pack/datatypes.py
  tmol/pack/simulated_annealing.py
  tmol/tests/pack/test_load_ig.py
Due: black

adding compiled annealer code
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/compiled.py
  tmol/pack/compiled/simulated_annealing.hh
Due: clang-format, black

adding seed parameter to annealer. adding some missing files from pack branch.
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/simulated_annealing.py
  tmol/utility/cumsum.py
Due: clang-format, black

sim annealing basic test passing removing some old broken code
  tmol/kinematics/compiled/compiled.ops.cpp
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/compiled.py
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pack/simulated_annealing.py
  tmol/tests/pack/test_load_ig.py
  tmol/utility/autograd.hh
  tmol/utility/cumsum.py
Due: clang-format, black

Fixing a very small issue in the creation of scan orderings for leaf nodes in the FoldForest
  tmol/kinematics/scan_ordering.py
Due: black

Initial commit for sparse dispatch
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

dispatch over block neighbors rather than supplied block pair indices.
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

changing output to match block pair count
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Torch 2.5.1 seems to work just fine for tmol
  requirements.in
Due: none

Torch 2.5.0 also works; losening restrictions further.
  requirements.in
Due: none

Update the code relying on cattrs.structure
  tmol/chemical/restypes.py
Due: black

Unpin torch from 2.6 (#320)
  requirements.in
  tmol/chemical/restypes.py
Due: black

more progress
  tmol/pose/pose_stack.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Progress in getting interaction graph constructed from sparse energies table
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/compiled.py
  tmol/tests/pack/test_load_ig.py
  tmol/utility/cumsum.py
Due: clang-format, black

Fix multi-pose IG test case
  tmol/tests/pack/test_load_ig.py
Due: black

Beginning the hacking on simA stuff
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/simulated_annealing.hh
  tmol/tests/pack/test_load_ig.py
Due: clang-format, black

Disable all terms but LJLK in the benchmark
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

This is a non-shared-memory implementation of LJLK; forward-pass only
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Very close to getting packing compiled
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/simulated_annealing.hh
  tmol/pack/simulated_annealing.py
Due: clang-format, black

SimA now compiles; unit tests are not working yet.
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
Due: clang-format

First version of running (but crashing!) SimA
  tmol/pack/datatypes.py
  tmol/pack/simulated_annealing.py
  tmol/tests/pack/test_load_ig.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

