Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Trim ligand refinement history
  tmol/ligand/_conformer_generation.py
Due: black

Pack CUDA annealing trajectories into multi-warp CTAs
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Initialize annealer RNG only where consumed
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Bound CUDA annealing work per pose
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Tune high-temperature annealer occupancy
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Add pose_stack_from_backbone_coords: backbone-only side-chain completion
  docs/api/io.rst
  tmol/__init__.py
  tmol/io/__init__.py
  tmol/io/_pose_stack_from_backbone_coords.py
  tmol/tests/io/test_pose_stack_from_backbone_coords.py
Due: black

2 genbonded bugfixes
  tmol/database/_patched_chemdb.py
  tmol/database/default/scoring/genbonded.yaml
  tmol/ligand/_terminus_patches.py
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
Due: clang-format, black

Harden release and CUDA graph input contracts
  .github/scripts/test_colab_release_config.py
  .github/workflows/publish.yml
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
  tmol/tests/utility/test_cpp_extension.py
  tmol/utility/_cpp_extension.py
Due: black

Clarify reusable pose and rotamer scorer contracts
  tmol/io/_pose_stack_from_biotite.py
  tmol/score/common/_scoring_module.py
Due: black

Unify and harden nucleic-acid torsion CUDA scoring
  tmol/score/na_torsion/potentials/na_torsion_pose_score.cuda.cu
  tmol/tests/score/na_torsion/test_na_torsion_energy_term.py
Due: clang-format, black

Overlap large CUDA score terms during inference
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Centralize release wheel compatibility matrix
  .github/scripts/test_colab_release_config.py
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  DEVELOPMENT.md
  scripts/release_matrix.py
  scripts/test_release_matrix.py
  scripts/validate_release_manifest.py
Due: black

Compact sparse CUDA block-pair dispatch
  tmol/score/_score_function.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Use fast CUDA math for nonbonded scoring
  CMakeLists.txt
Due: none

Document selective AOT CUDA math
  CMakeLists.txt
  DEVELOPMENT.md
Due: none

Tighten release contracts and CUDA coverage
  .github/scripts/test_colab_release_config.py
  .github/workflows/publish.yml
  DEVELOPMENT.md
  scripts/release_matrix.py
  tmol/tests/score/na_torsion/test_na_torsion_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Harden sparse CUDA dispatch edge cases
  tmol/score/common/sphere_overlap.impl.hh
  tmol/tests/score/na_torsion/test_na_torsion_energy_term.py
Due: clang-format, black

Preserve CUDA term overlap in graph capture
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Compact batched CUDA gradient scoring
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Test CUDA graph replay on caller streams
  tmol/tests/score/test_score_function.py
Due: black

Use one robust CPU scoring worker policy
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Correct Colab release wheel documentation
  DEVELOPMENT.md
  scripts/release_matrix.py
Due: black

Compact wide CUDA inference batches
  tmol/score/common/sphere_overlap.impl.hh
Due: clang-format

Align local lint instructions with CI
  .pre-commit-config.yaml
  DEVELOPMENT.md
Due: none

Overlap wide CUDA gradient scoring
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Prepare tmol 0.1.55 release
  .github/scripts/test_colab_release_config.py
  docs/installation.md
  docs/tutorial/colab_setup.py
  pyproject.toml
Due: black

Clarify release workflow documentation
  .github/workflows/publish.yml
  DEVELOPMENT.md
Due: none

Align CUDA graph parity validation
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Optimize scoring and prepare tmol 0.1.55 (#466)
  .github/scripts/test_colab_release_config.py
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  DEVELOPMENT.md
  docs/installation.md
  docs/tutorial/colab_setup.py
  pyproject.toml
  scripts/release_matrix.py
  scripts/test_release_matrix.py
  scripts/validate_release_manifest.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/score/_score_function.py
  tmol/score/common/_scoring_module.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/na_torsion/potentials/na_torsion_pose_score.cuda.cu
  tmol/tests/score/na_torsion/test_na_torsion_energy_term.py
  tmol/tests/score/test_score_function.py
  tmol/tests/utility/test_cpp_extension.py
  tmol/utility/_cpp_extension.py
Due: clang-format, black

Fix cross-filesystem wheel downloads
  docs/installation.md
  docs/tutorial/colab_setup.py
  pyproject.toml
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Consolidate benchmark output into two composite figures
  benchmarks/multimodal_scaling/src/plot_results.py
Due: black

Make scheduler feeder safe to resume after requeue
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/src/feed_scheduler.py
Due: black

Scale every composite benchmark panel independently
  benchmarks/multimodal_scaling/src/plot_results.py
Due: black

Capture benchmark provenance and mark pending panels
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/metadata/benchmark_spec.json
  benchmarks/multimodal_scaling/slurm/capture_provenance.sh
  benchmarks/multimodal_scaling/src/capture_provenance.py
  benchmarks/multimodal_scaling/src/plot_results.py
Due: black

Document per-panel benchmark axes
  benchmarks/multimodal_scaling/FIGURE_CAPTIONS.md
Due: none

Add reproducible combined-candidate A/B benchmark
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
  benchmarks/multimodal_scaling/src/summarize_candidate_ab.py
Due: black

Add combined candidate validation job
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/validate_candidate.sh
Due: none
