Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Add way to modify the parameters of an existing CartBondedDatabase
  tmol/database/scoring/cartbonded.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Move ipython to dev requirements; bump version
  pyproject.toml
Due: none

Support T4 compute capability (7.5) and publish to testpypi while testing
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Lower the version limit for the "decorator" package for colab
  pyproject.toml
Due: none

Bake X11 libs into dev/CI containers for openbabel-wheel.
  .github/workflows/ci.yml
  DEVELOPMENT.md
  containers/apptainer/build-tmol-sif.sh
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
Due: none

update intall tmol
  .github/workflows/ci.yml
  DEVELOPMENT.md
  containers/apptainer/build-tmol-sif.sh
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
  pyproject.toml
Due: none

addd install sripts
  containers/scripts/install-openbabel-runtime-deps.sh
  containers/scripts/verify-openbabel-formats.sh
Due: none

updated ci image
  .github/workflows/ci.yml
  DEVELOPMENT.md
Due: none

formatting
  .github/workflows/ci.yml
  DEVELOPMENT.md
  tmol/ligand/detect.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/data/ligand_ground_truth/ref1.params
  tmol/tests/data/ligand_ground_truth/ref2.params
  tmol/tests/data/protein_ligand_test/cif_inputs/ache.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ada.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ampc.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ar.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cdk2.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cox2.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/egfr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/er_agonist.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/er_antagonist.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/fgfr1.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/fxa.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/gr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hivrt.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hmga.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hsp90.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/mr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/na.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/p38.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/parp.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pde5.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pdgfrb.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/rxr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/src.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/tk.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/trypsin.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/vegfr2.ligand.cif
  tmol/tests/ligand/test_cif_trust_vs_recompute.py
  tmol/tests/ligand/test_mol2_io.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
  tmol/tests/ligand/test_rosetta_mol2gen_parity.py
Due: black

cif norml
  tmol/ligand/cif_normalization.py
Due: black

Key on hash of cart-bonded params in PBT caching (#383)
  tmol/database/scoring/cartbonded.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Release tmol 0.1.33 with biotite>=1.4.0 for atomworks compatibility.
  pyproject.toml
Due: none

feat(ligand): shared Rosetta .params reference parser with charge sidecar
  tmol/ligand/params_reference.py
  tmol/tests/ligand/test_params_reference.py
Due: black

feat(ligand): parity comparators + fixture-integrity gate (AC-1, AC-2)
  tmol/ligand/fixture_integrity.py
  tmol/ligand/params_reference.py
  tmol/tests/ligand/test_fixture_integrity.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_params_reference.py
Due: black

feat(ligand): enforce mol2 charge-model in gate + parity manifest loader (AC-2, AC-7)
  tmol/ligand/fixture_integrity.py
  tmol/ligand/parity_manifest.py
  tmol/tests/ligand/test_fixture_integrity.py
  tmol/tests/ligand/test_parity_manifest.py
Due: black

feat(ligand): manifest-driven seed regression + write_params_from_mol2 + cleanup (AC-7, AC-8)
  scripts/ligand_prep/README.md
  scripts/ligand_prep/deprecated/README.md
  scripts/ligand_prep/deprecated/prepare_smiles.sh
  scripts/ligand_prep/deprecated/run_obabel.sh
  scripts/ligand_prep/deprecated/run_params.sh
  tmol/ligand/__init__.py
  tmol/ligand/examples/workflow_from_mol2.py
  tmol/ligand/preparation.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_mol2_params_export.py
Due: black

feat(ligand): tmol/Rosetta serialization consistency + finish manifest/example partials
  tmol/ligand/examples/workflow_from_mol2.py
  tmol/ligand/parity_manifest.py
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_mol2_params_export.py
  tmol/tests/ligand/test_parity_manifest.py
  tmol/tests/ligand/test_serialization_consistency.py
Due: black

feat(ligand): proton-chi serialization parity + SMILES-semantic regression (AC-6, AC-4)
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/test_serialization_consistency.py
  tmol/tests/ligand/test_smiles_semantic.py
Due: black

fix(ligand): put SMILES-semantic regression on the production path (AC-4)
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/test_smiles_semantic.py
Due: black

fix(ligand): read mol2 charge_type from the correct TRIPOS line (off-by-one)
  tmol/ligand/detect.py
Due: black

feat(ligand): canonical SMILES->mol2->params entry point (no atom-array round-trip)
  tmol/ligand/__init__.py
  tmol/ligand/detect.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/preparation.py
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/test_smiles_semantic.py
Due: black

fix(ligand): normalize bare radical oxygens ([O] -> [O-]) on the SMILES path
  tmol/ligand/detect.py
  tmol/tests/ligand/test_openbabel_compat.py
Due: black

fix(ligand): resolve PDB atom-name collision (CA != calcium) on the SMILES path
  tmol/ligand/equivalence.py
  tmol/ligand/openbabel_compat.py
  tmol/tests/ligand/test_openbabel_compat.py
  tmol/tests/ligand/test_params_reference.py
Due: black

perf(ligand): stream SMILES->mol2 in memory (drop the temp-file round-trip)
  tmol/ligand/__init__.py
  tmol/ligand/detect.py
  tmol/ligand/openbabel_compat.py
  tmol/tests/ligand/test_openbabel_compat.py
Due: black

refactor(ligand): unify params writers in params_io.write_params_file(prep, path, format)
  tmol/ligand/params_file.py
  tmol/ligand/params_io.py
  tmol/ligand/preparation.py
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/test_chi_topology.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

feat(ligand): write a .params per residue when rosetta gets a list of preps
  tmol/ligand/params_io.py
  tmol/tests/ligand/test_chi_topology.py
Due: black

refactor(ligand): point dataset manifest at tests/data/ligand_test layout
  tmol/ligand/parity_manifest.py
Due: black

fix(ligand): emit ICOOR_INTERNAL before CHI/PROTON_CHI in Rosetta .params
  tmol/ligand/params_io.py
Due: black

feat(ligand): default sample_proton_chi=True (proton-chi samples on by default)
  tmol/ligand/parity_manifest.py
  tmol/ligand/preparation.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_chi_topology.py
Due: black

docs(io): note why pose_stack_from_biotite keeps sample_proton_chi=False
  tmol/io/pose_stack_from_biotite.py
Due: black

feat(ligand): port Rosetta conjugation gate for proton chis (phenol/acid O-H)
  tmol/ligand/chi_topology.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_chi_topology.py
Due: black

Aleaverfay/dlin2 (#349)
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/ljlk.py
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/params.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/params.pybind.hh
  tmol/tests/score/lk_ball/potentials/compiled.py
Due: clang-format, black

docs(ligand): update chi_topology scope notes after the conjugation-gate port
  tmol/ligand/chi_topology.py
Due: black

feat(ligand): port search_special_biaryl_ring biaryl-pivot CHIs (54->71/80)
  tmol/ligand/chi_topology.py
Due: black

test(ligand): biaryl-pivot heavy CHI (aryl-carbonyl, aryl-vinyl)
  tmol/tests/ligand/test_chi_topology.py
Due: black

Adding option for soft repulsive
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/ljlk.py
  tmol/score/energy_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/params.py
  tmol/score/score_function.py
Due: black

removing sync call
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
Due: clang-format

feat(ligand): honor mol2 single-bond order + add conformer search (71->80/80 CHI)
  tmol/ligand/chi_topology.py
  tmol/ligand/detect.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/preparation.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_chi_topology.py
  tmol/tests/ligand/test_openbabel_compat.py
Due: black
