Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Build ARM source dependency explicitly
  .github/ci/build_cpu_package.sh
  .github/workflows/ci.yml
Due: none

Parallelize independent CPU pose scoring
  CMakeLists.txt
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/common/device_operations/test.hh
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

Build biotraj from its tagged ARM source
  .github/ci/build_cpu_package.sh
Due: none

feat(io): build differentiable poses from Atom37 and Biotite
  docs/api/io.rst
  docs/user_guide/integrations.md
  tmol/io/__init__.py
  tmol/io/_pose_stack_from_atomworks.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: black

perf(io): enable and accelerate OptH by default
  docs/user_guide/integrations.md
  tmol/io/_pose_stack_from_atomworks.py
  tmol/pack/_build_missing_sidechains.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
  tmol/tests/pack/test_build_missing_sidechains.py
Due: black

Simplify DIGS runner configuration
  .github/ci/srun_cpu.sh
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  docs/user_guide/development.md
Due: none

Document scoring throughput controls
  docs/user_guide/scoring.md
  docs/workflows/gpu_batching.md
Due: none

Remove unused scoring module state
  tmol/score/common/_scoring_module.py
Due: black

Remove unused hydrogen-bond residue state
  tmol/score/hbond/potentials/hbond.hh
Due: clang-format

Keep CUDA sources out of CPU build inputs
  CMakeLists.txt
Due: none

Remove dead scoring reduction code
  tmol/score/common/accumulate.hh
Due: clang-format

Document native CPU platform support
  docs/installation.md
Due: none

Keep one CUDA reduction declaration
  tmol/score/common/accumulate.hh
Due: clang-format

Clarify CUDA accumulation contract
  tmol/score/common/accumulate.hh
Due: clang-format

Keep generic-bonded source in CUDA builds
  CMakeLists.txt
Due: none

Cache hosted CPU compilation
  .github/ci/build_cpu_package.sh
  .github/workflows/ci.yml
Due: none

Run documentation builds on hosted CPU
  .github/ci/build_cpu_package.sh
  .github/ci/run_ci_gpu_work.sh
  .github/ci/run_docs_cpu_work.sh
  .github/ci/run_docs_gpu_work.sh
  .github/scripts/smoke_tutorial_notebooks.py
  .github/scripts/test_colab_release_config.py
  .github/workflows/docs.yml
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/06_fast_relax.ipynb
Due: black

docs(io): guarantee future chemistry delegation
  docs/user_guide/integrations.md
  tmol/io/_pose_stack_from_atomworks.py
Due: black

Clarify hosted documentation CI
  docs/user_guide/development.md
Due: none

Avoid duplicate CI for internal pull requests
  .github/workflows/ci.yml
Due: none

Keep Atom37 coordinate routing asynchronous
  tmol/io/_pose_stack_from_biotite.py
Due: black

perf(io): skip invariant terms during OptH
  tmol/io/_build_context.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite_context_reuse.py
Due: black

Parallelize independent CPU pose scoring (#458)
  CMakeLists.txt
  docs/user_guide/scoring.md
  docs/workflows/gpu_batching.md
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/_scoring_module.py
  tmol/score/common/accumulate.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/common/device_operations/test.hh
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

Share Biotite metadata construction across coordinate paths
  tmol/io/_pose_stack_from_biotite.py
Due: black

Build ABI-qualified CPU wheels across platforms
  .github/scripts/test_colab_release_config.py
  .github/workflows/_build_macos_wheel.yml
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  docs/installation.md
  docs/user_guide/development.md
  scripts/set_release_wheel_version.py
  scripts/validate_release_manifest.py
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Add differentiable Atom37 + Biotite pose construction (#457)
  docs/api/io.rst
  docs/user_guide/integrations.md
  tmol/io/__init__.py
  tmol/io/_build_context.py
  tmol/io/_pose_stack_from_atomworks.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/pack/_build_missing_sidechains.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite_context_reuse.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
  tmol/tests/pack/test_build_missing_sidechains.py
Due: black

Exclude second ECC-faulted GPU node
  .github/workflows/ci.yml
Due: none

Support current Python 3.13 Colab runtimes
  .github/scripts/test_colab_release_config.py
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  docs/installation.md
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/09_protein_interface_hotspot_scan.ipynb
  docs/tutorial/10_ligand_pose_sensitivity.ipynb
  docs/tutorial/colab_setup.py
Due: black

Speed up batched CPU scoring and pose construction
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_fragmentation.py
  tmol/pose/_pose_stack_builder.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

Support current Python 3.13 Colab runtimes (#460)
  .github/scripts/test_colab_release_config.py
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  docs/installation.md
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/09_protein_interface_hotspot_scan.ipynb
  docs/tutorial/10_ligand_pose_sensitivity.ipynb
  docs/tutorial/colab_setup.py
Due: black

Speed up batched CPU scoring and pose construction (#461)
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_fragmentation.py
  tmol/pose/_pose_stack_builder.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

build(cuda): target every nvcc-supported architecture
  .github/ci/build_package.sh
  .github/scripts/test_colab_release_config.py
  .github/workflows/_build_wheel.yml
  CMakeLists.txt
  DEVELOPMENT.md
  docs/user_guide/development.md
  pyproject.toml
Due: black

dev: replace nvprof wrapper with Nsight profiling
  dev/README.md
  dev/bin/profile_benchmark.ipy
  docs/user_guide/benchmarking.md
Due: none

fix(cuda): preserve and de-duplicate release architectures
  CMakeLists.txt
Due: none

ci(cuda): validate release architecture wheels
  .github/workflows/_build_wheel.yml
  .github/workflows/wheel-smoke.yml
  pyproject.toml
Due: none

Prepare tmol 0.1.53 release
  .github/scripts/test_colab_release_config.py
  .gitignore
  DEVELOPMENT.md
  docs/installation.md
  docs/tutorial/colab_setup.py
  docs/user_guide/development.md
  pyproject.toml
Due: black

build(cuda): default local builds to native GPU
  .github/ci/build_package.sh
  .github/scripts/test_colab_release_config.py
  .github/workflows/_build_macos_wheel.yml
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  CMakeLists.txt
  DEVELOPMENT.md
  docs/README.md
  docs/contributor_guide.md
  docs/user_guide/development.md
  pyproject.toml
Due: black

Prepare tmol 0.1.53 with portable CUDA wheels and Nsight profiling (#462)
  .github/ci/build_package.sh
  .github/scripts/test_colab_release_config.py
  .github/workflows/_build_macos_wheel.yml
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  .gitignore
  CMakeLists.txt
  DEVELOPMENT.md
  dev/README.md
  dev/bin/profile_benchmark.ipy
  docs/README.md
  docs/contributor_guide.md
  docs/installation.md
  docs/tutorial/colab_setup.py
  docs/user_guide/benchmarking.md
  docs/user_guide/development.md
  pyproject.toml
Due: black

Generate correct terminal variants for non-standard backbones
  tmol/database/__init__.py
  tmol/database/_patched_chemdb.py
  tmol/ligand/_params_file.py
  tmol/ligand/_params_io.py
  tmol/ligand/_polymer_profile.py
  tmol/ligand/_preparation.py
  tmol/ligand/_registry.py
  tmol/tests/data/ncaa_fixtures/README.md
  tmol/tests/data/ncaa_fixtures/beta_peptide_3c3g.cif
  tmol/tests/data/ncaa_fixtures/capped_peptide_ace_nh2.cif
  tmol/tests/data/ncaa_fixtures/gamma_peptide_1gac.cif
  tmol/tests/data/ncaa_fixtures/nmethyl_peptide_6mvz.cif
  tmol/tests/ligand/test_noncanonical_residues.py
  tmol/tests/ligand/test_nonstandard_backbones.py
Due: black

docs: describe native CUDA build default
  DEVELOPMENT.md
Due: none
