Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Single-pose packing works properly on the GPU
  tmol/pack/compiled/compiled.cuda.cu
  tmol/tests/pack/test_load_ig.py
Due: clang-format, black

Working version of multi-pose simulated annealing
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/simulated_annealing.hh
  tmol/tests/pack/test_load_ig.py
Due: clang-format, black

Create a fixture of pre-computed rotamer pair energies for 1ubq and add to packer tests
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/tests/data/pack/1ubq_ig
  tmol/tests/pack/test_load_ig.py
Due: clang-format, black

Trim comments from the ig tests
  tmol/tests/pack/test_load_ig.py
Due: black

Updating rotamer-building tests to for termini variants
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

New logic for defining conformational samplers
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/conformer_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: clang-format, black

Fixing issue with offsets not reading from correct block type in chi_sampler
  tmol/database/scoring/omega_bbdep.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Fixing last of the rotamer-building tests
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Fix torch/numpy indexing issue on device
  tmol/pack/rotamer/build_rotamers.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Removing unused rotamer-bounding-sphere caclulation code
  tmol/pack/rotamer/bounding_spheres.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/pack/test_load_ig.py
  tmol/tests/pack/test_packer_task.py
Due: black

Saving progress on (currently buggy) refactoring of allowed-bts --> considered-bts
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/conformer_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

incomplete progress converting from block-centric to rot-centric
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.cpu.cpp
  tmol/score/hbond/potentials/hbond_pose_score.cuda.cu
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/pack/__init__.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: clang-format, black

more progress on rot centric hbond
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

fixing compile errors
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

Complete refactoring to track considered but disallowed block types
  tmol/numeric/dihedrals.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

rotamer scoring working?
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: clang-format, black

Fix a unit test
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
Due: black

Add IncludeCurrentRotamer sampler and tests
  tmol/pack/rotamer/include_current_sampler.py
  tmol/tests/pack/rotamer/test_include_current_sampler.py
Due: black

Fix PackerTask unit test
  tmol/tests/pack/test_packer_task.py
Due: black

Save progress w/ fixing bugs in IncludeCurrentSampler
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Add controllable parameter dlin_sigma_scale for Lennard-Jones
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/ljlk.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/params.py
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
Due: clang-format, black

Cargo-culting the extra parameter for dlin_sigma
  tmol/score/ljlk/potentials/params.hh
Due: clang-format

Rotamer centric scoring working on pose stacks
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: clang-format, black

more changes
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

compiling
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

gradcheck working
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

removing old hbond
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/hbond/potentials/hbond_pose_score.cpu.cpp
  tmol/score/hbond/potentials/hbond_pose_score.cuda.cu
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format, black

removing more old hbond code
  tmol/score/hbond/potentials/hbond.hh
Due: clang-format

removing old code
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.cpu.cpp
  tmol/score/hbond/potentials/hbond_pose_score.cuda.cu
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format, black

fix rot centric scoring to work on multiple poses
  tmol/pose/pose_stack.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/score_function.py
Due: clang-format, black

cleanup hbond args
  tmol/score/energy_term.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format, black

adding missing file
  tmol/score/common/scoring_module.py
Due: black

LJLK forward whole pose scoring working
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format, black

LJLK backward working, bugfix for hbond block pair backward
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Update modern GPU to CUDA13 compatibility
  tmol/extern/moderngpu/context.hxx
Due: none

Add conda/mamba-installed nvtx to search path
  tmol/utility/cpp_extension.py
Due: black

Update to torch 2.8 / CUDA 13 compatibility
  environments/linux-cuda/env.yml
  environments/linux-cuda/requirements-linux-cuda.txt
Due: none

Small adjustment to env.yaml
  environments/linux-cuda/env.yml
Due: none

Fix broken unit test enable_tensor_view that lead to a "Illegal Operation" error
  tmol/tests/kinematics/segscan/segscan.cu
Due: clang-format

Merge aleaverfay/update_to_torch2p8 into jflat's sparse_dispatch branch
  environments/linux-cuda/env.yml
  environments/linux-cuda/requirements-linux-cuda.txt
  requirements.in
  tmol/chemical/restypes.py
  tmol/extern/moderngpu/context.hxx
  tmol/tests/kinematics/segscan/segscan.cu
  tmol/utility/cpp_extension.py
Due: clang-format, black
