Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.7
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Refactor the data surrounding LJ/LK to shorten argument lists
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Clean up commented-out code
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Moving templated functions to their own files
  tmol/score/common/data_loading.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Further refactoring
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Add documentation for templated, tiled atom-pair-energy evaluation
  tmol/score/common/accumulate.hh
  tmol/score/common/launch_box_macros.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Fix surprising performance bug with lambda captures
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Fixing build after relocating the shared-memory count-pair function
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

Putting n_heavy1 and n_heavy2 back into shared memory; huge register count drop
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Remove unnecessary variable from LJLKSingleResData
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Enable forward and backward benchmarking of ScoreFunction
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Adjust the tolerance on the ljlk stacked score test
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Start moving data-loading functions to ljlk.hh for reuse
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Further progress
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Moved all APE logic for lj/lk to ljlk.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Add derivative-less evaluation of pose scores w/ derivs not needed
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Fixing bug in call to reduce_in_workgroup passing TILE_SIZE instead of nt
  tmol/score/common/launch_box_macros.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Add device-agnostic, residue-centric, whole-pose energy evaluation (#246)
  tmol/score/common/accumulate.hh
  tmol/score/common/count_pair.hh
  tmol/score/common/data_loading.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/diamond_macros.hh
  tmol/score/common/launch_box_macros.hh
  tmol/score/common/shuffle_reduce.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

First pass stab at implementing CPU/GPU residue-centric, whole-pose Elec evaluation
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/elec_whole_pose_module.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.cpu.cpp
  tmol/score/elec/potentials/elec_pose_score.cuda.cu
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/elec/potentials/potentials.hh
Due: clang-format, black

Working version of res-centric fa_elec w/ count-pair representative flip
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/elec_whole_pose_module.py
  tmol/score/elec/params.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.py
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.cpu.cpp
  tmol/score/elec/potentials/elec_pose_score.cuda.cu
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/score_types.py
  tmol/score/terms/elec_creator.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/elec/test_script_modules.py
Due: clang-format, black

Add performance benchhmakr for elec score; 1.7ms for 100 copies of 1ubq
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Cleaning up old comments
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/elec/potentials/potentials.hh
  tmol/tests/score/elec/test_elec_energy_term.py
Due: clang-format, black

Linting!
  tmol/score/elec/elec_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
Due: black

Fixing new test result for the elec script module
  tmol/tests/score/elec/test_script_modules.py
Due: black

Remove debugging statements
  tmol/score/elec/params.py
Due: black

Have pose-score elec code write to 2D tensor, w/ first dim size = 1
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/score_function.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Fixing elec unit tests after dimensionality change
  tmol/tests/score/elec/test_elec_energy_term.py
Due: black

Aleaverfay/res centric elec (#247)
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/elec_whole_pose_module.py
  tmol/score/elec/params.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.py
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.cpu.cpp
  tmol/score/elec/potentials/elec_pose_score.cuda.cu
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/elec/potentials/potentials.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/score_function.py
  tmol/score/score_types.py
  tmol/score/terms/elec_creator.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/elec/test_script_modules.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Adding set of all bonds (intra- and inter-block) for RefinedResidueType
  tmol/chemical/all_bonds.py
  tmol/chemical/restypes.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/chemical/test_residue.py
  tmol/utility/ndarray/common_operations.py
Due: black

Saving progress in writing a res-centric hbond evaluation
  tmol/chemical/all_bonds.py
  tmol/chemical/restypes.py
  tmol/score/bond_dependent_term.py
  tmol/score/bonded_atom.hh
  tmol/score/hbond/identification.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.cpu.cpp
  tmol/score/hbond/potentials/hbond_pose_score.cuda.cu
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/tests/chemical/test_residue.py
  tmol/utility/ndarray/common_operations.py
Due: clang-format, black

Saving progress for the night
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

More progress
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

Saving before starting the assuredly long process of getting this code to compile
  tmol/score/bonded_atom.hh
  tmol/score/hbond/params.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/params.hh
Due: clang-format, black

Saving progress for the day
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/identification.hh
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.cpu.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format, black

compiling versino of hbond pose score code
  tmol/score/bonded_atom.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/geom.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.cuda.cu
  tmol/score/hbond/potentials/potentials.hh
Due: clang-format

Fix bug in stack_condense.py::tile_subset_indices
  tmol/score/common/stack_condense.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/params.py
  tmol/tests/score/common/test_stack_condense.py
Due: black

Small changes
  tmol/score/hbond/hbond_dependent_term.py
Due: black

Add block-type annotation for HBondDependendantTerm
  tmol/score/common/stack_condense.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/tests/score/common/test_stack_condense.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
Due: black

Add PackedBlockType annotation to HBondDependentTerm
  tmol/score/bond_dependent_term.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
Due: black

Add hbond score type, HBondEnergyTerm, HBondWholePoseScoringModule
  tmol/score/bond_dependent_term.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/hbond_whole_pose_module.py
  tmol/score/hbond/potentials/compiled.py
  tmol/score/score_types.py
  tmol/score/terms/hbond_creator.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: black

At a point where I can start debugging
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/hbond/test_script_module.py
Due: clang-format, black
