Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.7
  require_serial: true

Sketching code for OTF packing / scoring
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/BondDependentTerm.py
  tmol/score/ljlk/LKLJEnergy.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/system/datatypes.py
  tmol/system/pose.py
  tmol/tests/score/test_BondDependentTerm.py
  tmol/tests/system/test_pose.py
Due: clang-format, black

Working version of TR-Rosetta constraints for CPU. Scores match to 0.0001 of PyRosetta implementation.
  tmol/score/constraint/params.py
  tmol/score/constraint/script_modules.py
  tmol/score/modules/constraint.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/constraints/.DS_Store
  tmol/tests/data/constraints/._.DS_Store
  tmol/tests/data/constraints/._6DMZ_A.npz
  tmol/tests/data/constraints/6DMZ_A.fa
  tmol/tests/data/constraints/6DMZ_A.npz
  tmol/tests/data/pdb/6DMZ_A.pdb
  tmol/tests/score/modules/test_constraint.py
Due: black

Fix TR-Rosetta constraints for CUDA
  tmol/score/constraint/script_modules.py
  tmol/tests/score/modules/test_constraint.py
Due: black

Resolve inter-block bond separation
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/BondDependentTerm.py
  tmol/score/ljlk/LKLJEnergy.py
  tmol/system/pose.py
  tmol/tests/system/test_pose.py
Due: black

Saving progress
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/BondDependentTerm.py
  tmol/score/ljlk/LKLJEnergy.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/system/pose.py
  tmol/tests/score/test_BondDependentTerm.py
  tmol/tests/system/test_pose.py
Due: clang-format, black

Add Poses constructor
  tmol/system/pose.py
  tmol/tests/system/test_pose.py
Due: black

Saving progress
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/BondDependentTerm.py
  tmol/tests/score/test_BondDependentTerm.py
  tmol/tests/system/test_pose.py
Due: black

Add block-pair level neighbor-list construction to lj/lk
  tmol/score/ljlk/LKLJEnergy.py
Due: black

add compiling version of RPE calc
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/BondDependentTerm.py
  tmol/score/EnergyTerm.py
  tmol/score/common/forall_dispatch.cpu.impl.hh
  tmol/score/common/forall_dispatch.cuda.impl.cuh
  tmol/score/common/forall_dispatch.hh
  tmol/score/ljlk/LKLJEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/system/pose.py
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/score/test_AtomTypeDependentTerm.py
  tmol/tests/score/test_BondDependentTerm.py
  tmol/tests/system/test_pose.py
Due: clang-format, black

Create benchmark to measure LJ energy calc timing
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/BondDependentTerm.py
  tmol/score/ljlk/LKLJEnergy.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/score/test_AtomTypeDependentTerm.py
Due: clang-format, black

Save version
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: black

Save 100 poses for rotsub instead of 10
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: black

Save current state
  tmol/score/ljlk/potentials/lj.dispatch.impl.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: clang-format, black

Refactor count pair logic into a struct for ease of reuse
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
Due: clang-format

Add RPE evaluation for LK-isotropic
  tmol/score/ljlk/LKLJEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: clang-format, black

Rename LKLJEnergy to LJLKEnergy
  tmol/score/ljlk/LJLKEnergy.py
Due: black

Evaluate LK between only heavy-atom pairs and not all atom pairs
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/system/test_pose.py
Due: clang-format, black

Convert ConnectedAtom to UnresolvedAtom
  tmol/database/chemical/__init__.py
  tmol/tests/database/test_chemical.py
Due: black

Add atoms-downstream-of-connection data to RefinedResidueType
  tmol/database/chemical/__init__.py
  tmol/score/BondDependentTerm.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/system/io.py
  tmol/system/packed.py
  tmol/system/pose.py
  tmol/system/restypes.py
Due: black

Replace the torsion-metadata resolution using UnresolvedAtomIDs
  tmol/system/packed.py
Due: black

Add inter-block connection data to Pose
  tmol/database/chemical/__init__.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/system/pose.py
  tmol/tests/system/test_pose.py
  tmol/tests/system/test_residue.py
Due: black

Fix broken parts of Pose
  tmol/system/pose.py
  tmol/tests/system/test_pose.py
Due: black

First pass writing Poses compatible version of DunbrackChiSampler
  tmol/database/chemical/__init__.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/tests/database/test_chemical.py
Due: black

Rename chi_sampler.py -> dunbrack_chi_sampler.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
Due: black

forward progress
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_chi_sampler.py
  tmol/tests/pack/test_packer_task.py
Due: black

Replace Pose's numpy ndarray data members with torch tensors
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/system/pose.py
  tmol/tests/pack/rotamer/test_chi_sampler.py
  tmol/tests/system/test_pose.py
Due: black

Wrestle int32 and int64 disagreements into submission
  tmol/database/chemical/__init__.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/system/restypes.py
  tmol/tests/pack/rotamer/test_chi_sampler.py
Due: black

progress
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/system/restypes.py
Due: black

Debug until first smoke test passes
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/system/restypes.py
Due: black

Add ResidueTypeSet for semi-permanent storage of RefinedResidueTypes
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/system/restypes.py
  tmol/tests/system/test_residue.py
Due: black

Remove ChemicalDatabase from the Pose/Poses ctor
  tmol/pack/packer_task.py
  tmol/score/BondDependentTerm.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/system/pose.py
  tmol/system/restypes.py
  tmol/tests/conftest.py
  tmol/tests/pack/rotamer/test_chi_sampler.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/score/test_AtomTypeDependentTerm.py
  tmol/tests/score/test_BondDependentTerm.py
  tmol/tests/system/__init__.py
  tmol/tests/system/test_pose.py
  tmol/tests/system/test_residue.py
Due: black

Fix dunbrack chi sampler unit tests after Pose ctor change
  tmol/tests/pack/rotamer/test_chi_sampler.py
  tmol/utility/cpp_extension.py
Due: black

Add atom-defining-chi-dihedral data to RefinedResidueTypes
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_chi_sampler.py
Due: black

Stash residue type annotations for dun-chi sampler in PackedBlockTypes
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_chi_sampler.py
Due: black

fix sample_chi_for_pose so it now runs to completion
  tmol/pack/rotamer/dunbrack_chi_sampler.py
Due: black

Rename test_chi_sampler to test_dunbrack_chi_sampler
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_dunbrack_chi_sampler.py
Due: black

Fix hashing in build_rotamers; fix documentation spelling
  tmol/kinematics/datatypes.py
  tmol/kinematics/scan_ordering.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/system/restypes.py
Due: black

Progress in trying to build the kinematic description of the rotamers
  tmol/kinematics/scan_ordering.py
  tmol/system/pose.py
  tmol/system/restypes.py
  tmol/tests/kinematics/test_builder.py
Due: black

create logic for assembling segmented scan offsets for rotamer building
  tmol/pack/rotamer/build_rotamers.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Refactor nodes/scans/gens integration
  tmol/pack/rotamer/build_rotamers.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

