Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Accelerate nucleic-acid FastRelax by default
  dev/benchmark_fast_relax.py
  docs/user_guide/optimization.md
  tmol/optimization/_sfxn_modules.py
  tmol/relax/_fast_relax.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Fix CUDA benchmark profiling examples
  dev/README.md
  docs/user_guide/benchmarking.md
Due: none

Accelerate batched LK-ball CUDA scoring
  dev/README.md
  docs/user_guide/benchmarking.md
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Use conservative LK-ball split threshold
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Cover split LK-ball CUDA scoring end to end
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
Due: black

Keep CPU LK-ball dispatch non-generic
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Add PyTorch 2.14 release and smoke coverage
  .github/scripts/test_colab_release_config.py
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  docs/conf.py
  docs/installation.md
Due: black

Run full wheel audit on integration branch
  .github/workflows/wheel-smoke.yml
Due: none

Use the PyTorch-required standard for JIT extensions
  .github/ci/run_ci_gpu_work.sh
  .github/workflows/ci.yml
  tmol/utility/_cpp_extension.py
Due: black

Run full integration CI on audit branch
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

Run CI JIT checks inside the build environment
  .github/workflows/ci.yml
Due: none

Document CPU-only JIT and PyTorch 2.14 requirements
  DEVELOPMENT.md
  docs/installation.md
  tmol/_cpp_lib.py
Due: black

Clarify automatic CPU-only build fallback
  DEVELOPMENT.md
  docs/installation.md
Due: none

Restrict documentation publication to release contexts
  .github/workflows/docs.yml
Due: none

Harden CUDA extension builds for current PyTorch
  tmol/score/elec/potentials/potentials.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/tests/utility/test_cpp_extension.py
  tmol/utility/_cpp_extension.py
Due: clang-format, black

Reduce LKBall backward launch overhead
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Add fused CUDA nucleic-acid torsion scoring
  CMakeLists.txt
  tmol/score/na_torsion/_na_torsion_energy_term.py
  tmol/score/na_torsion/potentials/__init__.py
  tmol/score/na_torsion/potentials/_compiled.py
  tmol/score/na_torsion/potentials/compiled.ops.cpp
  tmol/score/na_torsion/potentials/na_torsion_pose_score.cuda.cu
  tmol/score/na_torsion/potentials/na_torsion_pose_score.hh
  tmol/tests/score/na_torsion/test_na_torsion_benchmark.py
  tmol/tests/score/na_torsion/test_na_torsion_energy_term.py
Due: clang-format, black

Add an efficient off-diagonal interaction scorer
  tmol/ops/_score_utils.py
  tmol/score/_energy_term.py
  tmol/score/_fragment_interactions.py
  tmol/score/_score_function.py
  tmol/tests/ops/test_score_utils.py
  tmol/tests/score/test_score_function.py
Due: black

Stabilize hosted CUDA release builds
  .github/workflows/_build_wheel.yml
Due: none

Add functional tmol how-to guide notebook
  notebooks/tmol_how_to_guide.ipynb
Due: none

Remove temporary integration audit triggers
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/wheel-smoke.yml
Due: none

Adapt persistent LKBall launch to split pair dispatch
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Format persistent LKBall dispatch
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Allow Atom37 pose builds to return atom mappings
  tmol/io/_pose_stack_from_atomworks.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
Due: black

Skip invariant terms during hydrogen optimization
  tmol/io/_build_context.py
  tmol/tests/io/test_pose_stack_from_biotite_context_reuse.py
Due: black

perf: skip unnecessary ligand topology scans
  tmol/ligand/_detect.py
  tmol/ligand/_preparation.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

perf: cache parsed ligand parameter documents
  tmol/ligand/_params_file.py
  tmol/tests/ligand/test_ligand_entry_paths.py
Due: black

Avoid copying cached ligand parameter documents
  tmol/ligand/_params_file.py
Due: black

Prepare reusable Atom37 pose builders
  tmol/io/__init__.py
  tmol/io/_pose_stack_from_atomworks.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: black

docs: show the reusable Atom37 campaign path
  docs/api/io.rst
  docs/user_guide/integrations.md
Due: none

Speed packed block-type tensor construction
  tmol/pose/_packed_block_types.py
Due: black

Cover prepared Atom37 batch-size reuse
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
Due: black

Bound prepared Atom37 batch topology cache
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
Due: black

Cache fixed topology in prepared Atom37 builders
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: black

Avoid synchronizing prepared Atom37 replays
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
Due: black

Reuse prepared pose real-atom masks
  tmol/io/_pose_stack_from_biotite.py
Due: black

Skip empty sidechain conformer samplers
  tmol/io/_pose_stack_from_biotite.py
  tmol/pack/_build_missing_sidechains.py
  tmol/tests/pack/test_build_missing_sidechains.py
Due: black

Cache structured ligand parameter files
  tmol/ligand/_params_file.py
Due: black

Avoid TorchDynamo ligand prep cold start
  tmol/ligand/_conformer_generation.py
Due: black

Vectorize ligand distance refinement
  tmol/ligand/_conformer_generation.py
Due: black
