Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Preserve atom-type element declarations and register patch types together
  review/pr503/FOLLOWUP.md
  review/pr503/PARAMETER_BUNDLES.md
  review/pr503/REVIEW.md
  review/pr503/check_element_metadata.py
  review/pr503/profile_atom_type_collection.py
  review/pr503/results/element-metadata-validation.json
  tmol/ligand/_params_file.py
  tmol/ligand/_params_io.py
  tmol/ligand/_registry.py
  tmol/tests/ligand/test_atom_type_element_roundtrip.py
  tmol/tests/ligand/test_conjugate_params_roundtrip.py
  tmol/tests/ligand/test_ligand_entry_paths.py
  tmol/tests/ligand/test_parameter_replacements.py
Due: black

Reuse Dunbrack derivative scratch and parallelize independent CPU pairs
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/tests/score/common/test_rotamer_inference.py
Due: clang-format, black

Wrap private conformer arrays without an extra CPU copy
  tmol/pack/rotamer/_build_rotamers.py
Due: black

Defer unused pairwise electrostatics gradient storage
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/tests/score/common/test_rotamer_inference.py
Due: clang-format, black

Validate used scoring types and reuse packed atom annotations
  review/pr503/FOLLOWUP.md
  review/pr503/PARAMETER_BUNDLES.md
  review/pr503/REVIEW.md
  review/pr503/check_missing_scoring_parameters.py
  review/pr503/profile_parameter_coverage.py
  review/pr503/results/parameter-coverage-validation.json
  tmol/score/_atom_type_dependent_term.py
  tmol/score/_chemical_database.py
  tmol/score/hbond/_hbond_dependent_term.py
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/_params.py
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/score/test_atom_type_parameter_coverage.py
Due: black

Skip unused hydrogen-bond derivative storage during inference
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/score/common/test_rotamer_inference.py
Due: clang-format, black

Remove unused LJLK derivative storage and forward extents
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/common/test_rotamer_inference.py
Due: clang-format, black

Require explicit finite charges for scored residues
  review/pr503/FOLLOWUP.md
  review/pr503/PARAMETER_BUNDLES.md
  review/pr503/REVIEW.md
  review/pr503/check_missing_charges.py
  review/pr503/profile_charge_coverage.py
  review/pr503/results/charge-coverage-validation.json
  tmol/database/default/scoring/elec.yaml
  tmol/score/elec/_params.py
  tmol/tests/score/elec/test_charge_coverage.py
Due: black

Assemble and validate hydrogen-bond parameter tables in bulk
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/check_hbond_pair_table.py
  review/pr503/profile_hbond_tables.py
  review/pr503/results/hbond-table-validation.json
  tmol/score/hbond/_params.py
  tmol/tests/score/hbond/test_empty_family_scoring.py
  tmol/tests/score/hbond/test_parameter_table_validation.py
  tmol/tests/score/test_nonbonded_parameter_identity.py
Due: black

Add isolated AtomWorks CIF scoring and minimization corpus runner
  review/pr503/run_atomworks_corpus.py
Due: black

Restore format validation precedence and audit absent ligand mainchains
  review/pr503/REVIEW.md
  review/pr503/run_atomworks_corpus.py
  tmol/ligand/_params_io.py
Due: black

Fix Colab setup and clarify tutorial entry points
  .github/scripts/smoke_tutorial_notebooks.py
  .github/scripts/test_colab_release_config.py
  docs/examples_index.rst
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/09_protein_interface_hotspot_scan.ipynb
  docs/tutorial/10_ligand_pose_sensitivity.ipynb
  docs/tutorial/11_extending_chemistry_and_scoring.ipynb
  docs/tutorial/12_explicit_foldforests_and_torsions.ipynb
  docs/tutorial/13_extending_the_packer.ipynb
  docs/tutorial/colab_setup.py
Due: black

Add advanced TMol extension recipes (#502)
  .github/scripts/smoke_tutorial_notebooks.py
  .github/scripts/test_colab_release_config.py
  docs/_static/tutorials/11_extending_chemistry_and_scoring.png
  docs/_static/tutorials/12_explicit_foldforests_and_torsions.png
  docs/_static/tutorials/13_extending_the_packer.png
  docs/conf.py
  docs/contributor_guide.md
  docs/examples_index.rst
  docs/index.rst
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/09_protein_interface_hotspot_scan.ipynb
  docs/tutorial/10_ligand_pose_sensitivity.ipynb
  docs/tutorial/11_extending_chemistry_and_scoring.ipynb
  docs/tutorial/12_explicit_foldforests_and_torsions.ipynb
  docs/tutorial/13_extending_the_packer.ipynb
  docs/tutorial/colab_setup.py
  docs/tutorial/recipe_index.md
  docs/user_guide/optimization.md
  docs/user_guide/scoring.md
  docs/workflows/extending_tmol.md
  docs/workflows/index.md
  docs/workflows/packing.md
Due: black

Share AtomWorks CIF input and fix complex-structure identity and completion failures
  pyproject.toml
  review/pr503/atomworks_example.py
  review/pr503/profile_workloads.py
  review/pr503/run_atomworks_corpus.py
  review/pr503/run_checks.sh
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/details/_build_missing_leaf_atoms.py
  tmol/ligand/_polymer_builder.py
  tmol/ligand/_preparation.py
  tmol/ligand/_registry.py
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/data/atomworks_regressions/acetylated_peptide_1j8z.cif
  tmol/tests/data/atomworks_regressions/conditional_generation.cif
  tmol/tests/data/atomworks_regressions/modified_components_6q9t.cif
  tmol/tests/data/atomworks_regressions/plp_enzyme_7mkv.cif
  tmol/tests/data/atomworks_regressions/provenance.json
  tmol/tests/data/atomworks_regressions/schiff_base_double_bond.cif
  tmol/tests/data/atomworks_regressions/unknown_heavy_atom_1a8o.cif
  tmol/tests/data/atomworks_regressions/unresolved_unl.cif
  tmol/tests/io/test_atomworks_corpus_regressions.py
  tmol/tests/io/test_atomworks_reader.py
  tmol/tests/io/test_filtered_covalent_partners.py
  tmol/tests/ligand/test_atomworks_modified_components.py
Due: black

Compact inference flags and regression coverage
  tmol/score/_energy_term.py
  tmol/score/common/whole_pose_scoring.cuda.cu
  tmol/score/disulfide/_disulfide_energy_term.py
  tmol/score/dunbrack/_dunbrack_energy_term.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/hbond/_hbond_energy_term.py
  tmol/tests/score/common/test_cuda_graph.py
  tmol/tests/score/common/test_rotamer_inference.py
  tmol/tests/types/test_functional.py
Due: clang-format, black

Run CUDA-only modules on CUDA fixture
  tmol/tests/score/common/test_cuda_graph.py
  tmol/tests/score/common/test_rotamer_inference.py
Due: black

Record complex-input minimization audit and unified input contract
  review/pr503/ATOMWORKS.md
  review/pr503/CORPUS_FINDINGS.md
  review/pr503/CURRENT_STATUS.md
  review/pr503/FOLLOWUP.md
  review/pr503/INPUT_CONTRACT.md
  review/pr503/PR_DESCRIPTION.md
  review/pr503/REVIEW.md
  review/pr503/check_input_encodings.py
  review/pr503/problem-fix-map.tsv
  review/pr503/results/atomworks-corpus-validation.json
  review/pr503/results/broad-current-validation.json
  review/pr503/results/input-encoding-contract.json
  review/pr503/results/released-atomworks-matrix.json
  tmol/tests/io/test_atomworks_reader.py
Due: black

refactor: share AtomWorks chemistry while preserving tmol protonation
  pyproject.toml
  review/pr503/benchmark_cif_completion.py
  review/pr503/check_protonation_fixture_parity.py
  review/pr503/run_checks.sh
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
  tmol/ligand/_detect.py
  tmol/ligand/_dimorphite_dl.py
  tmol/ligand/_rdkit_mol.py
  tmol/ligand/_structure_to_smiles.py
  tmol/tests/io/details/test_atomworks_histidine_parity.py
  tmol/tests/io/test_atomworks_reader.py
  tmol/tests/io/test_cif_completion.py
Due: black

Record shared chemistry parity, corpus outcomes and detailed review
  review/pr503/ATOMWORKS.md
  review/pr503/CURRENT_STATUS.md
  review/pr503/FOLLOWUP.md
  review/pr503/PROTONATION_AUDIT.md
  review/pr503/PR_DESCRIPTION.md
  review/pr503/REVIEW.md
  review/pr503/benchmark_shared_rdkit.py
  review/pr503/problem-fix-map.tsv
  review/pr503/results/protonation-fixture-parity.json
  review/pr503/results/shared-broad-validation.json
  review/pr503/results/shared-chemistry-validation.json
  review/pr503/results/shared-converter-benchmark.json
  review/pr503/results/shared-corpus-validation.json
  review/pr503/results/vendor-builtin-tests.json
  tmol/ligand/_structure_to_smiles.py
  tmol/tests/ligand/test_atom_typing_regressions.py
Due: black

Link published tmol review PR
  review/pr503/CURRENT_STATUS.md
Due: none

Prune redundant performance regression tests
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_compact_semantics.py
  tmol/tests/optimization/test_lbfgs_two_loop.py
  tmol/tests/score/common/test_autograd_materialization.py
  tmol/tests/score/common/test_cuda_graph.py
  tmol/tests/score/common/test_native_inference.py
  tmol/tests/score/common/test_whole_pose_gradients.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/test_score_function.py
  tmol/tests/types/test_functional.py
Due: black

refactor: replace model-specific inputs with executable interface tutorials
  docs/examples/model_inputs.py
  docs/index.rst
  docs/model_inputs.rst
  pyproject.toml
  review/pr503/INPUT_CONTRACT.md
  review/pr503/run_atomworks_corpus.py
  review/pr503/run_checks.sh
  tmol/__init__.py
  tmol/extern/openfold/residue_constants.py
  tmol/extern/rosettafold2/chemical.py
  tmol/io/__init__.py
  tmol/io/_pose_stack_from_openfold.py
  tmol/io/_pose_stack_from_rosettafold2.py
  tmol/tests/data/rosettafold2/input_layout.json
  tmol/tests/io/test_atomworks_reader.py
  tmol/tests/io/test_model_input_tutorial.py
  tmol/tests/io/test_pose_stack_from_openfold.py
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
Due: black

fix: preserve cap reference names and explain missing polymer candidates
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_preparation.py
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/data/atomworks_regressions/macrocycle_1xvk.cif
  tmol/tests/data/atomworks_regressions/provenance.json
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

docs: record integrated input audits, complete GPU corpus, and interface removal
  review/pr503/ATOMWORKS.md
  review/pr503/CONTINUED_REVIEW.md
  review/pr503/CORPUS_FINDINGS.md
  review/pr503/CURRENT_STATUS.md
  review/pr503/FOLLOWUP.md
  review/pr503/PROTONATION_AUDIT.md
  review/pr503/PR_DESCRIPTION.md
  review/pr503/REVIEW.md
  review/pr503/benchmark_residue_bonds.py
  review/pr503/problem-fix-map.tsv
  review/pr503/results/continued-broad-validation.json
  review/pr503/results/continued-corpus-full.json.gz
  review/pr503/results/continued-corpus-validation.json
  review/pr503/results/continued-integrated-validation.json
  review/pr503/results/continued-pdb-input-provenance.json
  review/pr503/results/continued-protonation-parity.json
  review/pr503/results/original-protonation-replay.json
  review/pr503/results/residue-bond-benchmark.json
Due: black

Replace native probe tests with scoring integration coverage
  CMakeLists.txt
  tmol/tests/score/common/test_whole_pose_gradients.py
  tmol/tests/score/common/whole_pose_gradients.pybind.cpp
  tmol/tests/score/dunbrack/dihedral.pybind.cpp
  tmol/tests/score/dunbrack/test_default_dihedral.py
  tmol/tests/score/test_score_function.py
  tmol/tests/utility/tensor/test_torch_context.py
  tmol/tests/utility/tensor/torch_context.cuda.cu
  tmol/tests/utility/tensor/torch_context.pybind.cpp
Due: clang-format, black

Broaden runtime gradient layout coverage
  tmol/tests/score/test_score_function.py
Due: black

docs: make custom model interfaces an executable Colab notebook
  docs/examples/model_inputs.py
  docs/model_inputs.rst
  notebooks/README.md
  notebooks/example_02_model_inputs.ipynb
  review/pr503/CURRENT_STATUS.md
  tmol/tests/io/test_model_input_tutorial.py
Due: black

Simplify performance paths and regression matrices
  tmol/pack/compiled/compiled.cuda.cu
  tmol/tests/optimization/test_lbfgs_state_resume.py
  tmol/tests/optimization/test_lbfgs_two_loop.py
  tmol/tests/pack/test_annealer_assignment_cache.py
  tmol/tests/score/common/test_cuda_graph.py
  tmol/tests/score/test_score_function.py
  tmol/types/_validators.py
Due: clang-format, black

Remove redundant lifecycle test coverage
  tmol/tests/score/common/test_cuda_graph.py
  tmol/tests/score/test_score_function.py
Due: black

fix: preserve explicit chemical topology and consistent generic torsion lookup
  review/pr503/run_checks.sh
  tmol/database/_patched_chemdb.py
  tmol/database/scoring/_genbonded.py
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_detect.py
  tmol/ligand/_polymer_profile.py
  tmol/ligand/_preparation.py
  tmol/score/genbonded/__init__.py
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/tests/chemical/test_patch.py
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/data/atomworks_regressions/provenance.json
  tmol/tests/data/atomworks_regressions/terminal_nucleotide_145d.cif
  tmol/tests/io/test_atomworks_corpus_regressions.py
  tmol/tests/io/test_filtered_covalent_partners.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/score/genbonded/test_generic_type_references.py
Due: clang-format, black

docs: record topology validation and preserve Frank’s parameter model
  review/pr503/CONTINUED_REVIEW.md
  review/pr503/CURRENT_STATUS.md
  review/pr503/PR_DESCRIPTION.md
  review/pr503/problem-fix-map.tsv
  review/pr503/results/topology-focused-validation.json
Due: none

Simplify internal CUDA graph capture
  tmol/score/common/_cuda_graph.py
Due: black

fix: restore mol2 carboxylates with shared AtomWorks chemistry
  tmol/ligand/_rdkit_mol.py
  tmol/tests/ligand/test_smiles_semantic.py
Due: black

fix: make file hydrogen authority explicit and preserve input compatibility
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_atomworks_reader.py
  tmol/tests/io/test_filtered_covalent_partners.py
  tmol/tests/io/test_visualize.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
  tmol/tests/score/test_mirror_image_scoring.py
  tmol/tests/test_covalent_components.py
Due: black

perf: repair only unresolved mol2 carboxylate bond orders
  tmol/ligand/_rdkit_mol.py
  tmol/tests/ligand/test_atom_typing_regressions.py
Due: black

fix: reject conflicting declared partners before connection writes
  tmol/io/details/_select_from_canonical.py
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/data/atomworks_regressions/conflicting_myristate_1aym.cif.gz
  tmol/tests/data/atomworks_regressions/provenance.json
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

docs: record Frank-model checks and current chemistry validation
  review/pr503/CONTINUED_REVIEW.md
  review/pr503/CURRENT_STATUS.md
  review/pr503/PR_DESCRIPTION.md
  review/pr503/problem-fix-map.tsv
  review/pr503/results/chemistry-followup-validation.json
Due: none

fix: retain observed stereochemistry in capped conjugate models
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_connection_params.py
  tmol/ligand/_local_conjugate_params.py
  tmol/tests/ligand/test_conjugate_model.py
  tmol/tests/ligand/test_generated_connection_params.py
  tmol/tests/ligand/test_local_conjugate_params.py
Due: black

fix: resolve conjugate models through declared input classes
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_connection_params.py
  tmol/tests/ligand/test_conjugate_model.py
Due: black

docs: record stereochemistry and attachment generator coverage
  review/pr503/CONTINUED_REVIEW.md
  review/pr503/CURRENT_STATUS.md
  review/pr503/PR_DESCRIPTION.md
  review/pr503/problem-fix-map.tsv
  review/pr503/results/conjugate-stereochemistry-validation.json
Due: none
