Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Removing unused imports. Tests now compare against the saved baselines.
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Removing additional unused imports.
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Updating beta2016 scorefunction to reference new ljattr/rep with proper weights.
  tmol/score/__init__.py
Due: black

Add an assert ensuring summed block pair scoring matches whole-pose scoring.
  tmol/tests/score/common/test_energy_term.py
Due: black

Adding independent block_pair/full_pose comparison test.
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Renaming test
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Removing redundant test
  tmol/tests/score/ljlk/test_baseline.py
Due: black

Updateing ljrep weights to correct value in several places.
  tmol/tests/optimization/test_score_pose_once_benchmark.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/score/test_score_function.py
Due: black

Removing unnecessary imports.
  tmol/tests/score/ljlk/test_baseline.py
Due: black

Adding some generic energy term tests to test the testing machinery.
  tmol/tests/score/common/test_energy_term.py
Due: black

removing import
  tmol/tests/score/common/test_energy_term.py
Due: black

Adding missing test files.
  tmol/tests/data/term_baselines/DummyEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/DummyEnergyTerm/test_whole_pose_scoring_jagged.yaml
Due: none

Remove rama and omega
  tmol/score/modules/omega.py
  tmol/score/modules/rama.py
  tmol/score/omega/__init__.py
  tmol/score/omega/potentials/__init__.py
  tmol/score/omega/potentials/compiled.cpu.cpp
  tmol/score/omega/potentials/compiled.cuda.cu
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/compiled.py
  tmol/score/omega/potentials/dispatch.hh
  tmol/score/omega/potentials/dispatch.impl.hh
  tmol/score/omega/potentials/params.hh
  tmol/score/omega/potentials/potentials.hh
  tmol/score/omega/script_modules.py
  tmol/score/rama/__init__.py
  tmol/score/rama/params.py
  tmol/score/rama/potentials/__init__.py
  tmol/score/rama/potentials/compiled.cpu.cpp
  tmol/score/rama/potentials/compiled.cuda.cu
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/score/rama/potentials/compiled.py
  tmol/score/rama/potentials/dispatch.hh
  tmol/score/rama/potentials/dispatch.impl.hh
  tmol/score/rama/potentials/params.hh
  tmol/score/rama/potentials/potentials.hh
  tmol/score/rama/script_modules.py
  tmol/tests/score/omega/__init__.py
  tmol/tests/score/omega/test_script_modules.py
Due: clang-format, black

Remove dun
  tmol/score/dunbrack/params.py
  tmol/score/dunbrack/potentials/compiled.cpu.cpp
  tmol/score/dunbrack/potentials/compiled.cuda.cu
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/dunbrack/potentials/dispatch.hh
  tmol/score/dunbrack/potentials/dispatch.impl.hh
  tmol/score/dunbrack/script_modules.py
  tmol/score/modules/constraint.py
  tmol/score/modules/dunbrack.py
  tmol/tests/score/dunbrack/test_dun_param_resolver.py
Due: clang-format, black

Remove old elec code
  tmol/score/elec/params.py
  tmol/score/elec/potentials/compiled.cpu.cpp
  tmol/score/elec/potentials/compiled.cuda.cu
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.py
  tmol/score/elec/potentials/dispatch.hh
  tmol/score/elec/potentials/dispatch.impl.hh
  tmol/score/elec/script_modules.py
  tmol/score/modules/elec.py
  tmol/tests/score/elec/test_script_modules.py
Due: clang-format, black

Remove old hbond code
  tmol/score/hbond/identification.py
  tmol/score/hbond/identification.pybind.cc
  tmol/score/hbond/potentials/compiled.cpu.cpp
  tmol/score/hbond/potentials/compiled.cuda.cu
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.pybind.cpp
  tmol/score/hbond/potentials/dispatch.hh
  tmol/score/hbond/potentials/dispatch.impl.hh
  tmol/score/hbond/script_modules.py
  tmol/score/modules/hbond.py
  tmol/tests/score/hbond/test_identification.py
  tmol/tests/score/hbond/test_script_module.py
Due: clang-format, black

linting
  tmol/score/dunbrack/params.py
  tmol/score/elec/params.py
  tmol/score/ljlk/params.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
Due: black

Remove remaining modules from the previous score system.
  tmol/score/modules/__init__.py
  tmol/score/modules/bases.py
  tmol/score/modules/bonded_atom.py
  tmol/score/modules/chemical_database.py
  tmol/score/modules/coords.py
  tmol/score/modules/database.py
  tmol/score/modules/device.py
  tmol/score/modules/stacked_system.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/test_dof_space.py
Due: black

Remove more unneeded code
  tmol/database/default/scoring/cartbonded.old.yaml
  tmol/database/default/scoring/omega.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/cartbonded.py
  tmol/database/scoring/omega.py
  tmol/score/hbond/params.py
  tmol/tests/database/scoring/test_cartbonded.py
Due: black

Linting
  tmol/score/hbond/params.py
Due: black

Remove redundant code
  tmol/optimization/modules.py
Due: black

Dimaio/minimizer perf (#293)
  tmol/optimization/modules.py
  tmol/optimization/sfxn_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Jagged score term test now includes a pose starting at not-0
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/DisulfideEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/DunbrackEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/RefEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/common/test_energy_term.py
Due: black

Use correct version of clang-format
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/score/backbone_torsion/potentials/potentials.hh
  tmol/score/bonded_atom.hh
  tmol/score/cartbonded/potentials/potentials.hh
  tmol/score/common/accumulate.hh
  tmol/score/common/cubic_hermite_polynomial.hh
  tmol/score/common/gen_coord.hh
  tmol/score/common/geom.hh
  tmol/score/common/polynomial.hh
  tmol/score/common/tuple_operators.hh
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/elec/potentials/potentials.hh
  tmol/score/hbond/identification.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/score/ljlk/potentials/common.hh
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/utility/tensor/TensorAccessor.h
Due: clang-format

Linting. More cleanup.
  tmol/score/bonded_atom.py
  tmol/tests/data/__init__.py
  tmol/tests/data/util.py
  tmol/tests/score/hbond/conftest.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Remove more old-scoring code. Migrate by-res-length test from old to new framework.
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/score/bonded_atom.py
  tmol/score/cartbonded/identification.py
  tmol/support/scoring/rosetta.py
  tmol/system/score_support.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/constraints/.DS_Store
  tmol/tests/data/constraints/6DMZ_A.fa
  tmol/tests/data/constraints/6DMZ_A.npz
  tmol/tests/data/rosetta_baseline/1ubq.scores.pickle
  tmol/tests/data/rosetta_baseline/__init__.py
  tmol/tests/data/rosetta_baseline/__main__.py
  tmol/tests/data/rosetta_baseline/setup.py
  tmol/tests/data/structure.py
  tmol/tests/data/util.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/score/hbond/conftest.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Updated clang-format/black for some files
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/score/backbone_torsion/potentials/potentials.hh
  tmol/score/bonded_atom.hh
  tmol/score/cartbonded/potentials/potentials.hh
  tmol/score/common/accumulate.hh
  tmol/score/common/cubic_hermite_polynomial.hh
  tmol/score/common/gen_coord.hh
  tmol/score/common/geom.hh
  tmol/score/common/polynomial.hh
  tmol/score/common/tuple_operators.hh
  tmol/score/dunbrack/params.py
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/elec/potentials/potentials.hh
  tmol/score/hbond/identification.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/score/ljlk/potentials/common.hh
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/utility/tensor/TensorAccessor.h
Due: clang-format, black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

