Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Remove extraneous print statements in score function
  tmol/score/score_function.py
Due: black

removing more print statements
  tmol/pose/pose_stack.py
  tmol/score/hbond/potentials/compiled.ops.cpp
Due: clang-format, black

Fix off-by-one error in IncludeCurrentSampler due to presence of virtual root in KTO
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/test_load_ig.py
Due: black

Running version of pack_rotamers with LJ + Hbond energy; have not written PoseStack creator yet
  tmol/pack/pack_rotamers.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/score/common/scoring_module.py
  tmol/score/energy_term.py
  tmol/score/score_function.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Add utility to create PoseStack for final rotamer assignment; scores not matching, yikes!
  tmol/pack/impose_rotamers.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/utility/cumsum.py
Due: black

One-body energies have to be segregated from two-body energies;
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/impose_rotamers.py
  tmol/pack/pack_rotamers.py
  tmol/tests/pack/test_load_ig.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Fix bug in chain deduction that shows up when dealing with more than two poses in a PoseStack
  tmol/io/chain_deduction.py
  tmol/tests/io/test_chain_deduction.py
Due: black

Add extra-chi-samples option to PackerTask; add test for pack_rotamers call
  tmol/pack/pack_rotamers.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

linting
  tmol/pack/impose_rotamers.py
  tmol/pack/pack_rotamers.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/conformer_sampler.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

linting
  tmol/pack/rotamer/include_current_sampler.py
  tmol/score/score_function.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/test_load_ig.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/utility/cumsum.py
Due: black

Reverting change to linux-cuda pinned versions for testing server
  environments/linux-cuda/requirements-linux-cuda.txt
Due: none

Try to install on nvidia/label/cuda-12.8.0 instead of cuda-12.8
  environments/linux-cuda/env.yml
Due: none

Fix several errors in handling jagged PoseStack packing
  tmol/pack/impose_rotamers.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Beef up the pack_rotamers unit test
  tmol/tests/pack/test_pack_rotamers.py
Due: black

fixing score term tests (only work with ljlk/hbond for now)
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Try changing error propogation location in "linting" script
  .buildkite/bin/linting
Due: none

Update for torch2.8 / CUDA 13.0 compatibility (#322)
  .buildkite/bin/linting
  environments/linux-cuda/env.yml
  tmol/extern/moderngpu/context.hxx
  tmol/tests/kinematics/segscan/segscan.cu
  tmol/utility/cpp_extension.py
Due: clang-format, black

Add macos build
  environments/macos-cpu/env.yml
  environments/macos-cpu/requirements-dev-macos-cpu.txt
  environments/macos-cpu/requirements-macos-cpu.txt
Due: none

Significant progress in rotamre energy evaluation for fa_elec
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
Due: clang-format, black

Fix base class EnergyTermTestBase for new scoring scheme; works for LJLK
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

FAElec now working in all unit tests
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
Due: clang-format

Turn on fa_elec in the packer unit test
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Working version of packer-compatible dunbrack energy
  tmol/score/common/scoring_module.py
  tmol/score/common/uaid_util.hh
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format, black

Update packer unit tests to use the dunbrack terms
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Progress on getting the backbone_torsion potentials working in the new rotamer-pair scoring scheme
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/uaid_util.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/score_types.py
Due: clang-format, black

Fully working version of the bb-tor term in packing mode
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/common/scoring_module.py
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_block_scoring.yaml
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Fix bug in enumerating rotamer pair indices in bb-tor
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/common/scoring_module.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Fix GPU version of backbone_torsion in packer
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/common/device_operations.cuda.impl.cuh
Due: clang-format

Update score_types.py w/ note that rama and omega are now packer enabled!
  tmol/score/common/scoring_module.py
  tmol/score/score_types.py
Due: black

Add python-only but sparse-dispatch compatible refE functionality
  tmol/score/common/scoring_module.py
  tmol/score/ref/ref_energy_term.py
  tmol/score/score_types.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Fledgling attempt at getting dslf working w/ sparse-dispatch
  tmol/score/disulfide/disulfide_energy_term.py
Due: black

lk ball mostly working
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
Due: clang-format, black

Forward progress on rotamer-centric disulfide energy evaluation
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/disulfide_pose_score.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/potentials.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format, black

Working version of energy evaluation
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format

Add dslf packing unit test
  tmol/score/score_types.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Threw a lot of stuff onto the page; saving progress
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/connection.hh
  tmol/score/common/device_operations.hh
Due: clang-format, black

cartbonded_pose_score.cpu.cpp seemingly compiles!
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/connection.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/ljlk/ljlk_energy_term.py
Due: clang-format, black

Seem to have scoring generating the right numbers; albiet, stored in different indices
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/tests/score/common/test_energy_term.py
Due: clang-format, black

Removing extraneous dim from grad outputs on backward pass.
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
Due: clang-format, black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

