Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

fix pyver variable
  .github/workflows/ci.yml
Due: none

fixed formatting
  tmol/io/details/compiled/compiled.py
  tmol/kinematics/compiled/compiled_ops.py
  tmol/pack/compiled/compiled.py
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pose/compiled/apsp_ops.py
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/cartbonded/potentials/compiled.py
  tmol/score/constraint/potentials/compiled.py
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/elec/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.py
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/lk_ball/potentials/compiled.py
  tmol/utility/cpp_extension.py
Due: black

docs: replace ruff references with black+flake8
  DEVELOPMENT.md
  README.md
Due: none

fixed compile setup
  .github/workflows/ci.yml
  tmol/score/lk_ball/potentials/compiled.ops.cpp
Due: clang-format

fixed JIT path
  tmol/io/details/compiled/compiled.py
  tmol/kinematics/compiled/compiled_ops.py
  tmol/pack/compiled/compiled.py
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pose/compiled/apsp_ops.py
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/cartbonded/potentials/compiled.py
  tmol/score/constraint/potentials/compiled.py
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/elec/potentials/compiled.py
  tmol/score/hbond/potentials/compiled.py
  tmol/score/ljlk/potentials/compiled.py
  tmol/score/lk_ball/potentials/compiled.py
Due: black

bumped version to 0.1.3 and added python 3.10 wheels
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
  README.md
  pyproject.toml
Due: none

editing comments, removing rogue includes
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

black/flake8 cleanup and dockerfile more general
  containers/apptainer/tmol-dev.def
  dev/bin/nvprof2json.py
  setup.py
  tmol/kinematics/compiled/compiled_inverse_kin.py
  tmol/kinematics/script_modules.py
  tmol/pose/pdb_info.py
  tmol/score/common/hash_util.py
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
  tmol/tests/score/bonded_atom/test_bonded_atom.py
  tmol/tests/utility/datastructures/test_in_place_heap.py
  tmol/tests/utility/tensor/test_tensor_struct.py
Due: black

readd some of the tests:
  tmol/tests/utility/cpp_extension/cuda.cu
  tmol/tests/utility/cpp_extension/hybrid.cpp
  tmol/tests/utility/cpp_extension/hybrid.cu
  tmol/tests/utility/cpp_extension/hybrid.pybind.cpp
  tmol/tests/utility/cpp_extension/pure.cpp
  tmol/tests/utility/cpp_extension/test_benchmark_tensor_args.cpp
  tmol/tests/utility/cpp_extension/test_benchmark_tensor_args.py
  tmol/tests/utility/cpp_extension/test_cpp_extension.py
Due: clang-format, black

bump to version 0.1.5
  pyproject.toml
Due: none

migrate build system from setup.py to scikit-build-core + CMake
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CMakeLists.txt
  DEVELOPMENT.md
  MANIFEST.in
  README.md
  pyproject.toml
  setup.py
  tmol/__init__.py
Due: black

fix review issues in scikit-build-core migration
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  CMakeLists.txt
  pyproject.toml
Due: none

cleanup: remove redundant env exports and avoid sdist isolation overhead
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix: set CMAKE_CUDA_ARCHITECTURES before project() to prevent sm_52 default
  CMakeLists.txt
Due: none

bump to 0.1.6
  pyproject.toml
Due: none

fix: add --no-deps to pip install in CI to avoid downloading torch
  .github/workflows/ci.yml
Due: none

fix: add Python.h includes and sync TORCH_CUDA_ARCH_LIST with Caffe2
  CMakeLists.txt
Due: none

ci: add -v to pip install for verbose build output
  .github/workflows/ci.yml
Due: none

fix: save Python includes before Torch clears them, strip Caffe2 gencode
  CMakeLists.txt
Due: none

fix: re-add gencode flags in CMAKE_CUDA_FLAGS after stripping Caffe2 defaults
  CMakeLists.txt
Due: none

fix: save CMAKE_CUDA_ARCHITECTURES before Caffe2 overwrites it to OFF
  CMakeLists.txt
Due: none

fix: use inplace editable mode so .so files are in source tree
  pyproject.toml
Due: none

fix: remove experimental editable.rebuild that breaks metadata generation
  pyproject.toml
Due: none

fix: set LIBRARY_OUTPUT_DIRECTORY for _C target to tmol/
  CMakeLists.txt
Due: none

pin black==26.1.0, clang-format==21.1.8, flake8==7.3.0 to match local
  pyproject.toml
Due: none

ci: exclude black/clang-format/flake8 from container pins to avoid version conflicts
  .github/workflows/ci.yml
Due: none

ci: also exclude pathspec/click/mypy-extensions from container pins (black deps)
  .github/workflows/ci.yml
Due: none

ci: exclude formatter deps from container pins to avoid version conflicts
  .github/workflows/ci.yml
Due: none

fix: use table format for license field (compat with older setuptools)
  pyproject.toml
Due: none

fix: link pybind11 modules against torch_python for tensor type_casters
  CMakeLists.txt
Due: none

Removing prints and extranous code/includes
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

Adding comments to biotite-to-cf
  tmol/io/pose_stack_from_biotite.py
Due: black

Initial work on making biotite export function work for atom array stacks.
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

fix: let pip resolve torch's NVIDIA deps instead of manual install
  .github/workflows/_build_wheel.yml
Due: none

fix: add --no-deps to pip wheel to skip pre-release torch resolution
  .github/workflows/_build_wheel.yml
Due: none

fix: read CUDA architectures from cache, not possibly-modified variable
  CMakeLists.txt
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

