Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Adapt large interface score reductions
  tmol/ops/_score_utils.py
  tmol/tests/ops/test_score_utils.py
Due: black

Report integrated cold-start results
  docs/workflows/gpu_batching.md
Due: none

Document adaptive interface reduction
  docs/workflows/gpu_batching.md
Due: none

Use scalar limits for parsed angles
  tmol/utility/_units.py
Due: black

Accelerate canonical PDB conversion
  tmol/io/_canonical_ordering.py
Due: black

Update final cold-start measurements
  docs/workflows/gpu_batching.md
Due: none

Reduce batched interface-score memory
  tmol/ops/_score_utils.py
  tmol/tests/ops/test_score_utils.py
Due: black

Load public API modules lazily
  tmol/__init__.py
Due: black

Accelerate repeated tensor score terms
  tmol/score/_score_function.py
  tmol/tests/nucleic/test_na_scoring.py
Due: black

Use functional gradients with graphed scorers
  tmol/tests/nucleic/test_na_scoring.py
Due: black

Silence expected graph-capture warmup warning
  tmol/score/_score_function.py
Due: black

Avoid cold Numba compile in disulfide search
  tmol/io/details/_disulfide_search.py
Due: black

Capture complete scoring CUDA graphs
  tmol/score/_score_function.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Avoid cold Numba compile in hydrogen setup
  tmol/score/hbond/_hbond_dependent_term.py
Due: black

Avoid cold Numba compile in residue refinement
  tmol/chemical/_all_bonds.py
  tmol/chemical/_ideal_coords.py
Due: black

Skip derivative setup in no-grad scoring
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Use C-backed safe YAML parsing
  tmol/database/_yaml.py
  tmol/database/chemical/__init__.py
  tmol/database/scoring/_cartbonded.py
  tmol/database/scoring/_disulfide.py
  tmol/database/scoring/_elec.py
  tmol/database/scoring/_genbonded.py
  tmol/database/scoring/_hbond.py
  tmol/database/scoring/_ljlk.py
  tmol/database/scoring/_na_torsion.py
  tmol/database/scoring/_ref.py
Due: black

Memory-map serialized scoring tables
  tmol/database/scoring/_dunbrack_libraries.py
  tmol/database/scoring/_omega_bbdep.py
  tmol/database/scoring/_rama.py
Due: black

Fast-path simple angle parameters
  tmol/utility/_units.py
Due: black

Format performance changes
  tmol/database/_yaml.py
  tmol/ops/_score_utils.py
  tmol/score/_score_function.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Avoid cold Numba compile in packing setup
  tmol/kinematics/_scan_ordering.py
  tmol/pack/rotamer/_bfs_sidechain.py
Due: black

Make lower-memory interface reduction explicit
  tmol/ops/_score_utils.py
  tmol/tests/ops/test_score_utils.py
Due: black

Make segmented minimization batch-safe
  tmol/optimization/_lbfgs_armijo.py
  tmol/optimization/_sfxn_modules.py
  tmol/pose/_pose_stack.py
  tmol/tests/optimization/test_lbfgs_segments.py
  tmol/tests/optimization/test_pose_stack_minimization.py
  tmol/tests/pose/test_pose_stack.py
Due: black

Polish interface reduction API and tests
  tmol/ops/_score_utils.py
  tmol/tests/ops/test_score_utils.py
Due: black

Use fast YAML loading for runtime configuration
  tmol/ligand/_params_file.py
  tmol/score/_score_function.py
Due: black

Reduce Cartesian minimizer setup overhead
  tmol/optimization/_sfxn_modules.py
Due: black

Avoid redundant segmented LBFGS device syncs
  tmol/optimization/_lbfgs_armijo.py
Due: black

speed up scoring and packing workflows
  tmol/__init__.py
  tmol/chemical/_all_bonds.py
  tmol/chemical/_ideal_coords.py
  tmol/database/_yaml.py
  tmol/database/chemical/__init__.py
  tmol/database/scoring/_cartbonded.py
  tmol/database/scoring/_disulfide.py
  tmol/database/scoring/_dunbrack_libraries.py
  tmol/database/scoring/_elec.py
  tmol/database/scoring/_genbonded.py
  tmol/database/scoring/_hbond.py
  tmol/database/scoring/_ljlk.py
  tmol/database/scoring/_na_torsion.py
  tmol/database/scoring/_omega_bbdep.py
  tmol/database/scoring/_rama.py
  tmol/database/scoring/_ref.py
  tmol/io/_canonical_ordering.py
  tmol/io/details/_disulfide_search.py
  tmol/kinematics/_scan_ordering.py
  tmol/ligand/_params_file.py
  tmol/ops/_score_utils.py
  tmol/pack/rotamer/_bfs_sidechain.py
  tmol/score/_score_function.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/_hbond_dependent_term.py
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/nucleic/test_na_scoring.py
  tmol/tests/ops/test_score_utils.py
  tmol/tests/score/test_score_function.py
  tmol/utility/_units.py
Due: clang-format, black

Make batched Cartesian minimization independent across poses (#418)
  tmol/optimization/_lbfgs_armijo.py
  tmol/optimization/_sfxn_modules.py
  tmol/pose/_pose_stack.py
  tmol/tests/optimization/test_lbfgs_segments.py
  tmol/tests/optimization/test_pose_stack_minimization.py
  tmol/tests/pose/test_pose_stack.py
Due: black

Bump version to 0.1.48
  pyproject.toml
Due: none

Optimize CUDA scoring kernels
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/launch_box_macros.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Specialize the LJLK derivative kernel
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Specialize electrostatics energy evaluation
  tmol/score/elec/potentials/elec_pose_score.impl.hh
Due: clang-format

Skip unused Cartesian bonded derivatives
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/potentials.hh
Due: clang-format

Skip unused Dunbrack coordinate derivatives
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/dunbrack/potentials/potentials.hh
Due: clang-format
