Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Fix cross-filesystem wheel downloads (#467)
  docs/installation.md
  docs/tutorial/colab_setup.py
  pyproject.toml
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Keep CPU gradient scoring numerically stable
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Fuse rotamer scoring and reduce packing overhead
  docs/user_guide/development.md
  docs/user_guide/optimization.md
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/compiled.cuda.cu
  tmol/relax/_fast_relax.py
  tmol/score/_score_function.py
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/__init__.py
  tmol/score/hbond/potentials/_compiled.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/__init__.py
  tmol/score/ljlk/potentials/_compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/score/test_score_function.py
  tmol/tests/utility/test_cpp_extension.py
  tmol/utility/_cpp_extension.py
Due: clang-format, black

Fuse rotamer scoring and reduce packing overhead (#469)
  docs/user_guide/development.md
  docs/user_guide/optimization.md
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/compiled.cuda.cu
  tmol/relax/_fast_relax.py
  tmol/score/_score_function.py
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/__init__.py
  tmol/score/hbond/potentials/_compiled.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/__init__.py
  tmol/score/ljlk/potentials/_compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/score/test_score_function.py
  tmol/tests/utility/test_cpp_extension.py
  tmol/utility/_cpp_extension.py
Due: clang-format, black

Harden block-pair dispatch arithmetic
  tmol/score/common/counting.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/common/upper_triangle_indices.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

Harden block-pair dispatch arithmetic (#470)
  tmol/score/common/counting.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/common/upper_triangle_indices.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

Avoid redundant hydrogen-bond distance evaluation
  tmol/score/hbond/potentials/hbond.hh
Due: clang-format

Check bonded per-pose dispatch products
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
Due: clang-format

Reduce hydrogen-bond work and harden bonded dispatch (#471)
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond.hh
Due: clang-format

Fuse Armijo parameter updates
  tmol/optimization/_lbfgs_armijo.py
Due: black

Fuse Armijo parameter updates (#472)
  tmol/optimization/_lbfgs_armijo.py
Due: black

Reuse LBFGS reset masks
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_segments.py
Due: black

Skip unused LBFGS inactive mask
  tmol/optimization/_lbfgs_armijo.py
Due: black

Reduce idle LBFGS mask work (#473)
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_segments.py
Due: black

Skip excluded CUDA LJLK atom pairs
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Skip excluded CUDA LJLK atom pairs (#474)
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Skip distant LJ/LK derivative work
  tmol/score/ljlk/potentials/ljlk.hh
Due: clang-format

Skip distant LJ/LK derivative work (#475)
  tmol/score/ljlk/potentials/ljlk.hh
Due: clang-format

Fuse LJ/LK derivative traversal
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Remove superseded LJ/LK helpers
  tmol/score/ljlk/potentials/ljlk.hh
Due: clang-format

Harden fused rotamer gradient comparison
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Fuse LJ/LK derivative traversal (#476)
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Remove obsolete LJLK heavy-atom tile state
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Remove obsolete LJLK heavy-atom tile state (#477)
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

automatic NCAA compatibility part 7: hybrid gen_bonded term now handles scoring of polymeric NCAAs. several bugfixes in inter-residue cart-bonded uncovered and fixed.
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/default/scoring/genbonded.yaml
  tmol/database/scoring/_genbonded.py
  tmol/ligand/_polymer_builder.py
  tmol/score/backbone_torsion/__init__.py
  tmol/score/backbone_torsion/_params.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/connection.hh
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/na_torsion/__init__.py
  tmol/score/na_torsion/_params.py
  tmol/tests/score/cartbonded/test_cartbonded_param_reachability.py
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
  tmol/tests/score/test_torsion_ownership.py
Due: clang-format, black

MIssed some files in previous commit
  tmol/ligand/_polymer_profile.py
  tmol/ligand/_preparation.py
  tmol/tests/data/noncanonical_scores.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_disulfide_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/ligand/test_noncanonical_residues.py
  tmol/tests/score/test_noncanonical_scoring.py
  tmol/tests/score/test_score_function.py
Due: black

set NCAA tests to run fixed seed, update references
  tmol/tests/data/noncanonical_scores.yaml
  tmol/tests/score/genbonded/test_genbonded_energy_term.py
  tmol/tests/score/test_noncanonical_scoring.py
Due: black

small tolerance change
  tmol/tests/score/test_noncanonical_scoring.py
Due: black

Accelerate packed scoring setup
  tmol/score/_atom_type_dependent_term.py
  tmol/score/_bond_dependent_term.py
  tmol/score/_score_function.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/dunbrack/_dunbrack_energy_term.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Accelerate packed scoring setup (#479)
  tmol/score/_atom_type_dependent_term.py
  tmol/score/_bond_dependent_term.py
  tmol/score/_score_function.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/dunbrack/_dunbrack_energy_term.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Use scalar CPU lanes for fused rotamer scoring
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format

Prune distant rotamer pairs from compact dispatch
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Use scalar CPU lanes for fused rotamer scoring (#480)
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format

Prune distant rotamer pairs from compact dispatch (#481)
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Use direct CPU loops for packed pair scoring
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Use direct CPU loops for packed pair scoring (#482)
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

automatic NCAA compatibility part 8: support for cyclic peptides
  tmol/io/_canonical_form.py
  tmol/io/_canonical_ordering.py
  tmol/io/_pose_stack_construction.py
  tmol/io/_pose_stack_deconstruction.py
  tmol/io/details/__init__.py
  tmol/io/details/_left_justify_canonical_form.py
  tmol/io/details/_select_from_canonical.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/tests/data/cif/cyclic_peptide_1jbl.cif
  tmol/tests/data/pdb/cyclic_peptide_1jbl.pdb
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/test_cyclic_peptide.py
Due: clang-format, black

Differentiate fused rotamer pair scoring
  tmol/score/_score_function.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Differentiate fused rotamer pair scoring (#483)
  tmol/score/_score_function.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black
