Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.7
  require_serial: true

Linting
  tmol/kinematics/fold_forest.py
  tmol/kinematics/metadata.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pack/sim_anneal/annealer.py
  tmol/pose/pose_stack.py
  tmol/pose/pose_stack_builder.py
  tmol/score/dunbrack/params.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/rama/script_modules.py
  tmol/tests/conftest.py
  tmol/tests/kinematics/test_check_fold_forest.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/pose/__init__.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/score/dunbrack/test_dun_param_resolver.py
  tmol/utility/tensor/common_operations.py
Due: black

First pass implementaiton of C++/CUDA all-pairs-shortest-paths
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/pose/compiled/apsp.cuda.cu
  tmol/pose/compiled/apsp.hh
  tmol/pose/compiled/apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/utility/function_dispatch/aten.hh
Due: clang-format, black

Working versions of CPU- and GPU All-pairs-shortest-path algorithms
  tmol/extern/moderngpu/transform.hxx
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/pose/compiled/apsp.cuda.cu
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/pose_stack_builder.py
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/sphere_overlap.cuda.cuh
  tmol/tests/optimization/test_score_pose_once_benchmark.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
Due: clang-format, black

Saving progress
  tmol/chemical/constants.py
  tmol/chemical/restypes.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/dunbrack.yaml
  tmol/optimization/sfxn_modules.py
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/pose/compiled/apsp.cuda.cu
  tmol/pose/compiled/apsp.hh
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/pose_stack_builder.py
  tmol/score/bond_dependent_term.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
Due: clang-format, black

saving progressy
  tmol/pose/pose_stack_builder.py
Due: black

Create connection point path separation matrix and call APSP
  tmol/pose/pose_stack_builder.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/common_operations.py
Due: black

End-to-end construction of a PoseStack containing disulfides
  tmol/pose/pose_stack_builder.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

Fix a few small problems
  tmol/extern/moderngpu/launch_params.hxx
  tmol/pose/pose_stack_builder.py
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Add multi-chain PoseStack construction logic
  tmol/pose/pose_stack_builder.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

linting test_pose_stack_construction.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

Linting
  tmol/pose/compiled/apsp_ops.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/optimization/test_score_pose_once_benchmark.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
Due: black

Fix accidental changes to moderngpu
  tmol/extern/moderngpu/launch_params.hxx
  tmol/extern/moderngpu/transform.hxx
Due: none

Add forgotten file
  tmol/score/common/debug.cuh
Due: clang-format

Lint with correct version of black, 18.6b4
  tmol/optimization/sfxn_modules.py
  tmol/pose/pose_stack_builder.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/score/hbond/test_hbond_energy.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/common_operations.py
Due: black

Fix indentation issue in aten.hh
  tmol/utility/function_dispatch/aten.hh
Due: clang-format

Fix two small errors for failing tests.
  tmol/tests/benchmark_plot.py
  tmol/tests/test_cuda.py
Due: black

Linting / removing commented-out code
  tmol/optimization/sfxn_modules.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pose/pose_stack_builder.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy.py
Due: black

Trying to write GPU code that can be run on CPU; some progress
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
Due: clang-format

OK! Pretty darn close to a version that runs on both GPU and CPU
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Rework CPU's DeviceOperations::foreach_workgroup
  tmol/score/common/device_operations.cpu.impl.hh
Due: clang-format

Adding macros for reduction
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Separate out workgroup-size and tile-size concepts
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Pushing progress for the week
  tmol/score/common/accumulate.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/diamond_macros.hh
  tmol/score/common/launch_box_macros.hh
  tmol/score/common/shuffle_reduce.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Saving progress
  tmol/score/common/accumulate.hh
  tmol/score/common/device_operations.cuda.impl.cuh
Due: clang-format

Saving progress; some parts of the sphere overlap detection compile
  tmol/score/common/accumulate.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/launch_box_macros.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Ok, full sphere overlap detection in CPU-compatible mode
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Compiling version of CPU-compatible but GPU-optimized LJ/LK
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/diamond_macros.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Clean up code a bit
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.cpu.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Force synchronization for accurate timing
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Extra LJ/LK unit test to make sure stacked-pose scoring is consistent
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Fixing a significant performance bug; some still remain, though
  tmol/score/common/device_operations.cuda.impl.cuh
Due: clang-format

Start to move boilerplate atom-pair iteration into templates
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Start refactoring the boilerplate around atom-energy calcs
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Unify lj-atom-pair-energy eval, step 1
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

small edits
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Moving intra-residue evaluation into templated tiling code
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Unified intra/inter score params make code cleaner
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

First-pass implementation of templated tile energy evaluation
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Working version of the templated tile score evaluation of LJ/LK
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

