Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Add advanced TMol extension tutorials
  .github/scripts/smoke_tutorial_notebooks.py
  docs/_static/tutorials/11_extending_chemistry_and_scoring.png
  docs/_static/tutorials/12_explicit_foldforests_and_torsions.png
  docs/_static/tutorials/13_extending_the_packer.png
  docs/conf.py
  docs/contributor_guide.md
  docs/examples_index.rst
  docs/index.rst
  docs/tutorial/11_extending_chemistry_and_scoring.ipynb
  docs/tutorial/12_explicit_foldforests_and_torsions.ipynb
  docs/tutorial/13_extending_the_packer.ipynb
  docs/tutorial/recipe_index.md
  docs/user_guide/optimization.md
  docs/user_guide/scoring.md
  docs/workflows/extending_tmol.md
  docs/workflows/index.md
  docs/workflows/packing.md
Due: black

Fix score option resets and rotamer tensor lifetimes
  tmol/score/_energy_term.py
  tmol/score/_score_function.py
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ref/_ref_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Parallelize compact CPU scoring across poses
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Defer close-range LK spline setup until needed
  tmol/score/ljlk/potentials/lk_isotropic.hh
Due: clang-format

Specialize Dunbrack scoring and omit unused derivative scratch
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: clang-format, black

Avoid redundant CUDA Dunbrack scratch initialization
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format

Initialize derivatives for default Dunbrack dihedrals
  CMakeLists.txt
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/tests/score/dunbrack/dihedral.pybind.cpp
  tmol/tests/score/dunbrack/test_default_dihedral.py
Due: clang-format, black

Specialize shared LKBall scoring by interaction type
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Small bugfix + missing file
  tmol/ligand/_conjugation_patches.py
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.ops.cpp
Due: clang-format, black

Avoid unused Dunbrack derivatives in direct inference scoring
  tmol/score/_energy_term.py
  tmol/score/common/_scoring_module.py
  tmol/score/dunbrack/_dunbrack_energy_term.py
  tmol/tests/score/common/test_scoring_module.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Specialize fused CUDA scoring for large pose stacks
  tmol/score/_score_function.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Reuse sequential Dunbrack derivative scratch buffers
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format

Fuse CUDA whole-pose gradient weighting and reduction
  CMakeLists.txt
  tmol/score/backbone_torsion/potentials/_compiled.py
  tmol/score/cartbonded/potentials/_compiled.py
  tmol/score/common/whole_pose_scoring.cuda.cu
  tmol/score/common/whole_pose_scoring.hh
  tmol/score/disulfide/potentials/_compiled.py
  tmol/score/dunbrack/potentials/_compiled.py
  tmol/score/elec/potentials/_compiled.py
  tmol/score/genbonded/potentials/_compiled.py
  tmol/score/hbond/potentials/_compiled.py
  tmol/score/ljlk/potentials/_compiled.py
  tmol/tests/score/common/test_whole_pose_gradients.py
  tmol/tests/score/common/whole_pose_gradients.pybind.cpp
Due: clang-format, black

Split LKBall backward pair kernels for large pose stacks
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Specialize CUDA hydrogen-bond scoring with sparse-batch fallback
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: clang-format, black

Preserve small-stack hydrogen-bond scoring latency
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format

Avoid discarded derivatives in direct native term inference
  tmol/score/disulfide/_disulfide_energy_term.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/hbond/_hbond_energy_term.py
  tmol/tests/score/common/test_native_inference.py
Due: black

Avoid materializing unused neighbor-output gradients
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/tests/score/common/test_autograd_materialization.py
Due: clang-format, black

Use Hopper shared scratch for LKBall derivative temporaries
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Use explicit batched products for detached L-BFGS directions
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_two_loop.py
Due: black

Cache small Hopper annealer assignments in warp-private shared memory
  tmol/pack/compiled/compiled.cuda.cu
  tmol/tests/pack/test_annealer_assignment_cache.py
Due: clang-format, black

Reuse Torch CUDA scratch allocations without synchronizing streams
  CMakeLists.txt
  tmol/tests/utility/tensor/test_torch_context.py
  tmol/tests/utility/tensor/torch_context.cuda.cu
  tmol/tests/utility/tensor/torch_context.pybind.cpp
  tmol/utility/tensor/context_manager.hh
  tmol/utility/tensor/torch_context.hh
Due: clang-format, black

Copy wrapped L-BFGS histories without index tensors
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_armijo.py
Due: black

Write dense L-BFGS history updates directly into their slots
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_armijo.py
Due: black

Release L-BFGS closures with the temporary step context
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_armijo.py
Due: black

Broadcast dense CPU segment values without index gathers
  tmol/optimization/_lbfgs_armijo.py
Due: black

Estimate rotamer gradient roundoff across repeated layouts
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Combine batched CUDA line-search predicate synchronization
  tmol/optimization/_lbfgs_armijo.py
Due: black

Restore the missing cyclic closure search module
  tmol/io/details/_cyclic_search.py
Due: black

Use dense gradient views without L-BFGS padding scratch
  tmol/optimization/_lbfgs_armijo.py
Due: black

Preserve residue identity and streamline CIF completion and database hashing
  tmol/database/_patched_chemdb.py
  tmol/database/scoring/_content_hash.py
  tmol/io/_cif.py
  tmol/ligand/_detect.py
  tmol/ligand/_preparation.py
  tmol/tests/database/scoring/test_content_hash.py
  tmol/tests/io/test_cif_completion.py
Due: black

Preserve group sampling identities and validate lockstep rotamers before scoring
  tmol/pack/rotamer/_chi_budget.py
  tmol/pack/rotamer/_conjugated_chi_sampler.py
  tmol/pack/rotamer/_conjugated_groups.py
  tmol/pose/_conjugated_groups.py
  tmol/tests/pack/rotamer/test_group_sampling_regressions.py
  tmol/tests/pack/test_conjugated_group_packing.py
Due: black

Test closure inference and align fold-tree assertions with branch-point splitting
  tmol/io/details/_cyclic_search.py
  tmol/tests/io/details/test_cyclic_search.py
  tmol/tests/kinematics/test_fold_forest.py
Due: black

Keep ligand fragment selection and cut-bond restoration compatible with conjugations
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_fragmentation.py
Due: black

Document PR 503 review, line comments, experiments, and reproducible validation
  review/pr503/REVIEW.md
  review/pr503/VALIDATION.md
  review/pr503/benchmark_cif_completion.py
  review/pr503/reproduce_disulfide_order.py
  review/pr503/results/cif-benchmark.json
  review/pr503/results/cpu-environment.json
  review/pr503/results/examples-cpu.json
  review/pr503/results/examples-gpu.json
  review/pr503/results/gpu-environment.json
  review/pr503/results/test-runs.json
  review/pr503/run_checks.sh
  review/pr503/run_examples.py
  review/pr503/upstream-files.tsv
Due: black

Decode compact CPU neighbor indices once per candidate chunk
  tmol/score/common/sphere_overlap.impl.hh
  tmol/tests/score/common/test_compact_neighbors.py
Due: clang-format, black

Preserve tracked hydrogen-bond inference values on CPU
  tmol/score/hbond/_hbond_energy_term.py
Due: black

Build complete polymer termini with valid cap geometry and valence
  tmol/chemical/_restypes.py
  tmol/io/details/_build_missing_leaf_atoms.py
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_polymer_profile.py
  tmol/tests/io/test_polymer_caps.py
  tmol/tests/ligand/test_complete_polymer_chemistry.py
Due: black

Consume reader chemistry annotations and bound reference-profile caching
  tmol/ligand/_detect.py
  tmol/ligand/_rotamer_reference.py
  tmol/tests/ligand/test_reader_annotations.py
  tmol/tests/ligand/test_reference_cache_lifetime.py
Due: black
