Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Update README.md for MOL2 file charge description
  tmol/ligand/README.md
Due: none

Add one more build: python 3.12, pytorch 2.12, cuda 13.0 (#402)
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Harden fragmented ligand scoring tests
  tmol/ligand/README.md
  tmol/ligand/fragmentation.py
  tmol/ligand/preparation.py
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/score_utils.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: clang-format, black

feat: add user-defined ligand fragment scoring (#400)
  .gitignore
  tmol/database/chemical/__init__.py
  tmol/io/pose_stack_from_biotite.py
  tmol/io/write_pose_stack_pdb.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/fragmentation.py
  tmol/ligand/preparation.py
  tmol/pack/impose_rotamers.py
  tmol/pose/pose_stack.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/score_utils.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
Due: clang-format, black

Bump version to 0.1.46
  pyproject.toml
Due: none

Add Sphinx documentation site
  .github/scripts/update_docs_switcher.py
  .github/workflows/docs.yml
  README.md
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/_static/custom.css
  docs/_templates/autoapi/python/attribute.rst
  docs/_templates/autoapi/python/class.rst
  docs/_templates/autoapi/python/data.rst
  docs/_templates/autoapi/python/exception.rst
  docs/_templates/autoapi/python/function.rst
  docs/_templates/autoapi/python/method.rst
  docs/_templates/autoapi/python/module.rst
  docs/_templates/autoapi/python/package.rst
  docs/_templates/autoapi/python/property.rst
  docs/api_reference.rst
  docs/conf.py
  docs/contributor_guide.md
  docs/docs_requirements.txt
  docs/examples/GALLERY_HEADER.rst
  docs/examples/protein_ligand_refinement.py
  docs/examples/score_protein.py
  docs/index.rst
  docs/installation.md
  docs/make
  docs/notebooks/tmol_how_to_guide.ipynb
  docs/quickstart.md
  docs/user_guide/benchmarking.md
  docs/user_guide/development.md
  docs/user_guide/integrations.md
  docs/user_guide/ligands.md
  docs/user_guide/optimization.md
  docs/user_guide/scoring.md
  pyproject.toml
Due: black

Use GitHub Pages URL for docs
  .github/workflows/docs.yml
  README.md
  docs/_html_extra/CNAME
  docs/conf.py
Due: black

Declare TMol IO visualization exports
  tmol/io/__init__.py
Due: black

Align docs build behavior with reference repos
  .github/workflows/docs.yml
  docs/README.md
  docs/conf.py
  docs/contributor_guide.md
  docs/make
Due: black

Add guided refinement tutorial
  docs/_static/custom.css
  docs/_static/tutorials/score_pack_minimize.png
  docs/_static/tutorials/visualisation.png
  docs/api/ligand.rst
  docs/api_reference.rst
  docs/conf.py
  docs/examples_index.rst
  docs/index.rst
  docs/tutorial/index.rst
  docs/tutorial/score_pack_minimize.ipynb
Due: black

Restore docs navigation hierarchy
  docs/api_reference.rst
  docs/examples_index.rst
  docs/index.rst
Due: none

Simplify docs examples gallery
  docs/_static/custom.css
  docs/_static/tutorials/score_pack_minimize.png
  docs/_static/tutorials/visualisation.png
  docs/conf.py
  docs/examples_index.rst
  docs/tutorial/index.rst
Due: black

Add interactive TMol tutorial suite
  .github/scripts/smoke_tutorial_notebooks.py
  .github/workflows/docs.yml
  docs/_static/custom.css
  docs/_static/tutorial_thumbnail.svg
  docs/conf.py
  docs/docs_requirements.txt
  docs/examples_index.rst
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/rosetta_crosswalk.md
  docs/user_guide/optimization.md
  pyproject.toml
  tmol/__init__.py
  tmol/io/__init__.py
  tmol/io/visualize.py
  tmol/tests/io/test_visualize.py
Due: black

Make tutorial outputs interactive and discoverable
  .github/scripts/smoke_tutorial_notebooks.py
  .github/workflows/docs.yml
  docs/_static/custom.css
  docs/docs_requirements.txt
  docs/examples_index.rst
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/rosetta_crosswalk.md
  pyproject.toml
  tmol/io/visualize.py
  tmol/tests/io/test_visualize.py
Due: black

Add DNA chemical and scoring parameters; generalize cartbonded
  tmol/chemical/patched_chemdb.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/default/scoring/elec.yaml
  tmol/database/default/scoring/hbond.yaml
  tmol/database/default/scoring/ljlk.yaml
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_biotite.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1bna.pdb
  tmol/tests/data/pdb/1ysa.pdb
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_disulfide_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/nucleic/__init__.py
  tmol/tests/nucleic/test_dna_biotite_round_trip.py
  tmol/tests/nucleic/test_dna_round_trip.py
  tmol/tests/nucleic/test_dna_scoring.py
  tmol/tests/score/cartbonded/test_cartbonded_param_reachability.py
  tmol/tests/score/hbond/test_hbond_pair_coverage.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Remove (implicit) nonzeros from ref
  tmol/score/ref/ref_energy_term.py
Due: black

Add more options to patches: backbone_types and _base_ residue types patches apply to can be specified explicitly
  tmol/chemical/patched_chemdb.py
  tmol/database/chemical/__init__.py
  tmol/ligand/params_file.py
  tmol/ligand/params_io.py
  tmol/ligand/residue_builder.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Fix tests. Add protein/DNA full-structure scoring test.
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/score/dna_dihedral/test_dna_dihedral_benchmark.py
  tmol/tests/score/dna_dihedral/test_dna_dihedral_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Bugfix in canonical -> posestack when >warning_cut but <failure. clean up comments and variable naming
  tmol/io/details/select_from_canonical.py
  tmol/score/na_torsion/na_torsion_energy_term.py
  tmol/score/na_torsion/potentials.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/kinematics/test_fold_forest.py
Due: black

Add Colab-ready batched tutorial workflows
  .github/scripts/smoke_tutorial_notebooks.py
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/colab_setup.py
Due: black

lint
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
Due: clang-format

Fix tutorial lint formatting
  .github/scripts/smoke_tutorial_notebooks.py
  docs/tutorial/colab_setup.py
  tmol/tests/io/test_visualize.py
Due: black

Complete interactive tutorial workflows
  .github/scripts/smoke_tutorial_notebooks.py
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/colab_setup.py
Due: black

Complete batched packing and design tutorial.
  docs/conf.py
  docs/tutorial/04_packing_and_mutation_scan.ipynb
Due: black

Fix executable MOL2 preparation example.
  docs/tutorial/07_ligand_and_params.ipynb
Due: none

Fix published tutorial rendering and Colab entrypoints.
  .github/scripts/smoke_tutorial_notebooks.py
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/colab_setup.py
  tmol/io/visualize.py
  tmol/tests/io/test_visualize.py
Due: black

Complete the interactive nucleic-acid tutorial suite.
  docs/_static/tutorials/01_working_with_tmol.svg
  docs/_static/tutorials/02_gpu_batching.svg
  docs/_static/tutorials/03_scoring_and_analysis.svg
  docs/_static/tutorials/04_packing_and_mutation_scan.svg
  docs/_static/tutorials/05_minimization_constraints_kinematics.svg
  docs/_static/tutorials/06_fast_relax.svg
  docs/_static/tutorials/07_ligand_and_params.svg
  docs/_static/tutorials/08_nucleic_acids.svg
  docs/conf.py
  docs/examples_index.rst
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/colab_setup.py
  docs/tutorial/score_pack_minimize.ipynb
  docs/tutorial/visualisation.ipynb
  tmol/tests/data/cif/1BNA.cif
  tmol/tests/data/cif/1EHT.cif
  tmol/tests/data/cif/1HDD.cif
Due: black

Keep DNA mutation task masks monotonic.
  docs/tutorial/08_nucleic_acids.ipynb
Due: none

Install ligand preparation support in docs builds.
  docs/docs_requirements.txt
  pyproject.toml
Due: none

Validate the homeodomain mutation geometry.
  docs/tutorial/08_nucleic_acids.ipynb
Due: none

Tighten tutorial accuracy and validation.
  .github/scripts/smoke_tutorial_notebooks.py
  docs/README.md
  docs/_static/custom.css
  docs/_static/tutorial_thumbnail.svg
  docs/conf.py
  docs/contributor_guide.md
  docs/installation.md
  docs/notebooks/tmol_how_to_guide.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/colab_setup.py
  docs/tutorial/rosetta_crosswalk.md
  tmol/score/constraint/utility.py
  tmol/tests/score/constraint/test_constraint_utilities.py
Due: black

Render tutorial thumbnails from their structures.
  .github/scripts/render_tutorial_thumbnails.py
  .github/workflows/docs.yml
  docs/_static/tutorials/01_working_with_tmol.svg
  docs/_static/tutorials/02_gpu_batching.svg
  docs/_static/tutorials/03_scoring_and_analysis.svg
  docs/_static/tutorials/04_packing_and_mutation_scan.svg
  docs/_static/tutorials/05_minimization_constraints_kinematics.svg
  docs/_static/tutorials/06_fast_relax.svg
  docs/_static/tutorials/07_ligand_and_params.svg
  docs/_static/tutorials/08_nucleic_acids.svg
Due: black

Remove tutorial limitation sections.
  .github/scripts/render_tutorial_thumbnails.py
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
Due: black

Document the public API and score terms.
  docs/README.md
  docs/api/analysis.rst
  docs/api/chemical.rst
  docs/api/database.rst
  docs/api/io.rst
  docs/api/kinematics.rst
  docs/api/ligand.rst
  docs/api/optimization.rst
  docs/api/pack.rst
  docs/api/pose.rst
  docs/api/relax.rst
  docs/api/score.rst
  docs/api/score_terms.rst
  docs/api/top_level.rst
  docs/api/utility.rst
  docs/api_reference.rst
  docs/architecture.rst
  docs/contributor_guide.md
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/utility.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/elec/elec_energy_term.py
  tmol/score/energy_term.py
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/na_torsion/na_torsion_energy_term.py
  tmol/score/na_torsion/params.py
  tmol/score/ref/ref_energy_term.py
  tmol/score/score_function.py
  tmol/score/score_types.py
  tmol/score/score_utils.py
Due: black

Correct scientific framing across tutorials
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/rosetta_crosswalk.md
Due: none

Validate tutorial science and Colab compatibility
  .github/scripts/render_tutorial_thumbnails.py
  docs/_static/tutorials/01_working_with_tmol.svg
  docs/_static/tutorials/02_gpu_batching.svg
  docs/_static/tutorials/03_scoring_and_analysis.svg
  docs/_static/tutorials/04_packing_and_mutation_scan.svg
  docs/_static/tutorials/05_minimization_constraints_kinematics.svg
  docs/_static/tutorials/06_fast_relax.svg
  docs/_static/tutorials/07_ligand_and_params.svg
  docs/_static/tutorials/08_nucleic_acids.svg
  docs/examples_index.rst
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/colab_setup.py
  tmol/optimization/lbfgs_armijo.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

