Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.7
  require_serial: true

Updating linting.
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Derivatives working(?). Updated baselines.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: clang-format, black

Remove unnecessary import.
  tmol/score/disulfide/disulfide_energy_term.py
Due: black

Add 'new' omega score term. (#250)
  tmol/database/default/scoring/omega.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/omega.py
  tmol/score/common/uaid_util.hh
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/omega_whole_pose_module.py
  tmol/score/omega/params.py
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/compiled.py
  tmol/score/omega/potentials/omega_pose_score.cpu.cpp
  tmol/score/omega/potentials/omega_pose_score.cuda.cu
  tmol/score/omega/potentials/omega_pose_score.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/score/omega/potentials/params.hh
  tmol/score/score_types.py
  tmol/score/terms/omega_creator.py
  tmol/tests/score/omega/test_omega_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Code cleanup.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format

Initial commit for disulfides just to get stuff in...
  tmol/chemical/restypes.py
  tmol/database/default/scoring/disulfide.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/disulfide.py
  tmol/pose/pose_stack_builder.py
  tmol/score/disulfide/__init__.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/disulfide_whole_pose_module.py
  tmol/score/disulfide/params.py
  tmol/score/disulfide/potentials/__init__.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/disulfide/potentials/disulfide_pose_score.cpu.cpp
  tmol/score/disulfide/potentials/disulfide_pose_score.cuda.cu
  tmol/score/disulfide/potentials/disulfide_pose_score.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/params.hh
  tmol/score/disulfide/potentials/potentials.hh
  tmol/score/score_types.py
  tmol/score/terms/disulfide_creator.py
  tmol/tests/chemical/__init__.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/3plc.pdb
  tmol/tests/score/disulfide/__init__.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: clang-format, black

Disulfide score working.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format

More code cleanup.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format

Simplifying disulfide code by converting a few params to radians.
  tmol/database/default/scoring/disulfide.yaml
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format

Clean up.
  tmol/chemical/restypes.py
Due: black

Fix disulfide tests.
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: black

Annotate the disulfide connections in the block types. Update the packed block types to pull from those annotations. Update the tests to test these annotations.
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: black

Clean up.
  tmol/tests/chemical/__init__.py
  tmol/tests/data/__init__.py
Due: black

Removing some unused db params for disulfides.
  tmol/database/default/scoring/disulfide.yaml
  tmol/database/scoring/disulfide.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/disulfide_whole_pose_module.py
  tmol/score/disulfide/params.py
  tmol/score/disulfide/potentials/params.hh
Due: clang-format, black

Update score function benchmarks with disulfides.
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Updated the packed block disulfide tensor to use bool instead of int.
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/potentials/disulfide_pose_score.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format, black

Simplify kernel code.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format

Minor refactor.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/potentials.hh
Due: clang-format

Comments, rename func.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/potentials.hh
Due: clang-format

Move some additional parameters to the disulfide database.
  tmol/database/default/scoring/disulfide.yaml
  tmol/database/scoring/disulfide.py
  tmol/score/disulfide/disulfide_whole_pose_module.py
  tmol/score/disulfide/params.py
  tmol/score/disulfide/potentials/params.hh
  tmol/score/disulfide/potentials/potentials.hh
Due: clang-format, black

Truncate disulfide params to 4 decimals, update baselines.
  tmol/database/default/scoring/disulfide.yaml
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: black

Initial cartbonded rework.
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/cartbonded_whole_pose_module.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.cpu.cpp
  tmol/score/cartbonded/potentials/cartbonded_pose_score.cuda.cu
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

Various fixes for omega.
  tmol/score/common/uaid_util.hh
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

wip env with less strict requirements
  Dockerfile
  env.yml
  requirements-dev.in
  requirements.in
Due: none

don't fail on install if full git repo is not available to extract version
  setup.py
Due: black

wip py3.9
  env.yml
Due: none

fix parameterization of cuda tests
  tmol/tests/torch.py
Due: black

fix BenchmarkFixture args
  tmol/tests/benchmark.py
Due: black

improve compatibility with newer pint
  tmol/utility/units.py
Due: black

fix tmol/utility/reactive for python >= 3.8
  tmol/utility/reactive.py
Due: black

use typing.get_args instead of __args__ attribute in type validation code
  tmol/types/validators.py
Due: black

fix bug by casting to numpy array before passing to pandas.Categorical
  tmol/kinematics/metadata.py
Due: black

silence deprecation warning
  tmol/types/tensor.py
Due: black

silence some pandas deprecation warnings
  tmol/system/packed.py
Due: black

relax numba dep
  env.yml
Due: none

fix errors going from numpy 1.19 -> 1.12
  env.yml
  requirements.in
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
Due: black

add some tools to dockerfile
  Dockerfile
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

