Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

clean up cuda version extraction
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
Due: none

Fix bug with rotamer generations (unstable CA-C-O frame used in rotamer building)
  tmol/pack/rotamer/single_residue_kinforest.py
Due: black

Update 1R21.pdb
  tmol/tests/data/pdb/1R21.pdb
Due: none

Fix chi1 assignment
  tmol/pack/rotamer/build_rotamers.py
Due: black

Vectorize phi_c corrections
  tmol/pack/rotamer/build_rotamers.py
Due: black

Update settings.local.json
  .claude/settings.local.json
Due: none

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Fix CMake configure on macOS: OMP crash + missing pybind11
  CMakeLists.txt
Due: none

Fix OMP crash in torch version execute_process on macOS
  CMakeLists.txt
Due: none

adding include_current to build missing sidechains. fix crash in mismatch of pose_stack->CF coords vs occupancy/b_factors filling out proper defaults for occupancy/b_factors coming from biotite
  tmol/io/pose_stack_deconstruction.py
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

Fix packing bugs: inclusive v exclusive scan, wrong atoms used to compute phi/psi, error in sentinel value check in phi/psi calc in packer
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
Due: clang-format, black

Properly sample proton chi angles
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
Due: black

Fix bug in MainchainFingerprint where O and OXT were colliding.
  tmol/pack/rotamer/mainchain_fingerprint.py
Due: black

Another indexing error(?)
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
Due: black

make support build matrix via ABI more clear and support colab build
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

support cpu build
  .github/workflows/build_wheel.yml
  CMakeLists.txt
Due: none

better labels
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

fixed and cleaned up builds
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  DEVELOPMENT.md
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/data/__init__.py
Due: black

rewrite readme
  DEVELOPMENT.md
  README.md
  tmol/io/pose_stack_from_biotite.py
Due: black

Fix a handful of bugs that Frank already fixed, but also, rename some variables and add comments for clarity
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/score/common/complex_dispatch.cpu.impl.hh
  tmol/score/common/complex_dispatch.cuda.impl.cuh
  tmol/score/common/complex_dispatch.hh
  tmol/score/dunbrack/params.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: clang-format, black

Convert degree-based chi sampels to radians for sampling
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
Due: clang-format, black

Remove debugging statement
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: clang-format, black

Add unit test for proper rotamer building (comparing to gold standard)
  tmol/tests/pack/rotamer/gold_repack_1ubq_rotamers.pdb
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Modify CPU SimAnneal params to match R3
  tmol/pack/compiled/compiled.cpu.cpp
Due: clang-format

Fix proline issues. Combine proline and root-atom corrections into annotations in the pbt.
  tmol/pack/build_missing_sidechains.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
Due: clang-format, black

Kdidi/new builds (#353)
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CMakeLists.txt
  DEVELOPMENT.md
  README.md
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/data/__init__.py
Due: black

IO Bugfixes (#358)
  tmol/io/pose_stack_deconstruction.py
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

Fix bug with rotamer generation (#355)
  tmol/pack/build_missing_sidechains.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/score/common/complex_dispatch.cpu.impl.hh
  tmol/score/common/complex_dispatch.cuda.impl.cuh
  tmol/score/common/complex_dispatch.hh
  tmol/score/dunbrack/params.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/gold_repack_1ubq_rotamers.pdb
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: clang-format, black

Eliminate all nrot^2 allocations by compressing ops to block level
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

Aleaverfay/relax w coord csts (#350)
  tmol/__init__.py
  tmol/kinematics/move_map.py
  tmol/relax/fast_relax.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/utility.py
  tmol/score/score_function.py
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pose/test_constraint_set.py
  tmol/tests/relax/test_fast_relax.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
  tmol/tests/score/constraint/test_constraint_utilities.py
Due: black

Modify SA to ONLY consider neighbors when substituting
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

better error handling for git ci
  .github/workflows/ci.yml
Due: none

fix circular import issue
  tmol/utility/cpp_extension.py
Due: black

backporting biotite function that is not available in python 3.10's versions of biotite
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/utility/biotite_util.py
Due: black
