Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Updating test error check
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Adding tests
  tmol/tests/data/pdb/1R21.pdb
  tmol/tests/data/pdb/1r21.pdb
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Remove 1r21.pdb, preserving 1R21.pdb, that breaks the tmol repo on mac
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1r21.pdb
Due: black

Add ContextManager to lBFGS
  tmol/optimization/compiled/lbfgs.cuda.cu
Due: clang-format

Trying to debug a CUDA issue
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

Remove 1r21.pdb, preserving 1R21.pdb, that breaks the tmol repo on mac (#378)
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1r21.pdb
Due: black

fix torch version
  .github/workflows/ci.yml
Due: none

Adding hydrogens back to 1R21
  tmol/tests/data/pdb/1R21.pdb
Due: none

Update params files to be more consistent with Rosetta. Update dud ligand test to be more strict.
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/hbond.yaml
  tmol/tests/ligand/test_dud_ligands.py
Due: black

Add code to split out a single Pose from a PoseStack + PDBInfo + ConstraintSet object
  tmol/pose/constraint_set.py
  tmol/pose/pdb_info.py
  tmol/pose/pose_stack.py
  tmol/pose/pose_stack_builder.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/tests/pose/test_constraint_set.py
  tmol/tests/pose/test_pdb_info.py
  tmol/tests/pose/test_pose_stack.py
Due: black

Handle extraneous atoms (#375)
  .github/workflows/ci.yml
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Small fa_elec fix
  tmol/score/elec/potentials/potentials.hh
  tmol/tests/ligand/test_dud_ligands.py
Due: clang-format, black

Sanity-check for missing liogand atoms. Sanity check in packing when n_brt==0 (should not happen now but good future-proofing).
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
Due: clang-format, black

Fix bug with multi-block ligands in lkball
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/hbond.yaml
  tmol/score/lk_ball/lk_ball_energy_term.py
Due: black

commenting out generated params for now.
  tmol/tests/ligand/test_pli_scoring.py
Due: black

filter rosetta scores by dg
  tmol/tests/ligand/test_pli_scoring.py
Due: black

add pli cif files and fix atom typing
  .github/workflows/publish.yml
  DEVELOPMENT.md
  README.md
  pyproject.toml
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/mol3d.py
  tmol/ligand/params_io.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/data/protein_ligand_test/cif_inputs/ace.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ache.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ada.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ampc.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ar.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cdk2.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cox1.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cox2.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/egfr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/er_agonist.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/er_antagonist.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/fgfr1.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/fxa.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/gr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hivrt.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hmga.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hsp90.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/mr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/na.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/p38.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/parp.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pde5.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pdgfrb.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/rxr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/src.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/tk.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/trypsin.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/vegfr2.ligand.cif
  tmol/tests/ligand/build_pli_ligand_cifs.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
Due: black

update readme and ci submission
  .github/workflows/ci.yml
  tmol/ligand/README.md
  tmol/tests/data/protein_ligand_test/cif_inputs/ace.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ache.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ada.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ampc.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/ar.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cdk2.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cox1.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/cox2.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/egfr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/er_antagonist.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/fgfr1.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/fxa.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hivrt.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hmga.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/hsp90.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/mr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/na.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/p38.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/parp.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pde5.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pdgfrb.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/pr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/rxr.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/src.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/tk.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/trypsin.ligand.cif
  tmol/tests/data/protein_ligand_test/cif_inputs/vegfr2.ligand.cif
Due: none

extend support matrix:
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

extend support matrix:
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  tmol/database/__init__.py
  tmol/ligand/params_file.py
  tmol/ligand/registry.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

add insertion codes to cox2
  tmol/tests/data/protein_ligand_test/cox2_complex.pdb
Due: none

fixing trypsin insertion codes
  tmol/tests/data/protein_ligand_test/trypsin_complex.pdb
Due: none

Fixing a bug in hbond code where certain poly coeffs were assigned to the wrong slot. Renaming coefficients to make this problem more obvious in the future.
  tmol/database/default/scoring/hbond.yaml
  tmol/database/scoring/hbond.py
  tmol/score/hbond/params.py
  tmol/support/scoring/hbond_param_import.py
Due: black

update atom typing pipeline
  .github/workflows/ci.yml
  tmol/ligand/atom_typing.py
  tmol/ligand/equivalence.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_dud_ligands.py
Due: black

added docstrings and typehints
  .github/workflows/publish.yml
  pyproject.toml
  tmol/ligand/atom_typing.py
  tmol/ligand/chemistry_tables.py
  tmol/ligand/detect.py
  tmol/ligand/equivalence.py
  tmol/ligand/graph_match.py
  tmol/ligand/mol3d.py
  tmol/ligand/params_file.py
  tmol/ligand/rdkit_mol.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
Due: black

updated backend for auto wheel detect
  .github/workflows/publish.yml
  README.md
  pyproject.toml
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

bump to 0.1.16
  .github/workflows/_build_wheel.yml
  pyproject.toml
Due: none

bump to 0.1.17
  .github/workflows/publish.yml
  pyproject.toml
Due: none

bump to 0.1.18
  pyproject.toml
Due: none

bump to 0.1.19
  pyproject.toml
Due: none

rebuild ci
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
Due: none

bump to 0.1.20
  pyproject.toml
Due: none

bump to 0.1.21
  pyproject.toml
Due: none

bump to 0.1.22
  .github/workflows/publish.yml
  pyproject.toml
Due: none

adding a function to build a coord mask from a block mask
  tmol/score/score_utils.py
  tmol/tests/score/score_utils/test_build_coord_mask.py
Due: black

Adding coord mask generation utilities, updating protein_ligand_test rosetta score baselines.
  tmol/score/score_utils.py
  tmol/tests/data/protein_ligand_test/ace_complex_nometals.sc
  tmol/tests/data/protein_ligand_test/ache_complex.sc
  tmol/tests/data/protein_ligand_test/ada_complex_nometals.sc
  tmol/tests/data/protein_ligand_test/ampc_complex.sc
  tmol/tests/data/protein_ligand_test/ar_complex.sc
  tmol/tests/data/protein_ligand_test/cdk2_complex.sc
  tmol/tests/data/protein_ligand_test/cox1_complex.sc
  tmol/tests/data/protein_ligand_test/cox2_complex.sc
  tmol/tests/data/protein_ligand_test/egfr_complex.sc
  tmol/tests/data/protein_ligand_test/er_agonist_complex.sc
  tmol/tests/data/protein_ligand_test/er_antagonist_complex.sc
  tmol/tests/data/protein_ligand_test/fgfr1_complex.sc
  tmol/tests/data/protein_ligand_test/fxa_complex.sc
  tmol/tests/data/protein_ligand_test/gr_complex.sc
  tmol/tests/data/protein_ligand_test/hivrt_complex.sc
  tmol/tests/data/protein_ligand_test/hmga_complex.sc
  tmol/tests/data/protein_ligand_test/hsp90_complex.sc
  tmol/tests/data/protein_ligand_test/mr_complex.sc
  tmol/tests/data/protein_ligand_test/na_complex.sc
  tmol/tests/data/protein_ligand_test/p38_complex.sc
  tmol/tests/data/protein_ligand_test/parp_complex.sc
  tmol/tests/data/protein_ligand_test/pde5_complex_nometals.sc
  tmol/tests/data/protein_ligand_test/pdgfrb_complex.sc
  tmol/tests/data/protein_ligand_test/pr_complex.sc
  tmol/tests/data/protein_ligand_test/rxr_complex.sc
  tmol/tests/data/protein_ligand_test/src_complex.sc
  tmol/tests/data/protein_ligand_test/tk_complex.sc
  tmol/tests/data/protein_ligand_test/trypsin_complex.sc
  tmol/tests/data/protein_ligand_test/vegfr2_complex.sc
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/score/test_score_utils.py
Due: black

removing print statement
  tmol/score/score_utils.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

