Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Initial commit for constraints
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/score/score_types.py
  tmol/score/terms/constraint_creator.py
  tmol/tests/score/constraint/__init__.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Adjusting ref DB values, updating test baselines.
  tmol/database/default/scoring/ref.yaml
  tmol/score/ref/ref_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Fixing two out-of-bounds memory accesses
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
Due: clang-format

Rethinking the checks that are needed=
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
Due: clang-format

Turn on cart_bonded in the beta2016_score_function
  tmol/score/__init__.py
Due: black

Enable the actual cart-bonded terms in beta2016
  tmol/score/__init__.py
Due: black

Add cache check to ref energy term. cleanup code.
  tmol/score/ref/ref_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Adjust jagged baselines for dunbrack.
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Residue centric cartbonded (#260)
  tmol/chemical/constants.py
  tmol/chemical/restypes.py
  tmol/database/default/scoring/cartbonded.old.yaml
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/cartbonded.py
  tmol/pose/packed_block_types.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/cartbonded_whole_pose_module.py
  tmol/score/cartbonded/identification.py
  tmol/score/cartbonded/params.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.cpu.cpp
  tmol/score/cartbonded/potentials/cartbonded_pose_score.cuda.cu
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.py
  tmol/score/cartbonded/potentials/dispatch.impl.hh
  tmol/score/cartbonded/potentials/potentials.hh
  tmol/score/cartbonded/script_modules.py
  tmol/score/common/connection.hh
  tmol/score/common/hash_util.hh
  tmol/score/common/hash_util.py
  tmol/score/modules/cartbonded.py
  tmol/score/score_types.py
  tmol/score/terms/cartbonded_creator.py
  tmol/tests/database/scoring/test_cartbonded.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/cartbonded/test_script_modules.py
  tmol/tests/score/modules/test_cartbonded.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Fix out-of-bounds read in APSP (#273)
  tmol/pose/compiled/apsp.cuda.cu
Due: clang-format

Add atom_is_hydrogen data member to PackedBlockTypes
  tmol/chemical/restypes.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/canonical_packed_block_types.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/optimization/test_score_pose_once_benchmark.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/pose/__init__.py
  tmol/tests/pose/test_packed_block_tyeps.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/bonded_atom/test_bonded_atom.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/test_atom_type_dependent_term.py
  tmol/tests/score/test_score_function.py
  tmol/tests/score/test_score_function_benchmarks.py
  tmol/utility/tensor/TensorAccessor.h
Due: clang-format, black

Linting
  tmol/io/details/build_missing_leaf_atoms.py
Due: black

Enable the disulfide term in beta2016_score_function
  tmol/score/__init__.py
Due: black

Adding unit tests for elec params error handling
  tmol/score/elec/params.py
  tmol/tests/score/elec/test_elec_params.py
Due: black

linting
  tmol/tests/score/elec/test_elec_params.py
Due: black

Remove chi dihedral tensor.
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format, black

Gradcheck whole pose.
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Get ref weights by base name. Don't hardcode restypes as attrs, just pipe into dict.
  tmol/database/default/scoring/ref.yaml
  tmol/database/scoring/ref.py
  tmol/score/ref/ref_energy_term.py
Due: black

Adding an in-place heap implementation for efficient Dijkstra's limited-APSP
  tmol/tests/utility/datastructures/in_place_heap.cpp
  tmol/tests/utility/datastructures/test_in_place_heap.py
  tmol/utility/datastructures/in_place_heap.h
Due: clang-format, black

Saving progress
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/utility/cpp_extension.py
  tmol/utility/tensor/TensorAccessor.h
Due: clang-format, black

Working replacement of Floyd-Warshall's alg in APSP with Djikstra's alg
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/pose/compiled/apsp.cuda.cu
  tmol/pose/compiled/apsp.hh
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/pose_stack_builder.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/utility/datastructures/in_place_heap.cpp
  tmol/tests/utility/datastructures/test_in_place_heap.py
  tmol/utility/datastructures/in_place_heap.h
Due: clang-format, black

Clean up Dijkstra/Floyd-Warshall code
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
Due: clang-format, black

Linting
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
  tmol/tests/utility/datastructures/test_in_place_heap.py
Due: clang-format, black

Disable the (failing) test_sim_anneal unit tests
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
Due: black

Removing more unnecessary tensors.
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format, black

Ref default to zero if weight not found.
  tmol/score/ref/ref_energy_term.py
Due: black

Remove unnecessary tensors from ref.
  tmol/score/ref/ref_energy_term.py
  tmol/score/ref/ref_whole_pose_module.py
Due: black

Save progress
  tmol/io/pose_stack_deconstruction.py
Due: black

Res-centric dunbrack (#270)
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/dunbrack_whole_pose_module.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/dunbrack/potentials/dunbrack_pose_score.cpu.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.cuda.cu
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/score_types.py
  tmol/score/terms/dunbrack_creator.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Working version of PoseStack --> canonical form
  tmol/io/pose_stack_deconstruction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

Add test for deconstruction of jagged pose stacks
  tmol/io/chain_deduction.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

linting
  tmol/io/pose_stack_deconstruction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

Remove debugging statements
  tmol/io/pose_stack_deconstruction.py
Due: black

Ref Energy Term (#272)
  tmol/database/default/scoring/ref.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/ref.py
  tmol/score/ref/__init__.py
  tmol/score/ref/ref_energy_term.py
  tmol/score/ref/ref_whole_pose_module.py
  tmol/score/score_types.py
  tmol/score/terms/ref_creator.py
  tmol/tests/score/ref/__init__.py
  tmol/tests/score/ref/test_ref_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Fixing a test in dunbrack.
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Fix missing arg error in dunbrack test.
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Fix missing arg error in dunbrack test. (#277)
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Fix an arg error in the ref annotate test.
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

