Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Adding PoseStack construction routines from RosettaFold2
  tmol/database/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/rosettafold/sumo.pt
  tmol/tests/data/rosettafold/ubiquitin.pt
  tmol/tests/io/gold_ubq_rosettafold2_canform.pt
  tmol/tests/io/test_pose_stack_from_rosettafold.py
Due: black

Renaming some files / directories for consistency
  tmol/__init__.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/rosettafold2/sumo.pt
  tmol/tests/data/rosettafold2/ubiquitin.pt
  tmol/tests/io/gold_sumo_rosettafold2_canform.pt
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
Due: black

Testing error handling in ParamDB subsetting
  tmol/database/__init__.py
  tmol/tests/database/test_param_db.py
Due: black

Add more error handling unit tests
  tmol/io/canonical_ordering.py
  tmol/tests/io/test_canonical_form.py
Due: black

Add another error-handling unit test
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
Due: black

Add unit test to run assign_block_types w/ non-default termini options available
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Linting
  tmol/database/__init__.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/database/test_param_db.py
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
Due: black

Fix a warning from pandas
  tmol/score/chemical_database.py
Due: black

Drastically simplify the "is this atom real" logic in PackedBlockTypes
  tmol/pose/packed_block_types.py
  tmol/tests/pose/test_packed_block_tyeps.py
Due: black

Fixing a spelling mistake in a file name
  tmol/tests/pose/test_packed_block_types.py
Due: black

Add residue slicing to canonical_form_from_pdb_lines
  tmol/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/canonical_packed_block_types.py
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_deconstruction.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/packed_block_types.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_canonical_packed_block_types.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_canonical_form.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/io/test_pose_stack_deconstruction.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Rename pose_stack_from_pdb_lines and canonical_form_from_pdb_lines to just say "from_pdb"
  tmol/__init__.py
  tmol/io/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_construction.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_canonical_form.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/io/test_pose_stack_deconstruction.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Remove dependence on tmol.chemical.Residue class from many unit tests
  tmol/chemical/restypes.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_baseline.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
Due: black

Further improvements to 1body energy term unit tests
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: black

Rounding out the remaining score-term unit tests
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Deleting no-longer-needed file
  tmol/io/details/canonical_packed_block_types.py
Due: black

Add more documentation to API functions
  tmol/__init__.py
  tmol/io/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/io/write_pose_stack_pdb.py
Due: black

Changing torch.load calls in pytest fixtures to use map_location=torch_device
  tmol/tests/data/__init__.py
Due: black

Linting
  tmol/__init__.py
  tmol/io/canonical_ordering.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Add forgotten file
  tmol/extern/rosettafold2/chemical.py
Due: none

Small code changes w/o any behavioral changes to fix warnings
  tmol/chemical/restypes.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/score/dunbrack/params.py
Due: black

lk_ball remember whether forward pass was block pair
  tmol/score/lk_ball/potentials/compiled.ops.cpp
Due: clang-format

Fix bug in error reporting when residue type resolution fails
  tmol/io/details/select_from_canonical.py
Due: black

Activate the dunbrack terms in beta2016!
  tmol/score/__init__.py
Due: black

Reduce number of pertuzumab poses to benchmark to avoid 2080 memory limit failure
  tmol/tests/io/test_pose_stack_construction_benchmark.py
Due: black

Testing new bk setup
  .buildkite/bin/setup
  .buildkite/pipeline.yml
Due: none

More messing around with BK settings
  .buildkite/bin/setup
Due: none

In writing PoseStacks as PDBs, detach the coords tensor before numpy conversion
  tmol/io/write_pose_stack_pdb.py
Due: black

Refactor leaf-atom building into two steps
  tmol/io/details/build_missing_leaf_atoms.py
Due: black

Further refinement
  tmol/io/details/build_missing_leaf_atoms.py
Due: black

Add unit test to write a PDB to disk testing newly added 5-line func
  tmol/io/write_pose_stack_pdb.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Add "what if special restype X doesn't exist?" unit tests for two funcs
  tmol/io/details/disulfide_search.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_his_taut_resolution.py
Due: black

Add unit test for "multi-chain" RF2 prediction; fix bugs previously present
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
Due: black

Linting
  tmol/io/details/build_missing_leaf_atoms.py
Due: black

Testing new BK scripts.
  .buildkite/bin/setup
  .buildkite/bin/testing
Due: none

Eliminate untested line from unit test
  tmol/tests/database/test_param_db.py
Due: black

Add dubugging stmt
  .buildkite/bin/setup
Due: none

Move some logic to BK hooks
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/hooks/environment
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.yml
Due: none

Shuffle hooks
  .buildkite/hooks/environment
  .buildkite/hooks/pre-command
Due: none
