Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Remove protonation alternatives hooks.
  docs/api/pack.rst
  docs/workflows/packing.md
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/_protonation.py
  tmol/io/_protonation_alternatives.py
  tmol/pack/_pack_rotamers.py
  tmol/pack/_packer_task.py
  tmol/pack/protonation_alternatives.py
  tmol/relax/_fast_relax.py
  tmol/tests/pack/test_protonation_alternatives.py
Due: black

Set hydroxyl torsion weight to 1.0, matching Rosetta hxl_tors.
  tmol/database/score_functions/beta2016.sfxn
  tmol/database/score_functions/beta_soft.sfxn
Due: none

Fix publication scheduling after recovered release validation
  .github/workflows/_test_publish_scheduling.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-scheduling.yml
  scripts/test_publish_scheduling.py
Due: black

Preserve mirrored representatives for missing rotamer wells
  tmol/score/dunbrack/_params.py
  tmol/tests/score/dunbrack/test_missing_wells.py
Due: black

Retain variable-size accept_best coverage after palette cleanup
  tmol/pack/_packer_task.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Cover hydroxyl torsion weights and refresh tutorial values
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/11_extending_chemistry_and_scoring.ipynb
  tmol/tests/score/test_score_function.py
Due: black

Reject distant atom pairs before bond-path scoring
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_benchmarks.py
Due: clang-format, black

Remove the added repacking benchmark as requested
  tmol/tests/pack/test_pack_benchmarks.py
Due: black

fix: Undefined rotamers now find nearest neighbor rather than automatically choosing lowest-probability rotamer (#574)
  tmol/score/dunbrack/_params.py
  tmol/tests/score/dunbrack/test_missing_wells.py
Due: black

Remove protonation alternatives hooks. (#575)
  docs/api/pack.rst
  docs/workflows/packing.md
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/_protonation.py
  tmol/io/_protonation_alternatives.py
  tmol/pack/_pack_rotamers.py
  tmol/pack/_packer_task.py
  tmol/pack/protonation_alternatives.py
  tmol/relax/_fast_relax.py
  tmol/tests/pack/test_protonation_alternatives.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Reduce GPU annealing lookups and bound repacking scratch memory
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/_score_function.py
  tmol/score/hbond/_hbond_energy_term.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_streaming_interaction_graph.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Set hydroxyl torsion weight to 1.0, matching Rosetta hxl_tors. (#576)
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/11_extending_chemistry_and_scoring.ipynb
  tmol/database/score_functions/beta2016.sfxn
  tmol/database/score_functions/beta_soft.sfxn
  tmol/tests/score/test_score_function.py
Due: black

Skip redundant packing score work and reuse annealing buffers
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/_score_function.py
  tmol/score/backbone_torsion/_bb_torsion_energy_term.py
  tmol/score/backbone_torsion/potentials/_compiled.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/_compiled.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/genbonded/potentials/_compiled.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/score/common/test_rotamer_inference.py
Due: clang-format, black

Simplify H-bond setup and prune distant pairs before exclusions
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
Due: clang-format, black

Speed up repacking and reduce GPU memory use (#578)
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/_score_function.py
  tmol/score/backbone_torsion/_bb_torsion_energy_term.py
  tmol/score/backbone_torsion/potentials/_compiled.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/_compiled.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/genbonded/potentials/_compiled.py
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/genbonded_pose_score.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_streaming_interaction_graph.py
  tmol/tests/score/common/test_rotamer_inference.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Prepare 0.1.61 with latest merged runtime and binary-only installs
  README.md
  docs/installation.md
  pyproject.toml
Due: none

Prepare 0.1.61 and fix release publication scheduling (#577)
  .github/workflows/_test_publish_scheduling.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-scheduling.yml
  README.md
  docs/installation.md
  pyproject.toml
  scripts/test_publish_scheduling.py
Due: black

Handle annotated release tags and build immutable source on dispatch
  .github/workflows/_build_macos_wheel.yml
  .github/workflows/_build_wheel.yml
  .github/workflows/_test_sdist.yml
  .github/workflows/publish.yml
  scripts/test_release_source.py
  scripts/verify_release_source.py
Due: black

Add default support for AIB residue type
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/default/scoring/elec.yaml
  tmol/database/default/scoring/omega_bbdep.yaml
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/default/scoring/rama.yaml
  tmol/database/default/scoring/rama.zip
  tmol/pack/_packer_task.py
  tmol/support/scoring/_add_aib_tables.py
  tmol/tests/data/ncaa_fixtures/README.md
  tmol/tests/data/ncaa_fixtures/uic1_aib_9bzt.cif
  tmol/tests/test_fixture_manifests.py
Due: black

Repair over-protonated oxyacids in mol2 regenerate mode
  tmol/ligand/_input_repair.py
  tmol/ligand/_preparation.py
  tmol/tests/data/ligand_test/overprotonated_oxyacids/README.md
  tmol/tests/data/ligand_test/overprotonated_oxyacids/acetic_acid_all_single.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/acetic_acid_oxonium.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_phosphate_all_single.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_phosphate_oxonium.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_sulfate_all_single.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_sulfate_oxonium.mol2
  tmol/tests/ligand/test_overprotonated_oxyacids.py
Due: black

Update tests for AIB in the default database
  tmol/tests/ligand/test_nonstandard_backbones.py
  tmol/tests/pack/rotamer/test_noncanonical_rotamers.py
  tmol/tests/pack/test_packer_task.py
Due: black

Stabilize CUDA energy accumulation and prepare 0.1.62
  .github/workflows/publish.yml
  README.md
  docs/installation.md
  pyproject.toml
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Prepare 0.1.62 with stable CUDA scoring and release provenance fixes (#580)
  .github/workflows/_build_macos_wheel.yml
  .github/workflows/_build_wheel.yml
  .github/workflows/_test_sdist.yml
  .github/workflows/publish.yml
  README.md
  docs/installation.md
  pyproject.toml
  scripts/test_release_source.py
  scripts/verify_release_source.py
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Stub the oxyacid repair in the mol2 dispatch test
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: black

Loosen stack-vs-individual scoring tolerance for CUDA reduction noise
  tmol/tests/optimization/test_pose_stack_minimization.py
Due: black

Add default support for AIB residue type (#581)
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/default/scoring/elec.yaml
  tmol/database/default/scoring/omega_bbdep.yaml
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/default/scoring/rama.yaml
  tmol/database/default/scoring/rama.zip
  tmol/pack/_packer_task.py
  tmol/support/scoring/_add_aib_tables.py
  tmol/tests/data/ncaa_fixtures/README.md
  tmol/tests/data/ncaa_fixtures/uic1_aib_9bzt.cif
  tmol/tests/ligand/test_nonstandard_backbones.py
  tmol/tests/optimization/test_pose_stack_minimization.py
  tmol/tests/pack/rotamer/test_noncanonical_rotamers.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/test_fixture_manifests.py
Due: black

Repair over-protonated oxyacids in mol2 regenerate mode (#582)
  tmol/ligand/_input_repair.py
  tmol/ligand/_preparation.py
  tmol/tests/data/ligand_test/overprotonated_oxyacids/README.md
  tmol/tests/data/ligand_test/overprotonated_oxyacids/acetic_acid_all_single.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/acetic_acid_oxonium.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_phosphate_all_single.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_phosphate_oxonium.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_sulfate_all_single.mol2
  tmol/tests/data/ligand_test/overprotonated_oxyacids/methyl_sulfate_oxonium.mol2
  tmol/tests/ligand/test_ligand_unit_coverage.py
  tmol/tests/ligand/test_overprotonated_oxyacids.py
Due: black

Exclude test fixtures from release wheels
  pyproject.toml
Due: none

Stage PyPI-sized TMol CUDA 13 Torch 2.13 wheels
  .github/workflows/publish.yml
  scripts/pypi_cuda_wheels.py
  scripts/test_release_artifacts.py
  tmol/__init__.py
Due: black

Publish compact CUDA 13 TMol as one PyPI wheel
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  scripts/pypi_cuda_wheels.py
  scripts/test_release_artifacts.py
Due: black

Check compact CUDA wheel size in release-style CI
  .github/workflows/_build_wheel.yml
  .github/workflows/wheel-smoke.yml
Due: none

Expect CUDA 13 Torch 2.13 wheel smoke lane
  .github/scripts/test_colab_release_config.py
Due: black

Run focused CUDA 13 PyPI wheel smoke on stacked PRs
  .github/scripts/test_colab_release_config.py
  .github/workflows/cuda13-pypi-smoke.yml
  .github/workflows/wheel-smoke.yml
Due: black

Compress all CUDA release wheels for size
  .github/workflows/_build_wheel.yml
  .github/workflows/cuda13-pypi-smoke.yml
Due: none

Add elec_dens_fast energy term and beta_nov16_dens score function
  docs/api/score_terms.rst
  docs/user_guide/scoring.md
  scripts/score_density.py
  tmol/database/score_functions/beta_nov16_dens.sfxn
  tmol/score/__init__.py
  tmol/score/_score_types.py
  tmol/score/density/__init__.py
  tmol/score/density/_density_energy_term.py
  tmol/score/density/_fast_density.py
  tmol/score/density/density.py
  tmol/score/terms/__init__.py
  tmol/score/terms/_density_creator.py
  tmol/tests/score/density/test_density.py
  tmol/tests/score/density/test_density_energy_term.py
Due: black

Make tmol.tests.score.density a package
  tmol/tests/score/density/__init__.py
Due: black

Make beta_nov16_dens differ from beta2016 only by the density term
  docs/user_guide/scoring.md
  tmol/database/score_functions/beta_nov16_dens.sfxn
  tmol/score/__init__.py
  tmol/tests/score/density/test_density_energy_term.py
Due: black

Keep tmol's cart_hxltorsions weight in beta_nov16_dens
  tmol/database/score_functions/beta_nov16_dens.sfxn
Due: none

Build beta_nov16_dens from beta2016 in code instead of a copied weights file
  tmol/database/score_functions/beta_nov16_dens.sfxn
  tmol/score/__init__.py
Due: black

Build the density test map on the pose's device
  tmol/tests/score/density/test_density_energy_term.py
Due: black
