Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

adding type annotations, handle unrecognized residue types
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

now only repack missing sidechains. fixed bug in dunbrack_chi_sampler when only repacking a single residue.
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

Adding missing file
  tmol/pack/build_missing_sidechains.py
Due: black

Remove comment
  tmol/io/details/build_missing_leaf_atoms.py
Due: black

eliminating more unintentional changes
  tmol/support/scoring/hbond_param_import.py
Due: black

Removing prints and extranous code/includes
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

adding a test 1ubq file with one residue renamed to test non-canonical removal.
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

adding atom name to element code
  tmol/io/pose_stack_from_biotite.py
Due: black

Try to faithfully return the optional arguments that the caller of pose_stack_from_biotite has requested.
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

Optimizer and module updates (#347)
  .gitignore
  tmol/__init__.py
  tmol/kinematics/move_map.py
  tmol/optimization/kin_min.py
  tmol/optimization/lbfgs_armijo.py
  tmol/optimization/minimizers.py
  tmol/optimization/sfxn_modules.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/relax/fast_relax.py
  tmol/tests/optimization/test_minimizers.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/relax/test_fast_relax.py
Due: black

adding biotite to deps
  pyproject.toml
Due: none

New idea: Relax does not have hooks for adding constraints, only ramping them
  tmol/__init__.py
  tmol/relax/fast_relax.py
Due: black

decrementing biotite version
  pyproject.toml
Due: none

Change warning message printing behavior relating to ramp_constraints
  tmol/__init__.py
  tmol/relax/fast_relax.py
Due: black

some linting
  tmol/kinematics/move_map.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Default is now to fail on missing non-leaf atoms (like before), with an option to return a tensor of the missing atoms. Add check to C++ to ensure we aren't deriving locations from NaN atoms.
  tmol/io/pose_stack_construction.py
Due: black

vaguely working packer
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/pack_rotamers.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: clang-format, black

progress towards randomized rotamers
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

weighted random rotamer selection based on iteration
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/pack_rotamers.py
Due: clang-format, black

working with separate kernel launches.
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

double buffer, dont try to calculate RPEs for first iteration.
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

switch rotamer candidate selection to use the same as sim anneal
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/pack_rotamers.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: clang-format, black

Initial commit of CPU only build
  CMakeLists.txt
  pyproject.toml
Due: none

update gitignore
  .gitignore
Due: none

Add first notebook
  notebooks/example_01_score_a_pdb_file.ipynb
Due: none

Biotite IO (#340)
  .pre-commit-config.yaml
  pyproject.toml
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/relax/fast_relax.py
  tmol/score/__init__.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1BL8.pdb
  tmol/tests/data/pdb/1R21.pdb
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/pack/rotamer/dunbrack/__init__.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
Due: clang-format, black

added option to select between sim anneal and localized packer, added step to add initial rotamer assignments.
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/compiled.py
  tmol/pack/simulated_annealing.py
Due: clang-format, black

make support build matrix via ABI more clear and support colab build
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

support cpu build
  .github/workflows/build_wheel.yml
  CMakeLists.txt
Due: none

better labels
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

Cleaner branch of the localized packer.
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/compiled.py
  tmol/pack/pack_rotamers.py
  tmol/pack/simulated_annealing.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1ubq_no_sidechains.pdb
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: clang-format, black

Adding a "matrix" entry that should be Colab compatible
  .github/workflows/publish.yml
Due: none

Fix tabs/spaces in publish.yml
  .github/workflows/publish.yml
Due: none

Add quotes around pip url
  .github/workflows/publish.yml
Due: none

give wheels different names depending on their cuda version
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
Due: none

Pass "cu" to _build_wheel.yml
  .github/workflows/publish.yml
Due: none

fixed and cleaned up builds
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  DEVELOPMENT.md
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/data/__init__.py
Due: black

Aleaverfay/notebooks1 (#352)
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  notebooks/example_01_score_a_pdb_file.ipynb
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

rewrite readme
  DEVELOPMENT.md
  README.md
  tmol/io/pose_stack_from_biotite.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

