Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Fix illegal access in bbdep omega. Add debug checks in TensorAccessor (enabled with -DDEBUG).
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/utility/tensor/TensorAccessor.h
Due: clang-format

Fix PRO logic to properly see patched variants in prepro rama/omega
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
Due: black

Left-justify the input residues in pose-stack constrution
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/io/details/left_justify_canonical_form.py
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: clang-format, black

Return the left-justified chain identifiers for writing PDBs
  tmol/io/details/left_justify_canonical_form.py
  tmol/io/pose_stack_construction.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/test_pose_stack_construction.py
Due: black

Linting
  tmol/io/details/left_justify_canonical_form.py
  tmol/io/write_pose_stack_pdb.py
Due: black

Various tidying
  tmol/io/canonical_ordering.py
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
Due: clang-format, black

More tidying
  tmol/score/modules/dunbrack.py
  tmol/score/rama/potentials/rama_pose_score.impl.hh
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_his_taut_resolution.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/torch.py
  tmol/utility/cpp_extension.py
Due: clang-format, black

Linting
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Trying capture by value in find_ancestors
  tmol/io/details/compiled/leaf_atoms.hh
Due: clang-format

Another tweak to find_ancestors
  tmol/io/details/compiled/leaf_atoms.hh
Due: clang-format

Change the antibody-antigen fixture to reduce duplication
  environments/devel/Dockerfile
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/tests/data/__init__.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_pose_stack_construction.py
Due: black

Add another option that allows the user to prevent disulfide detection
  tmol/io/details/disulfide_search.py
  tmol/io/pose_stack_construction.py
  tmol/score/score_function.py
  tmol/tests/io/details/test_find_disulfides.py
Due: black

Add option to skip disulfide detection
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_canonical_form.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Linting
  tmol/tests/io/test_pose_stack_construction.py
Due: black

Remove unnecessary import.
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

cleanup
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/dunbrack_whole_pose_module.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/dunbrack/potentials/params.hh
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: clang-format, black

Handle arbitrary improper torsion roots.
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Add test for jagged poses.
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Fix error in name3 of patched residues
  tmol/chemical/patched_chemdb.py
Due: black

Add comment for the atom_paths_from_connection.
  tmol/chemical/restypes.py
Due: black

Fix error in name3 of patched residues (#271)
  tmol/chemical/patched_chemdb.py
Due: black

Remove print
  tmol/score/atom_type_dependent_term.py
Due: black

Cleaning up code, adding dim checking asserts.
  tmol/score/dunbrack/dunbrack_whole_pose_module.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format, black

Removing dead code
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
Due: clang-format

Cleanup
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format

Removing debugging printfs.
  tmol/score/dunbrack/potentials/potentials.hh
Due: clang-format

Expand on tests, add jagged test. jagged test currently fails on cuda.
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Fix a bug with jagged pose stacks causing cuda crashes.
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format

Remove rogue import.
  tmol/score/dunbrack/dunbrack_energy_term.py
Due: black

Adjusting gradcheck tolerance.
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: clang-format, black

Initial code for the ref term.
  tmol/score/ref/__init__.py
  tmol/score/ref/ref_energy_term.py
  tmol/score/ref/ref_whole_pose_module.py
  tmol/score/score_types.py
  tmol/score/terms/ref_creator.py
  tmol/tests/score/ref/__init__.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Adding DB for ref energy term.
  tmol/database/default/scoring/ref.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/ref.py
  tmol/score/ref/ref_energy_term.py
Due: black

Add jagged test, handle jagged poses. Shape output appropriately for multiple poses.
  tmol/score/ref/ref_energy_term.py
  tmol/score/ref/ref_whole_pose_module.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Format comments.
  tmol/score/ref/ref_whole_pose_module.py
Due: black

Updating ref values to beta_nov16
  tmol/database/default/scoring/ref.yaml
Due: none

typo in comment
  tmol/score/ref/ref_whole_pose_module.py
Due: black

Clean up ref code.
  tmol/score/ref/ref_energy_term.py
  tmol/score/ref/ref_whole_pose_module.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

OOF. Out of bounds read in APSP. :pray: Karolis
  tmol/pose/compiled/apsp.cuda.cu
Due: clang-format
