Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.7
  require_serial: true

modify test_dof_space.py for removing score graph
  tmol/tests/score/test_dof_space.py
Due: black

add ScoreSystem.intra_subscores for distinguishing poses and scoreterms
  tmol/score/modules/bases.py
  tmol/tests/score/ljlk/test_score_graph.py
  tmol/tests/score/modules/test_cartbonded.py
  tmol/tests/score/modules/test_dunbrack.py
  tmol/tests/score/modules/test_elec.py
  tmol/tests/score/modules/test_hbond.py
  tmol/tests/score/modules/test_ljlk.py
  tmol/tests/score/modules/test_lk_ball.py
  tmol/tests/score/modules/test_omega.py
  tmol/tests/score/modules/test_rama.py
Due: black

un-comment-out test_score_graph (mistakenly commented out)
  tmol/tests/score/ljlk/test_score_graph.py
Due: black

remove some unused imports
  tmol/optimization/modules.py
  tmol/tests/optimization/test_modules.py
Due: black

empty out score_module_support.py
  tmol/score/modules/bonded_atom.py
  tmol/score/modules/coords.py
  tmol/score/modules/stacked_system.py
  tmol/system/score_module_support.py
Due: black

fix name of get_full_score_system_for parameter
  tmol/system/score_support.py
Due: black

remove score imports from modules.py
  tmol/optimization/modules.py
Due: black

Concurrency fixes for LJ/LK operating in separate streams in SimA
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
Due: clang-format, black

Add TemperatureScheduler and first version of end-to-end simAnneal
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.hh
Due: clang-format

Save end-to-end annealer; unclear how effectively it is working
  tmol/pack/sim_anneal/compiled/annealer.cuda.cu
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
Due: clang-format, black

Fix bug when rebuilding a pose after expanding its PackedBlockTypes
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/sim_anneal/accept_final.py
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.cuda.cu
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/torch.py
Due: clang-format, black

Fixing annealer
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/torch.py
Due: clang-format, black

Run LJ/LK in the default stream for now
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

remove old graph from test_score_weights.py
  tmol/tests/score/test_score_weights.py
Due: black

Save small modifications
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

remove git submodule
  .gitmodules
Due: none

Bugfixes for stacked scoring.
  tmol/score/constraint/params.py
  tmol/score/constraint/script_modules.py
  tmol/system/score_module_support.py
  tmol/tests/score/modules/test_constraint.py
Due: black

Fix TR-Rosetta constraints for CUDA
  tmol/score/constraint/script_modules.py
  tmol/tests/score/modules/test_constraint.py
Due: black

Working version of TR-Rosetta constraints for CPU. Scores match to 0.0001 of PyRosetta implementation.
  tmol/score/constraint/params.py
  tmol/score/constraint/script_modules.py
  tmol/score/modules/constraint.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/constraints/.DS_Store
  tmol/tests/data/constraints/._.DS_Store
  tmol/tests/data/constraints/._6DMZ_A.npz
  tmol/tests/data/constraints/6DMZ_A.fa
  tmol/tests/data/constraints/6DMZ_A.npz
  tmol/tests/data/pdb/6DMZ_A.pdb
  tmol/tests/score/modules/test_constraint.py
Due: black

Add atom names and residue indices when writing PDB outputs
  tmol/score/viewer.py
Due: black

deletion of pieces of score graph and interatomic distance
  tmol/score/coordinates.py
  tmol/score/dunbrack/__init__.py
  tmol/score/elec/__init__.py
  tmol/score/hbond/__init__.py
  tmol/score/interatomic_distance.py
  tmol/score/ljlk/__init__.py
  tmol/score/ljlk/score_graph.py
  tmol/score/lk_ball/__init__.py
  tmol/score/total_score_graphs.py
  tmol/system/__init__.py
  tmol/tests/optimization/test_modules.py
  tmol/tests/score/cartbonded/test_baseline.py
  tmol/tests/score/cartbonded/test_bench.py
  tmol/tests/score/cartbonded/test_score_graph.py
  tmol/tests/score/dunbrack/test_dun_score_graph.py
  tmol/tests/score/elec/test_baseline.py
  tmol/tests/score/elec/test_score_graph.py
  tmol/tests/score/hbond/test_baseline.py
  tmol/tests/score/hbond/test_score_graph.py
  tmol/tests/score/interatomic_distance/__init__.py
  tmol/tests/score/interatomic_distance/conftest.py
  tmol/tests/score/interatomic_distance/test_blocked_distance.py
  tmol/tests/score/interatomic_distance/test_score_graph.py
  tmol/tests/score/ljlk/test_baseline.py
  tmol/tests/score/ljlk/test_score_graph.py
  tmol/tests/score/lk_ball/test_baseline.py
  tmol/tests/score/lk_ball/test_score_graph.py
  tmol/tests/score/omega/test_baseline.py
  tmol/tests/score/omega/test_score_graph.py
  tmol/tests/score/rama/test_baseline.py
  tmol/tests/score/rama/test_score_graph.py
  tmol/tests/score/test_coordinates.py
Due: black

delete score_graph.py
  tmol/score/score_graph.py
Due: black

remove some score_graph imports from tests
  tmol/tests/score/ljlk/test_baseline.py
  tmol/tests/score/lk_ball/test_baseline.py
  tmol/tests/score/test_scoreterm_benchmarks.py
  tmol/tests/score/test_total_gradcheck.py
  tmol/tests/score/test_totalscore_benchmarks.py
  tmol/tests/viewer/test_viewer.py
Due: black

delete more remnants of score_graph
  tmol/score/__init__.py
  tmol/score/bonded_atom.py
  tmol/score/chemical_database.py
  tmol/score/database.py
  tmol/score/device.py
  tmol/score/stacked_system.py
  tmol/score/viewer.py
Due: black

restore delted dof minimization test
  tmol/tests/optimization/test_modules.py
Due: black

delete some tests
  tmol/tests/score/test_bonded_atom.py
  tmol/tests/score/test_chemical_database.py
  tmol/tests/score/test_database.py
Due: black

delete some score_graph imports in __init__.pys
  tmol/score/cartbonded/__init__.py
  tmol/score/omega/__init__.py
  tmol/score/rama/__init__.py
Due: black

rename a member of cartesianenergynetwork
  tmol/optimization/modules.py
Due: black

move a single test from a deleted test file that we still want
  tmol/tests/score/modules/test_chemical_database.py
Due: black

bad test_scoreterm_benchmarks.py
  tmol/tests/score/test_scoreterm_benchmarks.py
Due: black

first attempt at corrected score system intra total and benchmark test
  tmol/score/modules/bases.py
  tmol/tests/score/test_scoreterm_benchmarks.py
Due: black

remove import
  tmol/tests/score/test_scoreterm_benchmarks.py
Due: black

modify test_total_gradcheck.py
  tmol/tests/score/test_total_gradcheck.py
Due: black

modify test_totalscore_benchmarks.py
  tmol/tests/score/test_totalscore_benchmarks.py
Due: black

restore bonded path length (why was it deleted?)
  tmol/score/bonded_atom.py
Due: black

fix brackets in bonded_path_length
  tmol/score/bonded_atom.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

