Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Fix score function factory behavior for hbonds
  tmol/score/terms/hbond_creator.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: black

Add assertion to ScoreFunction to prevent TermCreator copy/paste bugs
  tmol/score/score_function.py
Due: black

Turning on rama within beta2016_score_function
  tmol/score/__init__.py
Due: black

Cleaning up derivative types and making deprecated funcs more clearly named.
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/dispatch.impl.hh
  tmol/score/cartbonded/potentials/potentials.hh
Due: clang-format

Move max_paths to constant.
  tmol/chemical/constants.py
  tmol/chemical/restypes.py
Due: black

Comment formatting.
  tmol/chemical/constants.py
Due: black

Removing dead code.
  tmol/chemical/restypes.py
Due: black

Replacing cartbonded DB with the new one, renaming existing one to 'old'.
  tmol/database/default/scoring/cartbonded.old.yaml
  tmol/database/default/scoring/cartbonded.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/cartbonded.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/identification.py
  tmol/score/cartbonded/params.py
  tmol/score/cartbonded/script_modules.py
  tmol/tests/score/cartbonded/test_script_modules.py
Due: black

Removing 'new' db, since it replaced the default.
  tmol/database/default/scoring/cartbonded_new.yaml
Due: none

Fix score function factory behavior for hbonds (#265)
  tmol/score/score_function.py
  tmol/score/terms/hbond_creator.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: black

Use constant.
  tmol/pose/packed_block_types.py
Due: black

Clean up.
  tmol/score/atom_type_dependent_term.py
Due: black

Check attrs.
  tmol/score/atom_type_dependent_term.py
Due: black

Comments
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Comments.
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Cleanup and commenting.
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/connection.hh
Due: clang-format, black

Fixing bug.
  tmol/pose/packed_block_types.py
Due: black

PROPERLY fixing bug.
  tmol/chemical/restypes.py
  tmol/pose/packed_block_types.py
Due: black

Some potential lj/lk speedups.
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/lk_isotropic.hh
Due: clang-format

Update test for split LJ
  tmol/tests/score/ljlk/potentials/compiled.py
Due: black

One more test fix for split LJ
  tmol/tests/score/terms/test_score_term_factory.py
Due: black

More bug fixes.
  tmol/score/modules/cartbonded.py
  tmol/tests/database/scoring/test_cartbonded.py
Due: black

Remove extraneous include.
  tmol/database/scoring/cartbonded.py
Due: black

More bug fixes.
  tmol/pose/packed_block_types.py
Due: black

More fixes
  tmol/tests/score/modules/test_cartbonded.py
Due: black

Fix an out-of-bounds read in LKBall
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Initial commit of bbdep-omega data + scripts + database hooks.
  tmol/database/default/scoring/omega_bbdep.yaml
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/scoring/__init__.py
  tmol/database/scoring/omega_bbdep.py
  tmol/numeric/bspline_compiled/bspline.pybind.cpp
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
  tmol/support/scoring/rewrite_rama_binary.py
Due: clang-format, black

Add perf benchmark to build pose and score
  tmol/tests/io/test_basic_resolution_benchmark.py
Due: black

Add option to use new or old minimization scheme
  tmol/score/ljlk/ljlk_whole_pose_module.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Add elec params for CYD
  tmol/database/default/scoring/elec.yaml
Due: none

Removing a debugging statement
  tmol/score/rama/potentials/compiled.ops.cpp
Due: clang-format

Fix bug in unresolved atom id resolution
  tmol/score/common/uaid_util.hh
  tmol/score/unresolved_atom.pybind.hh
  tmol/tests/score/common/test_uaid_util.py
  tmol/tests/score/common/uaid_util.py
  tmol/tests/score/common/uaid_util.pybind.cc
Due: clang-format, black

Saving debugging progress w/ Dunbrack at N- and C-termini
  tmol/score/dunbrack/params.py
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/modules/dunbrack.py
  tmol/tests/score/modules/test_dunbrack.py
Due: clang-format, black

Remove redundancy in new unit tests by creating a fixture
  tmol/tests/score/common/test_uaid_util.py
Due: black

Fix bug in unresolved atom id resolution (#267)
  tmol/score/common/uaid_util.hh
  tmol/score/unresolved_atom.pybind.hh
  tmol/tests/score/common/test_uaid_util.py
  tmol/tests/score/common/uaid_util.py
  tmol/tests/score/common/uaid_util.pybind.cc
Due: clang-format, black

Fix an out-of-bounds read in LKBall (#266)
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

