Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Remove a few more bits of code
  tmol/optimization/sfxn_modules.py
  tmol/score/bonded_atom.py
Due: black

Pose_stack->RF2 function, tests, init.py hooks.
  tmol/__init__.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
Due: black

Fix failing test due to renamed perf test. Remove per-score-term perf test.
  .buildkite/bin/benchmark
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Accounting for suppressed ats in the tmol->rf2 function and test.
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
Due: black

Update kinematics test to check generated KinTree
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Commit DOF masking code (WIP)
  tmol/optimization/sfxn_modules.py
Due: black

First pass at pose stack torsion space minimization
  tmol/optimization/sfxn_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Add proper dof masking to torsion-space minimization
  tmol/kinematics/datatypes.py
  tmol/optimization/sfxn_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Map H1s back into H for terminal variants on tmol->RF2.
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
  tmol/tests/score/common/test_energy_term.py
Due: black

Sketch the creation of KinForests from precomputed restype stencils
  tmol/chemical/patched_chemdb.py
  tmol/chemical/restypes.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/kinematics/builder.py
  tmol/kinematics/check_fold_forest.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_kinematics.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Moving the extra info on the tmol->rf2 function to a helper function to avoid complicating the interface for rf2 users.
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
Due: black

Fix test breaking issue.
  tmol/tests/io/test_pose_stack_from_rosettafold2.py
  tmol/tests/score/common/test_energy_term.py
Due: black

Save progress
  tmol/pose/pose_kinematics.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Update moderngpu to d8cf03d
  tmol/extern/moderngpu/context.hxx
  tmol/extern/moderngpu/cta_merge.hxx
  tmol/extern/moderngpu/cta_segscan.hxx
  tmol/extern/moderngpu/kernel_segreduce.hxx
  tmol/extern/moderngpu/launch_box.hxx
  tmol/extern/moderngpu/launch_params.hxx
  tmol/extern/moderngpu/meta.hxx
  tmol/extern/moderngpu/operators.hxx
  tmol/extern/moderngpu/search.hxx
  tmol/extern/moderngpu/sort_networks.hxx
  tmol/extern/moderngpu/transform.hxx
  tmol/extern/moderngpu/tuple.hxx
Due: none

Re-play Alex's commit ad52563eb on top of latest version of ModernGPU
  tmol/extern/moderngpu/tuple.hxx
Due: none

Progress in restoring execution following the modern-gpu version update
  tmol/extern/moderngpu/search.hxx
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/kernel_segscan.cuh
  tmol/score/common/complex_dispatch.cuda.impl.cuh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/dispatch.cpu.impl.hh
  tmol/score/common/dispatch.cuda.impl.cuh
  tmol/score/common/dispatch.hh
  tmol/score/common/forall_dispatch.cuda.impl.cuh
  tmol/score/common/simple_dispatch.cuda.impl.cuh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/tests/kinematics/segscan/segscan.cu
  tmol/tests/score/common/dispatch/test.cpp
  tmol/tests/score/common/dispatch/test.cu
  tmol/tests/score/common/dispatch/test.pybind.cpp
  tmol/tests/score/common/geom/geom.cu
  tmol/tests/score/common/warp_segreduce.cuda.cu
  tmol/tests/score/common/warp_stride_reduce.cuda.cu
  tmol/tests/score/ljlk/potentials/sphere_overlap.cu
  tmol/tests/utility/cpp_extension/hybrid.cu
Due: clang-format

Undo stochastic programming attempt at fixing coordinate update bug
  tmol/kinematics/compiled/compiled.cuda.cu
Due: clang-format

re-fix bug in moderngpu that Frank fixed ages ago
  tmol/extern/moderngpu/context.hxx
  tmol/extern/moderngpu/cta_segscan.hxx
Due: none

Remove context(false) constructor call after changing context's default value
  tmol/score/common/complex_dispatch.cuda.impl.cuh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/dispatch.cuda.impl.cuh
  tmol/score/common/forall_dispatch.cuda.impl.cuh
  tmol/score/common/simple_dispatch.cuda.impl.cuh
  tmol/tests/kinematics/segscan/segscan.cu
  tmol/tests/score/common/geom/geom.cu
  tmol/tests/score/common/warp_segreduce.cuda.cu
  tmol/tests/score/common/warp_stride_reduce.cuda.cu
  tmol/tests/utility/cpp_extension/hybrid.cu
Due: clang-format

Fix dispatch unit tests
  tmol/tests/score/common/dispatch/test_dispatch.py
Due: black

Linting exception for api funcs, removing print statement.
  tmol/__init__.py
  tmol/tests/score/common/test_energy_term.py
Due: black

Return dictionary instead of tuple from canonical_form_from_pose_stack
  tmol/io/pose_stack_deconstruction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

Removing old, commented-out dispatch machinery
  tmol/score/common/dispatch.cpu.impl.hh
  tmol/score/common/dispatch.cuda.impl.cuh
  tmol/score/common/dispatch.hh
Due: clang-format

linting
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

Activate the missing `ref` energy in the beta2016_score_function
  tmol/score/__init__.py
Due: black

Return dictionary instead of tuple from canonical_form_from_pose_stack (#301)
  tmol/io/pose_stack_deconstruction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
Due: black

Removed commented-out code
  tmol/tests/score/common/dispatch/test.cpp
  tmol/tests/score/common/dispatch/test.cu
  tmol/tests/score/common/dispatch/test.pybind.cpp
Due: clang-format

Aleaverfay/update moderngpu to trunk head, revision d8cf03d (#300)
  tmol/extern/moderngpu/context.hxx
  tmol/extern/moderngpu/cta_merge.hxx
  tmol/extern/moderngpu/cta_segscan.hxx
  tmol/extern/moderngpu/kernel_segreduce.hxx
  tmol/extern/moderngpu/launch_box.hxx
  tmol/extern/moderngpu/launch_params.hxx
  tmol/extern/moderngpu/meta.hxx
  tmol/extern/moderngpu/operators.hxx
  tmol/extern/moderngpu/search.hxx
  tmol/extern/moderngpu/sort_networks.hxx
  tmol/extern/moderngpu/transform.hxx
  tmol/extern/moderngpu/tuple.hxx
  tmol/kinematics/compiled/kernel_segscan.cuh
  tmol/score/common/dispatch.cpu.impl.hh
  tmol/score/common/dispatch.cuda.impl.cuh
  tmol/score/common/dispatch.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/tests/score/common/dispatch/test.cpp
  tmol/tests/score/common/dispatch/test.cu
  tmol/tests/score/common/dispatch/test.pybind.cpp
  tmol/tests/score/common/dispatch/test_dispatch.py
  tmol/tests/score/ljlk/potentials/sphere_overlap.cu
Due: clang-format, black

Activate the missing `ref` energy in the beta2016_score_function (#302)
  tmol/score/__init__.py
Due: black

Update NaN, NAN --> nan; numpy.lib.function_base.vectorize --> numpy.vectorize
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/autograd.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/types/array.py
  tmol/utility/args.py
Due: black

Fix a handful of issues for numpy2.0 (#304)
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/tests/autograd.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/types/array.py
  tmol/utility/args.py
Due: black

Initial commit for constraints
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/score/score_types.py
  tmol/score/terms/constraint_creator.py
  tmol/tests/score/constraint/__init__.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Use lambdas instead.
  tmol/score/constraint/constraint_whole_pose_module.py
Due: black

constraint basics working.
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

lots of progress
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

progress
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

almost done
  tmol/score/constraint/constraint_whole_pose_module.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

