Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Use mixed-chirality disulfide potentials and consistent derivatives
  tmol/database/default/scoring/disulfide.yaml
  tmol/database/scoring/_disulfide.py
  tmol/score/disulfide/_disulfide_energy_term.py
  tmol/score/disulfide/_params.py
  tmol/score/disulfide/potentials/params.hh
  tmol/score/disulfide/potentials/potentials.hh
  tmol/tests/score/disulfide/test_chirality.py
Due: clang-format, black

Record AtomWorks reuse audit and paired chemistry workload profiles
  review/pr503/ATOMWORKS.md
  review/pr503/FOLLOWUP.md
  review/pr503/atomworks_example.py
  review/pr503/compare_atomworks.py
  review/pr503/profile_workloads.py
  review/pr503/results/atomworks-integration-cpu-v2.json
  review/pr503/results/atomworks-integration-cuda-v2.json
  review/pr503/results/baseline-cpu.json
  review/pr503/results/baseline-cuda-v2.json
  review/pr503/results/candidate-cpu.json
  review/pr503/results/candidate-cuda-v2.json
Due: black

Avoid unrelated nucleotide chi enumeration and verify sampled stereochemistry
  review/pr503/profile_na_annotation.py
  review/pr503/results/na-annotation.json
  tmol/pack/rotamer/_na_chi_sampler.py
  tmol/tests/io/test_polymer_caps.py
  tmol/tests/pack/rotamer/test_na_chi_sampler.py
  tmol/tests/pack/rotamer/test_noncanonical_rotamers.py
  tmol/tests/score/test_mirror_image_scoring.py
Due: black

Document generalized chemistry and coupled packing workflows
  docs/_source_links.inc
  docs/_static/chemistry_pipeline.svg
  docs/_static/group_packing.svg
  docs/architecture.rst
  docs/chemistry_workflows.rst
  docs/index.rst
  docs/noncanonical_chemistry.rst
  docs/rosetta_comparison.rst
  tmol/ligand/README.md
Due: none

Preserve nucleotide heavy atoms during terminal proton sampling
  review/pr503/FOLLOWUP.md
  tmol/ligand/_polymer_builder.py
  tmol/tests/pack/rotamer/test_nucleotide_proton_geometry.py
Due: black

Respect sampler settings when reusing chemical annotation caches
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/results/na-annotation.json
  tmol/pack/rotamer/_na_chi_sampler.py
  tmol/pack/rotamer/_opth_sampler.py
  tmol/tests/pack/rotamer/test_sampler_cache_settings.py
Due: black

Broaden arbitrary-molecule framing and note planned metal support
  docs/noncanonical_chemistry.rst
  tmol/ligand/README.md
Due: none

Isolate CUDA allocation tests from cyclic garbage collection
  tmol/tests/score/common/test_native_inference.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: black

Sample only group anchors in the additional rotamer library pass
  review/pr503/FOLLOWUP.md
  review/pr503/profile_anchor_library.py
  review/pr503/results/anchor-library-cpu.json
  review/pr503/results/anchor-library-cuda.json
  tmol/pack/rotamer/_conjugated_chi_sampler.py
  tmol/tests/pack/rotamer/test_group_sampling_regressions.py
Due: black

Share connection-improper enumeration across all scoring paths
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/VALIDATION.md
  review/pr503/results/followup-geometry-sampling-native.json
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/tests/score/cartbonded/test_connection_improper_reference.py
Due: clang-format, black

Enforce explicit sampler budgets and preserve CPU pose energy precision
  review/pr503/BUDGETS.md
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_group_budget.py
  review/pr503/profile_ljlk_accumulation.py
  review/pr503/results/followup-budget-ljlk-tests.json
  review/pr503/results/group-budget-cpu.json
  review/pr503/results/group-budget-cuda.json
  review/pr503/results/ljlk-alternating-0-after-cpu.json
  review/pr503/results/ljlk-alternating-0-before-cpu.json
  review/pr503/results/ljlk-alternating-1-after-cpu.json
  review/pr503/results/ljlk-alternating-1-before-cpu.json
  review/pr503/results/ljlk-alternating-2-after-cpu.json
  review/pr503/results/ljlk-alternating-2-before-cpu.json
  review/pr503/results/ljlk-paired-after-cpu.json
  review/pr503/results/ljlk-paired-after-cuda.json
  review/pr503/results/ljlk-paired-before-cpu.json
  review/pr503/results/ljlk-paired-before-cuda.json
  tmol/pack/_packer_task.py
  tmol/pack/rotamer/_chi_budget.py
  tmol/pack/rotamer/_conjugated_chi_sampler.py
  tmol/pack/rotamer/_conjugated_groups.py
  tmol/pack/rotamer/_na_chi_sampler.py
  tmol/pack/rotamer/_opth_sampler.py
  tmol/pack/rotamer/dunbrack/_dunbrack_chi_sampler.py
  tmol/pack/rotamer/dunbrack/compiled.hh
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/pack/rotamer/test_group_sampling_regressions.py
  tmol/tests/pack/rotamer/test_task_sampler_budget.py
  tmol/tests/pack/test_conjugated_group_packing.py
  tmol/tests/score/ljlk/test_cpu_pose_accumulation.py
Due: clang-format, black

Batch covalent-group kinematics with bounded transform workspace
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_group_kinematics.py
  review/pr503/results/group-kinematics-chunks-cpu.json
  review/pr503/results/group-kinematics-chunks-cuda.json
  review/pr503/results/group-kinematics-cpu.json
  review/pr503/results/group-kinematics-cuda.json
  review/pr503/results/group-kinematics-tests.json
  tmol/pack/rotamer/_conjugated_chi_sampler.py
  tmol/tests/pack/rotamer/test_group_batched_kinematics.py
Due: black

Share bounded weak profile caches across polymer chemistry and references
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_polymer_cache.py
  review/pr503/results/polymer-cache-tests.json
  review/pr503/results/polymer-cache.json
  tmol/ligand/_polymer_profile.py
  tmol/ligand/_rotamer_reference.py
  tmol/tests/ligand/test_reference_cache_lifetime.py
  tmol/utility/weak_identity_cache.py
Due: black

Preserve ring geometry in conjugated group sampling and retain all constraints
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/check_group_input_route.py
  review/pr503/profile_group_geometry.py
  review/pr503/results/group-geometry-atomworks-cpu.json
  review/pr503/results/group-geometry-atomworks-cuda.json
  review/pr503/results/group-geometry-cpu.json
  review/pr503/results/group-geometry-cuda.json
  review/pr503/results/group-geometry-tests.json
  tmol/ligand/_conjugation_patches.py
  tmol/pack/rotamer/_conjugated_chi_sampler.py
  tmol/pack/rotamer/_conjugated_groups.py
  tmol/pose/_conjugated_groups.py
  tmol/tests/pack/rotamer/test_group_chemical_geometry.py
  tmol/tests/pack/rotamer/test_group_sampling_regressions.py
  tmol/tests/pack/rotamer/test_group_topology_inventory.py
Due: black

Release captured scoring graphs with their pending backwards
  tmol/score/_score_function.py
  tmol/score/common/_cuda_graph.py
  tmol/tests/score/common/test_cuda_graph.py
Due: black

Simplify inherited CUDA launch configurations
  tmol/score/common/launch_box_macros.hh
Due: clang-format

Release failed union checks without retaining callers
  tmol/tests/types/test_functional.py
  tmol/types/_converters.py
  tmol/types/_validators.py
Due: black

Avoid redundant remainders in annealer random indices
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Reject missing geometry as bond-order evidence and document AtomWorks conversion improvements
  review/pr503/ATOMWORKS.md
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/results/atomworks-conversion-matrix.json
  review/pr503/results/atomworks-conversion-tests.json
  review/pr503/results/atomworks-rdkit-conversion.json
  tmol/ligand/_structure_to_smiles.py
  tmol/tests/ligand/test_geometry_correction_missing_atoms.py
Due: black

Preserve cyclic and external group constraints while sampling movable branches
  review/pr503/BUDGETS.md
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_group_constraints.py
  review/pr503/reproduce_group_task_masks.py
  review/pr503/results/group-constraints-atomworks-cpu.json
  review/pr503/results/group-constraints-atomworks-cuda.json
  review/pr503/results/group-constraints-cpu.json
  review/pr503/results/group-constraints-cuda.json
  review/pr503/results/group-constraints-tests.json
  tmol/ligand/_preparation.py
  tmol/pack/rotamer/_conjugated_chi_sampler.py
  tmol/pack/rotamer/_conjugated_groups.py
  tmol/pack/rotamer/_single_residue_kinforest.py
  tmol/pose/_conjugated_groups.py
  tmol/tests/pack/rotamer/test_group_batched_kinematics.py
  tmol/tests/pack/rotamer/test_group_constraints.py
  tmol/tests/pack/rotamer/test_group_sampling_regressions.py
  tmol/tests/pack/rotamer/test_group_topology_inventory.py
  tmol/tests/pack/test_conjugated_group_packing.py
Due: black

Respect group task masks and fixed-member geometry during sampling
  review/pr503/ATOMWORKS.md
  review/pr503/BUDGETS.md
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/check_dimorphite_contract.py
  review/pr503/profile_group_constraints.py
  review/pr503/results/dimorphite-contract-after.json
  review/pr503/results/dimorphite-contract.json
  review/pr503/results/group-task-masks-tests.json
  tmol/pack/rotamer/_conjugated_chi_sampler.py
  tmol/pack/rotamer/_conjugated_groups.py
  tmol/tests/pack/rotamer/test_group_task_masks.py
  tmol/tests/pack/test_conjugated_group_packing.py
Due: black

Reuse coordinates already evaluated by the line search
  tmol/optimization/_lbfgs_armijo.py
Due: black

Remove redundant annealer quench count
  tmol/pack/compiled/compiled.cuda.cu
  tmol/tests/pack/test_annealer_assignment_cache.py
Due: clang-format, black

Index each annealer quench order directly
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Record fixed-input score replay and missing conjugation stiffness
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/diagnose_connection_stiffness.py
  review/pr503/diagnose_noncanonical_scores.py
  review/pr503/fixtures/noncanonical-score-replay/README.md
  review/pr503/fixtures/noncanonical-score-replay/alpha_aa-0-opth.npz
  review/pr503/fixtures/noncanonical-score-replay/alpha_aa-0-raw.npz
  review/pr503/fixtures/noncanonical-score-replay/alpha_aa-0.tmol
  review/pr503/fixtures/noncanonical-score-replay/dna-0-opth.npz
  review/pr503/fixtures/noncanonical-score-replay/dna-0-raw.npz
  review/pr503/fixtures/noncanonical-score-replay/dna-0.tmol
  review/pr503/fixtures/noncanonical-score-replay/nonstandard_aa-0-opth.npz
  review/pr503/fixtures/noncanonical-score-replay/nonstandard_aa-0-raw.npz
  review/pr503/fixtures/noncanonical-score-replay/nonstandard_aa-0.tmol
  review/pr503/fixtures/noncanonical-score-replay/nonstandard_na-0-opth.npz
  review/pr503/fixtures/noncanonical-score-replay/nonstandard_na-0-raw.npz
  review/pr503/fixtures/noncanonical-score-replay/nonstandard_na-0.tmol
  review/pr503/fixtures/noncanonical-score-replay/scores.json
  review/pr503/fixtures/noncanonical-score-replay/sha256.json
  review/pr503/results/connection-minimize-cpu.json
  review/pr503/results/connection-minimize-cuda.json
  review/pr503/results/connection-stiffness-cpu.json
  review/pr503/results/connection-stiffness-cuda.json
  review/pr503/results/noncanonical-score-audit.json
Due: black

Bound protonation rule ownership and profile shared chemistry reuse
  review/pr503/ATOMWORKS.md
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/check_dimorphite_contract.py
  review/pr503/diagnose_link_mmff_coverage.py
  review/pr503/profile_dimorphite_cache.py
  review/pr503/results/atomworks-dimorphite-cache.json
  review/pr503/results/atomworks-rule-cache-matrix.json
  review/pr503/results/dimorphite-cache-tests.json
  review/pr503/results/dimorphite-contract-expanded.json
  review/pr503/results/link-mmff-coverage.json
  review/pr503/results/tmol-dimorphite-cache.json
  tmol/ligand/_dimorphite_dl.py
  tmol/tests/ligand/test_dimorphite_cache.py
Due: black

Invalidate cartbonded annotations after parameter injection
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/results/cartbonded-injection-tests.json
  tmol/database/__init__.py
  tmol/tests/score/cartbonded/test_injected_parameter_cache.py
Due: black

Score explicit connection-owned bonded parameters through shared native paths
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_cartbonded_connections.py
  review/pr503/results/connection-backend-profile-cpu.json
  review/pr503/results/connection-backend-profile-cuda.json
  review/pr503/results/explicit-connection-tests.json
  tmol/database/__init__.py
  tmol/database/scoring/__init__.py
  tmol/database/scoring/_cartbonded.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/cartbonded/_connection_parameters.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
  tmol/tests/score/cartbonded/test_explicit_connection_parameters.py
Due: clang-format, black

Preserve conjugate parameter bundles and bound YAML export allocations
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_params_writer.py
  review/pr503/results/conjugate-roundtrip-tests.json
  review/pr503/results/params-writer-profile.json
  tmol/database/__init__.py
  tmol/ligand/README.md
  tmol/ligand/_params_file.py
  tmol/ligand/_params_io.py
  tmol/ligand/_preparation.py
  tmol/ligand/_registry.py
  tmol/tests/ligand/test_conjugate_params_roundtrip.py
  tmol/tests/ligand/test_ligand_entry_paths.py
Due: black

Isolate bonded parameters for patched residue types and audit acylation
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/diagnose_acylated_lysine.py
  review/pr503/results/acylated-lysine-cpu.json
  review/pr503/results/acylated-lysine-cuda.json
  review/pr503/results/variant-cartbonded-tests.json
  tmol/database/scoring/_cartbonded.py
  tmol/ligand/README.md
  tmol/ligand/_params_file.py
  tmol/ligand/_params_io.py
  tmol/ligand/_registry.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/tests/ligand/test_conjugate_params_roundtrip.py
  tmol/tests/score/cartbonded/test_variant_parameters.py
Due: black

Preserve cap chemistry and build complete conjugate models from topology
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_capping.py
  review/pr503/results/capped-model-tests.json
  review/pr503/results/capping-profile.json
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_polymer_profile.py
  tmol/tests/ligand/test_cap_identity.py
  tmol/tests/ligand/test_conjugate_model.py
Due: black

Avoid the second L-BFGS history Gram matrix
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_compact_semantics.py
Due: black

Reuse single-pose L-BFGS history views
  tmol/optimization/_lbfgs_armijo.py
Due: black

Add validated capped-conjugate attachment parameter generator
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/diagnose_connection_stiffness.py
  review/pr503/profile_connection_generation.py
  review/pr503/results/connection-generation-profile.json
  review/pr503/results/generated-connection-stiffness-cpu.json
  review/pr503/results/generated-connection-stiffness-cuda.json
  review/pr503/results/generated-connection-tests.json
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_connection_params.py
  tmol/tests/ligand/test_generated_connection_params.py
Due: black

Clarify the compact L-BFGS direction and derivative contract
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_compact_semantics.py
Due: black

Few bugfixes unit tests revealed. Update goldens for NCAA tests.
  tmol/io/details/_select_from_canonical.py
  tmol/kinematics/_check_fold_forest.py
  tmol/tests/data/noncanonical_scores.yaml
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/kinematics/test_fold_forest.py
  tmol/tests/pack/rotamer/test_noncanonical_rotamers.py
Due: black

Scope electrostatic parameters to their database and reuse geometry
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/diagnose_conjugation_charge_changes.py
  review/pr503/profile_elec_setup.py
  review/pr503/results/conjugation-charge-changes.json
  review/pr503/results/elec-identity-tests.json
  review/pr503/results/elec-setup-profile-cpu.json
  review/pr503/results/elec-setup-profile-cuda.json
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/_params.py
  tmol/tests/score/elec/test_parameter_identity.py
Due: black

Keep unresolved attachment measurements out of construction parameters
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_attachment_measurements.py
  review/pr503/results/attachment-measurements-atomworks.json
  review/pr503/results/attachment-measurements-profile.json
  review/pr503/results/attachment-measurements-tests.json
  tmol/ligand/_preparation.py
  tmol/tests/ligand/test_attachment_measurements.py
Due: black

Restore boolean masks when resuming L-BFGS state
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_state_resume.py
Due: black

Separate generic lookup references from torsion ownership
  review/pr503/FOLLOWUP.md
  review/pr503/REVIEW.md
  review/pr503/profile_generic_impropers.py
  review/pr503/results/generic-impropers-profile-cpu.json
  review/pr503/results/generic-impropers-profile-cuda.json
  review/pr503/results/generic-reference-schema-memory.json
  review/pr503/results/generic-reference-validation.json
  review/pr503/results/generic-references-replay-comparison.json
  tmol/database/chemical/__init__.py
  tmol/ligand/README.md
  tmol/ligand/_params_file.py
  tmol/ligand/_params_io.py
  tmol/score/genbonded/_genbonded_energy_term.py
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/tests/ligand/test_ligand_entry_paths.py
  tmol/tests/score/genbonded/test_generic_type_references.py
Due: clang-format, black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

