Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Fix issue with scoring n- and c-term residues with Dunbrack
  tmol/score/dunbrack/params.py
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/modules/dunbrack.py
  tmol/tests/score/modules/test_dunbrack.py
Due: clang-format, black

Saving debugging progress w/ Dunbrack at N- and C-termini
  tmol/score/dunbrack/params.py
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/modules/dunbrack.py
  tmol/tests/score/modules/test_dunbrack.py
Due: clang-format, black

Adding exception for 'too complex' function.
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Adding to cart annotation test.
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Update dunbrack/test_baseline.py with new scores after fixing n- and c-term scoring
  tmol/tests/score/dunbrack/test_baseline.py
Due: black

Fixing a few bugs
  tmol/pose/pose_stack_builder.py
  tmol/tests/optimization/test_score_pose_once_benchmark.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
Due: black

Restoring previous functionality to build-hydrogens deriv-check test
  tmol/tests/io/details/test_build_missing_hydrogens.py
Due: black

Very first steps in converting from chain_begin to chain_id
  tmol/io/basic_resolution.py
  tmol/io/canonical_ordering.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Turns out that there's only one function that needs "chain_begin"
  tmol/io/basic_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/details/test_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Extending logic for building missing hydrogens to building arbitrary leaf atoms
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/canonical_packed_block_types.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_pose_hydrogens.hh
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/io/details/select_from_canonical.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/details/test_canonical_packed_block_types.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: clang-format, black

Renaming files re: building hydrogens --> building leaf atoms
  tmol/io/basic_resolution.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/compiled.py
  tmol/io/details/compiled/gen_pose_leaf_atoms.cpu.cpp
  tmol/io/details/compiled/gen_pose_leaf_atoms.cuda.cu
  tmol/io/details/compiled/gen_pose_leaf_atoms.hh
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
Due: clang-format, black

Fixing HIS_D:nterm elec params; renaming ch_beg to ch_id
  tmol/database/default/scoring/elec.yaml
  tmol/score/elec/params.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/test_basic_resolution.py
  tmol/tests/io/test_basic_resolution_benchmark.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Derivatives implemented, still having tolerance issues.
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: clang-format, black

Initial commit of bb-dep omega code.
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/default/scoring/rama.zip
  tmol/database/scoring/__init__.py
  tmol/database/scoring/omega_bbdep.py
  tmol/score/backbone_torsion/__init__.py
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/backbone_torsion/bb_torsion_whole_pose_module.py
  tmol/score/backbone_torsion/params.py
  tmol/score/backbone_torsion/potentials/._compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/__init__.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.cpu.cpp
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.cuda.cu
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.py
  tmol/score/backbone_torsion/potentials/params.hh
  tmol/score/backbone_torsion/potentials/potentials.hh
  tmol/score/terms/rama_omega_creator.py
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
Due: clang-format, black

Sketching code for improved dslf-detection logic
  tmol/io/basic_resolution.py
  tmol/io/details/disulfide_search.py
Due: black

Add first test of partial-disulfide detection
  tmol/io/details/disulfide_search.py
  tmol/tests/io/details/test_find_disulfides.py
Due: black

Adding a final test where all the disulfides are provided
  tmol/tests/io/details/test_find_disulfides.py
Due: black

Finalizing disulfide interface changes/tests
  tmol/io/basic_resolution.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/disulfide_search.py
  tmol/io/details/his_taut_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/test_basic_resolution.py
  tmol/tests/io/test_basic_resolution_benchmark.py
  tmol/tests/torch.py
Due: black

Combo rama/omega working on CPU
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/backbone_torsion/bb_torsion_whole_pose_module.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

Adding option to pose-building API for discontinuous segments
  tmol/io/basic_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1s78.pdb
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_basic_resolution_benchmark.py
Due: black

Add another test for new disconnected-segments feature
  tmol/tests/io/test_basic_resolution.py
Due: black

Change output from canonical_form_from_pdb_lines to tensors
  tmol/io/canonical_ordering.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_canonical_form.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_basic_resolution.py
  tmol/tests/io/test_basic_resolution_benchmark.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Renaming "basic_resolution" to "pose_stack_construction" for clarity
  tmol/__init__.py
  tmol/io/pose_stack_construction.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_construction_benchmark.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Moving test_canonical_form to its proper location; add canonical_form_from_pdb_lines to tmol API
  tmol/__init__.py
  tmol/tests/io/test_canonical_form.py
Due: black

Derivatives working for bb-dep omega
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/potentials.hh
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
Due: clang-format, black

Remove old rama/omega pose score code
  tmol/score/backbone_torsion/bb_torsion_energy_term.py
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/omega_whole_pose_module.py
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/compiled.py
  tmol/score/omega/potentials/omega_pose_score.cpu.cpp
  tmol/score/omega/potentials/omega_pose_score.cuda.cu
  tmol/score/omega/potentials/omega_pose_score.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/score/rama/potentials/compiled.py
  tmol/score/rama/potentials/rama_pose_score.cpu.cpp
  tmol/score/rama/potentials/rama_pose_score.cuda.cu
  tmol/score/rama/potentials/rama_pose_score.hh
  tmol/score/rama/potentials/rama_pose_score.impl.hh
  tmol/score/rama/rama_energy_term.py
  tmol/score/rama/rama_whole_pose_module.py
  tmol/score/terms/backbone_torsion_creator.py
  tmol/score/terms/rama_creator.py
  tmol/score/terms/rama_omega_creator.py
  tmol/tests/score/omega/test_omega_energy_term.py
  tmol/tests/score/rama/test_rama_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
  tmol/tests/types/test_torch.py
Due: clang-format, black

Linting
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/disulfide_search.py
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_find_disulfides.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_chain_deduction.py
Due: black

Linting. Fix one failing test.
  tmol/score/backbone_torsion/params.py
  tmol/score/bonded_atom.py
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
Due: black

Inspecting test failure.
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Add C++/CUDA version of his tautomer resolution
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/compiled.py
  tmol/io/details/compiled/his_taut_params.hh
  tmol/io/details/compiled/resolve_his_taut.cpu.cpp
  tmol/io/details/compiled/resolve_his_taut.cuda.cu
  tmol/io/details/compiled/resolve_his_taut.hh
  tmol/io/details/compiled/resolve_his_taut.impl.hh
  tmol/io/details/his_taut_resolution.py
Due: clang-format, black

Remove older his-taut resolution code
  tmol/io/details/his_taut_resolution.py
Due: black

linting
  tmol/io/details/his_taut_resolution.py
Due: black

Few bugfixes, clarifications
  tmol/numeric/bspline_compiled/bspline.hh
  tmol/score/backbone_torsion/potentials/._compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/backbone_torsion/potentials/potentials.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/omega/params.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/score/test_score_function_benchmarks.py
  tmol/tests/support/test_database_converters.py
  tmol/utility/cpp_extension.py
Due: clang-format, black

linting
  tmol/tests/support/test_database_converters.py
Due: black

Cleaning up the code a bit
  tmol/__init__.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
Due: clang-format, black

Consolidate the coordinate building for lkball waters and pose leaf atoms
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/score/common/gen_coord.hh
  tmol/score/lk_ball/potentials/gen_waters.impl.hh
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.impl.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/tests/score/lk_ball/potentials/compiled.pybind.cpp
Due: clang-format

Refactor common leaf-atom-ancestor-resolution code into a function
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/io/details/compiled/leaf_atoms.hh
Due: clang-format

Derivatives working, cleaned up code, handle edge cases with terminal residues, set up subterms correctly, add benchmarking.
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/score_types.py
  tmol/score/terms/dunbrack_creator.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

