Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

style: apply release clang format
  tmol/score/common/whole_pose_scoring.hh
Due: clang-format

Accelerate batched mutation, scoring, and relaxation workflows (#426)
  tmol/database/scoring/_dunbrack_libraries.py
  tmol/database/scoring/_omega_bbdep.py
  tmol/database/scoring/_rama.py
  tmol/io/_pose_stack_construction.py
  tmol/io/details/_his_taut_resolution.py
  tmol/ligand/_openbabel_compat.py
  tmol/ligand/_structure_to_smiles.py
  tmol/optimization/_lbfgs_armijo.py
  tmol/optimization/_minimizers.py
  tmol/pack/_packer_task.py
  tmol/pack/rotamer/_fallback_sampler.py
  tmol/pack/rotamer/_include_current_sampler.py
  tmol/pack/rotamer/_mainchain_fingerprint.py
  tmol/pack/rotamer/_opth_sampler.py
  tmol/score/_energy_term.py
  tmol/score/_score_function.py
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/__init__.py
  tmol/score/common/_scoring_module.py
  tmol/score/common/whole_pose_scoring.hh
  tmol/score/constraint/_constraint_energy_term.py
  tmol/score/disulfide/_disulfide_energy_term.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/na_torsion/_na_torsion_energy_term.py
  tmol/tests/database/test_param_db.py
  tmol/tests/ligand/test_cif_to_dg.py
  tmol/tests/pack/rotamer/test_na_chi_sampler.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Release v0.1.49
  README.md
  pyproject.toml
Due: none

Support explicit inter-residue covalent bonds
  tmol/io/_build_context.py
  tmol/io/_covalent_bonds.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_preparation.py
  tmol/pose/__init__.py
  tmol/pose/_inter_residue_connection.py
  tmol/tests/io/test_explicit_covalent_bonds.py
Due: black

Virtualize leaving hydrogens at covalent attachments
  tmol/io/_covalent_bonds.py
  tmol/tests/io/test_explicit_covalent_bonds.py
Due: black

Exclude virtual leaving atoms from scoring
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/io/test_explicit_covalent_bonds.py
Due: black

Preserve LKBall scoring across sparse water slots
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
Due: clang-format, black

Bugfix for obabel minimization when called consecutively with two isomers.
  tmol/ligand/_conformer_generation.py
  tmol/ligand/_openbabel_compat.py
Due: black

Support explicit inter-residue covalent bonds (#419)
  tmol/io/_build_context.py
  tmol/io/_covalent_bonds.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_preparation.py
  tmol/pose/__init__.py
  tmol/pose/_inter_residue_connection.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/io/test_explicit_covalent_bonds.py
Due: black

Generate polymer semantics for modified components
  tmol/database/__init__.py
  tmol/io/_canonical_ordering.py
  tmol/ligand/__init__.py
  tmol/ligand/_detect.py
  tmol/ligand/_polymer.py
  tmol/ligand/_preparation.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/tests/ligand/test_polymer_classification.py
Due: black

Preserve modified polymer formal charges
  tmol/ligand/_polymer.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_polymer_classification.py
Due: black

Generate modified polymer components programmatically (#420)
  tmol/database/__init__.py
  tmol/io/_canonical_ordering.py
  tmol/ligand/__init__.py
  tmol/ligand/_detect.py
  tmol/ligand/_polymer.py
  tmol/ligand/_preparation.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_polymer_classification.py
Due: black

Derive carbohydrate topology from covalent graphs
  tmol/io/_canonical_ordering.py
  tmol/io/_covalent_bonds.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_carbohydrate_topology.py
Due: black

Decompose carbohydrate graph traversal
  tmol/io/_covalent_bonds.py
Due: black

Derive carbohydrate topology from covalent graphs (#421)
  tmol/io/_canonical_ordering.py
  tmol/io/_covalent_bonds.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_carbohydrate_topology.py
Due: black

Validate generated PTM and glycan workflows
  docs/development/ptm_glycan_implementation.md
  docs/tutorial/09_ptms_and_glycopeptides.md
  tmol/ligand/README.md
  tmol/tests/data/cif/5VVU_o_glcnac_peptide.cif.gz
  tmol/tests/data/cif/pdb_ptm_peptides.cif.gz
  tmol/tests/io/test_ptm_glycan_workflows.py
Due: black

Document modified polymer charge conservation
  docs/development/ptm_glycan_implementation.md
Due: none

Validate phosphorylated component scoring
  tmol/tests/io/test_ptm_glycan_workflows.py
Due: black

Validate programmatic PTM and glycan workflows (#422)
  docs/development/ptm_glycan_implementation.md
  docs/tutorial/09_ptms_and_glycopeptides.md
  tmol/ligand/README.md
  tmol/tests/data/cif/5VVU_o_glcnac_peptide.cif.gz
  tmol/tests/data/cif/pdb_ptm_peptides.cif.gz
  tmol/tests/io/test_ptm_glycan_workflows.py
Due: black

Revert programmatic PTM stack from master
  docs/development/ptm_glycan_implementation.md
  docs/tutorial/09_ptms_and_glycopeptides.md
  tmol/database/__init__.py
  tmol/io/_build_context.py
  tmol/io/_canonical_ordering.py
  tmol/io/_covalent_bonds.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/_detect.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_polymer.py
  tmol/ligand/_preparation.py
  tmol/pose/__init__.py
  tmol/pose/_inter_residue_connection.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/tests/data/cif/5VVU_o_glcnac_peptide.cif.gz
  tmol/tests/data/cif/pdb_ptm_peptides.cif.gz
  tmol/tests/io/test_carbohydrate_topology.py
  tmol/tests/io/test_explicit_covalent_bonds.py
  tmol/tests/io/test_ptm_glycan_workflows.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_polymer_classification.py
Due: black

Support explicit metal coordination sites
  tmol/io/_build_context.py
  tmol/io/_covalent_bonds.py
  tmol/io/_metal_bonds.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/constants.hh
  tmol/tests/io/test_metal_bonds.py
Due: clang-format, black

Match Rosetta metal geometry constraints
  docs/development/metal_coordination.md
  docs/development/ptm_glycan_implementation.md
  docs/tutorial/10_metal_coordination.md
  tmol/io/_metal_bonds.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/score/constraint/_constraint_energy_term.py
  tmol/tests/io/test_metal_bonds.py
Due: black

Ensure ligands passing through cif path are generated with correct chirality. Does not currently affect ligands but matters when repurposing this code for noncanonicals...
  tmol/ligand/_rdkit_mol.py
Due: black

Complete API and tutorial audit
  .github/scripts/smoke_tutorial_notebooks.py
  .github/workflows/docs.yml
  docs/api/analysis.rst
  docs/api/chemical.rst
  docs/api/ligand.rst
  docs/api/pose.rst
  docs/api/score.rst
  docs/api/score_terms.rst
  docs/api/top_level.rst
  docs/api/utility.rst
  docs/conf.py
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/rosetta_crosswalk.md
  pyproject.toml
Due: black

Publish current docs at a stable Pages URL
  .github/scripts/test_colab_release_config.py
  .github/workflows/docs.yml
  README.md
  docs/README.md
  docs/conf.py
  docs/installation.md
  docs/tutorial/colab_setup.py
  pyproject.toml
Due: black

Fix beta2016 API documentation rendering
  tmol/score/__init__.py
Due: black

Build documentation for the runner GPU
  .github/ci/build_package.sh
  .github/workflows/docs.yml
Due: none

Streamline the TMol README
  README.md
Due: none
