Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

automatic NCAA compatibility part 5: all non-standard NAs
  tmol/database/_patched_chemdb.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/chemical/d_amino_acids.yaml
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/_pose_stack_from_sequence.py
  tmol/ligand/__init__.py
  tmol/ligand/_detect.py
  tmol/ligand/_polymer_builder.py
  tmol/ligand/_polymer_profile.py
  tmol/ligand/_preparation.py
  tmol/ligand/_terminus_patches.py
  tmol/pack/rotamer/_fixed_aa_chi_sampler.py
  tmol/pack/rotamer/_mainchain_fingerprint.py
  tmol/pack/rotamer/dunbrack/_dunbrack_chi_sampler.py
  tmol/pose/_sequence.py
  tmol/score/dunbrack/_dunbrack_energy_term.py
  tmol/score/na_torsion/__init__.py
  tmol/score/na_torsion/_na_torsion_energy_term.py
  tmol/score/na_torsion/_params.py
  tmol/tests/data/__init__.py
  tmol/tests/data/ligand_cif_fixtures/README.md
  tmol/tests/data/ligand_cif_fixtures/glycan_nag_pair.cif
  tmol/tests/data/ncaa_fixtures/README.md
  tmol/tests/data/ncaa_fixtures/na_dna_5mc_1d17.cif
  tmol/tests/data/ncaa_fixtures/na_dna_8og_183d.cif
  tmol/tests/data/ncaa_fixtures/na_dna_ttd_1ttd.cif
  tmol/tests/data/ncaa_fixtures/na_rna_2ome_310d.cif
  tmol/tests/data/ncaa_fixtures/na_rna_psu_1bzt.cif
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
  tmol/tests/ligand/test_noncanonical_residues.py
  tmol/tests/ligand/test_nonstandard_backbones.py
  tmol/tests/ligand/test_nucleic_acids.py
  tmol/tests/pose/test_util.py
Due: black

ci: build long CUDA release wheels on self-hosted runner
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
Due: none

ci: support Apptainer release wheel builds
  .github/workflows/_build_wheel.yml
Due: none

ci: reuse Apptainer instance namespace
  .github/workflows/_build_wheel.yml
Due: none

ci: use venv CUDA toolkit in Apptainer builds
  .github/workflows/_build_wheel.yml
Due: none

ci: install nvcc for Apptainer wheel builds
  .github/workflows/_build_wheel.yml
Due: none

ci: pin CUDA compiler components together
  .github/workflows/_build_wheel.yml
Due: none

ci: expose pip CUDA runtime to CMake
  .github/workflows/_build_wheel.yml
Due: none

ci: expose pip CUDA development libraries
  .github/workflows/_build_wheel.yml
Due: none

ci: install CUDA CCCL headers for release builds
  .github/workflows/_build_wheel.yml
Due: none

ci: keep long cu132 release lane on persistent runner
  .github/workflows/publish.yml
Due: none

ci: cap full-architecture release concurrency
  .github/workflows/publish.yml
Due: none

ci: keep all cu132 x86 release lanes persistent
  .github/workflows/publish.yml
Due: none

perf: reduce LBFGS setup and dense-segment overhead
  tmol/optimization/_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_segments.py
Due: black

perf: streamline CPU rotamer and score evaluation
  tmol/numeric/_dihedrals.py
  tmol/pack/rotamer/_build_rotamers.py
  tmol/pack/rotamer/_mainchain_fingerprint.py
  tmol/score/_score_function.py
  tmol/tests/numeric/test_dihedrals.py
  tmol/tests/score/test_score_function.py
Due: black

perf: parallelize independent CPU scoring work
  tmol/pack/compiled/compiled.impl.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/common/device_operations/test.hh
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

Reduce minimizer overhead and preserve higher gradients
  tmol/optimization/_lbfgs_armijo.py
  tmol/optimization/_minimizers.py
  tmol/optimization/_sfxn_modules.py
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Specialize single-segment LBFGS algebra
  tmol/optimization/_lbfgs_armijo.py
Due: black

Reduce simulated annealing lookup overhead
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/simulated_annealing.hh
Due: clang-format

fix: skip coordinate-independent score gradients
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Skip unused annealer energy bookkeeping
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format

Scale forward-only CPU scoring across terms
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Parallelize forward-only CPU block-pair terms
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Accelerate per-term CPU block-pair scoring
  tmol/score/_score_function.py
  tmol/score/common/_scoring_module.py
  tmol/score/ref/_ref_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Preserve trainable score-term gradients
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Preserve optimized setup edge cases
  tmol/optimization/_lbfgs_armijo.py
  tmol/pack/rotamer/_build_rotamers.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Remove stale scalar LBFGS state
  tmol/optimization/_lbfgs_armijo.py
Due: black

Preserve gradients through coordinate-independent scores
  tmol/score/common/_scoring_module.py
  tmol/tests/score/test_score_function.py
Due: black

Remove redundant Ref score view
  tmol/score/ref/_ref_energy_term.py
Due: black

Size CPU annealer neighbors per pose
  tmol/pack/compiled/compiled.cpu.cpp
Due: clang-format

Filter CPU annealer neighbors during setup
  tmol/pack/compiled/compiled.cpu.cpp
Due: clang-format

Accelerate CPU scoring, rotamer setup, and FastRelax (#463)
  tmol/numeric/_dihedrals.py
  tmol/optimization/_lbfgs_armijo.py
  tmol/optimization/_minimizers.py
  tmol/optimization/_sfxn_modules.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/simulated_annealing.hh
  tmol/pack/rotamer/_build_rotamers.py
  tmol/pack/rotamer/_mainchain_fingerprint.py
  tmol/score/_score_function.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/_scoring_module.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/genbonded/potentials/genbonded_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/ref/_ref_energy_term.py
  tmol/tests/numeric/test_dihedrals.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_segments.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/score/common/device_operations/test.hh
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Add CUDA graph acceleration for Cartesian relaxation
  dev/benchmark_fast_relax.py
  dev/benchmark_score_matrix.py
  tmol/optimization/_minimizers.py
  tmol/optimization/_sfxn_modules.py
  tmol/relax/_fast_relax.py
  tmol/tests/optimization/test_minimizers.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Fix CUDA CI build and runtime consistency
  .github/ci/build_package.sh
  .github/ci/exec_gpu_apptainer.sh
  .github/ci/gpu_env.sh
Due: none

Reuse container PyTorch in GPU CI
  .github/ci/build_package.sh
  .github/ci/setup_ci_venv.sh
Due: none

Locate container Torch CMake package
  .github/ci/build_package.sh
Due: none

Fix CUDA build and profiling reliability
  .github/ci/srun_gpu_retry.sh
  CMakeLists.txt
  dev/bin/profile_benchmark.ipy
  docs/user_guide/benchmarking.md
  docs/user_guide/development.md
Due: none

Avoid unintended double promotion in CUDA scoring
  tmol/score/elec/potentials/potentials.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

Reset GPU sentinel after node failure
  .github/ci/srun_gpu_retry.sh
Due: none

Build GPU CI against runtime PyTorch
  .github/ci/build_package.sh
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

