Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

docs: shorten the declared-stereo and assembly comments to two lines
  tmol/io/_assemble.py
  tmol/ligand/_rdkit_mol.py
Due: black

refactor: share the sanitize-or-keep step of the input repairs
  tmol/ligand/_input_repair.py
Due: black

refactor: call the AtomWorks atom-tree helpers directly in the residue builder
  tmol/ligand/_residue_builder.py
Due: black

test: table the absent-substitution leaving-group cases
  tmol/tests/ligand/test_absent_substitution_leaving_groups.py
Due: black

chore: pin atomworks to the protonation stack that reads an authored bond table as complete
  pyproject.toml
Due: none

refactor: take component leaving groups from AtomWorks
  tmol/io/_cif.py
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_conjugation_patches.py
  tmol/ligand/_input_repair.py
Due: black

chore: pin atomworks to the protonation stack with component leaving groups
  pyproject.toml
Due: none

refactor: check stereo correspondence elements in the transfer loop
  tmol/ligand/_rdkit_mol.py
Due: black

test: write the partial-sugar atom and stereo lists on one line
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

chore: pin atomworks to the protonation stack that keeps a vicinal disulfide's peptide bond
  pyproject.toml
Due: none

fix: keep a metal-bound ligand's context protonation when preparing ligands
  tmol/ligand/_preparation.py
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

chore: pin atomworks to the protonation stack that titrates thiono phosphorus acids
  pyproject.toml
Due: none

chore: pin atomworks to the protonation stack that completes a residue beside a resolved leaving atom
  pyproject.toml
Due: none

test: check the written CIF names the ligand in one assertion
  tmol/tests/io/test_assemble.py
Due: black

docs: shorten the AtomWorks reader's numbering and polymer docstrings
  tmol/io/_atomworks_reader.py
Due: black

refactor: take radians from AtomWorks' vertex_angle and signed_dihedral_angle
  tmol/io/_pose_stack_from_sequence.py
  tmol/ligand/_conjugation_patches.py
  tmol/ligand/_fragmentation.py
Due: black

refactor: call assign_hydrogens without silence_rdkit_warnings
  tmol/io/_protonation.py
  tmol/tests/io/test_atomworks_hydrogen_parity.py
Due: black

chore: pin atomworks to the protonation stack with radian angle helpers and no silencing flags
  pyproject.toml
Due: none

fix: preserve absent occupancy and B-factor metadata
  tmol/io/details/_select_from_canonical.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

fix: store inter-block bond separations as int8
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_fragmentation.py
  tmol/pose/_pose_stack.py
  tmol/pose/_pose_stack_builder.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/compiled/bondsep.cpu.cpp
  tmol/pose/compiled/bondsep.cuda.cu
  tmol/pose/compiled/bondsep.hh
  tmol/score/_bond_dependent_term.py
  tmol/score/common/count_pair.hh
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/io/test_atomworks_corpus_regressions.py
  tmol/tests/pose/compiled/test_block_bondsep.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: clang-format, black

chore: pin atomworks to the protonation stack that moves arginine hydrogens with their nitrogens
  pyproject.toml
Due: none

fix: export is_polymer from block types when the input carries none
  tmol/io/_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

chore: pin atomworks to the protonation alternatives integration branch
  pyproject.toml
Due: none

fix: keep a Schiff-base carbon's double bond instead of capping it as a peptide
  tmol/ligand/_polymer_profile.py
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/ligand/test_atomworks_modified_components.py
  tmol/tests/ligand/test_nonstandard_backbones.py
Due: black

feat: store inter-block bond separations only for nearby block pairs
  tmol/io/details/_select_from_canonical.py
  tmol/pack/_pack_rotamers.py
  tmol/pose/__init__.py
  tmol/pose/_inter_block_bondsep.py
  tmol/pose/_pose_stack.py
  tmol/pose/_pose_stack_builder.py
  tmol/score/_bond_dependent_term.py
  tmol/score/common/count_pair.hh
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/_ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/_lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/io/test_atomworks_corpus_regressions.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
  tmol/tests/pose/test_inter_block_bondsep.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/score/test_bond_dependent_term.py
Due: clang-format, black

chore: tighten the near-block helper comment and its tests
  tmol/tests/pose/test_inter_block_bondsep.py
Due: black

feat: let the packer choose among AtomWorks' protonation alternatives
  docs/api/pack.rst
  docs/workflows/packing.md
  tmol/io/_pose_stack_from_biotite.py
  tmol/io/_protonation.py
  tmol/pack/_pack_rotamers.py
  tmol/pack/_packer_task.py
  tmol/pack/protonation_alternatives.py
  tmol/tests/pack/test_protonation_alternatives.py
Due: black

test: compare the atom37 builder's bond separations tensor by tensor
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
Due: black

feat: search the bonded connection graph only for separations below the cap
  tmol/io/details/_select_from_canonical.py
  tmol/ligand/_fragmentation.py
  tmol/pose/_inter_block_bondsep.py
  tmol/pose/_pose_stack_builder.py
  tmol/tests/pose/test_inter_block_bondsep.py
Due: black

test: expect ammonium from a hydrogen-less ammonia ligand at pH 7.4
  tmol/tests/ligand/test_ligand_entry_paths.py
Due: black

chore: pin atomworks to the protonation stack with the ammonium, metal-donor, aromatic-ring and isotope fixes
  pyproject.toml
Due: none

chore: pin atomworks to the protonation stack with the general metal-donor and isotope-occupancy rules
  pyproject.toml
Due: none

refactor: import the geometry helpers and Dimorphite-DL from AtomWorks' public modules
  pyproject.toml
  tmol/io/_pose_stack_from_sequence.py
  tmol/io/_protonation.py
  tmol/ligand/_conjugation_patches.py
  tmol/ligand/_connection_params.py
  tmol/ligand/_detect.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_polymer_builder.py
  tmol/ligand/_residue_builder.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

refactor: compute the metal element mask in one helper
  tmol/io/_pose_stack_from_biotite.py
Due: black

refactor: drop the unused tolerance parameter of choose_geometry
  tmol/io/details/_metal_geometry.py
Due: black

fix: key cached protonation states on metal-donor bond length
  tmol/io/_protonation.py
  tmol/tests/io/test_protonation.py
Due: black

fix: left-justify every residue metadata array with the residues
  tmol/io/_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

test: parametrize the metal table tests over metal_table
  tmol/tests/database/test_metals.py
Due: black

test: parametrize metal detection tests and fix two vacuous checks
  tmol/tests/io/test_metal_detection.py
Due: black

test: test Dimorphite-DL states through TMol's wrapper
  tmol/tests/ligand/test_dimorphite_cache.py
  tmol/tests/ligand/test_dimorphite_vendor.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black
