Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Split CPU candidate validation from queued GPU work
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
  benchmarks/multimodal_scaling/slurm/run_candidate_ab_cpu.sh
  benchmarks/multimodal_scaling/slurm/validate_candidate_cpu.sh
Due: none

Bind candidate benchmark output into container
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
Due: none

Instrument trajectory-sensitive FastRelax comparisons
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_fastrelax_call_counts_cpu.sh
  benchmarks/multimodal_scaling/src/benchmark_fastrelax_calls.py
Due: black

Break FastRelax timing into packing and minimization
  benchmarks/multimodal_scaling/src/benchmark_fastrelax_calls.py
Due: black

Use validated nucleic input for candidate FastRelax
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
Due: none

Isolate FastRelax scorer and optimizer effects
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_fastrelax_call_counts_cpu.sh
Due: none

Bracket FastRelax mode diagnostics symmetrically
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_fastrelax_call_counts_cpu.sh
Due: none

Add fixed-input repacking A/B diagnostic
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_repack_ab_cpu.sh
Due: none

Enforce reproducible release candidate benchmarks
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/build_candidate_release.sh
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
  benchmarks/multimodal_scaling/src/capture_candidate_provenance.py
Due: black

Record candidate diagnostic build provenance
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
  benchmarks/multimodal_scaling/slurm/run_fastrelax_call_counts_cpu.sh
  benchmarks/multimodal_scaling/slurm/run_repack_ab_cpu.sh
Due: none

Ignore transient Ninja lock in provenance
  benchmarks/multimodal_scaling/src/capture_candidate_provenance.py
Due: black

Verify release build at host source path
  benchmarks/multimodal_scaling/slurm/build_candidate_release.sh
Due: none

Bind candidate provenance output into container
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
  benchmarks/multimodal_scaling/slurm/run_fastrelax_call_counts_cpu.sh
  benchmarks/multimodal_scaling/slurm/run_repack_ab_cpu.sh
Due: none

Derive candidate PyRosetta crossover report
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_candidate_ab.sh
  benchmarks/multimodal_scaling/src/compare_candidate_to_pyrosetta.py
Due: black

Validate CartBonded candidate changes
  benchmarks/multimodal_scaling/slurm/validate_candidate.sh
  benchmarks/multimodal_scaling/slurm/validate_candidate_cpu.sh
Due: none

Report CPU gaps by residue length
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/plot_existing.sh
  benchmarks/multimodal_scaling/src/analyze_cpu_gaps.py
Due: black

Add paired rotamer term profiler
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/profile_rotamer_terms_cpu.sh
  benchmarks/multimodal_scaling/src/profile_rotamer_terms.py
Due: black

Report candidate trajectory changes
  benchmarks/multimodal_scaling/src/profile_rotamer_terms.py
  benchmarks/multimodal_scaling/src/summarize_candidate_ab.py
Due: black

Autoscale benchmark panels independently
  benchmarks/multimodal_scaling/src/plot_results.py
Due: black

Profile rotamers from the active benchmark manifest
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/profile_rotamer_terms_cpu.sh
Due: none

Disambiguate rotamer profile modalities
  benchmarks/multimodal_scaling/slurm/profile_rotamer_terms_cpu.sh
  benchmarks/multimodal_scaling/src/profile_rotamer_terms.py
Due: black

Derive rotamer profile polymer size from manifest
  benchmarks/multimodal_scaling/src/profile_rotamer_terms.py
Due: black

Scope benchmark consistency checks correctly
  benchmarks/multimodal_scaling/src/collect_results.py
  benchmarks/multimodal_scaling/src/summarize_results.py
Due: black

Summarize rotamer term profiles reproducibly
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/profile_rotamer_terms_cpu.sh
  benchmarks/multimodal_scaling/src/summarize_rotamer_terms.py
Due: black

Isolate JIT caches for candidate validation
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/validate_candidate.sh
  benchmarks/multimodal_scaling/slurm/validate_candidate_cpu.sh
Due: none

Support verified CPU-only candidate builds
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/build_candidate_release.sh
Due: none

Report repack and FastRelax phase timings
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_fastrelax_call_counts_cpu.sh
  benchmarks/multimodal_scaling/slurm/run_repack_ab_cpu.sh
  benchmarks/multimodal_scaling/src/summarize_fastrelax_calls.py
  benchmarks/multimodal_scaling/src/summarize_repack_ab.py
Due: black

Parameterize FastRelax phase profiling
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_fastrelax_call_counts_cpu.sh
  benchmarks/multimodal_scaling/src/summarize_fastrelax_calls.py
Due: black

Keep composite panel labels within axes
  benchmarks/multimodal_scaling/src/plot_results.py
Due: black

Add reproducible broad candidate CPU audit
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/run_broad_candidate_cpu_array.sh
  benchmarks/multimodal_scaling/src/build_broad_candidate_cpu_tasks.py
  benchmarks/multimodal_scaling/src/capture_candidate_provenance.py
  benchmarks/multimodal_scaling/src/submit_broad_candidate_cpu.py
  benchmarks/multimodal_scaling/src/summarize_broad_candidate_cpu.py
Due: black

Profile rotamer terms across modalities
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/slurm/profile_rotamer_terms_cpu.sh
Due: none

Profile FastRelax packing subphases
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/src/benchmark_fastrelax_calls.py
  benchmarks/multimodal_scaling/src/summarize_fastrelax_calls.py
Due: black

Freeze broad benchmark inputs and compare failures
  benchmarks/multimodal_scaling/README.md
  benchmarks/multimodal_scaling/src/build_broad_candidate_cpu_tasks.py
  benchmarks/multimodal_scaling/src/submit_broad_candidate_cpu.py
  benchmarks/multimodal_scaling/src/summarize_broad_candidate_cpu.py
Due: black

Optimize CPU and CUDA minimization execution
  CMakeLists.txt
  tmol/__init__.py
  tmol/optimization/__init__.py
  tmol/optimization/_armijo_compiled.py
  tmol/optimization/_lbfgs_armijo.py
  tmol/optimization/_minimizers.py
  tmol/optimization/_sfxn_modules.py
  tmol/optimization/armijo_compiled.cpu.cpp
  tmol/optimization/armijo_compiled.cuda.cu
  tmol/optimization/armijo_compiled.hh
  tmol/optimization/armijo_compiled.impl.hh
  tmol/optimization/armijo_compiled.ops.cpp
  tmol/relax/_fast_relax.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/optimization/test_armijo_compiled.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/optimization/test_minimizers.py
Due: clang-format, black

Reuse larger rotamer dispatch layouts on CUDA
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/_score_function.py
  tmol/score/elec/_elec_energy_term.py
  tmol/score/elec/potentials/__init__.py
  tmol/score/elec/potentials/_compiled.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Wrap Dunbrack periodic endpoints safely
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
Due: clang-format, black

Document CPU threading and add TMol agent skills
  README.md
  docs/agent_skills.md
  docs/contributor_guide.md
  docs/index.rst
  docs/user_guide/cpu_threading.md
  docs/user_guide/optimization.md
  docs/user_guide/scoring.md
  docs/workflows/gpu_batching.md
  docs/workflows/index.md
  docs/workflows/packing.md
  skills/README.md
  skills/tmol-develop/SKILL.md
  skills/tmol-develop/evals/evals.json
  skills/tmol-develop/skill-card.md
  skills/tmol-pack-relax/SKILL.md
  skills/tmol-pack-relax/evals/evals.json
  skills/tmol-pack-relax/skill-card.md
  skills/tmol-score/SKILL.md
  skills/tmol-score/evals/evals.json
  skills/tmol-score/skill-card.md
  skills/tmol-setup/SKILL.md
  skills/tmol-setup/evals/evals.json
  skills/tmol-setup/skill-card.md
Due: none

Simplify CartBonded setup and format fused scoring
  tmol/score/cartbonded/_cartbonded_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format, black

Use fused CPU scoring consistently across batches
  tmol/score/_score_function.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

