Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

removing potentially(?) dead old tests for cpp_extension
  tmol/tests/utility/cpp_extension/test_cpp_extension.py
Due: black

Update SA. Change code so warp calculates single rot change. reduce nthreads, increase length of traj.
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/pack_rotamers.py
  tmol/pack/simulated_annealing.py
Due: clang-format, black

Grab bag of changes: a) fix 1H/2H flips on ASN and GLN; b) add a distance check in biotite-to-pose-stack to properly handle missing density; c) set semirotameric prob cumsum to 0.98 (was 0.95)
  tmol/database/default/chemical/chemical.yaml
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
Due: black

Bugfix for chi1 corrections: since they are backbone-depoendent, we cannot compute them in advance and stash in PBT. Revert back to computing at build-time.
  tmol/pack/rotamer/build_rotamers.py
Due: black

First pass implementation of bump check / background node elimination
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/impose_rotamers.py
  tmol/pack/pack_rotamers.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

linting
  tmol/io/pose_stack_deconstruction.py
  tmol/pack/build_missing_sidechains.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Small tweaks
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/pack_rotamers.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

save debugging process
  tmol/pack/compiled/compiled.impl.hh
Due: clang-format

Better error handling for git ci (#360)
  .github/workflows/ci.yml
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/utility/cpp_extension/test_cpp_extension.py
  tmol/utility/biotite_util.py
  tmol/utility/cpp_extension.py
Due: black

separating steps
  .github/workflows/ci.yml
Due: none

Display test summary
  .github/workflows/ci.yml
Due: none

Get bump check working.
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/impose_rotamers.py
  tmol/pack/pack_rotamers.py
  tmol/tests/data/pdb/1r21.pdb
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

More bump check cleanups
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/impose_rotamers.py
Due: clang-format, black

Minimize RPE lifetime
  tmol/pack/pack_rotamers.py
Due: black

Rename var in pose_stack_from_biotite. In SA, only thread 0 does exp/update.
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/compiled/compiled.cuda.cu
Due: clang-format, black

Filter residues with incomplete backbones
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_biotite.py
Due: black

updating ci
  .github/workflows/ci.yml
Due: none

more testing
  .github/workflows/ci.yml
Due: none

more changes
  .github/workflows/ci.yml
Due: none

revert for now
  .github/workflows/ci.yml
Due: none

trying to fix pytest
  .github/workflows/ci.yml
Due: none

more
  .github/workflows/ci.yml
Due: none

fix continue
  .github/workflows/ci.yml
Due: none

fixing potentially missing pytest summary files
  .github/workflows/ci.yml
Due: none

Adding two missing test files
  tmol/tests/data/pdb/1UBQ.cif
  tmol/tests/data/pdb/1ubq_err.pdb
Due: none

Adding two missing test files (#364)
  tmol/tests/data/pdb/1UBQ.cif
  tmol/tests/data/pdb/1ubq_err.pdb
Due: none

conditional step running
  .github/workflows/ci.yml
Due: none

testing
  .github/workflows/ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none
