Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

bugfix
  .buildkite/hooks/pre-command
Due: none

Another bugfix
  .buildkite/hooks/pre-exit
Due: none

Moving hook
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.yml
Due: none

Conda fix
  .buildkite/hooks/pre-command
Due: none

Try something different
  .buildkite/bin/benchmark
  .buildkite/bin/docs
  .buildkite/bin/gh-pages
  .buildkite/bin/linting
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yml
Due: none

More test script cleanup
  .buildkite/bin/benchmark
  .buildkite/bin/linting
  .buildkite/bin/setup
Due: none

Fix cpu tests
  .buildkite/pipeline.yml
Due: none

Missing file
  .buildkite/bin/cleanup
Due: none

Cleanup logs
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
Due: none

Debugging
  .buildkite/pipeline.yml
Due: none

Optimize pipeline by recompiling in setup
  .buildkite/bin/benchmark
  .buildkite/bin/cleanup
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
  .buildkite/pipeline.yml
Due: none

Switch raw-residue- and patch validation scheme to throw helpful error messages
  tmol/chemical/patched_chemdb.py
  tmol/tests/chemical/test_patch.py
Due: black

Refactor residue and patch validation functions (function is too complex)
  tmol/chemical/patched_chemdb.py
Due: black

Linting
  tmol/chemical/patched_chemdb.py
  tmol/tests/chemical/test_patch.py
Due: black

Exfoliating dead code
  tmol/chemical/patched_chemdb.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/select_from_canonical.py
  tmol/score/elec/params.py
  tmol/system/io.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_baseline.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
Due: black

Fix bug with torch compiled files clobbering one another.
  .buildkite/bin/benchmark
  .buildkite/bin/cleanup
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
  .buildkite/pipeline.yml
Due: none

Hopefully the final pipeline updates
  .buildkite/bin/cleanup
  .buildkite/pipeline.yml
Due: none

Dimaio/singularity test server (#287)
  .buildkite/bin/benchmark
  .buildkite/bin/cleanup
  .buildkite/bin/docs
  .buildkite/bin/gh-pages
  .buildkite/bin/linting
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
  .buildkite/pipeline.yml
Due: none

Final code-coverage cleanup of this PR
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

misc block pair changes
  tmol/score/cartbonded/cartbonded_whole_pose_module.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/ref/ref_whole_pose_module.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: clang-format, black

Update remaining score terms to block-pair scoring. Known-issue - dunbrack fails reweighted block pair gradcheck
  tmol/score/backbone_torsion/bb_torsion_whole_pose_module.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.hh
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/disulfide_pose_score.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/potentials.hh
  tmol/score/dunbrack/dunbrack_whole_pose_module.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: clang-format, black

fix issue with typing.get_type_hints and SubscriptableType in python 3.11
  environments/env-dev.yml
  environments/requirements.in
  tmol/types/subscriptable.py
  tmol/types/tensor.py
Due: black

bump compiler flags to std=c++17 to support newer pytorch
  tmol/utility/cpp_extension.py
Due: black

adapt to update signature of types.CodeType in python 3.11
  tmol/utility/reactive.py
Due: black

fix custom_op test
  tmol/tests/utility/torchscript/test_custom_op.py
Due: black

fix device placement in pack/rotamer code
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
Due: black

rewrite SimpleLJScore to avoid nan in backward pass
  tmol/tests/optimization/test_lbfgs_armijo.py
Due: black

torch.testing.assert_allclose -> torch.testing.assert_close
  tmol/tests/kinematics/segscan/test_segscan.py
  tmol/tests/kinematics/test_dof_modules.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/score/common/geom/test_cuda.py
  tmol/tests/score/common/test_stack_condense.py
  tmol/tests/score/dunbrack/test_dun_param_resolver.py
  tmol/tests/score/elec/test_params.py
  tmol/tests/score/elec/test_script_modules.py
  tmol/tests/score/hbond/test_script_module.py
  tmol/tests/score/ljlk/potentials/test_compiled_lj_potential.py
  tmol/tests/score/ljlk/potentials/test_sphere_overlap.py
  tmol/tests/score/ljlk/test_script_modules.py
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
  tmol/tests/score/lk_ball/test_script_modules.py
  tmol/tests/score/modules/test_cartbonded.py
  tmol/tests/score/modules/test_constraint.py
  tmol/tests/score/modules/test_dunbrack.py
  tmol/tests/score/modules/test_elec.py
  tmol/tests/score/modules/test_hbond.py
  tmol/tests/score/modules/test_ljlk.py
  tmol/tests/score/modules/test_lk_ball.py
  tmol/tests/score/modules/test_old_bonded_atom.py
  tmol/tests/score/modules/test_omega.py
  tmol/tests/score/modules/test_rama.py
  tmol/tests/support/test_database_converters.py
  tmol/tests/test_cuda.py
  tmol/tests/utility/tensor/test_tensor_accessor.py
  tmol/tests/utility/tensor/test_tensor_collection.py
  tmol/tests/utility/torchscript/test_custom_op.py
Due: black

simplify packaging
  Dockerfile
  environments/devel/Dockerfile
  environments/env-dev.yml
  environments/env.yml
  environments/linux-cuda/build_requirements.sh
  environments/linux-cuda/env.yml
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  environments/linux-cuda/requirements-linux-cuda.txt
  environments/test/Dockerfile
  environments/test/env-dev.yml
  environments/test/requirements-dev.in
  environments/test/requirements.in
  pyproject.toml
  requirements-dev.in
  requirements.in
  setup.py
  tmol/__init__.py
Due: black

add pyarrow since to requirements.in since it will become required by pandas
  environments/linux-cuda/requirements-linux-cuda.txt
  requirements.in
Due: none

update buildkite
  .buildkite/bin/setup
Due: none

relax requires-python
  pyproject.toml
Due: none

support python 3.9-3.12 in reactive
  tmol/utility/reactive.py
Due: black

fix typo
  tmol/utility/reactive.py
Due: black

fix macos clang build
  tmol/score/ljlk/potentials/params.hh
Due: clang-format

Fleshing out testing framework, all energy terms now using it, all baselines for all terms in the data directory.
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/DisulfideEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/DisulfideEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/DisulfideEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/DunbrackEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/DunbrackEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/DunbrackEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/RefEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/RefEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/RefEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/test_energy_term.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/ref/test_ref_energy_term.py
Due: black

Add @validate_args decorators to API functions in tmol.io
  tmol/io/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/io/write_pose_stack_pdb.py
Due: black
