Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

score dg for both converted and generated params
  tmol/tests/ligand/test_pli_scoring.py
Due: black

update ligand path
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol_build_backend.py
Due: black

Update reference values for ros vs tmol scoring
  tmol/tests/data/protein_ligand_test/ace_complex_nometals.sc
  tmol/tests/data/protein_ligand_test/ache_complex.sc
  tmol/tests/data/protein_ligand_test/ada_complex_nometals.sc
  tmol/tests/data/protein_ligand_test/ampc_complex.sc
  tmol/tests/data/protein_ligand_test/ar_complex.sc
  tmol/tests/data/protein_ligand_test/cdk2_complex.sc
  tmol/tests/data/protein_ligand_test/cox1_complex.sc
  tmol/tests/data/protein_ligand_test/cox2_complex.sc
  tmol/tests/data/protein_ligand_test/er_agonist_complex.sc
  tmol/tests/data/protein_ligand_test/er_antagonist_complex.sc
  tmol/tests/data/protein_ligand_test/fgfr1_complex.sc
  tmol/tests/data/protein_ligand_test/fxa_complex.sc
  tmol/tests/data/protein_ligand_test/gr_complex.sc
  tmol/tests/data/protein_ligand_test/hivrt_complex.sc
  tmol/tests/data/protein_ligand_test/hmga_complex.sc
  tmol/tests/data/protein_ligand_test/hmga_complex_0001.sc
  tmol/tests/data/protein_ligand_test/hsp90_complex.sc
  tmol/tests/data/protein_ligand_test/mr_complex.sc
  tmol/tests/data/protein_ligand_test/na_complex.sc
  tmol/tests/data/protein_ligand_test/p38_complex.sc
  tmol/tests/data/protein_ligand_test/parp_complex.sc
  tmol/tests/data/protein_ligand_test/pde5_complex_nometals.sc
  tmol/tests/data/protein_ligand_test/pdgfrb_complex.sc
  tmol/tests/data/protein_ligand_test/pr_complex.sc
  tmol/tests/data/protein_ligand_test/rxr_complex.sc
  tmol/tests/data/protein_ligand_test/src_complex.sc
  tmol/tests/data/protein_ligand_test/tk_complex.sc
  tmol/tests/data/protein_ligand_test/trypsin_complex.sc
  tmol/tests/data/protein_ligand_test/vegfr2_complex.sc
Due: none

formatting test_pli
  tmol/tests/ligand/test_pli_scoring.py
Due: black

Add more debugging statements
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pose/compiled/apsp.cuda.cu
  tmol/utility/tensor/torch_context.hh
Due: clang-format

Cherry-pick aleaverfay/bump_check modifications to all-pairs-shortest-paths cuda alg
  tmol/pose/compiled/apsp.cuda.cu
Due: clang-format

Add ContextManager to lBFGS
  tmol/optimization/compiled/lbfgs.cuda.cu
Due: clang-format

Cherry-picking device-operations update from aleaverfay/bump_check
  tmol/score/common/device_operations.cuda.impl.cuh
Due: clang-format

progress
  tmol/tests/ligand/test_pli_scoring.py
Due: black

Refactoring protein/ligand tests, adding mol2 files for the targets.
  tmol/tests/data/protein_ligand_test/ace.lig.mol2
  tmol/tests/data/protein_ligand_test/ache.lig.mol2
  tmol/tests/data/protein_ligand_test/ada.lig.cif
  tmol/tests/data/protein_ligand_test/ada.lig.mol2
  tmol/tests/data/protein_ligand_test/ampc.lig.mol2
  tmol/tests/data/protein_ligand_test/ar.lig.mol2
  tmol/tests/data/protein_ligand_test/cdk2.lig.mol2
  tmol/tests/data/protein_ligand_test/cox1.lig.mol2
  tmol/tests/data/protein_ligand_test/cox2.lig.mol2
  tmol/tests/data/protein_ligand_test/egfr.lig.mol2
  tmol/tests/data/protein_ligand_test/er_agonist.lig.mol2
  tmol/tests/data/protein_ligand_test/er_antagonist.lig.mol2
  tmol/tests/data/protein_ligand_test/fgfr1.lig.mol2
  tmol/tests/data/protein_ligand_test/fxa.lig.mol2
  tmol/tests/data/protein_ligand_test/gr.lig.mol2
  tmol/tests/data/protein_ligand_test/hivrt.lig.mol2
  tmol/tests/data/protein_ligand_test/hmga.lig.mol2
  tmol/tests/data/protein_ligand_test/hsp90.lig.mol2
  tmol/tests/data/protein_ligand_test/mr.lig.mol2
  tmol/tests/data/protein_ligand_test/na.lig.mol2
  tmol/tests/data/protein_ligand_test/p38.lig.mol2
  tmol/tests/data/protein_ligand_test/parp.lig.mol2
  tmol/tests/data/protein_ligand_test/pde5.lig.mol2
  tmol/tests/data/protein_ligand_test/pdgfrb.lig.mol2
  tmol/tests/data/protein_ligand_test/pr.lig.mol2
  tmol/tests/data/protein_ligand_test/rxr.lig.mol2
  tmol/tests/data/protein_ligand_test/src.lig.mol2
  tmol/tests/data/protein_ligand_test/tk.lig.mol2
  tmol/tests/data/protein_ligand_test/trypsin.lig.mol2
  tmol/tests/data/protein_ligand_test/vegfr2.lig.mol2
  tmol/tests/ligand/test_pli_scoring.py
Due: black

Add pose_stack_from_backbone_coords: build PoseStack from N/CA/C/O in memory
  tmol/__init__.py
  tmol/io/pose_stack_from_backbone_coords.py
  tmol/pose/pdb_info.py
  tmol/pose/pose_stack.py
  tmol/tests/io/test_pose_stack_from_backbone_coords.py
Due: black

update ligand path and wheel build for manylinux
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  CMakeLists.txt
  DEVELOPMENT.md
  README.md
  pyproject.toml
  tmol/_cpp_lib.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/cif_normalization.py
  tmol/ligand/detect.py
  tmol/ligand/equivalence.py
  tmol/ligand/graph_match.py
  tmol/ligand/mol3d.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/ligand/registry.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
  tmol/tests/test_cpp_lib.py
Due: black

update tests
  .github/workflows/ci.yml
  DEVELOPMENT.md
  tmol/ligand/cif_normalization.py
  tmol/ligand/detect.py
  tmol/ligand/equivalence.py
  tmol/ligand/mol2_names.py
  tmol/ligand/mol3d.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/ligand/build_pli_ligand_cifs.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_mol2_atom_names.py
  tmol/tests/ligand/test_mol3d_mmff.py
  tmol/tests/ligand/test_pli_scoring.py
  tmol/tests/ligand/test_pli_tmol_equivalence.py
  tmol/tests/score/test_score_utils.py
Due: black

update package to have proper ligand capabilities and gpu build
  .github/workflows/ci.yml
  CMakeLists.txt
  pyproject.toml
  tmol/ligand/README.md
  tmol/ligand/detect.py
  tmol/ligand/preparation.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/ligand/test_dud_ligands.py
Due: black

update ci manylinux setup for building
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  DEVELOPMENT.md
  README.md
  tmol_build_backend.py
Due: black

push version to 0.1.24
  pyproject.toml
Due: none

add new cmake constraints
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

push 0.1.26
  .github/workflows/_build_wheel.yml
  pyproject.toml
Due: none

push 0.1.27
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

push 0.1.28
  .github/workflows/_build_wheel.yml
  pyproject.toml
Due: none

push 0.1.29
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Add controllable parameter dlin_sigma_scale for Lennard-Jones
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/ljlk.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/params.py
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
Due: clang-format, black

Cargo-culting the extra parameter for dlin_sigma
  tmol/score/ljlk/potentials/params.hh
Due: clang-format

Fixing spelling mistake
  tmol/score/ljlk/ljlk_energy_term.py
Due: black

Removing "unused" lj_switch_dis2sigma parameter after addition of "lj_dlin_sigma_factor" that does the same thing
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/ljlk.py
  tmol/score/ljlk/params.py
Due: black

Control maximum energy function distance programmatically
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/ljlk.py
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/params.py
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format, black

Small refactor: for neighbor check, the max_dis parameter has to be on CPU as well as on device ... pass in this parameter on host as well.
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec_pose_score.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format, black

Add placeholder for extra arg in backwards
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.ops.cpp
Due: clang-format

Fix other test failures (issues in testing code not in tmol proper).
  tmol/score/lk_ball/potentials/params.pybind.hh
  tmol/tests/score/lk_ball/potentials/compiled.py
Due: clang-format, black

Fixing merge conflict overlooked in rebase.
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
Due: clang-format

Fixing rebase mistake
  tmol/score/lk_ball/lk_ball_energy_term.py
Due: black

Fixing git ci to use the right container and gpu spec.
  .github/workflows/ci.yml
Due: none

Fixing another rebase error; pass CPU max-dis into LKBall rotamer neighb detection
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
Due: clang-format

More debugging code; still no answer
  tmol/pack/compiled/compiled.impl.hh
Due: clang-format

feat: add non-destructive mol2 -> tmol params entry point
  .gitignore
  tmol/ligand/__init__.py
  tmol/ligand/mol2_io.py
  tmol/tests/data/ligand_ground_truth/rosetta_ref1.params
  tmol/tests/data/ligand_ground_truth/rosetta_ref2.params
  tmol/tests/ligand/test_mol2_io.py
Due: black

Added scritps for generating small molecule params from SMILES
  scripts/ligand_prep/README.md
  scripts/ligand_prep/designs.smi
  scripts/ligand_prep/prepare_smiles.sh
  scripts/ligand_prep/run_obabel.sh
  scripts/ligand_prep/run_params.sh
Due: none

Added data for ligand preparation.
  scripts/ligand_prep/designs.prot.mmff94.mol2
  scripts/ligand_prep/designs.prot.smi
  scripts/ligand_prep/params/ref1.params
  scripts/ligand_prep/params/ref2.params
Due: none

Updated the example ligands
  scripts/ligand_prep/designs.prot.mmff94.mol2
  scripts/ligand_prep/designs.prot.smi
  scripts/ligand_prep/designs.smi
  scripts/ligand_prep/params/ref1.params
  scripts/ligand_prep/params/ref2.params
Due: none

restore tests for pli dg
  tmol/tests/ligand/test_pli_scoring.py
Due: black

adding packing to dg calc
  tmol/score/score_utils.py
  tmol/tests/ligand/test_pli_scoring.py
Due: black
