Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

fix h assignments
  pyproject.toml
  tmol/chemical/patched_chemdb.py
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/mol3d.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

fix lazy imports and make tests pretty
  .github/workflows/ci.yml
  pyproject.toml
  tmol/ligand/__init__.py
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/ligand/smiles.py
Due: black

update ci
  .github/workflows/ci.yml
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
Due: none

fix formatting
  tmol/tests/chemical/test_patch.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

update ci with apptainer
  .github/workflows/ci.yml
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
Due: none

Git CI improvements (#362)
  .github/workflows/ci.yml
Due: none

fix issues in ligand code
  .github/workflows/ci.yml
  .gitignore
  pytest
  tmol/database/__init__.py
  tmol/database/chemical/__init__.py
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/chemistry_tables.py
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

revert double to real conversion of hbond polys. revert unit test changes.
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/params.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

refactored ligand logic
  pyproject.toml
Due: none

refactor: switch open babel to rdkit
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
  pyproject.toml
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/graph_match.py
  tmol/ligand/mol3d.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

Some small updates to bump check
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/rotamer/build_rotamers.py
  tmol/tests/pack/test_load_ig.py
Due: clang-format, black

revert double to real conversion of hbond polys (#369)
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/params.py
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/hbond/potentials/potentials.hh
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/hbond/test_hbond_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Bugfix where optH was getting apply to all residues (not respecting block lvl tasks)
  tmol/pack/rotamer/opth_sampler.py
Due: black

flake
  tmol/pack/rotamer/opth_sampler.py
Due: black

get block pair score function working again, add some options for getting individual terms.
  tmol/score/score_function.py
  tmol/tests/score/test_score_function.py
Due: black

pinned version of sympy conflicts with torch req in git ci
  .github/workflows/ci.yml
Due: none

unpinning container pins (why were these pinned in the first place?)
  .github/workflows/ci.yml
Due: none

flake
  tmol/io/pose_stack_from_atomworks.py
Due: black

first pass at properly containerized git ci action
  .github/workflows/ci.yml
Due: none

fixes
  .github/workflows/ci.yml
Due: none

Add clarifying comments
  tmol/pack/rotamer/opth_sampler.py
Due: black

adding venv
  .github/workflows/ci.yml
Due: none

Revert bad reversion
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
Due: black

more fixes
  .github/workflows/ci.yml
Due: none

move some setup to setup step
  .skbuild-info.json
Due: none

move setup to setup step
  .github/workflows/ci.yml
Due: none

Revert "move some setup to setup step"
  .skbuild-info.json
Due: none

fix black
  dev/bin/nvprof2json.py
  tmol/__init__.py
  tmol/relax/fast_relax.py
  tmol/support/scoring/hbond_param_import.py
Due: black

add flake exclusion
  .github/workflows/ci.yml
Due: none

adding flake to pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

add codecov again
  .github/workflows/ci.yml
Due: none

fix codecov
  .github/workflows/ci.yml
Due: none

refactored ligand logic
  pyproject.toml
  tmol/__init__.py
  tmol/chemical/restypes.py
  tmol/database/__init__.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/hbond.yaml
  tmol/database/default/scoring/ljlk.yaml
  tmol/database/scoring/cartbonded.py
  tmol/database/scoring/elec.py
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/chemistry_tables.py
  tmol/ligand/detect.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/graph_match.py
  tmol/ligand/mol3d.py
  tmol/ligand/params_io.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
  tmol/ligand/site_substructures.smarts
  tmol/ligand/smiles.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/cif/155c__1__1.A__1.B.cif
  tmol/tests/data/cif/184l__1__1.A__1.E.cif
  tmol/tests/data/cif/1a25__1__1.B__1.I.cif
  tmol/tests/data/ligand_ground_truth/designs.prot.smi
  tmol/tests/data/ligand_ground_truth/designs.smi
  tmol/tests/data/ligand_ground_truth/ref1.mol2
  tmol/tests/data/ligand_ground_truth/ref1.params
  tmol/tests/data/ligand_ground_truth/ref2.mol2
  tmol/tests/data/ligand_ground_truth/ref2.params
  tmol/tests/ligand/__init__.py
  tmol/tests/ligand/test_chemistry_tables.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

format
  dev/bin/nvprof2json.py
  tmol/__init__.py
  tmol/ligand/dimorphite_dl.py
  tmol/support/scoring/hbond_param_import.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

biotite dep
  pyproject.toml
Due: none
