Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Exercise both bump-check modes with raw and coalesced packing energies
  tmol/tests/pack/test_pack_rotamers.py
Due: black

Reduce dense connectivity allocations and fuse block separation gather
  CMakeLists.txt
  tmol/io/_pose_stack_construction.py
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/ligand/_fragmentation.py
  tmol/pack/_impose_rotamers.py
  tmol/pack/_pack_rotamers.py
  tmol/pose/_pose_stack.py
  tmol/pose/_pose_stack_builder.py
  tmol/pose/compiled/__init__.py
  tmol/pose/compiled/_apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/compiled/bondsep.cpu.cpp
  tmol/pose/compiled/bondsep.cuda.cu
  tmol/pose/compiled/bondsep.hh
  tmol/score/_bond_dependent_term.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/score/test_bond_dependent_term.py
Due: clang-format, black

Bound rotamer score weighting memory
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

fix: Bound streaming chunk topology memory
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/__init__.py
  tmol/pack/compiled/_compiled.py
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/streaming_interaction_graph.hh
  tmol/pack/compiled/streaming_interaction_graph.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/tests/pack/test_streaming_interaction_graph.py
Due: clang-format, black

Bound packing interaction graph memory
  tmol/pack/_datatypes.py
  tmol/pack/_pack_rotamers.py
  tmol/pack/_simulated_annealing.py
  tmol/pack/compiled/annealer.hh
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/simulated_annealing.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/tests/pack/test_annealer_assignment_cache.py
  tmol/tests/pack/test_load_ig.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

perf: Stream CUDA packing scores into interaction graph
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/__init__.py
  tmol/pack/compiled/_compiled.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/streaming_interaction_graph.hh
  tmol/pack/compiled/streaming_interaction_graph.impl.hh
  tmol/score/_score_function.py
  tmol/tests/pack/test_annealer_assignment_cache.py
  tmol/tests/pack/test_streaming_interaction_graph.py
Due: clang-format, black

Compact rotamer block-pair dispatch scratch
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/tests/score/common/device_operations/test.hh
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

fix: Mix streaming interaction graph hash keys
  tmol/pack/compiled/streaming_interaction_graph.impl.hh
  tmol/tests/pack/test_streaming_interaction_graph.py
Due: clang-format, black

fix: Bound packing score and quench scratch windows
  tmol/pack/compiled/compiled.cuda.cu
  tmol/score/_score_function.py
Due: clang-format, black

fix: Page shared packing score dispatches
  tmol/tests/pack/test_pack_rotamers.py
Due: black

fix: Page canonical packing dispatch windows
  tmol/score/_score_function.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

fix: Bound large packing graph construction
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/__init__.py
  tmol/pack/compiled/_compiled.py
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/streaming_interaction_graph.hh
  tmol/pack/compiled/streaming_interaction_graph.impl.hh
  tmol/score/_score_function.py
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/ljlk/potentials/__init__.py
  tmol/score/ljlk/potentials/_compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_streaming_interaction_graph.py
Due: clang-format, black

fix: Detach streamed packing graph construction and assignments
  tmol/pack/_pack_rotamers.py
Due: black

fix: Release FastRelax minimizer state between packing stages
  tmol/optimization/_minimizers.py
  tmol/relax/_fast_relax.py
  tmol/tests/relax/test_fast_relax.py
Due: black

fix: Page hydrogen-bond rotamer scoring
  tmol/score/_energy_term.py
  tmol/score/_score_function.py
  tmol/score/common/_scoring_module.py
  tmol/score/hbond/_hbond_energy_term.py
  tmol/score/hbond/potentials/__init__.py
  tmol/score/hbond/potentials/_compiled.py
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond_pose_score.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/tests/score/hbond/test_hbond_energy_term.py
Due: clang-format, black

fix: Share immutable bond topology across FastRelax pose snapshots
  tmol/pose/_pose_stack.py
  tmol/relax/_fast_relax.py
  tmol/tests/pose/test_pose_stack.py
Due: black

fix: Skip rotamer scoring during shared-dispatch topology passes
  tmol/score/_score_function.py
  tmol/tests/pack/test_pack_rotamers.py
Due: black

feat: Build poses from Atom37 tensors on one path
  tmol/io/__init__.py
  tmol/io/_pose_stack_from_atom37.py
  tmol/io/_pose_stack_from_atomworks.py
  tmol/tests/io/test_pose_stack_from_atom37.py
Due: black

docs: Describe the tensor-only pose construction path
  docs/api/io.rst
  docs/user_guide/integrations.md
Due: none

feat: Serve the release wheels through a PEP 503 index
  .github/workflows/publish.yml
  README.md
  docs/installation.md
  scripts/build_wheel_index.py
  scripts/test_build_wheel_index.py
Due: black

Define explicit chemistry references and scoped parameter database contracts
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CMakeLists.txt
  tmol/chemical/__init__.py
  tmol/chemical/_ideal_coords.py
  tmol/chemical/_restypes.py
  tmol/database/__init__.py
  tmol/database/_patched_chemdb.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/_cartbonded.py
  tmol/database/scoring/_content_hash.py
  tmol/database/scoring/_dunbrack_libraries.py
  tmol/database/scoring/_elec.py
  tmol/database/scoring/_genbonded.py
  tmol/database/scoring/_omega_bbdep.py
  tmol/database/scoring/_rama.py
  tmol/database/scoring/_ref.py
  tmol/io/_pose_stack_from_sequence.py
  tmol/numeric/_bspline.py
  tmol/numeric/bspline_compiled/bspline.hh
  tmol/pack/rotamer/_fixed_aa_chi_sampler.py
  tmol/pack/rotamer/dunbrack/_dunbrack_chi_sampler.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pose/_sequence.py
  tmol/score/dunbrack/_dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/elec/potentials/.DS_Store
  tmol/tests/database/scoring/test_content_hash.py
  tmol/tests/numeric/bspline.cuda.cu
  tmol/tests/numeric/test_bspline_layout.py
  tmol/tests/pose/test_util.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/tests/utility/test_weak_identity_cache.py
  tmol/utility/weak_identity_cache.py
Due: clang-format, black

Build noncanonical polymers from chemistry-derived capped profiles
  tmol/io/__init__.py
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
  tmol/ligand/_polymer_builder.py
  tmol/ligand/_polymer_profile.py
  tmol/ligand/_rotamer_reference.py
  tmol/ligand/_terminus_patches.py
  tmol/tests/data/__init__.py
  tmol/tests/data/ligand_cif_fixtures/glycan_nag_pair.cif
  tmol/tests/ligand/test_reference_cache_lifetime.py
Due: black

Share ligand conversion and protonation with AtomWorks
  .github/ci/build_cpu_package.sh
  .github/ci/run_ci_gpu_work.sh
  .github/ci/run_cpu_tests.sh
  .github/ci/run_gpu_tests.sh
  .github/ci/with_atomworks_access.sh
  .github/scripts/test_colab_release_config.py
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/wheel-smoke.yml
  DEVELOPMENT.md
  pyproject.toml
  scripts/release_matrix.py
  scripts/test_release_matrix.py
  tmol/ligand/_atom_typing.py
  tmol/ligand/_conformer_generation.py
  tmol/ligand/_detect.py
  tmol/ligand/_dimorphite_dl.py
  tmol/ligand/_mol2_names.py
  tmol/ligand/_openbabel_compat.py
  tmol/ligand/_preparation.py
  tmol/ligand/_rdkit_mol.py
  tmol/ligand/_structure_to_smiles.py
  tmol/tests/io/test_visualize.py
  tmol/tests/ligand/test_atom_typing_coverage.py
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_dimorphite_cache.py
  tmol/tests/ligand/test_geometry_correction_missing_atoms.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: black

Generate and serialize parameters for complete covalent groups
  docs/tutorial/07_ligand_and_params.ipynb
  scripts/ligand_prep/README.md
  scripts/ligand_prep/smiles_to_params.py
  tmol/ligand/__init__.py
  tmol/ligand/_conjugate_context.py
  tmol/ligand/_conjugate_model.py
  tmol/ligand/_conjugation_patches.py
  tmol/ligand/_connection_params.py
  tmol/ligand/_local_conjugate_params.py
  tmol/ligand/_parameter_replacements.py
  tmol/ligand/_params_file.py
  tmol/ligand/_params_io.py
  tmol/ligand/_preparation.py
  tmol/ligand/_registry.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/data/covalent_fixtures/README.md
  tmol/tests/data/covalent_fixtures/lys_biotin_1bdo.cif
  tmol/tests/data/covalent_fixtures/nglycan_tree_1ax2.cif
  tmol/tests/data/covalent_fixtures/oglycan_sia_1g1s.cif
  tmol/tests/data/covalent_fixtures/peptide_inhibitor_7zv5.cif
  tmol/tests/data/ligand_params/5cm_patch_composition.tmol
  tmol/tests/ligand/_params_reference.py
  tmol/tests/ligand/_parity_helpers.py
  tmol/tests/ligand/test_ligand_entry_paths.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
  tmol/tests/ligand/test_serialization_consistency.py
Due: black

Integrate general residue and conjugate preparation with instance identity
  docs/tutorial/03_scoring_and_analysis.ipynb
  tmol/io/_canonical_ordering.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/_chi_topology.py
  tmol/ligand/_fragmentation.py
  tmol/ligand/_params_io.py
  tmol/ligand/_preparation.py
  tmol/ligand/_residue_builder.py
  tmol/tests/io/test_pose_stack_from_atom37_and_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/ligand/_parity_manifest.py
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_cif_to_dg.py
  tmol/tests/ligand/test_fixture_integrity.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
  tmol/tests/ligand/test_ligand_entry_paths.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
  tmol/tests/ligand/test_parity_manifest.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
  tmol/tests/ligand/test_smiles_semantic.py
Due: black

Enable mirrored D-amino-acid parameters and optional symmetric glycine
  tmol/database/__init__.py
  tmol/database/_symmetric_gly.py
  tmol/database/default/chemical/d_amino_acids.yaml
  tmol/database/default/scoring/cartbonded_d_amino_acids.yaml
  tmol/database/default/scoring/elec_d_amino_acids.yaml
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/default/scoring/rama.zip
  tmol/database/default/scoring/ref_d_amino_acids.yaml
  tmol/database/scoring/_mirrored_dunbrack.py
  tmol/support/chemical/__init__.py
  tmol/support/chemical/_add_d_amino_acids.py
  tmol/support/scoring/_add_equiv_class_lookup_rows.py
  tmol/support/scoring/_add_symmetric_gly_tables.py
  tmol/support/scoring/_rewrite_omega_bbdep_binary.py
  tmol/support/scoring/_rewrite_rama_binary.py
  tmol/tests/data/disulfide/6dmz_3_47_ld.cif
  tmol/tests/data/ncaa_fixtures/6dmz_mod_d.cif
  tmol/tests/data/ncaa_fixtures/6dmz_mod_l.cif
  tmol/tests/database/scoring/test_dunbrack_mirroring_metadata.py
  tmol/tests/database/scoring/test_mirrored_library_scope.py
  tmol/tests/database/scoring/test_rama.py
  tmol/tests/database/test_d_amino_acids.py
  tmol/tests/database/test_symmetric_gly.py
  tmol/tests/score/disulfide/test_chirality.py
Due: black

Skip unused preliminary interaction graph when bump checking is disabled
  tmol/pack/compiled/compiled.impl.hh
Due: clang-format

Reuse seeded conformer generation with independent molecule ownership
  tmol/ligand/_conformer_generation.py
  tmol/tests/ligand/test_ligand_entry_paths.py
Due: black

test: Guard partial Atom37 guidance gradients
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
Due: black

Batch geometric hydrogen completion during differentiable guidance
  tmol/io/details/_build_missing_leaf_atoms.py
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

