Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Adding libxml2 to apt-get installation or cudatoolkit-dev won't install
  environments/devel/Dockerfile
Due: none

Add some API functions to the base-level __init__.py
  tmol/__init__.py
  tmol/io/basic_resolution.py
  tmol/io/canonical_ordering.py
  tmol/pose/pose_stack_builder.py
Due: black

Cleaning up code, adding derivatives.
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/connection.hh
Due: clang-format

Fix a few bugs
  tmol/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/details/select_from_canonical.py
  tmol/pose/pose_stack_builder.py
  tmol/score/__init__.py
Due: black

Add code to map from the connectivity graph to per-residue chain labels for PDB writing
  tmol/io/chain_deduction.py
  tmol/tests/io/test_chain_deduction.py
  tmol/utility/ndarray/common_operations.py
Due: black

Adding code to write out PDB files from PoseStacks
  tmol/io/details/select_from_canonical.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/utility/ndarray/test_common_operations.py
  tmol/utility/ndarray/common_operations.py
Due: black

Linting
  tmol/__init__.py
  tmol/io/chain_deduction.py
  tmol/io/write_pose_stack_pdb.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Add logic to exclude inter-chain disulfides as merging them in chain detection
  tmol/io/chain_deduction.py
  tmol/io/write_pose_stack_pdb.py
  tmol/tests/io/test_chain_deduction.py
  tmol/tests/io/test_write_pose_stack_pdb.py
Due: black

Split out hxl torsions into separate term. Adjust gradcheck thresholds to pass.
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/connection.hh
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

Revert "Move dslf parameter stacking into packed block types to avoid running every time we score."
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/disulfide_whole_pose_module.py
Due: black

Scoring should return one score per pose
  tmol/score/score_function.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
Due: black

Use uaid_util function in rama
  tmol/score/common/uaid_util.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/score/rama/potentials/rama_pose_score.hh
  tmol/score/rama/potentials/rama_pose_score.impl.hh
Due: clang-format

reformat file w/ newer version after merge
  tmol/tests/score/rama/test_rama_energy_term.py
Due: black

Remove now commented-out uaid-resolution function
  tmol/score/rama/potentials/rama_pose_score.impl.hh
Due: clang-format

Implement disulfide score term (#254)
  tmol/chemical/restypes.py
  tmol/database/default/scoring/disulfide.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/disulfide.py
  tmol/pose/pose_stack_builder.py
  tmol/score/disulfide/__init__.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/disulfide_whole_pose_module.py
  tmol/score/disulfide/params.py
  tmol/score/disulfide/potentials/__init__.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/disulfide/potentials/disulfide_pose_score.cpu.cpp
  tmol/score/disulfide/potentials/disulfide_pose_score.cuda.cu
  tmol/score/disulfide/potentials/disulfide_pose_score.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/params.hh
  tmol/score/disulfide/potentials/potentials.hh
  tmol/score/score_types.py
  tmol/score/terms/disulfide_creator.py
  tmol/tests/chemical/__init__.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/3plc.pdb
  tmol/tests/score/disulfide/__init__.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Fix pip installs
  MANIFEST.in
  setup.py
Due: black

Another sparse graph bugfix
  tmol/score/bonded_atom.py
Due: black

Cherry-pick 79324ce0.
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/extern/pysmiles/__init__.py
  tmol/extern/pysmiles/read_smiles.py
  tmol/extern/pysmiles/smiles_helper.py
  tmol/extern/pysmiles/testhelper.py
  tmol/extern/pysmiles/write_smiles.py
Due: black

Update chemical.yaml formatting
  tmol/database/default/chemical/chemical.yaml
Due: none

Split torsions into 3 different types more cleanly.
  tmol/database/scoring/cartbonded.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
Due: clang-format, black

Cleanup.
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

Fixed a bug causing the angle calculations to be off.
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

More cleanup.
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Rework the cart database to be a bit cleaner.
  tmol/database/scoring/cartbonded.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
Due: clang-format, black

Clean up cartbonded energy term.
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Updated the potential calls to work with a new generic accumulate function for V and dV.
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/potentials.hh
Due: clang-format, black

Adding new cartbonded db.
  tmol/database/default/scoring/cartbonded_new.yaml
Due: none

Removing dead comment.
  tmol/pose/packed_block_types.py
Due: black

Updated patching code. Working, but will need modifications for patches that apply more than once to a single residue.
  tmol/chemical/patched_chemdb.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/extern/pysmiles/read_smiles.py
  tmol/extern/pysmiles/smiles_helper.py
Due: black

Aleaverfay/res centric rama (#252)
  tmol/chemical/restypes.py
  tmol/score/common/uaid_util.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/params.py
  tmol/score/omega/potentials/omega_pose_score.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/score/rama/params.py
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/score/rama/potentials/compiled.py
  tmol/score/rama/potentials/rama_pose_score.cpu.cpp
  tmol/score/rama/potentials/rama_pose_score.cuda.cu
  tmol/score/rama/potentials/rama_pose_score.hh
  tmol/score/rama/potentials/rama_pose_score.impl.hh
  tmol/score/rama/rama_energy_term.py
  tmol/score/rama/rama_whole_pose_module.py
  tmol/score/score_types.py
  tmol/score/terms/rama_creator.py
  tmol/score/unresolved_atom.hh
  tmol/tests/score/rama/test_rama_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Add asserts to patching code
  tmol/chemical/patched_chemdb.py
Due: black

Add patching hooks to default database. Add patching unit test.
  tmol/chemical/patched_chemdb.py
  tmol/chemical/restypes.py
  tmol/database/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/pose/pose_stack_builder.py
  tmol/tests/chemical/test_patch.py
Due: black

Small fix for parser to match terminal variants correctly. Update 1ubq test case to include proper termini.
  tmol/score/bonded_atom.py
  tmol/system/io.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/data/pdb/1ubq.pdb
Due: black

Add networkx to requirements
  environments/requirements.in
Due: none

Fixes for updated versions of numpy and numba
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
  tmol/tests/types/test_torch.py
  tmol/tests/utility/test_args.py
Due: black

Test modification needed for terminal variant
  tmol/score/ljlk/params.py
  tmol/tests/kinematics/test_builder.py
Due: black

Update new environment.
  environments/env-dev.yml
  tmol/pose/pose_stack_builder.py
Due: black

More sparse removal
  tmol/pose/pose_stack_builder.py
  tmol/tests/score/common/dispatch/test_dispatch.py
Due: black

Fixes for fa_dun and elec to work with patches
  tmol/database/default/scoring/elec.yaml
  tmol/score/modules/bonded_atom.py
  tmol/score/modules/dunbrack.py
  tmol/score/modules/elec.py
Due: black

Linting fixes. Updates to fix a few more tests broken by patches.
  tmol/chemical/patched_chemdb.py
  tmol/chemical/restypes.py
  tmol/pack/packer_task.py
  tmol/pose/pose_stack_builder.py
  tmol/score/modules/bonded_atom.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/data/pdb/1qys.pdb
  tmol/tests/data/pdb/1ubq.pdb
  tmol/tests/data/pdb/3plc.pdb
  tmol/tests/data/pdb/6DMZ_A.pdb
  tmol/tests/data/pdb/bysize_015_res_1lu6.pdb
  tmol/tests/data/pdb/bysize_040_res_5uoi.pdb
  tmol/tests/data/pdb/bysize_055_res_2jwu.pdb
  tmol/tests/data/pdb/bysize_075_res_2mtq.pdb
  tmol/tests/data/pdb/bysize_100_res_5umr.pdb
  tmol/tests/data/pdb/bysize_150_res_5yzf.pdb
  tmol/tests/data/pdb/bysize_200_res_5mm8.pdb
  tmol/tests/data/pdb/bysize_250_res_5n5g.pdb
  tmol/tests/data/pdb/bysize_300_res_6f8b.pdb
  tmol/tests/data/pdb/bysize_400_res_6azu.pdb
  tmol/tests/data/pdb/bysize_500_res_5v2d.pdb
  tmol/tests/data/pdb/bysize_600_res_5m4a.pdb
  tmol/tests/data/pdb/bysize_800_res_5opj.pdb
  tmol/tests/optimization/test_score_pose_once_benchmark.py
Due: black
