Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Align examples, workflows, and Colab wheels
  .github/scripts/test_colab_release_config.py
  .github/workflows/_build_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  DEVELOPMENT.md
  docs/contributor_guide.md
  docs/examples_index.rst
  docs/installation.md
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/colab_setup.py
  docs/user_guide/benchmarking.md
  docs/user_guide/integrations.md
  docs/user_guide/ligands.md
  docs/user_guide/optimization.md
  docs/user_guide/scoring.md
  docs/workflows/gpu_batching.md
  docs/workflows/index.md
  docs/workflows/nucleic_acids.md
  docs/workflows/packing.md
Due: black

Preserve ligand charge provenance through preparation
  .github/scripts/test_colab_release_config.py
  docs/tutorial/07_ligand_and_params.ipynb
Due: black

Make selection galleries switch one viewer
  docs/tutorial/01_working_with_tmol.ipynb
  tmol/io/visualize.py
  tmol/tests/io/test_visualize.py
Due: black

Render GPU-only tutorial outputs in docs
  .github/ci/exec_gpu_apptainer.sh
  .github/ci/run_docs_gpu_work.sh
  .github/scripts/smoke_tutorial_notebooks.py
  .github/scripts/test_colab_release_config.py
  .github/workflows/docs.yml
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/06_fast_relax.ipynb
Due: black

Release v0.1.47 with current Colab support
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  pyproject.toml
  tmol/__init__.py
  tmol/io/__init__.py
  tmol/io/visualize.py
  tmol/optimization/lbfgs_armijo.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/tests/io/test_visualize.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

Document ligand fragment interaction scoring
  docs/tutorial/03_scoring_and_analysis.ipynb
Due: none

Install the v0.1.47 Colab wheel directly
  .github/scripts/test_colab_release_config.py
  DEVELOPMENT.md
  docs/installation.md
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/colab_setup.py
Due: black

Normalize the tutorial CUDA device index
  docs/tutorial/06_fast_relax.ipynb
Due: none

Bound external inventory fetch time
  docs/conf.py
Due: black

Adding claude-code implementation of an l-BFGS that halts already-converged poses
  tmol/optimization/lbfgs_armijo.py
  tmol/optimization/minimizers.py
  tmol/optimization/sfxn_modules.py
  tmol/tests/optimization/test_lbfgs_armijo_halt_converged.py
  tmol/tests/optimization/test_sfxn_modules.py
Due: black

lint
  tmol/optimization/lbfgs_armijo.py
Due: black

updating residue atom aliases to be consistent with rosetta. updating terminal residue variant atom charges.
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/elec.yaml
Due: none

Make tutorial viewers reliable and scientifically precise
  docs/_static/custom.css
  docs/conf.py
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  tmol/io/visualize.py
  tmol/tests/io/test_visualize.py
Due: black

Better posestack minimizer (#406)
  tmol/optimization/lbfgs_armijo.py
  tmol/optimization/minimizers.py
  tmol/optimization/sfxn_modules.py
  tmol/tests/conftest.py
  tmol/tests/optimization/test_lbfgs_segments.py
  tmol/tests/optimization/test_pose_stack_minimization.py
  tmol/tests/pose/__init__.py
Due: black

Integrate PR399 fixes and complete tutorial coverage
  docs/api/relax.rst
  docs/conf.py
  docs/docs_requirements.txt
  docs/examples_index.rst
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/colab_setup.py
  docs/tutorial/recipe_index.md
  docs/user_guide/optimization.md
  pyproject.toml
  tmol/__init__.py
  tmol/io/pose_stack_from_biotite.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/pose_stack.py
  tmol/relax/fast_relax.py
  tmol/score/constraint/utility.py
  tmol/score/score_function.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/relax/test_fast_relax.py
  tmol/tests/score/constraint/test_constraint_utilities.py
  tmol/tests/score/test_score_function.py
Due: black

Fix tutorial links and warning-free docs build
  docs/api/ligand.rst
  docs/conf.py
  docs/tutorial/01_working_with_tmol.ipynb
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/03_scoring_and_analysis.ipynb
  docs/tutorial/04_packing_and_mutation_scan.ipynb
  docs/tutorial/06_fast_relax.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
Due: black

Remove the old dispatch classes
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/compiled.cpu.cpp
  tmol/pack/rotamer/dunbrack/compiled.cuda.cu
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/complex_dispatch.cpu.impl.hh
  tmol/score/common/complex_dispatch.cuda.impl.cuh
  tmol/score/common/complex_dispatch.hh
  tmol/score/common/forall_dispatch.cpu.impl.hh
  tmol/score/common/forall_dispatch.cuda.impl.cuh
  tmol/score/common/forall_dispatch.hh
  tmol/score/common/simple_dispatch.cpu.impl.hh
  tmol/score/common/simple_dispatch.cuda.impl.cuh
  tmol/score/common/simple_dispatch.hh
  tmol/score/constraint/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/genbonded/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/tests/pack/rotamer/dunbrack/compiled.pybind.cpp
  tmol/tests/pack/rotamer/dunbrack/test_cpu.cpp
  tmol/tests/pack/rotamer/dunbrack/test_cuda.cu
  tmol/tests/score/bonded_atom/test.impl.hh
  tmol/tests/score/bonded_atom/test.pybind.cpp
  tmol/tests/score/bonded_atom/test_cpu.cpp
  tmol/tests/score/bonded_atom/test_cuda.cu
  tmol/tests/score/common/dispatch/test.hh
  tmol/tests/score/common/dispatch/test.impl.hh
  tmol/tests/score/common/dispatch/test.pybind.cpp
  tmol/tests/score/common/dispatch/test_cpu.cpp
  tmol/tests/score/common/dispatch/test_dispatch.py
Due: clang-format, black

Add missed file
  tmol/pose/util.py
Due: black

Add C->N foldtree test for getters/setters
  tmol/tests/pose/test_util.py
Due: black

Finish removal of the ComplexDispatch class; fix build issue with Dunbrack rotamer building
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
Due: clang-format

Few code cleanups. Make sure Pose construction from sequence uses default DB for PBT construction (and not sequence only).
  tmol/pose/build_context.py
  tmol/pose/pose_stack_builder.py
Due: black

Add a method to class RotamerSet to dump its rotamers to a multi-model PDB-formatted string
  tmol/pack/rotamer/rotamer_set.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Remove the code path that allowed PDBInfo to hold None for occupancies and bfactors
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_deconstruction.py
  tmol/io/write_pose_stack_pdb.py
Due: black

Adding unit tests for DeviceOperations; removing dead code for ComplexDispatch unit tests
  CMakeLists.txt
  tmol/tests/score/common/device_operations/__init__.py
  tmol/tests/score/common/device_operations/test.hh
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_cpu.cpp
  tmol/tests/score/common/device_operations/test_cuda.cu
  tmol/tests/score/common/device_operations/test_device_operations.py
  tmol/tests/score/common/dispatch/test.hh
  tmol/tests/score/common/dispatch/test.impl.hh
  tmol/tests/score/common/dispatch/test.pybind.cpp
  tmol/tests/score/common/dispatch/test_cpu.cpp
  tmol/tests/score/common/dispatch/test_cuda.cu
Due: clang-format, black

Add pose manipulation functions to tmol interface (#408)
  tmol/__init__.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/preparation.py
  tmol/pose/build_context.py
  tmol/pose/pose_stack_builder.py
  tmol/pose/sequence.py
  tmol/pose/util.py
  tmol/tests/io/test_pose_stack_from_biotite_context_reuse.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_util.py
Due: black

Fix bug in CPU segmented scan implementation
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/tests/score/common/device_operations/test.hh
  tmol/tests/score/common/device_operations/test.impl.hh
  tmol/tests/score/common/device_operations/test.pybind.cpp
  tmol/tests/score/common/device_operations/test_device_operations.py
Due: clang-format, black

Fix bug in DeviceOperations<Cuda> implementation of segmented scan
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/tests/score/common/device_operations/test.impl.hh
Due: clang-format

Remove the code path that allowed PDBInfo to hold None for occupancies and bfactors (#411)
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_deconstruction.py
  tmol/io/write_pose_stack_pdb.py
Due: black

Change RotamerSet dump_pdb to to_atom_array
  tmol/pack/rotamer/rotamer_set.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Change default B-factor to 30 per Frank's request
  tmol/pose/pdb_info.py
Due: black

Update a unit test after default b-factor change
  tmol/tests/io/details/test_left_justify_canonical_form.py
Due: black

Marking test_kin_min_stack_of_distinct_poses as xfail
  tmol/tests/optimization/test_pose_stack_minimization.py
Due: black

updating baselines
  tmol/tests/data/pdb/1ubq.pdb
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/io/gold_sumo_rosettafold2_canform.pt
  tmol/tests/io/gold_ubq_rosettafold2_canform.pt
  tmol/tests/ligand/test_protein_ligand_ddg.py
  tmol/tests/score/test_score_function.py
Due: black

more baseline updates.
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

more baselines
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_disulfide_scoring.yaml
  tmol/tests/pack/rotamer/gold_repack_1ubq_rotamers.pdb
Due: none

Fix elec inconsistencies (#407)
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/elec.yaml
  tmol/tests/data/pdb/1ubq.pdb
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_disulfide_scoring.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/io/gold_sumo_rosettafold2_canform.pt
  tmol/tests/io/gold_ubq_rosettafold2_canform.pt
  tmol/tests/ligand/test_protein_ligand_ddg.py
  tmol/tests/pack/rotamer/gold_repack_1ubq_rotamers.pdb
  tmol/tests/score/elec/test_elec_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Add a method to dump a multi-model biotite AtomArray for a RotamerSet (#410)
  tmol/pack/rotamer/rotamer_set.py
  tmol/pose/pdb_info.py
  tmol/tests/io/details/test_left_justify_canonical_form.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black
