Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Update FixedAAChiSampler to new scheme
  tmol/pack/packer_task.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
Due: black

changing fast relax defaults
  tmol/relax/fast_relax.py
Due: black

adding 10VB fixture as a simple case for protein-protein interactions
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/10VB.pdb
Due: black

adding a utility function for getting a residue mask based on chain id
  tmol/score/score_utils.py
Due: black

update buils
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  scripts/tag_wheel_local_version.py
  tmol_build_backend.py
Due: black

Fail loudly on unpreparable ligands; fix false-positive covalent detection
  docs/index.rst
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/detect.py
  tmol/ligand/preparation.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

Default internal _prepare_ligand_via_smiles to lenient
  tmol/ligand/preparation.py
Due: black

Scope strict_ligands to dropped/failed ligands, keep best-effort lenient
  tmol/ligand/README.md
  tmol/ligand/preparation.py
Due: black

Relax strict-mode HEM test assertion to match first unsupported residue
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

ci: retry flaky network installs in build_package with backoff
  .github/ci/build_package.sh
Due: none

Ligand dcheck: drop dead code, de-dup entry points, cover first-party to >=90%
  codecov.yml
  pyproject.toml
  tmol/ligand/atom_typing.py
  tmol/ligand/detect.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/external/atomworks_rdkit.py
  tmol/ligand/external/xyz2mol_tm/xyz2mol_tmc.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/params_io.py
  tmol/ligand/preparation.py
  tmol/tests/ligand/test_atom_typing_coverage.py
  tmol/tests/ligand/test_ligand_entry_paths.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: black

ci: exclude GPU node g2548 (uncorrectable ECC fault) from Slurm allocation
  .github/ci/srun_gpu_retry.sh
  .github/workflows/ci.yml
Due: none

Kdidi/ligand strict errors (#389)
  .github/ci/build_package.sh
  .github/ci/srun_gpu_retry.sh
  .github/workflows/ci.yml
  codecov.yml
  docs/index.rst
  pyproject.toml
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/detect.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/external/atomworks_rdkit.py
  tmol/ligand/external/xyz2mol_tm/xyz2mol_tmc.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/params_io.py
  tmol/ligand/preparation.py
  tmol/tests/ligand/test_atom_typing_coverage.py
  tmol/tests/ligand/test_ligand_entry_paths.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: black

Beginning work on the optH sampler
  tmol/pack/packer_task.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/conformer_sampler.py
  tmol/pack/rotamer/fallback_sampler.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
Due: black

Finish update to the optH builder's logic for new PackerTask object
  tmol/pack/rotamer/opth_sampler.py
Due: black

Rework the DunbrackChiSampler w/ new PackerTask architecture
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
Due: black

Saving progress; seems like removing the block level tasks is pre-mature as the DunbrackChiSampler has started producing fewer rotamers
  tmol/pack/build_missing_sidechains.py
  tmol/pack/pack_rotamers.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fallback_sampler.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/tests/pack/__init__.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_include_current_sampler.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Fully working version of refactored PackerTask + all the classes that interact with it
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fallback_sampler.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_include_current_sampler.py
  tmol/tests/pack/test_packer_task.py
Due: black

Move ipython to dev requirements; bump version
  pyproject.toml
Due: none

Support T4 compute capability (7.5) and publish to testpypi while testing
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Lower the version limit for the "decorator" package for colab
  pyproject.toml
Due: none

Fix several bugs w/ the new PackerTask on the GPU
  tmol/pack/build_missing_sidechains.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_packer_task.py
Due: clang-format, black

Simplify the logic in build_missing_sidechains
  tmol/pack/build_missing_sidechains.py
  tmol/pack/rotamer/opth_sampler.py
Due: black

Trying to fix one particularly slow statement (112ms!)
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Code cleanup
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fallback_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/tests/pack/__init__.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_packer_task.py
Due: clang-format, black

Remove loop from lbfgs, using solve_triangular to efficiently run iteration across GPU.
  CMakeLists.txt
  tmol/optimization/compiled/__init__.py
  tmol/optimization/compiled/compiled.py
  tmol/optimization/compiled/lbfgs.cpu.cpp
  tmol/optimization/compiled/lbfgs.cuda.cu
  tmol/optimization/compiled/lbfgs.hh
  tmol/optimization/compiled/lbfgs.ops.cpp
  tmol/optimization/lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_two_loop.py
Due: clang-format, black

Target pypi for publication rather than test-pypi
  .github/workflows/publish.yml
Due: none

Fix float32+CUDA precision issues
  tmol/optimization/lbfgs_armijo.py
Due: black

Fix float32+CUDA precision issues (attempt 2 ... I can only replicate this on test server env)
  tmol/optimization/lbfgs_armijo.py
Due: black

Update lbfgs to avoid loops (using solve_triangular to run 'iteration') (#392)
  CMakeLists.txt
  tmol/optimization/compiled/__init__.py
  tmol/optimization/compiled/compiled.py
  tmol/optimization/compiled/lbfgs.cpu.cpp
  tmol/optimization/compiled/lbfgs.cuda.cu
  tmol/optimization/compiled/lbfgs.hh
  tmol/optimization/compiled/lbfgs.ops.cpp
  tmol/optimization/lbfgs_armijo.py
  tmol/tests/optimization/test_lbfgs_two_loop.py
Due: clang-format, black

Fix two significant bugs:
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/packer_task.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/tests/conftest.py
  tmol/tests/pack/__init__.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Fix a bug that still makes no sense: somehow a CPU-allocated tensor was being used on the GPU and not just crashing instantly.
  tmol/pack/compiled/compiled.impl.hh
Due: clang-format

Aleaverfay/packer task rewrite (#390)
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/pack_rotamers.py
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/conformer_sampler.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fallback_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/tests/conftest.py
  tmol/tests/pack/__init__.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_include_current_sampler.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/relax/test_fast_relax.py
Due: clang-format, black

Aleaverfay/colab install2 (#391)
  .github/workflows/_build_wheel.yml
  pyproject.toml
Due: none

remove some noise
  tmol/pack/compiled/compiled.impl.hh
Due: clang-format

Clean up code
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
Due: clang-format

Fix lk to match R3 exactly.
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/params.py
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/params.hh
  tmol/score/lk_ball/potentials/params.pybind.hh
  tmol/tests/score/ljlk/potentials/test_compiled_lk_isotropic_potential.py
  tmol/tests/score/lk_ball/potentials/compiled.py
Due: clang-format, black
