Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.7
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Aleaverfay/res centric lkball (#249)
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/hbond/identification.hh
  tmol/score/hbond/identification.pybind.cc
  tmol/score/hbond/potentials/hbond.hh
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/lk_ball_whole_pose_module.py
  tmol/score/lk_ball/params.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/lk_ball/potentials/constants.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.cpu.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.cuda.cu
  tmol/score/lk_ball/potentials/gen_pose_waters.hh
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cpu.cpp
  tmol/score/lk_ball/potentials/lk_ball_pose_score.cuda.cu
  tmol/score/lk_ball/potentials/lk_ball_pose_score.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/params.hh
  tmol/score/lk_ball/potentials/water.hh
  tmol/score/lk_ball/script_modules.py
  tmol/score/score_types.py
  tmol/score/terms/lk_ball_creator.py
  tmol/tests/autograd.py
  tmol/tests/score/hbond/test_hbond_dependent_term.py
  tmol/tests/score/lk_ball/test_baseline.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

Sketching outline of rama term
  tmol/score/rama/potentials/rama_pose_score.cpu.cpp
  tmol/score/rama/potentials/rama_pose_score.cuda.cu
  tmol/score/rama/potentials/rama_pose_score.hh
  tmol/score/rama/potentials/rama_pose_score.impl.hh
  tmol/score/rama/rama_energy_term.py
  tmol/score/rama/rama_whole_pose_module.py
  tmol/score/score_types.py
  tmol/score/terms/rama_creator.py
Due: clang-format, black

Add 'new' omega score term. Initial commit just to get things in.
  tmol/database/default/scoring/omega.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/omega.py
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/omega_whole_pose_module.py
  tmol/score/omega/params.py
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/compiled.py
  tmol/score/omega/potentials/omega.hh
  tmol/score/omega/potentials/omega_pose_score.cpu.cpp
  tmol/score/omega/potentials/omega_pose_score.cuda.cu
  tmol/score/omega/potentials/omega_pose_score.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/score/omega/potentials/params.hh
  tmol/score/score_types.py
  tmol/score/terms/omega_creator.py
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

Resolve UAIDS to omega quads.
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/omega_whole_pose_module.py
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/omega_pose_score.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format, black

Successfully computing omega(?)
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format

Updating baselines to reflect the existing ones.
  tmol/tests/score/omega/test_omega_energy_term.py
Due: black

Resolve undefined behavior in atom id resolution.
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format

Move a using statement out of a header.
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/omega.hh
Due: clang-format

Remove some dead code.
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format

Simplify omega parameter loading from db. Remove some dead code.
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/params.py
Due: black

Fixing return type of score term.
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/omega_pose_score.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

Gradcheck passing on CPU, failing on GPU. Probably wacky tolerances.
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

Bug fix for derivative calculations.
  tmol/score/omega/potentials/compiled.ops.cpp
Due: none

Fixing test_smoke test.
  tmol/tests/score/omega/test_omega_energy_term.py
Due: black

Cleaning up some dead code.
  tmol/database/scoring/omega.py
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/potentials/omega_pose_score.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format, black

Remove unnecessary inheritance from OmegaEnergyTerm.
  tmol/score/omega/omega_energy_term.py
Due: black

Omega as 1-body energy.
  tmol/score/omega/omega_energy_term.py
Due: black

Removing cuda debug code.
  tmol/score/omega/potentials/compiled.ops.cpp
Due: none

Add omega to benchmarks.
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Remove unnecessary macro from omega.
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format

Add newline to omega database file.
  tmol/database/default/scoring/omega.yaml
Due: none

Alphabetize database init.
  tmol/database/scoring/__init__.py
Due: black

Fix naming of omega kernel hook.
  tmol/score/omega/potentials/compiled.ops.cpp
  tmol/score/omega/potentials/compiled.py
Due: black

Remove unnecessary file in omega potentials.
  tmol/score/omega/potentials/omega.hh
  tmol/score/omega/potentials/omega_pose_score.hh
Due: clang-format

Moved uaid resolver from omega to its own file in common.
  tmol/score/common/uaid_util.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format

Remove custom dependencies from tmol.
  environments/core.dependencies.txt
  environments/env-dev.yml
  environments/env.yml
  environments/support.channels.txt
  environments/support.dependencies.txt
  environments/test.dependencies.txt
  tmol/tests/benchmark.py
  tmol/tests/conftest.py
Due: black

Remove custom dependencies from tmol. (#251)
  environments/core.dependencies.txt
  environments/env-dev.yml
  environments/env.yml
  environments/support.channels.txt
  environments/support.dependencies.txt
  environments/test.dependencies.txt
  tmol/tests/benchmark.py
  tmol/tests/conftest.py
Due: black

Fix indentation.
  tmol/score/omega/potentials/compiled.ops.cpp
Due: none

Cleaning up some python code.
  tmol/score/omega/omega_energy_term.py
  tmol/score/omega/params.py
  tmol/tests/score/omega/test_omega_energy_term.py
Due: black

Add test for annotation of omega uaids.
  tmol/tests/score/omega/test_omega_energy_term.py
Due: black

Add single structure test to omega.
  tmol/tests/score/omega/test_omega_energy_term.py
Due: black

Alphabetize score terms in benchmark tests.
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

First pass attempt at residue-centric rama_prepro
  tmol/chemical/restypes.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/params.py
  tmol/score/rama/params.py
  tmol/score/rama/potentials/compiled.ops.cpp
  tmol/score/rama/potentials/compiled.py
  tmol/score/rama/potentials/rama_pose_score.cpu.cpp
  tmol/score/rama/potentials/rama_pose_score.cuda.cu
  tmol/score/rama/potentials/rama_pose_score.hh
  tmol/score/rama/potentials/rama_pose_score.impl.hh
  tmol/score/rama/rama_energy_term.py
  tmol/score/rama/rama_whole_pose_module.py
  tmol/score/unresolved_atom.hh
  tmol/tests/score/rama/test_rama_energy_term.py
Due: clang-format, black

Forward progress
  tmol/score/rama/params.py
  tmol/score/rama/potentials/rama_pose_score.impl.hh
  tmol/score/rama/rama_energy_term.py
  tmol/score/rama/rama_whole_pose_module.py
  tmol/tests/score/rama/test_rama_energy_term.py
Due: clang-format, black

Working version of res-centric Rama
  tmol/score/rama/rama_energy_term.py
  tmol/score/rama/rama_whole_pose_module.py
  tmol/tests/score/rama/test_rama_energy_term.py
Due: black

linting
  tmol/score/rama/params.py
  tmol/score/rama/rama_energy_term.py
Due: black

Add rama to score function benchmarks
  tmol/score/terms/rama_creator.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: black

Clean up new rama code a tad
  tmol/chemical/restypes.py
  tmol/score/rama/params.py
  tmol/score/rama/rama_energy_term.py
  tmol/score/rama/rama_whole_pose_module.py
Due: black

Initial commit for disulfides just to get stuff in...
  tmol/chemical/restypes.py
  tmol/database/default/scoring/disulfide.yaml
  tmol/database/scoring/__init__.py
  tmol/database/scoring/disulfide.py
  tmol/pose/pose_stack_builder.py
  tmol/score/disulfide/__init__.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/disulfide_whole_pose_module.py
  tmol/score/disulfide/params.py
  tmol/score/disulfide/potentials/__init__.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.py
  tmol/score/disulfide/potentials/disulfide_pose_score.cpu.cpp
  tmol/score/disulfide/potentials/disulfide_pose_score.cuda.cu
  tmol/score/disulfide/potentials/disulfide_pose_score.hh
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/disulfide/potentials/params.hh
  tmol/score/disulfide/potentials/potentials.hh
  tmol/score/score_types.py
  tmol/score/terms/disulfide_creator.py
  tmol/tests/chemical/__init__.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/3plc.pdb
  tmol/tests/score/disulfide/__init__.py
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: clang-format, black

Disulfide score working.
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
Due: clang-format
