Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

test: drop unread metal fixture fields and dead xfail plumbing
  tmol/tests/data/metal_fixtures/README.md
  tmol/tests/data/metal_fixtures/expected.yaml
  tmol/tests/io/test_metal_fixtures.py
  tmol/tests/score/metal/test_metal_coordination.py
Due: black

test: parametrize the choose_geometry tests
  tmol/tests/io/test_metal_geometry.py
Due: black

test: reuse the corpus helpers in the modified-component tests
  tmol/tests/ligand/test_atomworks_modified_components.py
Due: black

test: assert the exact partial sugar ring build targets
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

test: round-trip assembled CIFs through the text and path routes
  tmol/tests/io/test_assemble.py
Due: black

test: share the annotated inputs of the pose stack export tests
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

test: parametrize input repair over distinguishable carbonyl geometries
  tmol/tests/ligand/test_input_repair.py
Due: black

test: store the 6iu8 regression fixture as zstd
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/data/atomworks_regressions/bridging_histidine_6iu8.cif.gz
  tmol/tests/data/atomworks_regressions/bridging_histidine_6iu8.cif.zst
  tmol/tests/data/atomworks_regressions/provenance.json
  tmol/tests/io/test_atomworks_corpus_regressions.py
  tmol/tests/test_fixture_manifests.py
Due: black

fix(pack): let OptH flip the ring of doubly protonated histidine
  tmol/pack/rotamer/_opth_sampler.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
Due: black

fix(pack): seed the CPU annealer from torch and add a packer seed
  tmol/io/_pose_stack_from_biotite.py
  tmol/pack/_build_missing_sidechains.py
  tmol/pack/_pack_rotamers.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

fix(cartbonded): score the peptide-bond torsions again
  tmol/database/default/scoring/cartbonded.yaml
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/connection.hh
  tmol/tests/score/cartbonded/test_cartbonded_param_reachability.py
  tmol/tests/score/cartbonded/test_connection_torsion_reference.py
Due: clang-format, black

test: seed ligand preparation in the atom37 ligand context test
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
Due: black

refactor: import AtomWorks readers at module level in the atomworks reader
  tmol/io/_atomworks_reader.py
Due: black

revert: move the block bond-separation gather kernel out of the hydrogens PR
  CMakeLists.txt
  tmol/pose/_pose_stack_builder.py
  tmol/pose/compiled/__init__.py
  tmol/pose/compiled/_apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/compiled/bondsep.cpu.cpp
  tmol/pose/compiled/bondsep.cuda.cu
  tmol/pose/compiled/bondsep.hh
  tmol/tests/pose/compiled/test_block_bondsep.py
Due: clang-format, black

revert: drop the CUDA readiness guard from the hydrogens PR
  tmol/utility/weak_identity_cache.py
Due: black

revert: move the packer benchmark and its CI lane out of the hydrogens PR
  .github/ci/run_ci_gpu_work.sh
  tmol/tests/pack/test_pack_benchmarks.py
Due: black

revert: move the CUDA scoring capture guards out of the hydrogens PR
  tmol/score/common/_cuda_graph.py
  tmol/tests/score/common/test_cuda_graph.py
Due: black

test(cartbonded): restore the pre-#510 torsion and improper goldens
  tmol/tests/data/noncanonical_scores.yaml
  tmol/tests/score/cartbonded/test_annotation_lifetime.py
  tmol/tests/score/test_score_function.py
Due: black

test(pack): repeat seeded hydrogen packing on T4 lysozyme 181L
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/data/atomworks_regressions/provenance.json
  tmol/tests/data/atomworks_regressions/repeated_packing_181l.cif.gz
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

refactor: drop the derived inter_block_bondsep64 property
  tmol/pose/_pose_stack.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
  tmol/tests/pose/test_pose_stack.py
Due: black

refactor: drop the test-only geometry_for_metal_variant_index
  tmol/database/chemical/__init__.py
  tmol/tests/io/test_metal_detection.py
Due: black

test(pack): flip the ring of HIS_POS His15 in hen lysozyme 6LYZ
  tmol/tests/data/atomworks_regressions/README.md
  tmol/tests/data/atomworks_regressions/his_pos_ring_6lyz.cif.gz
  tmol/tests/data/atomworks_regressions/provenance.json
  tmol/tests/io/test_atomworks_corpus_regressions.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
Due: black

refactor: delete the never-instantiated CountPair::inter_block_separation
  tmol/score/common/count_pair.hh
Due: clang-format

refactor: name assign_block_types' bond-separation table for what it holds
  tmol/io/details/_select_from_canonical.py
Due: black

refactor: delete the dense block bond-separation gather kernel
  CMakeLists.txt
  tmol/pose/_inter_block_bondsep.py
  tmol/pose/compiled/__init__.py
  tmol/pose/compiled/_apsp_ops.py
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/pose/compiled/bondsep.cpu.cpp
  tmol/pose/compiled/bondsep.cuda.cu
  tmol/pose/compiled/bondsep.hh
  tmol/tests/io/test_atomworks_corpus_regressions.py
  tmol/tests/pose/compiled/test_block_bondsep.py
  tmol/tests/pose/test_inter_block_bondsep.py
Due: clang-format, black

refactor: delete the dense bond-separation pipeline only tests reached
  CMakeLists.txt
  tmol/io/details/_select_from_canonical.py
  tmol/pose/_inter_block_bondsep.py
  tmol/pose/_pose_stack_builder.py
  tmol/pose/compiled/__init__.py
  tmol/pose/compiled/_apsp_ops.py
  tmol/pose/compiled/apsp.cpu.cpp
  tmol/pose/compiled/apsp.cuda.cu
  tmol/pose/compiled/apsp.hh
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/tests/pose/compiled/__init__.py
  tmol/tests/pose/compiled/test_all_pairs_shortest_paths.py
  tmol/tests/pose/test_inter_block_bondsep.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: clang-format, black

refactor: take the builder's angles from AtomWorks geometry
  tmol/io/details/_build_missing_context.py
Due: black

test(cartbonded): restore the pre-#510 block-score baselines
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_disulfide_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/cartbonded/test_noncanonical_junction_reference.py
Due: black

perf: skip CUDA readiness recording before CUDA is initialized
  tmol/utility/weak_identity_cache.py
Due: black

fix: refuse to capture scoring modules with hooks or grad-requiring buffers
  tmol/score/common/_cuda_graph.py
  tmol/tests/score/common/test_cuda_graph.py
Due: black

test: benchmark build_missing_sidechains in the CUDA benchmark lane
  .github/ci/run_ci_gpu_work.sh
  tmol/tests/pack/test_pack_benchmarks.py
Due: black

test: read the metal fixtures of the bond-separation tests as zstd
  tmol/tests/pose/test_inter_block_bondsep.py
Due: black

test: read the 5xnl memory fixture as zstd
  tmol/tests/io/test_atomworks_corpus_regressions.py
Due: black

revert: drop the CUDA readiness guard, which saves under a millisecond per build
  tmol/utility/weak_identity_cache.py
Due: black

chore: pin atomworks to the reviewed protonation stack
  pyproject.toml
Due: none

refactor: place and measure icoors through AtomWorks' array geometry API
  tmol/io/_pose_stack_from_sequence.py
  tmol/ligand/_polymer_builder.py
  tmol/ligand/_residue_builder.py
Due: black

fix(ligand): build a component made of unbonded fragments
  tmol/ligand/_residue_builder.py
  tmol/tests/ligand/test_ligand_entry_paths.py
Due: black

chore: pin atomworks to the integration branch without build_coordinate and IcoorGeometry
  pyproject.toml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

