Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Add psutil to fix benchmark tests on the testing server
  environments/env-dev.yml
  environments/requirements.in
Due: none

First pass super simple hydrogen building + deriv backprop
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_coord.hh
  tmol/io/details/compiled/gen_pose_hydrogens.hh
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/score/omega/potentials/omega_pose_score.impl.hh
Due: clang-format

Add more steps to basic resolution
  tmol/io/basic_resolution.py
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/compiled/compiled.py
  tmol/io/details/compiled/gen_pose_hydrogens.cpu.cpp
  tmol/io/details/compiled/gen_pose_hydrogens.cuda.cu
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/io/details/note_missing_atoms.py
  tmol/pose/packed_block_types.py
  tmol/score/common/uaid_util.hh
Due: clang-format, black

Saving progress
  tmol/io/details/select_from_canonical.py
Due: black

Saving progress
  tmol/io/basic_resolution.py
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/canonical_packed_block_types.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_pose_hydrogens.hh
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/io/details/note_missing_atoms.py
Due: clang-format, black

Removing symlinks from tmol/environments/devel; add seaborn dependency for testing
  environments/devel/Dockerfile
  environments/devel/env-dev.yml
  environments/devel/requirements-dev.in
  environments/devel/requirements.in
  environments/env-dev.yml
  environments/requirements-dev.in
Due: none

Add itermplot dependency
  environments/env-dev.yml
  environments/requirements-dev.in
Due: none

Forward progress
  tmol/io/basic_resolution.py
  tmol/io/canonical_ordering.py
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/disulfide_search.py
  tmol/io/details/his_taut_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1s78.pdb
  tmol/tests/io/details/test_canonical_form.py
  tmol/tests/io/details/test_find_disulfides.py
Due: black

Debug his tautomerization resolution
  tmol/io/basic_resolution.py
  tmol/io/details/his_taut_resolution.py
  tmol/tests/io/details/test_canonical_form.py
  tmol/tests/io/details/test_his_taut_resolution.py
Due: black

Try again w/ itermplot, bumping to (unreleased??) v0.5
  environments/env-dev.yml
  environments/requirements-dev.in
Due: none

Add test for memoized pack-block-types func
  tmol/pose/packed_block_types.py
  tmol/tests/io/details/test_canonical_packed_block_types.py
Due: black

Add unit test for assign_block_types
  tmol/io/basic_resolution.py
  tmol/io/details/his_taut_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Add tests for selecting the right atoms from the canonically ordered tensor
  tmol/io/canonical_ordering.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Compiling version of missing-hydrogen-generation code
  tmol/io/basic_resolution.py
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_coord.hh
  tmol/io/details/compiled/gen_pose_hydrogens.hh
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/score/common/launch_box_macros.hh
  tmol/tests/io/details/test_build_missing_hydrogens.py
Due: clang-format, black

Cartbonded working with intra lengths/angles/torsions.
  tmol/chemical/restypes.py
  tmol/pose/packed_block_types.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/cartbonded_whole_pose_module.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

Fixed variable naming ca->sg.
  tmol/chemical/restypes.py
Due: black

Move dslf parameter stacking into packed block types to avoid running every time we score.
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/disulfide_whole_pose_module.py
Due: black

Simplify disulfide param loading.
  tmol/score/disulfide/params.py
Due: black

Remove unnecessary param class from disulfide potentials.
  tmol/score/disulfide/potentials/params.hh
Due: clang-format

Update disulfide tests to check parameter caching.
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: black

Progress in getting h-building work
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/compiled/gen_pose_hydrogens.cuda.cu
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/torch.py
Due: clang-format, black

Ok, hydrogen building now works properly in the forward direction
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_pose_hydrogens.hh
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/score/common/uaid_util.hh
  tmol/tests/io/details/test_build_missing_hydrogens.py
Due: clang-format, black

Working (running) version of H gen w/ fwd + bwd
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/io/details/disulfide_search.py
  tmol/io/details/his_taut_resolution.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/torch.py
Due: clang-format, black

Benchmark for PoseStack construction of 1ubq and pertuzumab
  tmol/io/basic_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/test_basic_resolution.py
  tmol/tests/io/test_basic_resolution_benchmark.py
Due: black

Cleaning a few things
  tmol/io/canonical_ordering.py
  tmol/io/details/his_taut_resolution.py
  tmol/tests/io/details/test_canonical_form.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

linting
  tmol/io/details/canonical_packed_block_types.py
  tmol/io/details/disulfide_search.py
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/details/test_select_from_canonical.py
  tmol/tests/io/test_basic_resolution.py
  tmol/tests/io/test_basic_resolution_benchmark.py
Due: black

Run clang-format and black on all files following py3.9 update
  tmol/io/basic_resolution.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_coord.hh
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: clang-format, black

small bugfix for bond graph traversal
  tmol/chemical/restypes.py
Due: black

Update env to include nvcc. Remove debug output. mamba->conda in setup_dev
  dev_setup
  environments/env-dev.yml
  environments/env.yml
  tmol/tests/optimization/test_modules.py
Due: black

small bugfix for bond graph traversal (#258)
  dev_setup
  environments/env-dev.yml
  environments/env.yml
  tmol/chemical/restypes.py
  tmol/tests/optimization/test_modules.py
Due: black

Cartbonded working and matching score of existing implementation. GPU values currently incorrect.
  tmol/database/scoring/cartbonded.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/cartbonded_whole_pose_module.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
Due: clang-format, black

Matching baselines with more intelligent dispatch. CUDA values still wrong for some reason.
  tmol/chemical/restypes.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/cartbonded_whole_pose_module.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.hh
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
Due: clang-format, black

Split cartbonded scoring into lengths/angles/torsions. Remove unnecessary code.
  tmol/chemical/restypes.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/cartbonded_whole_pose_module.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

Add boilerplate for including cartbonded in the benchmarks.
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/score_types.py
  tmol/score/terms/cartbonded_creator.py
  tmol/tests/score/test_score_function_benchmarks.py
Due: clang-format, black

pre-commit updates.
  tmol/chemical/restypes.py
  tmol/score/disulfide/disulfide_energy_term.py
  tmol/score/disulfide/params.py
  tmol/score/disulfide/potentials/compiled.ops.cpp
Due: clang-format, black

more pre-commit changes.
  tmol/tests/score/disulfide/test_disulfide_energy_term.py
Due: black

pre-commit updates, templatize the hash table functions to be more flexible.
  tmol/chemical/restypes.py
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: clang-format, black

Move hash functions to their own util file.
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/common/hash_util.hh
Due: clang-format

Code cleanup.
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

