Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Fix broken tests
  tmol/score/lk_ball/params.py
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/test_score_function.py
Due: black

Dimaio/lk weird c c correction (#393)
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/params.py
  tmol/score/ljlk/potentials/lk_isotropic.hh
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/score/lk_ball/params.py
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/score/lk_ball/potentials/params.hh
  tmol/score/lk_ball/potentials/params.pybind.hh
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/ljlk/potentials/test_compiled_lk_isotropic_potential.py
  tmol/tests/score/lk_ball/potentials/compiled.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Delete CNAME
  CNAME
Due: none

Add a reusable context to pose_stack_from_biotite to speed up rescoring with same-ligand scoring
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite_context_reuse.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
Due: black

Save some time in RTS construction by caching default database RTSs
  tmol/chemical/restypes.py
  tmol/tests/chemical/test_residue.py
Due: black

Fixed lk_bridge_fraction::V to clamp overlapfrac = 1 when waters strongly overlap (wted_d2_delta < 0), matching the backward dV and lk_fraction, fixing score/gradient mismatch.
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
Due: clang-format, black

Tests revealed that original caching scheme conflicts with packer's restype mutation. make a shallow copy from cache instead.
  tmol/chemical/restypes.py
  tmol/tests/chemical/test_residue.py
Due: black

tentative fix for missed cart bonded parameters due to CYS/CYD mapping during param generation.
  tmol/database/default/scoring/cartbonded.yaml
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_disulfide_scoring.yaml
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

clean up
  tmol/score/cartbonded/cartbonded_energy_term.py
Due: black

Update changed lk_bridge reference weights
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/test_score_function.py
Due: black

Fix cart params for disulfide (#397)
  tmol/database/default/scoring/cartbonded.yaml
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_disulfide_scoring.yaml
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

lk_bridge gradient fix (#395)
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
  tmol/tests/score/lk_ball/test_lk_ball_energy_term.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Add a reusable context to pose_stack_from_biotite (#394)
  tmol/chemical/restypes.py
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite_context_reuse.py
  tmol/tests/ligand/test_ligand_pipeline.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
Due: black

Bump version to 0.1.37
  pyproject.toml
Due: none

Add NGC 26.06 GPU wheels and release v0.1.38.
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  README.md
  pyproject.toml
Due: none

Fix pybind11 CMake discovery on NGC 26.06 wheel build
  .github/workflows/_build_wheel.yml
Due: none

Bump version to 0.1.39.
  pyproject.toml
Due: none

Revert NGC 26.06 wheel lanes; release v0.1.40 on the proven matrix.
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  README.md
  pyproject.toml
Due: none

Add stable PyTorch 2.13 wheel canaries
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  CMakeLists.txt
Due: none

Guard wheel release completeness
  .github/workflows/publish.yml
  DEVELOPMENT.md
  README.md
  pyproject.toml
  scripts/validate_release_manifest.py
  tmol/tests/test_build_backend.py
Due: black

Fix Python bootstrap in CUDA images
  .github/workflows/_build_wheel.yml
Due: none

Fix wheel smoke runtime checks
  .github/workflows/wheel-smoke.yml
Due: none

Validate exact wheel ABI and manifest
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  scripts/validate_release_manifest.py
Due: black

Test installed wheels outside checkout
  .github/workflows/wheel-smoke.yml
Due: none

Pin stable Torch across the wheel matrix
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  README.md
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Isolate pinned Torch wheel builds
  .github/workflows/_build_wheel.yml
Due: none

Build manylinux tmol wheels
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  DEVELOPMENT.md
  README.md
  pyproject.toml
  scripts/repair_linux_wheel.sh
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Fix manylinux CUDA toolchain deps
  .github/workflows/_build_wheel.yml
Due: none

Keep repaired wheels on requested manylinux tag
  scripts/repair_linux_wheel.sh
Due: none

Install NVTX headers in manylinux CUDA builds
  .github/workflows/_build_wheel.yml
Due: none

Make CUDA component fallback installs explicit
  .github/workflows/_build_wheel.yml
Due: none

Trim default CUDA wheel architectures
  .github/workflows/_build_wheel.yml
Due: none

Fix CUDA wheel runtime portability
  .github/workflows/wheel-smoke.yml
  CMakeLists.txt
Due: none

test: tolerate CUDA disulfide rounding
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

docs: distinguish published and validated wheel releases
  DEVELOPMENT.md
  README.md
Due: none

Add first draft of a tmol How To guide notebook
  notebooks/tmol_how_to_guide.ipynb
Due: none

feat: enable ligand proton chi sampling by default
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/opth_sampler.py
  tmol/tests/io/test_pose_stack_from_biotite.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_opth_sampler.py
Due: black

A bunch of protonation & kinematic fixes for ligands.
  tmol/database/chemical/__init__.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/select_from_canonical.py
  tmol/ligand/dimorphite_dl.py
  tmol/ligand/openbabel_compat.py
  tmol/ligand/preparation.py
  tmol/ligand/residue_builder.py
  tmol/ligand/site_substructures.smarts
  tmol/tests/ligand/test_cif_to_dg.py
Due: black

Add missing file
  tmol/ligand/generated_geometry.py
Due: black

More ligand fixes: phospate-bonded protonation rules, linear-only structures, bugfix in name-matching
  tmol/ligand/preparation.py
  tmol/ligand/site_substructures.smarts
  tmol/score/common/gen_coord.hh
  tmol/tests/ligand/test_ligand_unit_coverage.py
Due: clang-format, black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

