Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.7
  require_serial: true

Fix bug where ser/thr hydroxyl chi were written to chi1 atom
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Refactor DunbrackChiSampler
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_dunbrack_chi_sampler.py
Due: black

Tidy up a bit
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_dunbrack_chi_sampler.py
Due: black

Gather up mainchain fingerprint data into a single class
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
Due: black

Start testing GPU execution of build_rotamers
  tmol/pack/rotamer/build_rotamers.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Making a lot of progress, but GPU building is not working properly
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

still debugging
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/kernel_segscan.cuh
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dispatch.impl.hh
  tmol/tests/kinematics/segscan/segscan.cu
  tmol/tests/kinematics/segscan/test_segscan.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_dunbrack_chi_sampler.py
Due: clang-format, black

Fix bug in identity xform
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/kernel_segscan.cuh
  tmol/pack/rotamer/build_rotamers.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: clang-format, black

Move Dunbrack sampling code to its own directory
  tmol/pack/rotamer/dunbrack/compiled.cpu.cpp
  tmol/pack/rotamer/dunbrack/compiled.cuda.cu
  tmol/pack/rotamer/dunbrack/compiled.hh
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/dunbrack/compiled.pybind.cpp
  tmol/tests/pack/rotamer/dunbrack/test.cpp
  tmol/tests/pack/rotamer/dunbrack/test.cu
  tmol/tests/pack/rotamer/dunbrack/test.hh
  tmol/tests/pack/rotamer/dunbrack/test.impl.hh
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
Due: clang-format, black

Linting
  tmol/pack/packer_task.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/compiled.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/pack/rotamer/sidechain_builders.py
  tmol/pack/rotamer/single_residue_kintree.py
  tmol/tests/pack/rotamer/test_sidechain_builders.py
Due: black

Linting
  tmol/kinematics/builder.py
  tmol/score/BondDependentTerm.py
  tmol/score/dunbrack/params.py
  tmol/score/dunbrack/torch_op.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/system/ideal_coords.py
  tmol/system/packed.py
  tmol/system/pose.py
  tmol/system/score_support.py
  tmol/tests/conftest.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bfs_sidechain.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
  tmol/tests/pack/rotamer/test_single_residue_kintree.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/score/test_AtomTypeDependentTerm.py
  tmol/tests/score/test_BondDependentTerm.py
  tmol/tests/score/test_totalscore_benchmarks.py
  tmol/tests/system/test_pose.py
  tmol/tests/utility/tensor/test_common_operations.py
Due: black

Fix assertion problem in kinematics builder.py
  tmol/kinematics/builder.py
Due: black

Improve exception handing for shape mismatches
  tmol/types/tensor.py
Due: black

Add fixtures for build_rotamers tests
  tmol/pack/packer_task.py
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/sim_anneal/annealer.py
  tmol/system/pose.py
  tmol/tests/conftest.py
  tmol/tests/pack/rotamer/dunbrack/__init__.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/system/__init__.py
  tmol/tests/system/test_pose.py
Due: black

Create bounding spheres based on rotamer coordinates
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
Due: black

Test to ensure background bounding spheres are correct
  tmol/pack/packer_task.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
Due: black

Return updated poses object from build_rotamers
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/sim_anneal/annealer.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/torch.py
Due: black

Rewrite torch script rotamer picking in c++
  tmol/pack/sim_anneal/annealer.py
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
Due: clang-format, black

Add working version of MetropolisAcceptReject in c++
  tmol/pack/sim_anneal/annealer.py
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
Due: clang-format, black

Trying to use shared memory to reduce the amount of IO that any thread needs to perform.
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

Fix serious bug in CUDA LJ that gave wrong results
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/torch.py
Due: clang-format, black

Reduce within CTA before doing a single atomic add
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

Rewrite LK-isotropic rotamer energy for cuda
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
Due: clang-format

Add vt support to launch box for Lennard-Jones RPE eval
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
Due: clang-format

Strided read of coordinates into shared memory; produced no speedup
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
Due: clang-format

Fix illegal read for heavyatom inds of -1 in lk rpe calcs
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
Due: clang-format

Clean up
  tmol/score/common/coordinate_load.cuh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
Due: clang-format

Use cudaStreams to launch lj + lk simultaneously
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: clang-format, black

Saving progress in RPE calcs for LKBall
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/BondDependentTerm.py
  tmol/score/EnergyTerm.py
  tmol/score/hbond/HBondDependentTerm.py
  tmol/score/hbond/identification.pybind.cc
  tmol/score/lk_ball/LKBallEnergy.py
  tmol/tests/score/hbond/test_HBondDependentTerm.py
  tmol/tests/score/hbond/test_HBondEnergy.py
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: clang-format, black

Cache a descriptor of the H-bond properties in the PackedBlockTypes object
  tmol/score/hbond/HBondDependentTerm.py
  tmol/score/hbond/identification.pybind.cc
  tmol/tests/score/hbond/test_HBondDependentTerm.py
  tmol/tests/score/hbond/test_HBondEnergy.py
  tmol/tests/torch.py
Due: clang-format, black

forward progress
  tmol/score/hbond/HBondDependentTerm.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.cpu.cpp
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.cuda.cu
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.hh
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.impl.hh
Due: clang-format, black

Saving progress with lkball
  tmol/score/AtomTypeDependentTerm.py
  tmol/score/hbond/HBondDependentTerm.py
  tmol/score/hbond/identification.pybind.cc
  tmol/score/lk_ball/LKBallEnergy.py
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.py
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.cpu.cpp
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.cuda.cu
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.hh
  tmol/score/lk_ball/potentials/rotamer_pair_energy_lkball.impl.hh
Due: clang-format, black

remove ScriptModule declarations from small simA benchmark
  tmol/pack/sim_anneal/annealer.py
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/torch.py
Due: clang-format, black

Progress toward python-less annealer prototype
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
Due: clang-format, black

Create SimAnnealer in C++ from python and stash in a tensor
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
Due: none

Register LJ with simA and run quick benchmark; 119us per iteration
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
Due: clang-format, black

LK-isotropic hooked into c++-only annealer
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.hh
Due: clang-format

Store count-pair data for LK-iso in shared memory
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/torch.py
Due: clang-format, black

Fix count-pair bugs
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/tests/score/ljlk/test_LJLKEnergy.py
  tmol/tests/torch.py
Due: clang-format, black

oops -- comment back in the count pair call for lj
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: clang-format, black

Path conditions:
  clang-format: any of: \.(c|cc|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

