Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

fix: switch to guess-next-dev version scheme (no-guess-dev breaks on bumps)
  pyproject.toml
Due: none

fix: compute version from git describe, bypass setuptools-scm guessing
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
Due: none

refactor: hardcode version, remove setuptools-scm (flash-attention pattern)
  .github/workflows/_build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
  setup.py
Due: black

release: v0.1.1
  pyproject.toml
Due: none

Increase default lBFSG min step size to align with single-precision usage
  tmol/optimization/lbfgs_armijo.py
Due: black

writing to biotite working
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

adding atom name to element code
  tmol/io/pose_stack_from_biotite.py
Due: black

dummy commit; revert this
  README.md
Due: none

temp hack to restore mistakenly deleted files
  tmol/score/ljlk/potentials/params.pybind.hh
  tmol/score/lk_ball/potentials/params.pybind.hh
Due: clang-format

Remove cruft from test_build_rotamers
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Update the baselines
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/CartBondedEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ConstraintEnergyTerm/test_constraint_distance_range_score.yaml
  tmol/tests/data/term_baselines/DisulfideEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/DisulfideEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/DisulfideEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/DunbrackEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/DunbrackEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/DunbrackEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/ElecEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/HBondEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LJLKEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_block_scoring.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/LKBallEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/data/term_baselines/RefEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/score/common/test_energy_term.py
Due: black

Lint w/ clang-format on all files
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/gen_pose_waters.impl.hh
  tmol/score/lk_ball/potentials/lk_ball_pose_score.impl.hh
  tmol/score/lk_ball/potentials/water.hh
Due: clang-format

Remove try/catch for alternate to split pose/rotamer scoring in base class; restore ElecEnergy derivcheck on GPU
  tmol/score/energy_term.py
  tmol/tests/score/elec/test_elec_energy_term.py
Due: black

Adding ability to build missing sidechains
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

Add code for loading from biotite
  tmol/io/pose_stack_from_biotite.py
Due: black

adding initial biotite loading code and tests
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/conftest.py
  tmol/tests/data/1BL8.pdb
  tmol/tests/data/1R21.pdb
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

adding some additional tests and fixing file locations
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1BL8.pdb
  tmol/tests/data/pdb/1R21.pdb
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

adding pdb info fields - not fully working - b_factor and occupancy have issues
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/data/__init__.py
Due: black

Updating biotite loading code to change some fields to residue-based from atom-based.
  tmol/io/pose_stack_from_biotite.py
Due: black

Remove comment
  tmol/io/details/build_missing_leaf_atoms.py
Due: black

Adding missing file
  tmol/pack/build_missing_sidechains.py
Due: black

now only repack missing sidechains. fixed bug in dunbrack_chi_sampler when only repacking a single residue.
  tmol/io/pose_stack_from_biotite.py
  tmol/pack/build_missing_sidechains.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

removing old ljlk sphere overlap tests
  tmol/tests/score/ljlk/potentials/test_sphere_overlap.py
Due: black

Default is now to fail on missing non-leaf atoms (like before), with an option to return a tensor of the missing atoms. Add check to C++ to ensure we aren't deriving locations from NaN atoms.
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/compiled/gen_pose_leaf_atoms.impl.hh
  tmol/io/pose_stack_construction.py
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
Due: clang-format, black

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

