Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Adding lots of debugging code for H-coord generation
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/io/details/compiled/gen_pose_hydrogens.hh
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/tests/io/details/test_build_missing_hydrogens.py
  tmol/tests/torch.py
Due: clang-format, black

Add latest test updates
  tmol/chemical/patched_chemdb.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
Due: black

Linting
  tmol/score/elec/elec_energy_term.py
Due: black

Fix bug with strides of 0 for non-Scalar enable_tensor_views of tensors
  tmol/utility/tensor/TensorUtil.h
Due: clang-format

Fix the unit test for to grad_check missing-hydrogen placement
  tmol/tests/io/details/test_build_missing_hydrogens.py
Due: black

Fix how Dunbrack decides which tables to use for patched residue types in rotamer building
  tmol/pack/rotamer/dunbrack/dispatch.impl.hh
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
Due: clang-format, black

Update to use find_packages rather than manifest
  MANIFEST.in
  setup.py
Due: black

Add missing init.py files, update setup.py to include all c++ jitted files
  setup.py
  tmol/optimization/__init__.py
  tmol/pack/__init__.py
  tmol/pack/rotamer/dunbrack/__init__.py
  tmol/pack/sim_anneal/__init__.py
  tmol/pack/sim_anneal/compiled/__init__.py
  tmol/pose/__init__.py
  tmol/pose/compiled/__init__.py
  tmol/score/constraint/__init__.py
  tmol/score/dunbrack/potentials/__init__.py
  tmol/score/elec/potentials/__init__.py
  tmol/score/ljlk/potentials/__init__.py
  tmol/score/lk_ball/numba/__init__.py
  tmol/score/modules/__init__.py
  tmol/tests/optimization/__init__.py
  tmol/tests/pack/__init__.py
  tmol/tests/pack/rotamer/__init__.py
  tmol/tests/pack/sim_anneal/__init__.py
  tmol/tests/pose/compiled/__init__.py
  tmol/tests/score/bonded_atom/__init__.py
  tmol/tests/score/common/geom/__init__.py
  tmol/tests/score/dunbrack/__init__.py
  tmol/tests/score/modules/__init__.py
  tmol/tests/score/solvation/__init__.py
  tmol/tests/score/terms/__init__.py
  tmol/tests/score/vdw/__init__.py
  tmol/tests/system/__init__.py
  tmol/utility/ndarray/__init__.py
Due: black

Create new logic for mc_fingerprints that support termini
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/tests/pack/rotamer/test_mainchain_fingerprint.py
Due: black

Fixing error in unit test; res_ind --> other_res_ind
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Fix pip installs (#259)
  setup.py
  tmol/optimization/__init__.py
  tmol/pack/__init__.py
  tmol/pack/rotamer/dunbrack/__init__.py
  tmol/pack/sim_anneal/__init__.py
  tmol/pack/sim_anneal/compiled/__init__.py
  tmol/pose/__init__.py
  tmol/pose/compiled/__init__.py
  tmol/score/constraint/__init__.py
  tmol/score/dunbrack/potentials/__init__.py
  tmol/score/elec/potentials/__init__.py
  tmol/score/ljlk/potentials/__init__.py
  tmol/score/lk_ball/numba/__init__.py
  tmol/score/modules/__init__.py
  tmol/tests/optimization/__init__.py
  tmol/tests/pack/__init__.py
  tmol/tests/pack/rotamer/__init__.py
  tmol/tests/pack/sim_anneal/__init__.py
  tmol/tests/pose/compiled/__init__.py
  tmol/tests/score/bonded_atom/__init__.py
  tmol/tests/score/common/geom/__init__.py
  tmol/tests/score/dunbrack/__init__.py
  tmol/tests/score/modules/__init__.py
  tmol/tests/score/solvation/__init__.py
  tmol/tests/score/terms/__init__.py
  tmol/tests/score/vdw/__init__.py
  tmol/tests/system/__init__.py
  tmol/utility/ndarray/__init__.py
Due: black

Fixing kinematic unit test that fails after the new stride check
  tmol/tests/kinematics/test_script_modules.py
Due: black

Fix out-of-bounds bug in omega that produces NaNs in jagged PosesStacks
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

Alter debugging temp code in gen_pose_hydrogens
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
Due: clang-format

Extending view_tensor stride checking to ensure contiguous allocation
  tmol/utility/tensor/TensorUtil.h
Due: clang-format

linting
  tmol/tests/score/omega/test_omega_energy_term.py
Due: black

Add tests for patching. Add dunbrack reference score test.
  tmol/chemical/patched_chemdb.py
  tmol/database/__init__.py
  tmol/database/chemical/__init__.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/conftest.py
  tmol/tests/database/__init__.py
  tmol/tests/score/dunbrack/test_baseline.py
Due: black

linting
  tmol/database/chemical/__init__.py
  tmol/tests/chemical/test_patch.py
  tmol/tests/conftest.py
Due: black

Fix bug with strides of 0 for non-Scalar enable_tensor_views of tensors (#262)
  tmol/tests/kinematics/test_script_modules.py
  tmol/utility/tensor/TensorUtil.h
Due: clang-format, black

Fix out-of-bounds bug in omega that produces NaNs in jagged PosesStacks (#263)
  tmol/score/omega/potentials/omega_pose_score.impl.hh
  tmol/tests/score/omega/test_omega_energy_term.py
Due: clang-format, black

Fix build after uaid-resolution function interface change in trunk
  tmol/io/details/build_missing_hydrogens.py
  tmol/io/details/compiled/gen_pose_hydrogens.hh
  tmol/io/details/compiled/gen_pose_hydrogens.impl.hh
  tmol/tests/io/details/test_build_missing_hydrogens.py
Due: clang-format, black

Silence debugging output in unit tests
  tmol/tests/io/details/test_build_missing_hydrogens.py
Due: black

LJ/LK returns block vs block energies rather than single energy value.
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Working derivatives for ljlk block pair scoring.
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Remove debug outputs. Tighter tolerance on gradcheck
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Split lj_atr and lj_rep energies. Make InterResBlockEvaluation/IntraResBlockEvaluation generalize to functions with >1 subterm.
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/ljlk/potentials/lj.dispatch.impl.hh
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Initial commit for res-centric dunbrack.
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/dunbrack_whole_pose_module.py
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.py
  tmol/score/dunbrack/potentials/dunbrack_pose_score.cpu.cpp
  tmol/score/dunbrack/potentials/dunbrack_pose_score.cuda.cu
  tmol/score/dunbrack/potentials/dunbrack_pose_score.hh
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/dunbrack/potentials/params.hh
  tmol/score/dunbrack/potentials/potentials.hh
  tmol/score/terms/dunbrack_creator.py
  tmol/tests/score/dunbrack/test_dunbrack_energy_term.py
Due: clang-format, black

Fixing potential matrices to work with CUDA.
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/potentials.hh
Due: clang-format

Fixing up cart tests, fixing bug in packed block types with mismatched max conns.
  tmol/pose/packed_block_types.py
  tmol/score/score_types.py
  tmol/score/terms/cartbonded_creator.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

A few changes to get block-pair scores to work with other scoring machinery
  tmol/optimization/sfxn_modules.py
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/score_function.py
  tmol/score/score_types.py
  tmol/score/terms/ljlk_creator.py
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
  tmol/tests/optimization/test_score_pose_once_benchmark.py
  tmol/tests/optimization/test_scorefunction_minimization.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/tests/score/test_score_function.py
  tmol/tests/types/test_torch.py
Due: clang-format, black

Update test for split lj
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Fixing dun.
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format

Remove some debug statements. Fix PRO patch charges. Rename vars for clarity.
  tmol/database/default/scoring/elec.yaml
  tmol/score/elec/params.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Add check ensuring patches do not change same atom charge.
  tmol/score/elec/params.py
Due: black

Bugfix from previous commit.
  tmol/score/elec/params.py
Due: black

One last bugfix.
  tmol/score/elec/params.py
Due: black

Fix bug in disulfide detection where reading from the wrong tensor that was encoding block type
  tmol/io/details/select_from_canonical.py
Due: black

Increase cartbonded gradient tolerance for GPU
  tmol/tests/score/cartbonded/test_script_modules.py
Due: black
