Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

fix lazy imports and make tests pretty
  .github/workflows/ci.yml
  pyproject.toml
  tmol/ligand/__init__.py
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/ligand/smiles.py
Due: black

update ci with apptainer
  .github/workflows/ci.yml
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
Due: none

fix formatting
  tmol/tests/chemical/test_patch.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

update ci
  .github/workflows/ci.yml
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
Due: none

nc/switch ob to rdkit (#370)
  .github/workflows/ci.yml
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
  pyproject.toml
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/graph_match.py
  tmol/ligand/mol3d.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

fix issues in ligand code
  .github/workflows/ci.yml
  .gitignore
  pytest
  tmol/database/__init__.py
  tmol/database/chemical/__init__.py
  tmol/io/pose_stack_from_biotite.py
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/chemistry_tables.py
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/ligand/rdkit_mol.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

test enzymes etc
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

Add a manager for each compilation unit to avoid repeated initializations of mgpu::standard_context_t
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/device_operations.cuda.impl.cuh
  tmol/score/common/device_operations.hh
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/ljlk_pose_score.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/utility/tensor/context_manager.hh
  tmol/utility/tensor/torch_context.hh
Due: clang-format

always try to upload codecov
  .github/workflows/ci.yml
Due: none

Git CI improvements (#373)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  dev/bin/nvprof2json.py
  tmol/__init__.py
  tmol/support/scoring/hbond_param_import.py
Due: black

get block pair score function working again, add some options for getting individual terms.
  tmol/score/score_function.py
  tmol/tests/score/test_score_function.py
Due: black

formatting
  tmol/score/score_function.py
Due: black

Fix Block Pair Scorefunction (#371)
  tmol/score/score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Add tmol params files for all ZINC ligands
  tmol/tests/data/dud_ligands/ada/ZINC01614355.tmol
  tmol/tests/data/dud_ligands/ada/ZINC02169852.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814293.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814294.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814297.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814298.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814300.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814301.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814303.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814305.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00021789.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00330141.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00392003.tmol
  tmol/tests/data/dud_ligands/comt/ZINC03801154.tmol
  tmol/tests/data/dud_ligands/comt/ZINC03814480.tmol
Due: none

Update .tmol files
  tmol/tests/data/dud_ligands/ada/ZINC01614355.tmol
  tmol/tests/data/dud_ligands/ada/ZINC02169852.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814293.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814294.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814297.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814298.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814300.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814301.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814303.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814305.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00021789.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00330141.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00392003.tmol
  tmol/tests/data/dud_ligands/comt/ZINC03801154.tmol
  tmol/tests/data/dud_ligands/comt/ZINC03814480.tmol
Due: none

Rework ContextManager for <device, stream> pairs
  tmol/kinematics/scan_ordering.py
  tmol/tests/relax/test_fast_relax.py
  tmol/utility/tensor/context_manager.hh
  tmol/utility/tensor/torch_context.hh
Due: clang-format, black

Fixing error in ContextDeleter somehow not caught by my version of nvcc?
  tmol/utility/tensor/torch_context.hh
Due: clang-format

modifying select_from_canonical to be more forgiving of extraneous atoms. throw warnings when these (or missing) atoms are detected.
  tmol/io/details/select_from_canonical.py
Due: black

fixes for biotite loading
  tmol/io/pose_stack_from_biotite.py
Due: black

Many updates: split out ring types, number scoring fixes. Add new tests for dud_ligands.
  tmol/chemical/patched_chemdb.py
  tmol/chemical/restypes.py
  tmol/database/chemical/__init__.py
  tmol/database/default/chemical/chemical.yaml
  tmol/database/scoring/genbonded.py
  tmol/score/__init__.py
  tmol/score/elec/elec_energy_term.py
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/elec/potentials/potentials.hh
  tmol/score/genbonded/genbonded_energy_term.py
  tmol/score/genbonded/potentials/potentials.hh
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/ljlk/ljlk_energy_term.py
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/data/dud_ligands/ada/ZINC01614355.tmol
  tmol/tests/data/dud_ligands/ada/ZINC02169852.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814293.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814294.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814297.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814298.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814300.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814301.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814303.tmol
  tmol/tests/data/dud_ligands/ada/ZINC03814305.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00021789.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00330141.tmol
  tmol/tests/data/dud_ligands/comt/ZINC00392003.tmol
  tmol/tests/data/dud_ligands/comt/ZINC03801154.tmol
  tmol/tests/data/dud_ligands/comt/ZINC03814480.tmol
  tmol/tests/ligand/test_dud_ligands.py
Due: clang-format, black

Fix shared-memory aliasing issue
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk.hh
  tmol/score/ljlk/potentials/ljlk_pose_score.impl.hh
  tmol/score/lk_ball/potentials/lk_ball.hh
Due: clang-format

wip: working except bonds
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/ligand/params_file.py
  tmol/ligand/params_io.py
  tmol/ligand/rdkit_mol.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
  tmol/tests/data/dud_ligands/ada/ZINC01614355.cif
  tmol/tests/data/dud_ligands/ada/ZINC02169852.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814293.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814294.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814297.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814298.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814300.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814301.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814303.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814305.cif
  tmol/tests/data/dud_ligands/comt/ZINC00021789.cif
  tmol/tests/data/dud_ligands/comt/ZINC00330141.cif
  tmol/tests/data/dud_ligands/comt/ZINC00392003.cif
  tmol/tests/data/dud_ligands/comt/ZINC03801154.cif
  tmol/tests/data/dud_ligands/comt/ZINC03814480.cif
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

add ligand pipeline changes
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/mol3d.py
  tmol/ligand/params_file.py
  tmol/ligand/rdkit_mol.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

Ncorley/fix atom typing (#376)
  tmol/ligand/README.md
  tmol/ligand/__init__.py
  tmol/ligand/atom_typing.py
  tmol/ligand/detect.py
  tmol/ligand/mol3d.py
  tmol/ligand/params_file.py
  tmol/ligand/params_io.py
  tmol/ligand/rdkit_mol.py
  tmol/ligand/registry.py
  tmol/ligand/residue_builder.py
  tmol/tests/data/dud_ligands/ada/ZINC01614355.cif
  tmol/tests/data/dud_ligands/ada/ZINC02169852.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814293.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814294.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814297.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814298.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814300.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814301.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814303.cif
  tmol/tests/data/dud_ligands/ada/ZINC03814305.cif
  tmol/tests/data/dud_ligands/comt/ZINC00021789.cif
  tmol/tests/data/dud_ligands/comt/ZINC00330141.cif
  tmol/tests/data/dud_ligands/comt/ZINC00392003.cif
  tmol/tests/data/dud_ligands/comt/ZINC03801154.cif
  tmol/tests/data/dud_ligands/comt/ZINC03814480.cif
  tmol/tests/ligand/test_dud_ligands.py
  tmol/tests/ligand/test_ligand_pipeline.py
Due: black

Add in test set for protein/ligand complexes
  tmol/tests/data/protein_ligand_test/ace_complex_nometals.pdb
  tmol/tests/data/protein_ligand_test/ache_complex.pdb
  tmol/tests/data/protein_ligand_test/ada_complex_nometals.pdb
  tmol/tests/data/protein_ligand_test/alr2_complex.pdb
  tmol/tests/data/protein_ligand_test/ampc_complex.pdb
  tmol/tests/data/protein_ligand_test/ar_complex.pdb
  tmol/tests/data/protein_ligand_test/cdk2_complex.pdb
  tmol/tests/data/protein_ligand_test/comt_complex_nometals.pdb
  tmol/tests/data/protein_ligand_test/cox1_complex.pdb
  tmol/tests/data/protein_ligand_test/cox2_complex.pdb
  tmol/tests/data/protein_ligand_test/dhfr_complex.pdb
  tmol/tests/data/protein_ligand_test/egfr_complex.pdb
  tmol/tests/data/protein_ligand_test/er_agonist_complex.pdb
  tmol/tests/data/protein_ligand_test/er_antagonist_complex.pdb
  tmol/tests/data/protein_ligand_test/fgfr1_complex.pdb
  tmol/tests/data/protein_ligand_test/fxa_complex.pdb
  tmol/tests/data/protein_ligand_test/gart_complex.pdb
  tmol/tests/data/protein_ligand_test/gpb_complex.pdb
  tmol/tests/data/protein_ligand_test/gr_complex.pdb
  tmol/tests/data/protein_ligand_test/hivpr_complex.pdb
  tmol/tests/data/protein_ligand_test/hivrt_complex.pdb
  tmol/tests/data/protein_ligand_test/hmga_complex.pdb
  tmol/tests/data/protein_ligand_test/hsp90_complex.pdb
  tmol/tests/data/protein_ligand_test/inha_complex.pdb
  tmol/tests/data/protein_ligand_test/mr_complex.pdb
  tmol/tests/data/protein_ligand_test/na_complex.pdb
  tmol/tests/data/protein_ligand_test/p38_complex.pdb
  tmol/tests/data/protein_ligand_test/parp_complex.pdb
  tmol/tests/data/protein_ligand_test/pde5_complex_nometals.pdb
  tmol/tests/data/protein_ligand_test/pdgfrb_complex.pdb
  tmol/tests/data/protein_ligand_test/pnp_complex.pdb
  tmol/tests/data/protein_ligand_test/ppar_complex.pdb
  tmol/tests/data/protein_ligand_test/pr_complex.pdb
  tmol/tests/data/protein_ligand_test/rxr_complex.pdb
  tmol/tests/data/protein_ligand_test/sahh_complex.pdb
  tmol/tests/data/protein_ligand_test/src_complex.pdb
  tmol/tests/data/protein_ligand_test/thrombin_complex.pdb
  tmol/tests/data/protein_ligand_test/tk_complex.pdb
  tmol/tests/data/protein_ligand_test/trypsin_complex.pdb
  tmol/tests/data/protein_ligand_test/vegfr2_complex.pdb
Due: none

adding some initial code for pose splicing
  tmol/pose/pose_stack_builder.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

Git CI improvements (#373)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Adding a block_pair_ddg scoring utility to score between two masks on a pose stack.
  tmol/score/score_utils.py
Due: black

Adding a block_pair_ddg scoring utility to score between two masks on a pose stack. (#377)
  tmol/score/score_utils.py
Due: black

add option to skip ligand protonation on a per ligand basis
  tmol/ligand/__init__.py
  tmol/ligand/detect.py
Due: black

Add new PLI test
  tmol/tests/ligand/test_pli_scoring.py
Due: black

disable atom filtering in biotite load
  tmol/io/pose_stack_from_biotite.py
Due: black

Small cleanups
  CMakeLists.txt
  tmol/tests/relax/test_fast_relax.py
Due: black

Add prepare_ligands to unit test
  tmol/tests/ligand/test_pli_scoring.py
Due: black

changing the residue type selection criteria to now always prefer candidates such that an atom is missing over candidates where an extra atom is being provided.
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_from_biotite.py
Due: black
