Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.7
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

comment out lk
  tmol/score/ljlk/potentials/compiled.ops.cpp
Due: none

Crudely avoid bb/bb and bb/sc LJ calcs
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
Due: clang-format

Avoid bb/bb and bb/sc calcs in LK
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
Due: clang-format

Load-balanced search version of LJ-RPE energy calculations; does not include bb-atom avoidance. Seems significantly slower than prior shared-memory-based code
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
Due: clang-format

only calc sc/sc interactions
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

Add step after simA completes to synchronize for timing purposes
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/annealer.hh
  tmol/pack/sim_anneal/compiled/compiled.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/score/common/coordinate_load.cuh
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/tests/torch.py
Due: clang-format, black

Avoid atom-type --> lj_params indirection in LJ RPE eval --> 10us per iteration!
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
Due: clang-format, black

Fix bug in LJ evaluation
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
  tmol/tests/torch.py
Due: clang-format, black

Ok, reading lk params in to shared mem in contiguous blocks has little impact on performance
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
Due: clang-format

Rewrite LK to iterate across all atom pairs instead of just heavy atoms to improve memory access patterns
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
  tmol/tests/torch.py
Due: clang-format, black

Hacky version of lk-iso that takes 12us per iteration (including w/ LJ)
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lk.impl.hh
Due: clang-format, black

ran-rot + lj + lk + mc a/r in 22us per iteration
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
Due: none

Keep alt coords / params in memory for multiple RPEs
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

Load current and alternate into shared memory at the same time
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

Fix shared-memory bug with union; replace "return" with "continue"
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/tests/score/ljlk/test_LJLKEnergy.py
Due: clang-format, black

add explicit ElecParameters object, replacement for score graph
  tmol/score/elec/script_modules.py
  tmol/score/modules/elec.py
  tmol/score/modules/ljlk.py
  tmol/tests/score/modules/test_elec.py
Due: black

rename bonded_path_lengths on elec since it's different
  tmol/score/elec/script_modules.py
  tmol/score/modules/elec.py
Due: black

Saving current state
  tmol/pack/sim_anneal/compiled/annealer.cpu.cpp
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/utility/cpp_extension.py
Due: clang-format, black

remove unused imports
  tmol/score/modules/elec.py
Due: black

Rewriting the LJ code
  tmol/score/common/count_pair.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj_redo.cuda.cu
Due: clang-format

Rewrite the lj evaluation; fix syncthreads bugs
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj_redo.cuda.cu
Due: clang-format, black

Best runtime, sc/sc 2rpt; 55us
  tmol/score/ljlk/potentials/params.hh
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

Go back to all vs all
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
Due: clang-format

unwind cpu sc/sc hack
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.impl.hh
Due: clang-format

hbond new score graph
  tmol/score/modules/hbond.py
  tmol/tests/score/modules/test_hbond.py
Due: black

remove unused imports
  tmol/score/modules/hbond.py
Due: black

Implement module-oriented score framework. (#227)
  environments/core.yml
  tmol/extern/singledispatchmethod.py
  tmol/extern/test_toposort.py
  tmol/extern/toposort.py
  tmol/kinematics/dof_modules.py
  tmol/score/modules/bases.py
  tmol/score/modules/bonded_atom.py
  tmol/score/modules/chemical_database.py
  tmol/score/modules/coords.py
  tmol/score/modules/database.py
  tmol/score/modules/device.py
  tmol/score/modules/ljlk.py
  tmol/score/modules/stacked_system.py
  tmol/system/__init__.py
  tmol/system/kinematic_module_support.py
  tmol/system/score_module_support.py
  tmol/tests/kinematics/test_dof_modules.py
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/score/ljlk/test_baseline.py
  tmol/tests/score/modules/test_bases.py
  tmol/tests/score/modules/test_bonded_atom.py
  tmol/tests/score/modules/test_chemical_database.py
  tmol/tests/score/modules/test_database.py
  tmol/tests/score/modules/test_ljlk.py
  tmol/tests/types/test_attrs_nn_module.py
Due: black

lk ball first attempt
  tmol/score/modules/lk_ball.py
  tmol/tests/score/modules/test_lk_ball.py
Due: black

lk ball fixes
  tmol/score/modules/lk_ball.py
  tmol/tests/score/modules/test_lk_ball.py
Due: black

remove unused import
  tmol/score/modules/lk_ball.py
Due: black
