Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

adding initial biotite loading code and tests
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/conftest.py
  tmol/tests/data/1BL8.pdb
  tmol/tests/data/1R21.pdb
  tmol/tests/data/__init__.py
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

adding some additional tests and fixing file locations
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1BL8.pdb
  tmol/tests/data/pdb/1R21.pdb
  tmol/tests/io/test_pose_stack_from_biotite.py
Due: black

add a few asserts to pose-stack-construction
  tmol/io/pose_stack_construction.py
Due: black

Fix kinematics unit tests that call torch.sum(coords).backward() which fails.
  tmol/tests/kinematics/test_script_modules.py
Due: black

linting
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
Due: black

Trying again w/ cubic hermite testing w/ hypothesis to tease out error on testing server
  .buildkite/bin/testing
  tmol/tests/io/details/test_build_missing_leaf_atoms.py
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
Due: black

Improve how approx is calcualated for the numeric/interpolation version of the cubic hermite spline tests
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
Due: black

Try and tease out where time is spent: in hypothesis vs in the test
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
Due: black

Bump hypothesis to latest version;
  environments/linux-cuda/requirements-linux-cuda.txt
Due: none

Fix reference to test PDB in relax test; linting
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
  tmol/tests/relax/test_fast_relax.py
Due: black

Add HIS_POS to default database and properly handle inputs where HIS is doubly protonated
  tmol/database/default/chemical/chemical.yaml
  tmol/database/default/scoring/elec.yaml
  tmol/io/canonical_ordering.py
  tmol/io/details/build_missing_leaf_atoms.py
  tmol/io/details/compiled/his_taut_params.hh
  tmol/io/details/compiled/resolve_his_taut.impl.hh
  tmol/io/details/his_taut_resolution.py
  tmol/io/details/select_from_canonical.py
  tmol/pack/packer_task.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/1r21.pdb
  tmol/tests/io/test_pose_stack_construction.py
Due: clang-format, black

Add Frank's testing server fix for handling benchmarking against version that did not pass the benchmarking test
  tmol/tests/benchmark_plot.py
Due: black

linting
  tmol/tests/benchmark_plot.py
Due: black

Fix params for 1HB, 2HB --> HB2, HB3 in elec.yaml for HIS_POS
  tmol/database/default/scoring/elec.yaml
Due: none

Oops! forgot a bond in HIS_POS
  tmol/database/default/chemical/chemical.yaml
Due: none

Fix lone failing unit test
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Add code for loading from biotite
  tmol/io/pose_stack_from_biotite.py
Due: black

Scaling back size of packing unit test due to too-many-threads issue
  tmol/score/common/sphere_overlap.impl.hh
  tmol/tests/pack/test_pack_rotamers.py
Due: clang-format, black

Clean up cruft from many files; cleaned all the way to tmol/score/hbond/potentials/hbond.hh
  tmol/database/default/chemical/chemical.yaml
  tmol/io/pose_stack_from_openfold.py
  tmol/io/write_pose_stack_pdb.py
  tmol/kinematics/fold_forest.py
  tmol/optimization/lbfgs_armijo.py
  tmol/pack/compiled/compiled.cpu.cpp
  tmol/pack/compiled/compiled.cuda.cu
  tmol/pack/compiled/compiled.impl.hh
  tmol/pack/compiled/compiled.ops.cpp
  tmol/pack/compiled/simulated_annealing.hh
  tmol/pack/impose_rotamers.py
  tmol/pack/rotamer/bounding_spheres.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/chi_sampler.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/fixed_aa_chi_sampler.py
  tmol/pack/rotamer/include_current_sampler.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/pose/constraint_set.py
  tmol/pose/pose_stack.py
  tmol/pose/pose_stack_builder.py
  tmol/score/backbone_torsion/potentials/backbone_torsion_pose_score.impl.hh
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/cartbonded_energy_term.py
  tmol/score/cartbonded/potentials/cartbonded_pose_score.impl.hh
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/common/device_operations.cpu.impl.hh
  tmol/score/common/scoring_module.py
  tmol/score/common/sphere_overlap.impl.hh
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/constraint/constraint_energy_term.py
  tmol/score/disulfide/potentials/disulfide_pose_score.impl.hh
  tmol/score/dunbrack/dunbrack_energy_term.py
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/elec.hh
  tmol/score/elec/potentials/elec_pose_score.impl.hh
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/hbond.hh
  tmol/tests/numeric/interpolation/test_cubic_hermite_polynomial.py
Due: clang-format, black

adding pdb info fields - not fully working - b_factor and occupancy have issues
  tmol/io/pose_stack_from_biotite.py
  tmol/tests/data/__init__.py
Due: black

feat: atomworks encoding
  tmol/io/pose_stack_from_atomworks.py
  tmol/tests/io/test_pose_stack_from_atomworks.py
Due: black

feat: modernize tmol build setup
  .pre-commit-config.yaml
  Dockerfile
  README.md
  containers/apptainer/tmol-dev.def
  containers/docker/tmol-dev.Dockerfile
  dev_setup
  docker-compose.yml
  environments/linux-cuda/build_requirements.sh
  environments/linux-cuda/env.yml
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  environments/linux-cuda/requirements-linux-cuda.txt
  environments/macos-cpu/env.yml
  environments/macos-cpu/requirements-dev-macos-cpu.txt
  environments/macos-cpu/requirements-macos-cpu.txt
  pyproject.toml
  pytest.ini
  requirements-dev.in
  requirements.in
Due: none

setup cuda via pip
  pyproject.toml
  tmol/_cuda_env.py
  tmol/utility/cpp_extension.py
Due: black

remove obsolute root scripts
  .codecov.yml
  .dockerignore
  .docs.watchmedo.yml
  .envrc
  .lvimrc
  .post-checkout
  .ycm_extra_conf.py
Due: black

update buildkite to work with new dependency setup
  .buildkite/bin/benchmark
  .buildkite/bin/cleanup
  .buildkite/bin/linting
  .buildkite/bin/setup
  .buildkite/bin/testing
  .buildkite/bin/testing_debug_no_jit
  .buildkite/pipeline.yml
Due: none

add github actions for wheel build
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

ci: trigger wheel build on push to precompiled_extensions branch
  .github/workflows/build_wheel.yml
  MANIFEST.in
  setup.py
  tmol/_cpp_lib.py
  tmol/tests/pack/rotamer/dunbrack/test_cpu.cpp
  tmol/tests/pack/rotamer/dunbrack/test_cuda.cu
  tmol/tests/score/bonded_atom/test_cpu.cpp
  tmol/tests/score/bonded_atom/test_cuda.cu
  tmol/tests/score/common/dispatch/test_cpu.cpp
  tmol/tests/score/common/dispatch/test_cuda.cu
  tmol/tests/utility/datastructures/__init__.py
Due: clang-format, black

fix: update license terms and set correct container images
  .github/workflows/build_wheel.yml
  pyproject.toml
Due: none

fix: use relative source paths in setup.py (setuptools requirement)
  setup.py
Due: black

fix: update outdated workflows
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
Due: none

fix ruff
  .github/workflows/_build_wheel.yml
  MANIFEST.in
  setup.py
Due: black

refactor: split CI build from publish, fix local_scheme for PyPI
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

ci: add push trigger to publish workflow for testing
  .github/workflows/publish.yml
Due: none

fix: sdist to TestPyPI, wheels to GitHub Release (PyPI rejects + in filenames)
  .github/workflows/publish.yml
Due: none

feat: proper upload of prebuilt binaries and documentation
  .github/workflows/_build_wheel.yml
  .github/workflows/build_wheel.yml
  .github/workflows/publish.yml
  README.md
Due: none
