Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Match declared links to polymer ports and selected conformers
  tmol/io/_atomworks_reader.py
  tmol/tests/io/test_polymer_gap_provenance.py
Due: black

Use the reviewed public AtomWorks dependency in CI
  .github/ci/run_ci_gpu_work.sh
  .github/ci/with_atomworks_access.sh
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/wheel-smoke.yml
  pyproject.toml
Due: none

Record inferred topology in coordinate-only ddG fixtures
  tmol/tests/ligand/test_protein_ligand_ddg.py
Due: black

Preserve topology and compatibility in optE workflows (#564)
  .github/ci/run_ci_gpu_work.sh
  .github/ci/with_atomworks_access.sh
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/wheel-smoke.yml
  pyproject.toml
  tmol/io/_atomworks_reader.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/ligand/__init__.py
  tmol/ligand/_atom_typing.py
  tmol/ligand/_chi_topology.py
  tmol/ligand/_residue_builder.py
  tmol/optimization/_lbfgs_armijo.py
  tmol/pack/_packer_task.py
  tmol/tests/io/test_atomworks_hydrogen_parity.py
  tmol/tests/io/test_polymer_gap_provenance.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/ligand/test_atom_typing_coverage.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/score/elec/test_metal_ion_electrostatics.py
Due: clang-format, black

Match declared CIF endpoints without re-inferring chemistry
  tmol/io/_atomworks_reader.py
  tmol/tests/io/test_polymer_gap_provenance.py
Due: black

Several bugfixes and changes uncovered when when running optE benchma… (#559)
  tmol/database/default/scoring/elec_metal_ions.yaml
  tmol/database/default/scoring/rama.zip
  tmol/database/score_functions/beta2016.sfxn
  tmol/database/score_functions/beta_soft.sfxn
  tmol/io/_atomworks_reader.py
  tmol/io/_pose_stack_from_biotite.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/ligand/_atom_typing.py
  tmol/ligand/_chi_topology.py
  tmol/ligand/_residue_builder.py
  tmol/optimization/_lbfgs_armijo.py
  tmol/pack/_packer_task.py
  tmol/support/chemical/_add_metal_ions.py
  tmol/support/scoring/_rewrite_rama_binary.py
  tmol/tests/data/noncanonical_scores.yaml
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_whole_pose_scoring_10.yaml
  tmol/tests/data/term_baselines/BackboneTorsionEnergyTerm/test_whole_pose_scoring_jagged.yaml
  tmol/tests/database/test_metals.py
  tmol/tests/io/test_atomworks_hydrogen_parity.py
  tmol/tests/io/test_polymer_gap_provenance.py
  tmol/tests/io/test_pose_stack_from_atom37_and_topology.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/ligand/test_atom_typing_regressions.py
  tmol/tests/ligand/test_protein_ligand_ddg.py
  tmol/tests/optimization/test_lbfgs_armijo.py
  tmol/tests/pack/test_pack_rotamers.py
  tmol/tests/pack/test_packer_task.py
  tmol/tests/relax/test_fast_relax.py
  tmol/tests/score/backbone_torsion/test_backbone_torsion_term.py
  tmol/tests/score/backbone_torsion/test_rama_matches_rosetta.py
  tmol/tests/score/elec/test_metal_ion_electrostatics.py
  tmol/tests/score/test_score_function.py
Due: clang-format, black

Fix ensemble protonation, ligand concurrency and wheel metadata
  pyproject.toml
  scripts/set_release_wheel_version.py
  scripts/test_build_metadata.py
  scripts/test_release_wheel_version.py
  tmol/io/_protonation.py
  tmol/ligand/_conformer_generation.py
  tmol/pack/protonation_alternatives.py
  tmol/pose/_pose_stack_builder.py
  tmol/tests/io/test_protonation.py
  tmol/tests/ligand/test_conformer_concurrency.py
  tmol/tests/pack/test_protonation_alternatives.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol_build_backend.py
Due: black

Serialize OpenBabel charge transactions and document GitHub installation
  README.md
  docs/installation.md
  tmol/ligand/_conformer_generation.py
  tmol/ligand/_openbabel_compat.py
  tmol/ligand/_terminus_patches.py
  tmol/tests/ligand/test_conformer_concurrency.py
Due: black

Fix chemistry isolation, pose transfers and wheel metadata (#565)
  README.md
  docs/installation.md
  pyproject.toml
  scripts/set_release_wheel_version.py
  scripts/test_build_metadata.py
  scripts/test_release_wheel_version.py
  tmol/io/_protonation.py
  tmol/ligand/_conformer_generation.py
  tmol/ligand/_openbabel_compat.py
  tmol/ligand/_terminus_patches.py
  tmol/pack/protonation_alternatives.py
  tmol/pose/_pose_stack_builder.py
  tmol/tests/io/test_protonation.py
  tmol/tests/ligand/test_conformer_concurrency.py
  tmol/tests/pack/test_protonation_alternatives.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol_build_backend.py
Due: black

Prepare v0.1.57 as a GitHub-only release
  .github/workflows/publish.yml
  pyproject.toml
Due: none

fix: include OpenBabel in the default installation
  README.md
  docs/installation.md
  pyproject.toml
  tmol/ligand/_openbabel_compat.py
Due: black

docs: remove obsolete optional OpenBabel instructions
  scripts/ligand_prep/README.md
  scripts/ligand_prep/smiles_to_params.py
  tmol/ligand/_preparation.py
Due: black

fix: include OpenBabel in the default installation (#568)
  README.md
  docs/installation.md
  pyproject.toml
  scripts/ligand_prep/README.md
  scripts/ligand_prep/smiles_to_params.py
  tmol/ligand/_openbabel_compat.py
  tmol/ligand/_preparation.py
Due: black

Release v0.1.58 with OpenBabel included by default
  pyproject.toml
Due: none

Prepare v0.1.58 as a GitHub-only release (#566)
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Connect beta sheet to helix and clarify force vector in logo
  docs/_static/brand/README.md
  docs/_static/brand/apple-touch-icon.png
  docs/_static/brand/favicon-16.png
  docs/_static/brand/favicon-32.png
  docs/_static/brand/favicon-48.png
  docs/_static/brand/favicon.ico
  docs/_static/brand/favicon.svg
  docs/_static/brand/tmol-logo-black.svg
  docs/_static/brand/tmol-logo-dark-1024.png
  docs/_static/brand/tmol-logo-dark-2048.png
  docs/_static/brand/tmol-logo-dark-512.png
  docs/_static/brand/tmol-logo-dark.svg
  docs/_static/brand/tmol-logo-light-1024.png
  docs/_static/brand/tmol-logo-light-2048.png
  docs/_static/brand/tmol-logo-light-512.png
  docs/_static/brand/tmol-logo-light.svg
  docs/_static/brand/tmol-logo-white.svg
  docs/_static/brand/tmol-mark-black.svg
  docs/_static/brand/tmol-mark-dark-128.png
  docs/_static/brand/tmol-mark-dark-256.png
  docs/_static/brand/tmol-mark-dark-512.png
  docs/_static/brand/tmol-mark-dark-64.png
  docs/_static/brand/tmol-mark-dark.svg
  docs/_static/brand/tmol-mark-light-128.png
  docs/_static/brand/tmol-mark-light-256.png
  docs/_static/brand/tmol-mark-light-512.png
  docs/_static/brand/tmol-mark-light-64.png
  docs/_static/brand/tmol-mark-light.svg
  docs/_static/brand/tmol-mark-white.svg
  scripts/generate_brand_assets.py
Due: black

Add TMol brand assets and refine documentation styling
  README.md
  docs/README.md
  docs/_static/brand/README.md
  docs/_static/brand/apple-touch-icon.png
  docs/_static/brand/favicon-16.png
  docs/_static/brand/favicon-32.png
  docs/_static/brand/favicon-48.png
  docs/_static/brand/favicon.ico
  docs/_static/brand/favicon.svg
  docs/_static/brand/tmol-logo-black.svg
  docs/_static/brand/tmol-logo-dark-1024.png
  docs/_static/brand/tmol-logo-dark-2048.png
  docs/_static/brand/tmol-logo-dark-512.png
  docs/_static/brand/tmol-logo-dark.svg
  docs/_static/brand/tmol-logo-light-1024.png
  docs/_static/brand/tmol-logo-light-2048.png
  docs/_static/brand/tmol-logo-light-512.png
  docs/_static/brand/tmol-logo-light.svg
  docs/_static/brand/tmol-logo-white.svg
  docs/_static/brand/tmol-mark-black.svg
  docs/_static/brand/tmol-mark-dark-128.png
  docs/_static/brand/tmol-mark-dark-256.png
  docs/_static/brand/tmol-mark-dark-512.png
  docs/_static/brand/tmol-mark-dark-64.png
  docs/_static/brand/tmol-mark-dark.svg
  docs/_static/brand/tmol-mark-light-128.png
  docs/_static/brand/tmol-mark-light-256.png
  docs/_static/brand/tmol-mark-light-512.png
  docs/_static/brand/tmol-mark-light-64.png
  docs/_static/brand/tmol-mark-light.svg
  docs/_static/brand/tmol-mark-white.svg
  docs/_static/custom.css
  docs/_templates/layout.html
  docs/conf.py
  docs/index.rst
  scripts/generate_brand_assets.py
  scripts/requirements-brand.txt
Due: black

Simplify logo to helix with a shorter orange arrow
  docs/_static/brand/README.md
  docs/_static/brand/apple-touch-icon.png
  docs/_static/brand/favicon-16.png
  docs/_static/brand/favicon-32.png
  docs/_static/brand/favicon-48.png
  docs/_static/brand/favicon.ico
  docs/_static/brand/favicon.svg
  docs/_static/brand/tmol-logo-black.svg
  docs/_static/brand/tmol-logo-dark-1024.png
  docs/_static/brand/tmol-logo-dark-2048.png
  docs/_static/brand/tmol-logo-dark-512.png
  docs/_static/brand/tmol-logo-dark.svg
  docs/_static/brand/tmol-logo-light-1024.png
  docs/_static/brand/tmol-logo-light-2048.png
  docs/_static/brand/tmol-logo-light-512.png
  docs/_static/brand/tmol-logo-light.svg
  docs/_static/brand/tmol-logo-white.svg
  docs/_static/brand/tmol-mark-black.svg
  docs/_static/brand/tmol-mark-dark-128.png
  docs/_static/brand/tmol-mark-dark-256.png
  docs/_static/brand/tmol-mark-dark-512.png
  docs/_static/brand/tmol-mark-dark-64.png
  docs/_static/brand/tmol-mark-dark.svg
  docs/_static/brand/tmol-mark-light-128.png
  docs/_static/brand/tmol-mark-light-256.png
  docs/_static/brand/tmol-mark-light-512.png
  docs/_static/brand/tmol-mark-light-64.png
  docs/_static/brand/tmol-mark-light.svg
  docs/_static/brand/tmol-mark-white.svg
  scripts/generate_brand_assets.py
Due: black

Use a straight constant-width arrow in TMol logo
  docs/_static/brand/README.md
  docs/_static/brand/apple-touch-icon.png
  docs/_static/brand/favicon-16.png
  docs/_static/brand/favicon-32.png
  docs/_static/brand/favicon-48.png
  docs/_static/brand/favicon.ico
  docs/_static/brand/favicon.svg
  docs/_static/brand/tmol-logo-black.svg
  docs/_static/brand/tmol-logo-dark-1024.png
  docs/_static/brand/tmol-logo-dark-2048.png
  docs/_static/brand/tmol-logo-dark-512.png
  docs/_static/brand/tmol-logo-dark.svg
  docs/_static/brand/tmol-logo-light-1024.png
  docs/_static/brand/tmol-logo-light-2048.png
  docs/_static/brand/tmol-logo-light-512.png
  docs/_static/brand/tmol-logo-light.svg
  docs/_static/brand/tmol-logo-white.svg
  docs/_static/brand/tmol-mark-black.svg
  docs/_static/brand/tmol-mark-dark-128.png
  docs/_static/brand/tmol-mark-dark-256.png
  docs/_static/brand/tmol-mark-dark-512.png
  docs/_static/brand/tmol-mark-dark-64.png
  docs/_static/brand/tmol-mark-dark.svg
  docs/_static/brand/tmol-mark-light-128.png
  docs/_static/brand/tmol-mark-light-256.png
  docs/_static/brand/tmol-mark-light-512.png
  docs/_static/brand/tmol-mark-light-64.png
  docs/_static/brand/tmol-mark-light.svg
  docs/_static/brand/tmol-mark-white.svg
  scripts/generate_brand_assets.py
Due: black

Smooth the arrow join in logo exports
  docs/_static/brand/apple-touch-icon.png
  docs/_static/brand/favicon-16.png
  docs/_static/brand/favicon-32.png
  docs/_static/brand/favicon-48.png
  docs/_static/brand/favicon.ico
  docs/_static/brand/favicon.svg
  docs/_static/brand/tmol-logo-black.svg
  docs/_static/brand/tmol-logo-dark-1024.png
  docs/_static/brand/tmol-logo-dark-2048.png
  docs/_static/brand/tmol-logo-dark-512.png
  docs/_static/brand/tmol-logo-dark.svg
  docs/_static/brand/tmol-logo-light-1024.png
  docs/_static/brand/tmol-logo-light-2048.png
  docs/_static/brand/tmol-logo-light-512.png
  docs/_static/brand/tmol-logo-light.svg
  docs/_static/brand/tmol-logo-white.svg
  docs/_static/brand/tmol-mark-black.svg
  docs/_static/brand/tmol-mark-dark-128.png
  docs/_static/brand/tmol-mark-dark-256.png
  docs/_static/brand/tmol-mark-dark-512.png
  docs/_static/brand/tmol-mark-dark-64.png
  docs/_static/brand/tmol-mark-dark.svg
  docs/_static/brand/tmol-mark-light-128.png
  docs/_static/brand/tmol-mark-light-256.png
  docs/_static/brand/tmol-mark-light-512.png
  docs/_static/brand/tmol-mark-light-64.png
  docs/_static/brand/tmol-mark-light.svg
  docs/_static/brand/tmol-mark-white.svg
Due: none

Use AtomWorks 3 and prepare TMol 0.1.59 for PyPI
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  .pre-commit-config.yaml
  README.md
  docs/README.md
  docs/contributor_guide.md
  docs/installation.md
  docs/tutorial/colab_setup.py
  docs/user_guide/development.md
  pyproject.toml
  scripts/release_matrix.py
  scripts/test_pypi_sdist.py
  scripts/validate_pypi_sdist.py
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format, black

Use current PyTorch patches in CPU wheel smoke tests
  .github/workflows/wheel-smoke.yml
Due: none

Preserve TMol link preparation with AtomWorks 3
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
Due: black

Supply patch versions to every macOS smoke lane
  .github/scripts/test_colab_release_config.py
  .github/workflows/wheel-smoke.yml
Due: black

Install the Codecov uploader through PyPI
  .github/workflows/ci.yml
Due: none

Release 0.1.59 with AtomWorks 3 and current dependencies (#569)
  .github/scripts/test_colab_release_config.py
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  .pre-commit-config.yaml
  README.md
  docs/README.md
  docs/contributor_guide.md
  docs/installation.md
  docs/tutorial/colab_setup.py
  docs/user_guide/development.md
  pyproject.toml
  scripts/release_matrix.py
  scripts/test_pypi_sdist.py
  scripts/validate_pypi_sdist.py
  tmol/io/_atomworks_reader.py
  tmol/io/_cif.py
  tmol/score/hbond/potentials/hbond_pose_score.impl.hh
  tmol/score/ljlk/potentials/ljlk_elec_pose_score.impl.hh
Due: clang-format, black

Limit CPU release wheels to PyTorch 2.14
  .github/scripts/test_colab_release_config.py
  .github/workflows/wheel-smoke.yml
  docs/installation.md
  docs/user_guide/development.md
  scripts/release_matrix.py
  scripts/test_release_matrix.py
Due: black

Fix PyPI installs and validate release artifacts through pip indexes
  .github/ci/test_release_gpu.sh
  .github/scripts/test_colab_release_config.py
  .github/workflows/_test_gpu_wheel.yml
  .github/workflows/_test_sdist.yml
  .github/workflows/_test_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  README.md
  docs/README.md
  docs/contributor_guide.md
  docs/installation.md
  docs/quickstart.md
  docs/user_guide/development.md
  pyproject.toml
  scripts/release_artifacts.py
  scripts/release_matrix.py
  scripts/smoke_installed_package.py
  scripts/staging_index.py
  scripts/test_build_metadata.py
  scripts/test_package_install.py
  scripts/test_release_artifacts.py
  scripts/test_release_matrix.py
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

Include the build frontend in packaging test dependencies
  pyproject.toml
  scripts/test_release_artifacts.py
Due: black

Fix PyPI installs, add explicit CUDA indexes, and gate releases on pip smoke tests (#571)
  .github/ci/test_release_gpu.sh
  .github/scripts/test_colab_release_config.py
  .github/workflows/_test_gpu_wheel.yml
  .github/workflows/_test_sdist.yml
  .github/workflows/_test_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  README.md
  docs/README.md
  docs/contributor_guide.md
  docs/installation.md
  docs/quickstart.md
  docs/user_guide/development.md
  pyproject.toml
  scripts/release_artifacts.py
  scripts/release_matrix.py
  scripts/smoke_installed_package.py
  scripts/staging_index.py
  scripts/test_build_metadata.py
  scripts/test_package_install.py
  scripts/test_release_artifacts.py
  scripts/test_release_matrix.py
  tmol/tests/test_build_backend.py
  tmol_build_backend.py
Due: black

docs: add visual glossary and protein score playground
  .github/ci/run_docs_cpu_work.sh
  .github/scripts/check_docs_explorers.cjs
  .github/workflows/docs.yml
  README.md
  docs/README.md
  docs/_includes/fold-forest.html
  docs/_includes/playground.html
  docs/_includes/relax-schedule.html
  docs/_includes/score-circuit.html
  docs/_static/custom.css
  docs/_static/playground/phenylalanine.json
  docs/_static/playground/poster-dark.png
  docs/_static/playground/poster-light.png
  docs/_static/playground/protein-dark.png
  docs/_static/playground/protein-light.png
  docs/_static/tmol-explorers.js
  docs/_static/vendor/3Dmol-2.4.2.min.js
  docs/_static/vendor/3Dmol-LICENSE.txt
  docs/_static/vendor/NOTICE.txt
  docs/conf.py
  docs/glossary.md
  docs/index.rst
  docs/playground.md
  docs/quickstart.md
  docs/terminology.md
  docs/workflows/index.md
  scripts/generate_score_playground.py
Due: black

docs: simplify interactive figures and fix mobile controls
  .github/scripts/check_docs_explorers.cjs
  docs/README.md
  docs/_includes/fold-forest.html
  docs/_includes/playground.html
  docs/_includes/relax-schedule.html
  docs/_includes/score-circuit.html
  docs/_static/custom.css
  docs/_static/playground/poster-dark.png
  docs/_static/playground/poster-light.png
  docs/_static/playground/protein-dark.png
  docs/_static/playground/protein-light.png
  docs/_static/tmol-explorers.js
  docs/glossary.md
  docs/playground.md
Due: none

Repair verified NVIDIA ARM64 wheel metadata and revalidate immutable release candidates
  .github/workflows/_test_gpu_wheel.yml
  .github/workflows/_test_sdist.yml
  .github/workflows/_test_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/cuda-arm64-dependencies.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  docs/installation.md
  scripts/repair_cuda13_arm64_metadata.py
  scripts/test_cuda13_arm64_metadata.py
  scripts/test_package_install.py
  scripts/test_release_source.py
  scripts/verify_release_source.py
Due: black

Repair verified NVIDIA ARM64 wheel metadata and revalidate immutable release candidates (#573)
  .github/workflows/_test_gpu_wheel.yml
  .github/workflows/_test_sdist.yml
  .github/workflows/_test_wheel.yml
  .github/workflows/ci.yml
  .github/workflows/cuda-arm64-dependencies.yml
  .github/workflows/publish.yml
  .github/workflows/wheel-smoke.yml
  docs/installation.md
  scripts/repair_cuda13_arm64_metadata.py
  scripts/test_cuda13_arm64_metadata.py
  scripts/test_package_install.py
  scripts/test_release_source.py
  scripts/verify_release_source.py
Due: black

fix: Undefined rotamers now find nearest neighbor rather than automatically choosing lowest-probability rotamer
  tmol/score/dunbrack/_params.py
Due: black
