Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Add data members and code to support root-jump minimization
  tmol/chemical/restypes.py
  tmol/io/canonical_ordering.py
  tmol/io/pose_stack_from_openfold.py
  tmol/kinematics/check_fold_forest.py
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/datatypes.py
  tmol/kinematics/fold_forest.py
  tmol/kinematics/move_map.py
  tmol/kinematics/scan_ordering.py
  tmol/tests/kinematics/test_move_map.py
Due: clang-format, black

Add unit tests for new root-jump MoveMap methods
  tmol/tests/kinematics/test_move_map.py
Due: black

Trying to de-complexify _annotate_block_type_with_gen_scan_path_segs
  tmol/kinematics/scan_ordering.py
Due: black

Finish de-complexifying _annotate_block_type_with_gen_scan_path_segs
  tmol/kinematics/scan_ordering.py
Due: black

Linting
  tmol/optimization/kin_min.py
  tmol/pose/pose_kinematics.py
  tmol/pose/pose_stack_builder.py
  tmol/tests/chemical/test_residue.py
  tmol/tests/io/test_write_pose_stack_pdb.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_create_scan_orering_from_block_types.py
  tmol/tests/kinematics/test_move_map.py
Due: black

Linting
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/optimization/test_kin_min.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
Due: black

Fix unit tests in tmol/pack
  tmol/pack/rotamer/build_rotamers.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_bounding_spheres.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pack/test_packer_task.py
Due: black

fix "assert x[ind] is False" for tensor results in unit tests
  tmol/tests/chemical/test_residue.py
  tmol/tests/kinematics/test_move_map.py
Due: black

Fix `is False` in several more tests
  tmol/tests/kinematics/test_move_map.py
Due: black

Linting
  tmol/io/details/select_from_canonical.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_fixed_aa_chi_sampler.py
  tmol/tests/pose/test_packed_block_types.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/score/bonded_atom/test_bonded_atom.py
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/tests/score/common/dispatch/test_dispatch.py
  tmol/tests/score/test_atom_type_dependent_term.py
Due: black

Linting
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/score/common/accumulate.hh
  tmol/score/elec/potentials/potentials.hh
  tmol/utility/tensor/TensorAccessor.h
Due: clang-format

Fix tile-pair evaluation for LK where there are 0 heavy-atoms in the second tile
  tmol/score/common/tile_atom_pair_evaluation.hh
  tmol/score/ljlk/potentials/ljlk.hh
Due: clang-format

Adding LJLK params for new atom types.
  tmol/database/default/scoring/ljlk.yaml
Due: none

Fix annotation bug in select_from_canonical. Thanks, Jeff!
  tmol/io/details/select_from_canonical.py
  tmol/tests/io/details/test_select_from_canonical.py
Due: black

Removing functions that are no longer invoked
  tmol/pose/pose_kinematics.py
Due: black

Refactoring in response to Jeff and Frank's suggestions
  tmol/kinematics/compiled/common.hh
  tmol/kinematics/compiled/compiled.impl.hh
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/kinematics/move_map.py
  tmol/pose/packed_block_types.py
  tmol/score/common/uaid_util.hh
Due: clang-format, black

Delete deprecated/commented out pose kinematics code
  tmol/pose/pose_kinematics.py
Due: black

Add utility to report the list of score types that are being used
  tmol/score/score_function.py
Due: black

Fix warning in his-taut-resolution
  tmol/io/details/his_taut_resolution.py
Due: black

dunbrack refactor initial commit
  tmol/database/scoring/__init__.py
  tmol/support/scoring/rewrite_dunbrack_binary.py
Due: black

fixing read file for dunbrack bin
  tmol/database/scoring/__init__.py
Due: black

Adding omega/rama
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/default/scoring/rama.zip
  tmol/database/scoring/__init__.py
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
  tmol/support/scoring/rewrite_rama_binary.py
Due: black

cleanup
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
  tmol/support/scoring/rewrite_rama_binary.py
Due: black

removing zarr
  requirements.in
  tmol/database/scoring/dunbrack_libraries.py
  tmol/database/scoring/omega_bbdep.py
  tmol/database/scoring/rama.py
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
  tmol/support/scoring/rewrite_rama_binary.py
  tmol/tests/database/scoring/test_dunbrack.py
  tmol/tests/support/test_database_converters.py
Due: black

cleaning up arg parsing
  tmol/database/default/scoring/omega_bbdep.zip
  tmol/database/default/scoring/rama.zip
  tmol/support/scoring/rewrite_dunbrack_binary.py
  tmol/support/scoring/rewrite_omega_bbdep_binary.py
  tmol/support/scoring/rewrite_rama_binary.py
Due: black

updating torch loading to safe load
  tmol/database/scoring/__init__.py
  tmol/database/scoring/dunbrack_libraries.py
  tmol/database/scoring/omega_bbdep.py
  tmol/database/scoring/rama.py
Due: black

force torch safe load
  tmol/database/scoring/dunbrack_libraries.py
  tmol/database/scoring/omega_bbdep.py
  tmol/database/scoring/rama.py
Due: black

Update ATen dispatch calls to use Tensor::options() rather than the depricated Tensor::type()
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/constraint/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/utility/function_dispatch/aten.hh
Due: clang-format

Fix bug in device checking.
  tmol/utility/function_dispatch/aten.hh
Due: clang-format

Allow small amount of nondeterminism in cartbonded kernel
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
Due: black

Update ATen dispatch calls to use Tensor::options() rather than Tensor::type() (#310)
  tmol/io/details/compiled/compiled.ops.cpp
  tmol/kinematics/compiled/compiled_ops.cpp
  tmol/pack/rotamer/dunbrack/compiled.ops.cpp
  tmol/pack/sim_anneal/compiled/compiled.ops.cpp
  tmol/pose/compiled/apsp_vestibule.ops.cpp
  tmol/score/backbone_torsion/potentials/compiled.ops.cpp
  tmol/score/cartbonded/potentials/compiled.ops.cpp
  tmol/score/constraint/potentials/compiled.ops.cpp
  tmol/score/disulfide/potentials/compiled.ops.cpp
  tmol/score/dunbrack/potentials/compiled.ops.cpp
  tmol/score/elec/potentials/compiled.ops.cpp
  tmol/score/hbond/potentials/compiled.ops.cpp
  tmol/score/ljlk/potentials/compiled.ops.cpp
  tmol/score/lk_ball/potentials/compiled.ops.cpp
  tmol/tests/score/cartbonded/test_cartbonded_energy_term.py
  tmol/utility/function_dispatch/aten.hh
Due: clang-format, black

temp test for colab
  tmol/score/hbond/params.py
Due: black

force positional arguments in hbond db creation so that we can properly form a cache key
  tmol/score/hbond/hbond_energy_term.py
  tmol/score/hbond/params.py
Due: black

Fix a warning by turning all of the torch.tensors in the Dunbrack block-type annotation into ints
  tmol/score/dunbrack/dunbrack_energy_term.py
Due: black

Add `defined(__NVTX__)` check to nvtx-related macro definitions
  tmol/utility/nvtx.hh
Due: clang-format

Add coordinate constraints
  tmol/__init__.py
  tmol/pose/constraint_set.py
  tmol/score/constraint/constraint_energy_term.py
  tmol/tests/conftest.py
  tmol/tests/data/__init__.py
  tmol/tests/data/pdb/kin_minimized_1ubq.pdb
  tmol/tests/score/constraint/test_constraint_energy_term.py
Due: black

First attempt at resetting R3 count-pair style i to i+2 connectivity
  tmol/io/details/select_from_canonical.py
  tmol/io/pose_stack_construction.py
Due: black
