Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.7
  require_serial: true

KinTree-->KinForest; large refactor of KinBuilder w/ numba routines
  tmol/kinematics/builder.py
  tmol/kinematics/compiled/common_dispatch.hh
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/kinematics/compiled/params.hh
  tmol/kinematics/datatypes.py
  tmol/kinematics/dof_modules.py
  tmol/kinematics/metadata.py
  tmol/kinematics/operations.py
  tmol/kinematics/scan_ordering.py
  tmol/kinematics/script_modules.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/single_residue_kintree.py
  tmol/pose/pose_kinematics.py
  tmol/score/coordinates.py
  tmol/system/kinematics.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_gpu_operations.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/system/test_kinematics.py
Due: clang-format, black

Add tensor index inversion function; convert a_2_b into b_2_a
  tmol/kinematics/builder.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/common_operations.py
Due: black

Save progress. Something is fishing with KinTree's datatypes
  tmol/kinematics/builder.py
  tmol/kinematics/datatypes.py
  tmol/tests/kinematics/test_builder.py
  tmol/tests/utility/ndarray/test_common_operations.py
  tmol/utility/ndarray/common_operations.py
Due: black

KinematicForest builder with multiple roots now working
  tmol/kinematics/builder.py
  tmol/kinematics/compiled/compiled.cpu.cpp
  tmol/kinematics/datatypes.py
  tmol/tests/kinematics/test_builder.py
Due: black

Rename kintree->kinforest in scan_ordering.py
  tmol/kinematics/scan_ordering.py
Due: black

Remove "roots" as a data member of the KinForest
  tmol/kinematics/builder.py
  tmol/kinematics/datatypes.py
  tmol/kinematics/script_modules.py
  tmol/tests/kinematics/test_builder.py
Due: black

Re-enable remaining tests in test_builder.py
  tmol/kinematics/builder.py
  tmol/tests/kinematics/test_builder.py
Due: black

Add unit tests for get_scans function
  tmol/tests/kinematics/test_scan_ordering.py
Due: black

Cherry pick last 4 commits from res_centric_vision2
  tmol/chemical/restypes.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_kinematics.py
  tmol/tests/pose/test_pose_stack_construction_benchmark.py
  tmol/tests/pose/test_pose_stack_kinematics.py
Due: black

Fixing a few errors from the most recent merge. Still 12 unit test failures.
  tmol/pose/packed_block_types.py
  tmol/tests/pose/test_pose_stack_kinematics.py
  tmol/tests/torch.py
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/common_operations.py
Due: black

Bugfix for cuda ljlk pose energies
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
Due: clang-format

Remove duplicated file. Mark sim_anneal/packing tests as xfail
  tmol/score/ljlk/LJLKEnergy.py
  tmol/score/lk_ball/lk_ball_energy_term.py
  tmol/tests/pack/sim_anneal/test_sim_anneal.py
  tmol/tests/pack/sim_anneal/test_sim_anneal_benchmark.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: black

Create LICENSE
  LICENSE
Due: none

Create LICENSE (#240)
  LICENSE
Due: none

Several updates for torch1.7
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/params.hh
  tmol/tests/autograd.py
  tmol/tests/kinematics/test_dof_modules.py
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
  tmol/utility/cpp_extension.py
Due: clang-format, black

Progress in getting ljlk pose scoring woring properly in torch1.7
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/tests/score/ljlk/test_ljlk_energy_term.py
Due: clang-format, black

Moving block bounding sphere creation and overlap detection to separate .cuh
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/sphere_overlap.cuda.cuh
Due: clang-format

Adding torch version to nvcc flags in cpp_extension.py
  tmol/pack/sim_anneal/compiled/compiled.cuda.cu
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/sphere_overlap.cuda.cuh
  tmol/utility/cpp_extension.py
Due: clang-format, black

Add unit tests for sphere overlap detection code
  tmol/score/ljlk/potentials/ljlk_pose_score.cuda.cu
  tmol/score/ljlk/potentials/rotamer_pair_energy_lj.cuda.cu
  tmol/score/ljlk/potentials/sphere_overlap.cuda.cuh
  tmol/tests/score/ljlk/potentials/sphere_overlap.cu
  tmol/tests/score/ljlk/potentials/test_sphere_overlap.py
Due: clang-format, black

Fix linting. Fix failing unit test (double v. float compare). Remove debugging line. Change totalscore_bench to respect CUDA device.
  tmol/kinematics/compiled/compiled.cuda.cu
  tmol/system/score_support.py
  tmol/tests/kinematics/test_operations.py
  tmol/tests/kinematics/test_script_modules.py
  tmol/tests/score/elec/test_script_modules.py
  tmol/tests/score/test_totalscore_benchmarks.py
Due: clang-format, black

Bugfix where some tests marked CUDA were running on CPU.
  tmol/optimization/modules.py
  tmol/score/lk_ball/script_modules.py
  tmol/system/score_support.py
  tmol/tests/optimization/test_modules.py
  tmol/tests/score/test_dof_space.py
  tmol/tests/score/test_total_gradcheck.py
Due: black

Fix linting.
  tmol/optimization/modules.py
Due: black

Update test infrastructure to use CUDA 11.3 and Torch 1.11
  environments/README.md
  environments/core.yml
  environments/dev.yml
  environments/docs.yml
  environments/env-dev.yml
  environments/env.yml
  environments/locks/dev-linux-64.lock
  environments/locks/layer.dev.yml
  environments/locks/layer.run.yml
  environments/locks/layer.support.yml
  environments/locks/layer.test.yml
  environments/locks/run-linux-64.lock
  environments/locks/support-linux-64.lock
  environments/locks/test-linux-64.lock
  environments/render
  environments/support.yml
  environments/test.yml
  environments/test/Dockerfile
Due: none

Env updates
  environments/env-dev.yml
  environments/env.yml
Due: none

Fix all kinematics unit tests
  tmol/tests/kinematics/test_builder.py
  tmol/tests/kinematics/test_gpu_operations.py
Due: black

Spoke too soon: Not all of the kinematics code works.
  tmol/kinematics/builder.py
  tmol/system/kinematic_module_support.py
  tmol/tests/kinematics/test_operations.py
Due: black

Env updates
  environments/test/Dockerfile
Due: none

Env updates (2)
  environments/env-dev.yml
  environments/env.yml
Due: none

Env updates (3)
  environments/env-dev.yml
  environments/env.yml
Due: none

Env updates (4)
  environments/env-dev.yml
  environments/env.yml
Due: none

Env updates (5)
  environments/test/Dockerfile
Due: none

Env updates (6)
  environments/test/Dockerfile
Due: none

Env updates (7)
  environments/test/Dockerfile
Due: none

Env updates (8)
  environments/test/Dockerfile
Due: none

Env updates (9)
  dev_setup
  environments/test/Dockerfile
Due: none

Env updates (10, final)
  environments/env-dev.yml
  environments/env.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

