Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

clang-format:
  name: clang-format
  args:
  - -i
  description: Format files with ClangFormat.
  entry: clang-format
  language: system

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3.9
  require_serial: true

Add a protein-interface tutorial case study (#446)
  .github/scripts/smoke_tutorial_notebooks.py
  docs/README.md
  docs/_static/tutorials/09_protein_interface_hotspot_scan.png
  docs/conf.py
  docs/contributor_guide.md
  docs/examples_index.rst
  docs/index.rst
  docs/quickstart.md
  docs/tutorial/09_protein_interface_hotspot_scan.ipynb
  docs/tutorial/recipe_index.md
  docs/tutorial/rosetta_crosswalk.md
  docs/workflows/index.md
  docs/workflows/protein_interfaces.md
Due: black

Expand scientific tutorial case studies
  .github/scripts/smoke_tutorial_notebooks.py
  docs/README.md
  docs/_static/tutorials/10_ligand_pose_sensitivity.png
  docs/conf.py
  docs/contributor_guide.md
  docs/examples_index.rst
  docs/index.rst
  docs/quickstart.md
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/10_ligand_pose_sensitivity.ipynb
  docs/tutorial/recipe_index.md
  docs/tutorial/rosetta_crosswalk.md
Due: black

Expand scientific tutorial case studies (#447)
  .github/scripts/smoke_tutorial_notebooks.py
  docs/README.md
  docs/_static/tutorials/10_ligand_pose_sensitivity.png
  docs/conf.py
  docs/contributor_guide.md
  docs/examples_index.rst
  docs/index.rst
  docs/quickstart.md
  docs/tutorial/02_gpu_batching.ipynb
  docs/tutorial/05_minimization_constraints_kinematics.ipynb
  docs/tutorial/07_ligand_and_params.ipynb
  docs/tutorial/08_nucleic_acids.ipynb
  docs/tutorial/10_ligand_pose_sensitivity.ipynb
  docs/tutorial/recipe_index.md
  docs/tutorial/rosetta_crosswalk.md
Due: black

Accelerate batched fragment interaction scoring
  docs/user_guide/scoring.md
  tmol/pose/_pose_stack_builder.py
  tmol/score/_fragment_interactions.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
  tmol/tests/score/test_fragment_interactions.py
Due: black

Handle empty poses in CUDA annealing
  tmol/pack/compiled/compiled.cuda.cu
  tmol/tests/pack/test_build_missing_sidechains.py
Due: clang-format, black

Validate fragment mapping topology
  tmol/score/_fragment_interactions.py
  tmol/tests/score/test_fragment_interactions.py
Due: black

Reduce sparse rotamer scoring workspace
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Synchronize verbose timings on the workload device
  tmol/optimization/_minimizers.py
  tmol/pack/_pack_rotamers.py
  tmol/relax/_fast_relax.py
  tmol/tests/utility/test_device.py
  tmol/utility/_device.py
Due: black

Normalize public scoring CUDA devices
  tmol/pack/rotamer/dunbrack/_dunbrack_chi_sampler.py
  tmol/score/_score_function.py
  tmol/score/dunbrack/_params.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/score/test_score_function.py
Due: black

Normalize pose construction devices
  tmol/pack/rotamer/_na_chi_sampler.py
  tmol/pose/_constraint_set.py
  tmol/pose/_packed_block_types.py
  tmol/pose/_pose_stack_builder.py
  tmol/tests/pack/rotamer/test_na_chi_sampler.py
  tmol/tests/pose/test_constraint_set.py
  tmol/tests/pose/test_packed_block_types.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

Fix replicated constraint metadata
  tmol/pose/_constraint_set.py
  tmol/tests/pose/test_constraint_set.py
Due: black

Build pose block indices on device
  tmol/pose/_pose_stack.py
  tmol/tests/pose/test_pose_stack_construction.py
Due: black

Remove unused constraint output suppressor
  tmol/score/constraint/__init__.py
  tmol/score/constraint/_constraint_energy_term.py
Due: black

Fix tensor utility device contracts
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Preserve scalar tensor utility inputs
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Vectorize padded tensor joins
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Document public tensor utilities
  docs/api/utility.rst
  tmol/utility/tensor/_common_operations.py
Due: black

Describe exclusive prefix sum helpers
  tmol/utility/tensor/_common_operations.py
Due: black

Preserve exact integer padding sentinels
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Handle empty exclusive prefix sums
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Cover exclusive prefix sum values
  tmol/tests/utility/tensor/test_common_operations.py
Due: black

Batch constraint function index remapping
  tmol/pose/_constraint_set.py
  tmol/tests/pose/test_constraint_set.py
Due: black

Preserve LKBall scoring across sparse water slots (#427)
  tmol/score/lk_ball/potentials/lk_ball.hh
  tmol/tests/score/lk_ball/potentials/test_compiled_lk_ball.py
Due: clang-format, black

Add reproducible GPU workflow profiling (#437)
  dev/profiling/README.md
  dev/profiling/analyze.py
  dev/profiling/matrix.py
  dev/profiling/workflows.py
  docs/user_guide/benchmarking.md
Due: black

Accelerate batched fragment interaction scoring (#448)
  docs/user_guide/scoring.md
  tmol/pose/_pose_stack_builder.py
  tmol/score/_fragment_interactions.py
  tmol/tests/ligand/test_fragmented_ligand_scoring.py
  tmol/tests/score/test_fragment_interactions.py
Due: black

Handle empty poses in CUDA annealing (#449)
  tmol/pack/compiled/compiled.cuda.cu
  tmol/tests/pack/test_build_missing_sidechains.py
Due: clang-format, black

Revert "Add reproducible GPU workflow profiling (#437)"
  dev/profiling/README.md
  dev/profiling/analyze.py
  dev/profiling/matrix.py
  dev/profiling/workflows.py
  docs/user_guide/benchmarking.md
Due: black

Revert "Add reproducible GPU workflow profiling (#437)" (#455)
  dev/profiling/README.md
  dev/profiling/analyze.py
  dev/profiling/matrix.py
  dev/profiling/workflows.py
  docs/user_guide/benchmarking.md
Due: black

Reduce sparse rotamer scoring workspace (#450)
  tmol/score/_score_function.py
  tmol/tests/score/test_score_function.py
Due: black

Synchronize verbose timings on the workload device (#451)
  tmol/optimization/_minimizers.py
  tmol/pack/_pack_rotamers.py
  tmol/relax/_fast_relax.py
  tmol/tests/utility/test_device.py
  tmol/utility/_device.py
Due: black

Normalize public CUDA device construction (#452)
  tmol/pack/rotamer/_na_chi_sampler.py
  tmol/pack/rotamer/dunbrack/_dunbrack_chi_sampler.py
  tmol/pose/_constraint_set.py
  tmol/pose/_packed_block_types.py
  tmol/pose/_pose_stack.py
  tmol/pose/_pose_stack_builder.py
  tmol/score/_score_function.py
  tmol/score/dunbrack/_params.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_na_chi_sampler.py
  tmol/tests/pose/test_constraint_set.py
  tmol/tests/pose/test_packed_block_types.py
  tmol/tests/pose/test_pose_stack_construction.py
  tmol/tests/score/test_score_function.py
Due: black

Fix replicated constraint metadata (#453)
  tmol/pose/_constraint_set.py
  tmol/score/constraint/__init__.py
  tmol/score/constraint/_constraint_energy_term.py
  tmol/tests/pose/test_constraint_set.py
Due: black

Fix and accelerate tensor utility device contracts (#454)
  docs/api/utility.rst
  tmol/tests/utility/tensor/test_common_operations.py
  tmol/utility/tensor/_common_operations.py
Due: black

Parallelize hosted CPU and GPU CI lanes
  .github/ci/build_cpu_package.sh
  .github/ci/run_ci_gpu_work.sh
  .github/ci/run_cpu_tests.sh
  .github/ci/run_gpu_tests.sh
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Support CPU-only mixed test extensions
  .github/ci/build_cpu_package.sh
  .github/ci/run_cpu_tests.sh
  .github/ci/run_gpu_tests.sh
  CMakeLists.txt
Due: none

Clarify mixed-backend test extension grouping
  CMakeLists.txt
Due: none

Cancel queued CI when pull requests close
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

Accelerate hosted CPU CI
  .github/ci/build_cpu_package.sh
  .github/workflows/ci.yml
  CMakeLists.txt
Due: none

Drop memory-heavy CPU precompiled header
  CMakeLists.txt
Due: none

Validate CPU builds on ARM platforms
  .github/ci/build_cpu_package.sh
  .github/workflows/ci.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cpp|h|hh|cu|cuh)$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
)$

  black: any of: \.py$, but not: (?x)^(
    tmol/extern/.* |
    dev/.* 
    \.conda/.*
)$

