Repository uw-ipd/tmol: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        args: ['-i']
        description: 'Format files with ClangFormat.'
        entry: clang-format
        language: system
        files: \.(c|cc|cpp|h|hh|cu|cuh)$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$
      - id: black
        name: black
        description: 'Black: The uncompromising Python code formatter'
        entry: black
        language: python
        language_version: python3.9
        require_serial: true
        types: [python]
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
                \.conda/.*
            )$

Adding codecov to requirements-dev.in; linting
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  requirements-dev.in
  tmol/score/common/stack_condense.py
  tmol/tests/pack/rotamer/test_single_residue_kintree.py
  tmol/types/subscriptable.py
  tmol/utility/reactive.py
Due: black

More linting
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
Due: black

Removing stray printf
  tmol/score/dunbrack/potentials/dunbrack_pose_score.impl.hh
Due: clang-format

Add pre-commit to requirements-dev.in
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  requirements-dev.in
Due: none

If we don't use the DOFMaskingFunction, minimization gets 6x faster
  tmol/optimization/sfxn_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Update .pre-commit-config.yaml to configure black for python 3.11
  .pre-commit-config.yaml
Due: none

Add clang-format to requirements-dev.in
  environments/linux-cuda/requirements-dev-linux-cuda.txt
  requirements-dev.in
Due: none

Using the updated version of black to format the code
  tmol/chemical/restypes.py
  tmol/pack/rotamer/build_rotamers.py
  tmol/pack/rotamer/dunbrack/dunbrack_chi_sampler.py
  tmol/pack/rotamer/mainchain_fingerprint.py
  tmol/pack/rotamer/single_residue_kinforest.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_stack_builder.py
  tmol/score/atom_type_dependent_term.py
  tmol/score/chemical_database.py
  tmol/score/dunbrack/params.py
  tmol/score/elec/params.py
  tmol/score/hbond/hbond_dependent_term.py
  tmol/score/modules/elec.py
  tmol/tests/benchmark.py
  tmol/tests/conftest.py
  tmol/tests/io/test_pose_stack_construction.py
  tmol/tests/io/test_pose_stack_deconstruction.py
  tmol/tests/pose/test_pose_stack.py
  tmol/tests/score/ljlk/test_script_modules.py
  tmol/utility/categorical.py
Due: black

Black on tmol/io
  tmol/io/canonical_ordering.py
Due: black

Add method from ScoreFunction to perform block-pair scoring
  tmol/score/score_function.py
  tmol/tests/score/common/test_energy_term.py
Due: black

On buildkite, exit out of benchmark comparison if revision is missing (null)
  .buildkite/bin/fetch_buildkite_benchmark
Due: none

Try and install from pinned version of requirements file on testing server
  .buildkite/bin/setup
Due: none

Try again
  .buildkite/bin/setup
Due: none

Try again
  .buildkite/bin/benchmark
  .buildkite/bin/fetch_buildkite_benchmark
Due: none

Very rough draft of enabling minimization from RF2 and getting coords back from tmol->RF2
  tmol/__init__.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/optimization/modules.py
Due: black

Try again
  environments/linux-cuda/env.yml
Due: none

Try again
  environments/linux-cuda/env.yml
  environments/linux-cuda/requirements-linux-cuda.txt
Due: none

Revert "Try again"
  environments/linux-cuda/env.yml
  environments/linux-cuda/requirements-linux-cuda.txt
Due: none

Revert "Try again"
  environments/linux-cuda/env.yml
Due: none

Linting
  tmol/io/__init__.py
  tmol/io/write_pose_stack_pdb.py
  tmol/score/common/stack_condense.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_single_residue_kintree.py
Due: black

Add a few classes to API; add docstrings to these classes.
  tmol/__init__.py
  tmol/chemical/restypes.py
  tmol/database/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/pdb_parsing.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_stack.py
  tmol/score/__init__.py
Due: black

Add unit test for residue-ranges-from-pdb-file selection + concatenation
  tmol/io/canonical_ordering.py
  tmol/tests/io/test_canonical_form.py
Due: black

Lint
  tmol/tests/io/test_canonical_form.py
Due: black

Oof, reformat with the correct version of black for the testing server
  tmol/io/canonical_ordering.py
  tmol/pose/packed_block_types.py
Due: black

Further API documentation improvements
  tmol/chemical/restypes.py
  tmol/io/__init__.py
Due: black

Reformat io/pose_stack_from_rosettafold2.py
  tmol/io/pose_stack_from_rosettafold2.py
Due: black

Update README.md
  README.md
Due: none

Add validate_args decorators to API functions in tmol.io (#289)
  tmol/__init__.py
  tmol/chemical/restypes.py
  tmol/database/__init__.py
  tmol/io/__init__.py
  tmol/io/canonical_ordering.py
  tmol/io/pdb_parsing.py
  tmol/io/pose_stack_construction.py
  tmol/io/pose_stack_from_openfold.py
  tmol/io/pose_stack_from_rosettafold2.py
  tmol/io/write_pose_stack_pdb.py
  tmol/pose/packed_block_types.py
  tmol/pose/pose_stack.py
  tmol/score/__init__.py
  tmol/score/common/stack_condense.py
  tmol/tests/io/test_canonical_form.py
  tmol/tests/pack/rotamer/dunbrack/test_dunbrack_chi_sampler.py
  tmol/tests/pack/rotamer/test_build_rotamers.py
  tmol/tests/pack/rotamer/test_single_residue_kintree.py
Due: black

Update dev setup following #290
  dev_setup
Due: none

Solving several deprecation warnings
  pytest.ini
  tmol/pose/packed_block_types.py
Due: black

Fix perf issue with dof masking in minimizer module
  tmol/optimization/modules.py
  tmol/optimization/sfxn_modules.py
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Bugfixes
  tmol/optimization/modules.py
Due: black

Restore old param registration code
  tmol/optimization/modules.py
Due: black

Don't force CUDA device in tests
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

linting
  tmol/tests/optimization/test_scorefunction_minimization.py
Due: black

Update dev setup following #290 (#292)
  dev_setup
Due: none
